<div class="app-header" data-emmi-navbar></div>
<div id="app-content" class="app-content container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="layout-card">
                <h1>Admin Functions</h1>
                <ul>
                    <li data-ng-show="isAuthorized([userRoles.god, userRoles.admin])"><a
                        data-ng-href="#/admin/tags">Manage Groups & Tags Library</a></li>
                </ul>
            </div><!-- .layout-card -->
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
<footer class="footer" data-ng-include="'admin-facing/partials/common/footer.tpl.html'"></footer>
