
<form name="secretQuestionForm" class="form" >
    <div class="container" data-ng-cloak>
        <div class="row">
            <div class="col-md-4 col-md-offset-4" > 
                <h3>My Secret Questions</h3>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" 
                             data-ng-class="{ 'has-error' : secretQuestionForm.response1.$error.required
                                             && secretQuestionForm.secretQuestion1.$error.required
                             				 && secretQuestionForm.$invalid && secretQuestionFormSubmitted}">
                            <label class="control-label" for="question1">First Set of Question and Response</label>
                            <div class="error-circle glyphicon glyphicon-exclamation-sign"
                            data-ng-show="secretQuestionForm.secretQuestion1.$error.required && secretQuestionForm.$invalid && secretQuestionFormSubmitted"
                            data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                            data-title="Required"></div>
                            <select id="secretQuestion1" name="secretQuestion1" class= "form-control" 
                            data-ng-options="secretQuestion.secretQuestion for secretQuestion in secretQuestions track by secretQuestion.id " 
                            data-ng-model="question1.entity.secretQuestion"
                            required>
                            	<option value=""></option>
                            </select>
                            <p/>
                            <div class="error-circle glyphicon glyphicon-exclamation-sign"
                            data-ng-show="secretQuestionForm.response1.$error.required && secretQuestionForm.$invalid && secretQuestionFormSubmitted"
                            data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                            data-title="Required"></div>
                        	<div class="error-circle glyphicon glyphicon-exclamation-sign"
                             data-ng-show="secretQuestionForm.response1.$error.pattern && secretQuestionForm.$invalid && secretQuestionFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Please enter a valid name."></div>
                            <input class="form-control" id="response1" data-ng-model="question1.entity.response"
                                   name="response1"
                                   type="text" ng-minlength="1" maxlength="200" 
                                   required
                                   data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
                        </div>
                    </div>
                </div>
                
                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group"
                            data-ng-class="{ 'has-error' : secretQuestionForm.response2.$error.required
                                             && secretQuestionForm.secretQuestion2.$error.required
                             				 && secretQuestionForm.$invalid && secretQuestionFormSubmitted}">
                            <label class="control-label" for="secondQuestions">Second Set of Question and Response</label>
                            <div class="error-circle glyphicon glyphicon-exclamation-sign"
                            data-ng-show="secretQuestionForm.secretQuestion2.$error.required && secretQuestionForm.$invalid && secretQuestionFormSubmitted"
                            data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                            data-title="Required"></div>
                            <select id="secretQuestion2" name="secretQuestion2" class= "form-control" 
                            data-ng-options="secretQuestion.secretQuestion for secretQuestion in secretQuestions track by secretQuestion.id " 
                            data-ng-model="question2.entity.secretQuestion"
                            required>
                            	<option value=""></option>
                            </select>
                            <p/>
                             <div class="error-circle glyphicon glyphicon-exclamation-sign"
                            data-ng-show="secretQuestionForm.response2.$error.required && secretQuestionForm.$invalid && secretQuestionFormSubmitted"
                            data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                            data-title="Required"></div>
                        	<div class="error-circle glyphicon glyphicon-exclamation-sign"
                             data-ng-show="secretQuestionForm.response2.$error.pattern && secretQuestionForm.$invalid && secretQuestionFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Please enter a valid name."></div>
                            <input class="form-control" id="response2" data-ng-model="question2.entity.response"
                                   name="response2"
                                   type="text" ng-minlength="1" ng-maxlength="200" 
                                   required
                                   data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
                        </div>
                    </div>
                </div>
                
            
                <div class="row">
                    <div class="col-md-12">
                        <div class="actions pull-right">
                            <div class="form-group">
                            <button class="btn btn-primary" type="submit"
                                        data-ng-click="saveOrUpdateSecretQuestion(secretQuestionForm.$valid)"
                                        >
                                    <span>Save</span>
                                </button>
                                <button class="btn btn-primary" type="submit"
                                        data-ng-click="cancel()">
                                    <span>Cancel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
