<header class="app-header client-header" data-emmi-navbar>
    <!-- Breadcrumb for transclusion -->
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Security Questions</li>
    </ol>
</header>
<div id="app-content" role="main" class="app-content container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="layout-card">
                <form name="secretQuestionForm" class="form" novalidate>
                    <h1>
                        Security Questions
                        <span><button class="btn btn-icon icon-size-lg" data-ng-click="editSecretQuestion()" data-ng-disabled="whenSaving" aria-label="Edit"><i class="icon-compose"></i></button></span>
                    </h1>
                    <div class="form-group">
                        <p>Security questions make your account more secure, and allow you to reset your password if you forget it.</p>
                    </div>
                    <div data-ng-show="secretQuestionForm.$invalid" id="message-container"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Question 1:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{question1.entity.secretQuestion.secretQuestion}}
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                              <input class="form-control" id="response1" data-ng-model="question1.entity.response"
                                     name="response1" placeholder="Response"
                                     type="text" maxlength="200"
                                     required readonly
                                     data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Question 1:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{question2.entity.secretQuestion.secretQuestion}}
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                                <input class="form-control" id="response2" data-ng-model="question2.entity.response"
                                     name="response2" placeholder="Response"
                                     type="text" maxlength="200"
                                     required readonly
                                     data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
                          </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="footer" data-ng-include="'client-facing/common/footer.tpl.html'"></footer>
