<div class="col-md-12" data-ng-controller="ClientProvidersController">
    <div class="pull-right">
        <div data-ng-controller="ClientOpenProviderAssociateOperationController">
            <button type="button" class="btn btn-link btn-link-nopad btn-heading" data-ng-click="associateProviders()">
                <i class="icon-plus"></i> add providers
            </button>
        </div>
    </div>
    <h2>Providers</h2>
    <table class="table table-bordered table-striped table-hover table-condensed" border="0" cellpadding="0"
           cellspacing="0" data-ng-show="clientProviders" data-ng-controller="ClientCurrentProvidersOperationController">
        <thead>
        <tr>
            <th>Name</th>
            <th>Primary Specialty</th>
            <th>Email</th>
            <th class="text-center">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="clientProvider in clientProviders">
            <td><span class="col-wrap">{{clientProvider.provider.entity.firstName}} {{clientProvider.provider.entity.middleName}} {{clientProvider.provider.entity.lastName}} <em>{{clientProvider.provider.entity.active ? '' : "(inactive)"}}</em></span></td>
            <td class="col-sm-2">{{clientProvider.provider.entity.specialty.name}}</td>
            <td class="col-sm-4"><span class="col-wrap">{{clientProvider.provider.entity.email}}</span></td>
            <td class="col-edit text-center">
                <a href data-ng-click="editProvider(clientProvider)" data-ng-hide="clientProvider.provider.entity.deleting"><i class="icon-compose icon-size-xl"></i></a>
                <a href data-to-remove="clientProvider"
                   data-on-ok="removeExistingProvider(clientProvider)"
                   data-on-open-popover="openDeletePopover(clientProvider.provider.entity)"
                   data-on-close-popover="closeDeletePopover(clientProvider.provider.entity)"
                   data-client-provider-delete-warning=""><i class="icon-trashcan icon-size-xl"></i></a>
            </td>
        </tr>
        <tr class="pagination-row no-hover">
            <td colspan="5" class="text-center" data-ng-show="links">
                <ul class="pagination">
                    <li data-ng-repeat="link in links | orderBy:'order'" class="{{link.className}}" data-ng-class="{'active': link.name == currentPage}">
                        <a data-ng-click="fetchPage(link.href)">
                            <i class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                            {{link.name}}
                            <i class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="table-no-results" data-ng-hide="clientProviders">
        <span><em>There are no existing providers.</em></span>
    </div>
</div>
