        <div>This provider will be deactivated.</div>
        <div class="popover-footer">
            <button class="btn btn-success"
                    data-ng-disabled="whenSaving"
                    data-ng-click="saveProvider(providerForm);$hide()">Yes
            </button>
            <button class="btn btn-cancel" type="button"
                    data-ng-disabled="whenSaving"
                    data-ng-click="doNotDeactivateProvider();$hide()">Cancel
            </button>
        </div>



