<form name="providerForm" class="form" novalidate>
    <div class="modal-content">
        <div class="modal-header" ng-show="title">
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            <div class="row" data-ng-show="providerForm.$invalid">
                <div class="col-md-12" id="message-container"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : providerForm.providerFirstName.$invalid && providerFormSubmitted }">
                        <label class="control-label" for="providerFirstName">First Name:</label>
                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="providerForm.providerFirstName.$error.required && providerFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="providerForm.providerFirstName.$error.pattern && providerFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Please enter a valid first name."></div>
                        <input class="form-control" id="providerFirstName" data-ng-model="clientProvider.provider.entity.firstName"
                               name="providerFirstName"
                               type="text" maxlength="255" required data-auto-focus
                               data-ng-pattern="/^[a-zA-Z '-]*$/">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : providerForm.providerMiddleName.$invalid && providerFormSubmitted }">
                        <label class="control-label" for="providerMiddleName">Middle Name:</label>
                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="providerForm.providerMiddleName.$error.pattern && providerFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Please enter a valid middle name."></div>
                        <input class="form-control" id="providerMiddleName" data-ng-model="clientProvider.provider.entity.middleName"
                               name="providerMiddleName"
                               type="text" maxlength="255"
                               data-ng-pattern="/^[a-zA-Z '-]*$/">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : providerForm.providerLastName.$invalid && providerFormSubmitted }">
                        <label class="control-label" for="providerLastName">Last Name:</label>

                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="providerForm.providerLastName.$error.required && providerFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="providerForm.providerLastName.$error.pattern && providerFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Please enter a valid last name."></div>
                        <input class="form-control" id="providerLastName" data-ng-model="clientProvider.provider.entity.lastName"
                               name="providerLastName"
                               type="text" maxlength="255" required
                               data-ng-pattern="/^[a-zA-Z '-]*$/">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : providerForm.specialty.$invalid && providerFormSubmitted }">
                        <label class="control-label" for="specialty">Primary Specialty:</label>
                        <select class="form-control" id="specialty" data-ng-model="clientProvider.provider.entity.specialty"
                                data-ng-options="specialty.name for specialty in specialties track by specialty.id | orderBy:'name'"
                                name="specialty" data-ng-disabled="providerForm.specialty.$error.unique">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : providerForm.email.$invalid && providerFormSubmitted }">
                        <label class="control-label" for="email">Email:</label>
                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="providerForm.email.$error.pattern && providerFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Please enter a valid email."></div>
                        <input class="form-control" data-ng-model="clientProvider.provider.entity.email" id="email" name="email" type="text"
                               maxlength="255" data-ng-pattern="emailPattern" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : providerForm.providerId.$invalid && providerFormSubmitted }">
                        <label class="control-label" for="providerId">Provider ID:</label>
                        <input class="form-control" data-ng-model="clientProvider.externalId" id="providerId" name="providerId" type="text"
                               maxlength="255"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox">
                            <input id="providerActive" type="checkbox" data-ng-model="clientProvider.provider.entity.active"/>
                            <label for="providerActive">
                                Active
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-ng-click="cancelProviderSave();$hide()">cancel</button>
            <button type="button" class="btn btn-default" data-ng-show="saveAndAddAnother"
                    data-ng-click="saveAndAddAnother(providerForm.$valid)">Save & Add Another
            </button>
            <input type="submit" id="submit" class="btn btn-primary" value="Save" data-client-provider-deactivate-warning/>
        </div>
    </div>
</form>
