@charset "UTF-8";

/*!
========== INIT
*/
@import 'vendor/_normalize';


/*!
========== BASE
*/
// variables, fonts, mixins, helpers... common styles used across the entire site
@import 'base/__base';


/*!
========== COMPONENTS
*/
// reusable/framework components
@import 'components/__components';


/*!
========== SPECIFICS
*/
// more specific declarations, may be built on a per page basis
@import 'specifics/__specifics';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.typeahead-menu {
    //position: relative;
    // max-height: 210px;
    // width: 500px;
    // overflow-y: auto;
    // overflow-x: hidden;

    li {
        padding: 0 14px;
        clear: both;
    }

    .header {
        padding: 0 15px;
    }

    .header > div {
        background-color: #f5f5f5;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .footer > div {
        border-top: 1px solid #ccc;
        padding-top: 8px;
    }

    .results > div {
        padding-top: 4px;
        padding-bottom: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .results.active > div {
        background-color: #428bca;
        color: #fff;
        //background-color: #f5f5f5;
    }

    .results.unselectable > div {
        color: #ccc;
    }
}

.album-search {
    margin: 100px 0 0 100px;
}

.album-search input[type=text] {
    font-size: 32px;
    line-height: 36px;
    height: 40px;
    width: 500px;
}

.album-search .menu {
    position: relative;
    background-color: rgb(45, 45, 45);
    max-height: 210px;
    width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    //border: 1px solid #000;
}

.album-search ul {
    background-color: #FFF;
    margin: 0;
    //margin-left: 125px;
    padding: 0;
    list-style: none;
}

.album-search .results {
    //width: 375px;
    margin: 0;
    text-align: left;
    min-height: 64px;
    padding: 5px;
}

.album-search .results.active {
    background-color: rgb(46, 79, 156);
}

.album-search .results.active .name {
    color: #FFF;
}

.album-search .results.active {
    background-color: rgb(46, 79, 156);
}

.album-search .results .name {
    font-size: 20px;
    line-height: 30px;
}

.album-search .results p {
    margin-bottom: 5px;
    margin-left: 74px;
}

.album-search .results .artist {
    font-size: 16px;
    line-height: 20px;
    color: #999;
    margin-left: 74px;
}

.album-search .results img {
    width: 64px;
    height: 64px;
    float: left;
}

.chosen-example {
    margin: 100px 0 0 100px;
}
