<div class="col-md-12">
	<div class="row">
		<div class="col-md-6 pull-left">
			<h2>Location Information</h2>
		</div>
		<div class="col-md-6">
			<div class="pull-right">
				<h2>
					<a class="btn btn-link" data-ng-click="edit()">edit</a>
				</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span>Name: </span>
		</div>
		<div class="col-md-4">
			{{location.name}}
			<span data-ng-show="location.belongsTo"> <em>({{location.belongsTo.name}})</em></span>
            <span data-ng-show="!location.belongsTo"> <em>(<span data-translate="client_edit_page.locations.no_client_owner"></span>)</em></span>
			<em>({{location.active ? "active" : "inactive"}})</em>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span>Phone: </span>
		</div>
		<div class="col-md-4">{{location.phone}}</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span>City: </span>
		</div>
		<div class="col-md-4">{{location.city}}</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span>State: </span>
		</div>
		<div class="col-md-4">{{location.state}}</div>
	</div>
</div>

