<div class="modal" tabindex="-1" role="dialog" >
<div class="modal-dialog modal-dialog-medium container-fluid">
    <form name="passwordForm" class="form"  novalidate>
    <div class="modal-content">


    	<div class="modal-header">
            <h4 class="modal-title">To continue, please enter your password:</h4>
        </div>

        <div class="modal-body">
            <div class="row" data-ng-show="passwordForm.$invalid && passwordForm.isSubmitted">
                <div class="col-md-12" id="password-message-container"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : (passwordForm.password.$error.required || passwordForm.password.$error.correct) && passwordForm.isSubmitted }">
                        <label class="control-label" for="password">Password:</label>

                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="passwordForm.password.$error.required && passwordForm.isSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="!passwordForm.password.$error.required && passwordForm.password.$error.correct && passwordForm.isSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Password does not match our records"></div>
                       <input class="form-control" id="password" data-ng-model="password" name="password"
                              data-ng-change="onChangePassword(passwordForm)"
                               type="password" maxlength="255" required  autocomplete="off"
                               data-auto-focus
                               >
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-link"
                    data-ng-disabled="whenSaving"
                    data-ng-click="cancel()">cancel
            </button>
            <button type="submit" class="btn btn-primary"
                    data-ng-disabled="whenSaving"
                    data-ng-click="validatePassword(passwordForm, password)">Submit
             </button>
        </div>
    </div>

</form>
</div>
</div>
