<div class="row">
    <div class="col-md-6">
        <label class="control-label" for="secretQuestion1">Question 1:</label>
        <div class="error-circle fa-exclamation-circle" role="alert"
             data-ng-show="secretQuestionForm.secretQuestion1.$error.required && secretQuestionFormSubmitted"
             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
             data-title="Required" aria-label="Required">
        </div>
    </div>
    <div class="col-md-6">
        <div class="error-circle fa-exclamation-circle" role="alert"
             data-ng-show="secretQuestionForm.response1.$error.required && secretQuestionFormSubmitted"
             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
             data-title="Required" aria-label="Required">
        </div>
        <div class="error-circle fa-exclamation-circle" role="alert"
             data-ng-show="secretQuestionForm.response1.$error.pattern && secretQuestionFormSubmitted"
             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
             data-title="Please enter a valid response" aria-label="Please enter a valid response">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group" data-ng-class="{ 'has-error' : (secretQuestionForm.secretQuestion1.$invalid && secretQuestionFormSubmitted)}">
            <select id="secretQuestion1" name="secretQuestion1" class="form-control"
                    data-ng-options="secretQuestion.secretQuestion for secretQuestion in question1Choices track by secretQuestion.id "
                    data-ng-model="question1.entity.secretQuestion"
                    required
                    data-ng-change="onChange()">
                <option value="" title="Choose a question">Choose a question...</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group" data-ng-class="{ 'has-error' : (secretQuestionForm.response1.$invalid && secretQuestionFormSubmitted)}">
            <input class="form-control" id="response1" data-ng-model="question1.entity.response"
                   name="response1" placeholder="Response"
                   type="text" data-minlength="1" maxlength="200"
                   required
                   data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label class="control-label" for="secretQuestion2">Question 2:</label>
        <div class="error-circle fa-exclamation-circle" role="alert"
             data-ng-show="secretQuestionForm.secretQuestion2.$error.required && secretQuestionFormSubmitted"
             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
             data-title="Required" aria-label="Required">
        </div>
        <div class="error-circle fa-exclamation-circle" role="alert"
             data-ng-show="secretQuestionForm.secretQuestion2.$error.duplicated && secretQuestionFormSubmitted"
             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
             data-title="Please choose another question" aria-label="Please choose another question">
        </div>
    </div>
    <div class="col-md-6">
        <div class="error-circle fa-exclamation-circle" role="alert"
             data-ng-show="secretQuestionForm.response2.$error.required && secretQuestionFormSubmitted"
             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
             data-title="Required" aria-label="Required">
        </div>
        <div class="error-circle fa-exclamation-circle" role="alert"
             data-ng-show="secretQuestionForm.response2.$error.pattern && secretQuestionFormSubmitted"
             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
             data-title="Please enter a valid response" aria-label="Please enter a valid response">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group" data-ng-class="{ 'has-error' : (secretQuestionForm.secretQuestion2.$invalid && secretQuestionFormSubmitted)}">
            <select id="secretQuestion2" name="secretQuestion2" class="form-control"
                    data-ng-options="secretQuestion.secretQuestion for secretQuestion in question2Choices track by secretQuestion.id "
                    data-ng-model="question2.entity.secretQuestion"
                    required
                    data-ng-change="onChange()">
                <option value="" title="Choose a question">Choose a question...</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group" data-ng-class="{ 'has-error' : (secretQuestionForm.response2.$invalid && secretQuestionFormSubmitted)}">
            <input class="form-control" id="response2" data-ng-model="question2.entity.response"
                   name="response2" placeholder="Response"
                   type="text" data-ng-minlength="1" maxlength="200"
                   required
                   data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
        </div>
    </div>
</div>


