<div class="modal salesforce" tabindex="-1" role="dialog">
    <div class="modal-dialog container-fluid" ng-class="{'modal-dialog-large': largeModal}">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Salesforce Case</h4>
            </div>

            <div data-salesforce-form
                 data-case-for-resource="caseForResource"
                 data-on-cancel="onCancel"
                 data-default-case-type="'PATIENT'"
                 data-default-case-description="defaultCaseDescription"
                 data-on-save-success="onSaveSuccess"
                 data-toggle-modal-size="toggleModalSize"></div>
        </div>
    </div>
</div>
