<div class="form-group" data-ng-show="clientHasLocations()" >
    <div class="col-md-12 col-sm-12" >
        <table class="table table-bordered table-striped table-hover" border="0" cellpadding="0"
               cellspacing="0" data-ng-show="clientLocations" >
            <tr>
                <th class="sort col-sm-0">&nbsp;</th>
                <th data-ng-class="sizeClass" data-ng-click="sortClient('name')">
                    Name
                    <span data-ng-show="sortProperty.property === 'name'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                </th>
                <th data-ng-class="sizeClass" data-ng-click="sortClient('belongsTo.name')">
                    Client Owner
                    <span data-ng-show="sortProperty.property === 'belongsTo.name'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                </th>
                <th class="sort col-sm-2" data-ng-click="sortClient('city')">
                    City/State
                    <span data-ng-show="sortProperty.property === 'city'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                </th>
                <th class="sort col-sm-2" data-ng-click="sortClient('phone')">
                    Phone
                    <span data-ng-show="sortProperty.property === 'phone'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                </th>
                <th class="sort col-sm-3" data-ng-show="providersData">
                    Add to Providers
                </th>
            </tr>
            <tr data-ng-repeat="location in clientLocations" data-ng-class="location.location.entity.disabled ? 'text-muted' : ''">
                <td><input type="checkbox" data-ng-model="location.location.entity.checked"  data-ng-disabled="location.location.entity.disabled"
                           ng-change="onClientCheckboxChange(location)"></td>
                <td>{{location.location.entity.name}}  <em>{{location.location.entity.active ? '' : "(inactive)"}}</em></td>
                <td>
                    {{location.location.entity.belongsTo.name}}
                </td>
                <td> {{location.location.entity.city}}<span
                        data-ng-show="location.location.entity.city && location.location.entity.state">,&nbsp;</span>{{location.location.entity.state}}
                </td>
                <td>{{location.location.entity.phone}}</td>
                <td data-ng-show="providersData">
                    <div class="col-xs-12" data-ng-show="providersData && location.location.entity.checked && !location.location.entity.disabled">
                           <div data-multi-select
                            values="providersData"
                            model="location.location.entity.providersSelected"
                            show-filters="true"
                            value-field="id"
                            label-field="label"
                            template-path = "admin-facing/partials/common/directives/multi-select/multi-select.html" >
                            </div>
                    </div>
                </td>
            </tr>
        </table>
        <div data-ng-show="links">
            <ul class="pagination">
                <li data-ng-repeat="link in links | orderBy:'order'" data-ng-class="{'active': link.name == currentPage}">
                    <a data-ng-show="link.name != currentPage" href
                       data-ng-click="fetchPageClientLocations(link.href)">{{link.name}}</a>
                    <span data-ng-hide="link.name != currentPage">{{link.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
