    <div data-ng-controller="SearchTeamsLocationsController">
        <div class="row">
            <div class="col-md-7">
                <br/>
                <form name="searchForm" data-ng-submit="search(searchForm.locationQuery)" novalidate>
                    <div class="form-group">
                        <label class="sr-only" for="locationQuery">Search locations:</label>
                        <div class="input-group has-input-icon has-input-icon-search">
                            <input class="form-control" name="locationQuery" id="locationQuery" data-ng-model="locationQuery"
                               type="text" data-clear-search
                               placeholder="{{'team_locations_search_page.search_dialog.placeholder_label' | translate}}" required data-auto-focus>
                            <span class="input-icon"><i class="icon-search"></i></span>
                            <span class="input-group-btn">
                                <button class="btn btn-success" data-ng-click="search(searchForm.locationQuery)"
                                 data-ng-disabled="searchForm.locationQuery.$invalid"><span data-translate="team_locations_search_page.search_dialog.go_label" ></span></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5" data-ng-show="allLocationsSearch">
                <br/>
                <button type="button" class="btn btn-default pull-right" data-ng-click="createNewTeamLocation()">
                    <i class="icon-plus"></i> <span data-translate="team_locations_search_page.add_new.label"></span>
                </button>
                <span data-ng-class="{'search-spinner' : loading}"></span>
            </div>
        </div>
        <div data-ng-show="allLocationsSearch">
            <div class="row table-search-filters">
                <div class="col-md-12">
                    <br/>
                    <div class="pull-right table-results-count">
                        {{total}}
                        <span data-ng-if="total != 1" data-translate="global.labels.total"> results</span>
                        <span data-ng-if="total === 1"
                              data-translate="global.labels.totalSingular"> result</span>
                    </div>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="status_filter" data-translate="global.labels.statusFilter">Show:</label>
                            <select class="form-control input-sm" style="width:110px;" id="status_filter" data-ng-model="status"
                                    data-ng-options="status | translate for status in statuses"
                                    data-ng-change="statusChange()" data-chosen data-disable-search="true" data-width="'110px'">
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped table-hover table-condensed" border="0" cellpadding="0"
                           cellspacing="0" data-ng-show="locations">
                        <thead>
                        <tr>
                            <th class="sort col-checkbox">&nbsp;</th>
                            <th class="sort" data-ng-click="sortTeam('name')" >
                                Name
                                <span data-ng-show="sortProperty.property === 'name'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span>
                            </th>
                            <th class="sort col-sm-2" data-ng-click="sortTeam('belongsTo.name')" >
                                Client Owner
                                <span data-ng-show="sortProperty.property === 'belongsTo.name'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span>
                            </th>
                            <th class="sort col-sm-2" data-ng-click="sortTeam('city')">
                                City/State
                                <span data-ng-show="sortProperty.property === 'city'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span>
                            </th>
                            <th class="sort col-phone" data-ng-click="sortTeam('phone')">
                                Phone
                                <span data-ng-show="sortProperty.property === 'phone'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span>
                            </th>
                            <th class="sort col-sm-3" data-ng-if="providersData">
                                Add to Providers
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="location in locations" data-ng-class="location.location.entity.disabled ? 'text-muted' : ''">
                            <td class="col-checkbox">
                                <div class="checkbox">
                                    <input type="checkbox" id="locationSearchCb{{$index}}" data-ng-model="location.location.entity.checked"  data-ng-disabled="location.location.entity.disabled" ng-change="onCheckboxChange(location)">
                                    <label for="locationSearchCb{{$index}}"></label>
                                </div>
                            </td>
                            <td>{{location.location.entity.name}} <em>{{location.location.entity.active ? '' : "(inactive)"}}</em></td>
                            <td>
                                {{location.location.entity.belongsTo.name}}
                            </td>
                            <td> {{location.location.entity.city}}<span
                                    data-ng-show="location.location.entity.city && location.location.entity.state">,&nbsp;</span>{{location.location.entity.state}}
                            </td>
                            <td>{{location.location.entity.phone}}</td>
                            <td class="col-has-multiselect" data-ng-if="providersData">
                                <div data-ng-if="providersData && location.location.entity.checked && !location.location.entity.disabled">
                                       <div data-multi-select
                                        name="providersData{{$index}}"
                                        values="providersData"
                                        model="location.location.entity.providersSelected"
                                        show-filters="true"
                                        value-field="id"
                                        label-field="label"
                                        template-path = "admin-facing/partials/common/directives/multi-select/multi-select.html" >
                                        </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="pagination-row no-hover">
                            <td colspan="6" class="text-center" data-ng-show="links">
                                <ul class="pagination">
                                    <li data-ng-repeat="link in links | orderBy:'order'" class="{{link.className}}" data-ng-class="{'active': link.name == currentPage}">
                                        <a data-ng-click="fetchPage(link.href)">
                                            <i class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                                            {{link.name}}
                                            <i class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="table-no-results" data-ng-hide="!allLocationsSearch || locations">
                        <span data-translate="global.messages.search.no_results_found"></span>
                    </div>
                </div><!-- .col-md-12 -->
            </div><!-- .row -->
        </div><!-- allLocationsSearch -->
    </div><!-- SearchTeamsLocationsController -->
