        <br/>
        <table class="table table-bordered table-striped table-hover table-condensed" border="0" cellpadding="0"
               cellspacing="0" data-ng-show="teamLocations" data-ng-controller="ClientLocationsTabController">
            <thead>
            <tr>
                <th class="sort col-checkbox">
                  <div class="checkbox">
                      <input type="checkbox" id="selectAllClientTeams" 
                        data-ng-model="selectAllClientTeams"
                        data-select-all />
                      <label for="selectAllClientTeams"></label>
                  </div>
                </th>
                <th class="sort" data-ng-click="sortClient('location.name')">
                    Name
                    <span data-ng-show="sortProperty.property === 'location.name'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span>
                </th>
                <th class="sort col-sm-2" data-ng-click="sortClient('location.belongsTo.name')">
                    Client Owner
                    <span data-ng-show="sortProperty.property === 'location.belongsTo.name'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span>
                </th>
                <th class="sort col-sm-2" data-ng-click="sortClient('location.city')">
                    City/State
                    <span data-ng-show="sortProperty.property === 'location.city'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span>
                </th>
                <th class="sort col-phone" data-ng-click="sortClient('location.phone')">
                    Phone
                    <span data-ng-show="sortProperty.property === 'location.phone'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span>
                </th>
                <th class="sort col-sm-3" data-ng-if="providersData">
                    Add to Providers
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="location in teamLocations" data-ng-class="location.location.entity.disabled ? 'text-muted' : ''">
                <td>
                    <div class="checkbox">
                        <input type="checkbox" id="clientLocationCb{{$index}}" 
                           data-ng-model="location.location.entity.checked" 
                           data-ng-change="onCheckboxChange(location)" 
                           data-ng-if="!location.link.self" >
                         <input type="checkbox" id="clientLocationCb{{$index}}" 
                           data-ng-checked=true
                           data-ng-disabled=true 
                           data-ng-if="location.link.self" >
                        <label for="clientLocationCb{{$index}}"></label>
                    </div>
                </td>
                <td>{{location.location.entity.name}}  <em>{{location.location.entity.active ? '' : "(inactive)"}}</em></td>
                <td>
                    {{location.location.entity.belongsTo.name}}
                </td>
                <td> {{location.location.entity.city}}<span
                        data-ng-show="location.location.entity.city && location.location.entity.state">,&nbsp;</span>{{location.location.entity.state}}
                </td>
                <td>{{location.location.entity.phone}}</td>
                <td class="col-has-multiselect" data-ng-if="providersData">
                    <div data-ng-if="providersData && location.location.entity.checked && !location.location.entity.disabled">
                           <div data-multi-select
                            name=".clientLocation[{{location.location.entity.id}}].providersData[{{$index}}]"
                            values="providersData"
                            model="location.location.entity.providersSelected"
                            show-filters="true"
                            value-field="id"
                            label-field="label"
                            template-path = "admin-facing/partials/common/directives/multi-select/multi-select.html" >
                            </div>
                    </div>
                </td>
            </tr>
            <tr class="pagination-row no-hover">
                <td colspan="6" class="text-center" data-ng-show="links">
                    <ul class="pagination">
                        <li data-ng-repeat="link in links | orderBy:'order'" class="{{link.className}}" data-ng-class="{'active': link.name == currentPage}">
                            <a data-ng-click="fetchPageClientLocations(link.href)">
                                <i aria-label="Previous" class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                                {{link.name}}
                                <i aria-label="Next" class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
