<div class="container" data-ng-cloak>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 data-translate="login.title">Authentication</h1>

            <div class="alert alert-danger" data-ng-show="authenticationError">
                <strong>&nbsp;</strong>Please check your username and password and try again.
            </div>
            <div class="alert alert-danger" data-ng-show="lockError && !lockExpirationDateTime">
                <strong>&nbsp;</strong>To continue, please contact Emmi Support at 866-294-3664 or support@emmisolutions.com.
            </div>
            <div class="alert alert-danger" data-ng-switch="lockError === true && lockExpirationDateTime != null" data-ng-show="lockError && lockExpirationDateTime">
                <strong>&nbsp;</strong>Your account has been temporarily locked due to too many login attempts. You can try again
                            <span data-ng-switch-when="true" data-am-time-ago="lockExpirationDateTime">
                                in time
                            </span>, or contact Emmi Support at 866-294-3664 or support@emmisolutions.com.
            </div>
            <form class="form" name="loginForm" data-ng-submit="login(credentials)" novalidate>
                <div class="form-group"
                     data-ng-class="{ 'has-error' : loginForm.username.$invalid && loginForm.submitted}">
                    <label class="control-label" for="username" data-translate="login.form.user">User:</label>

                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="loginForm.username.$error.required && loginForm.submitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <input id="username" name="username" type="text"
                           class="form-control" data-ng-model="credentials.username" required
                           autocomplete="off"
                           data-auto-focus>
                </div>
                <div class="form-group"
                     data-ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.submitted}">
                    <label class="control-label" for="password" data-translate="login.form.password">Password:</label>

                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="loginForm.password.$error.required && loginForm.submitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <input id="password" type="password" name="password" class="form-control" required
                           autocomplete="off" data-ng-model="credentials.password">
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="rememberMe" data-ng-model="credentials.rememberMe">
                    <label for="rememberMe">
                        <span data-translate="login.form.rememberme">Remember me on this computer.</span>
                    </label>
                </div>
                <button name="submit" type="submit" class="btn btn-primary" data-translate="login.form.button">Login
                </button>
            </form>
        </div>
    </div>
</div>
