<div id="app-content" role="main" class="app-content container" data-ng-cloak>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="layout-card">
                <h1 data-translate="login.title">Authentication</h1>

                <div class="alert alert-danger" role="alert" data-ng-if="loginErrorMessageFactory.showAccountActivationTokenExpired && !authenticationError">
                    We’re sorry, your activation link has expired. To finish setting up your account, please contact Emmi Support at 866-294-3664 or <a href="mailto:support@emmisolutions.com?subject=Activation Link Has Expired">support@emmisolutions.com</a>.
                </div>
                <div class="alert alert-danger" role="alert" data-ng-if="loginErrorMessageFactory.showResetPasswordTokenExpired && !authenticationError">
                    We’re sorry, your password reset link has expired, and your password has not been changed. If you would still like to reset your password, you can try again.
                </div>
                <div class="alert alert-danger" role="alert" data-ng-if="loginErrorMessageFactory.showTemporaryPasswordTokenExpired && !authenticationError">
                    We’re sorry, your temporary password has expired and can no longer be changed. To finish setting up your account, please contact Emmi Support at 866-294-3664 or  <a href="mailto:support@emmisolutions.com?subject=Temporary Password Has Expired">support@emmisolutions.com</a>.
                </div>
                <div class="alert alert-danger" role="alert" data-ng-if="loginErrorMessageFactory.showEmailValidationTokenExpired && !authenticationError">
                    We’re sorry, your validation link has expired. If you would still like to verify your email address, please try again.
                </div>

                <div class="alert alert-danger" role="alert" data-ng-show="authenticationError">
                    Please check your username and password and try again.
                </div>
                <div class="alert alert-danger" role="alert" data-ng-show="lockError && !lockExpirationDateTime">
                    To continue, please contact Emmi Support at 866-294-3664 or <a href="mailto:support@emmisolutions.com">support@emmisolutions.com</a>.
                </div>
                <div class="alert alert-danger" role="alert" data-ng-show="lockError && lockExpirationDateTime">
                	<span data-ng-switch="lockError === true && lockExpirationDateTime != null">
                		<span data-ng-switch-when="true">
    		                <span data-ng-switch-when="true" data-am-time-ago="lockExpirationDateTime">
    		                    in time
    		                </span>
    	            	</span>
                	</span>
                </div>
                <div class="alert alert-danger" role="alert" data-ng-show="username">
                    Your session has timed out. Please login again.
                </div>

                <form class="form" name="loginForm" data-ng-submit="login(credentials)" novalidate>
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : loginForm.username.$invalid && loginForm.submitted}">
                        <label class="control-label" for="username" data-translate="login.form.user">User:</label>
                        <div class="error-circle fa-exclamation-circle" role="alert"
                             data-ng-show="loginForm.username.$error.required && loginForm.submitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required" aria-label="Required"></div>
                        <input id="username" name="username" type="text"
                               class="form-control" data-ng-model="credentials.username" required
                               autocomplete="off"
                               data-auto-focus>
                    </div>
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.submitted}">
                         <span class="pull-right"><a data-ng-href="#/credentials/forgot">Forgot Password?</a></span>
                        <label class="control-label" for="password" data-translate="login.form.password">Password:</label>
                        <div class="error-circle fa-exclamation-circle" role="alert"
                             data-ng-show="loginForm.password.$error.required && loginForm.submitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required" aria-label="Required"></div>
                        <input id="password" type="password" name="password" class="form-control" required
                               autocomplete="off" data-ng-model="credentials.password">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <input type="checkbox" id="rememberMe" data-ng-model="credentials.rememberMe">
                            <label for="rememberMe">
                                <span data-translate="login.form.rememberme">Remember me on this computer.</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="form-group">
                            <button name="submit" type="submit" data-ng-disabled="whenSaving" class="btn btn-primary" data-translate="login.form.button">
                                Login
                            </button>
                            <!-- <a class="btn btn-cancel" data-ng-click="cancel()">cancel</a> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
