<div class="row">
    <div class="col-md-6">
        <label>Question 1:</label>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group"
             data-ng-class="{ 'has-error' : ((notValidatedEmailNoQuestionForm.secretQuestion1.$error.required
                             				 || notValidatedEmailNoQuestionForm.secretQuestion1.$error.duplicated)
                               				 && notValidatedEmailNoQuestionFormSubmitted)}">
            <div class="fa-exclamation-circle"
                 data-ng-show="notValidatedEmailNoQuestionForm.secretQuestion1.$error.required && notValidatedEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Required">

            </div>
            <div class="fa-exclamation-circle"
                 data-ng-show="notValidatedEmailNoQuestionForm.secretQuestion1.$error.duplicated && notValidatedEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Please choose another question">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group"
             data-ng-class="{ 'has-error' : ((notValidatedEmailNoQuestionForm.response1.$error.required
                             				 || notValidatedEmailNoQuestionForm.response1.$error.duplicated)
                               				 && notValidatedEmailNoQuestionFormSubmitted)}">
            <div class="fa-exclamation-circle"
                 data-ng-show="notValidatedEmailNoQuestionForm.response1.$error.required && notValidatedEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Required">
            </div>
            <div class="fa-exclamation-circle"
                 data-ng-show="notValidatedEmailNoQuestionForm.response1.$error.pattern && notValidatedEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Please enter a valid response.">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group"
             data-ng-class="{ 'has-error' : (notValidatedEmailNoQuestionForm.secretQuestion1.$error.required
                              && notValidatedEmailNoQuestionFormSubmitted)}">
            <select id="secretQuestion1" name="secretQuestion1" class="form-control"
                    data-ng-options="secretQuestion.secretQuestion for secretQuestion in secretQuestions track by secretQuestion.id "
                    data-ng-model="account.question1.entity.secretQuestion"
                    required
                    data-ng-change="onNotValidatedEmailAndQuestionsChange()">
                <option value="" title="Choose a question">Choose a question...</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group"
             data-ng-class="{ 'has-error' : (notValidatedEmailNoQuestionForm.response1.$error.required
                              && notValidatedEmailNoQuestionFormSubmitted)}">
            <input class="form-control" id="response1" data-ng-model="account.question1.entity.response"
                   name="response1" placeholder="Response"
                   type="text" minlength="1" maxlength="200"
                   required
                   data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label>Question 2:</label>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group"
             data-ng-class="{ 'has-error' : ((notValidatedEmailNoQuestionForm.secretQuestion2.$error.required
                             				 || notValidatedEmailNoQuestionForm.secretQuestion2.$error.duplicated)
                               				 && notValidatedEmailNoQuestionFormSubmitted)}">
            <div class="fa-exclamation-circle"
                 data-ng-show="notValidatedEmailNoQuestionForm.secretQuestion2.$error.required && notValidatedEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Required">

            </div>
            <div class="fa-exclamation-circle"
                 data-ng-show="notValidatedEmailNoQuestionForm.secretQuestion2.$error.duplicated && notValidatedEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Please choose another question">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group"
             data-ng-class="{ 'has-error' : ((notValidatedEmailNoQuestionForm.response2.$error.required
                             				 || notValidatedEmailNoQuestionForm.response2.$error.duplicated)
                               				 && notValidatedEmailNoQuestionFormSubmitted)}">
            <div class="fa-exclamation-circle"
                 data-ng-show="notValidatedEmailNoQuestionForm.response2.$error.required && notValidatedEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Required">
            </div>
            <div class="fa-exclamation-circle"
                 data-ng-show="notValidatedEmailNoQuestionForm.response2.$error.pattern && notValidatedEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Please enter a valid response.">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group"
             data-ng-class="{ 'has-error' : ((notValidatedEmailNoQuestionForm.secretQuestion2.$error.required
                             				 || notValidatedEmailNoQuestionForm.secretQuestion2.$error.duplicated)
                               				 && notValidatedEmailNoQuestionFormSubmitted)}">
            <select id="secretQuestion2" name="secretQuestion2" class="form-control"
                    data-ng-options="secretQuestion.secretQuestion for secretQuestion in secretQuestions track by secretQuestion.id "
                    data-ng-model="account.question2.entity.secretQuestion"
                    required
                    data-ng-change="onNotValidatedEmailAndQuestionsChange()">
                <option value="" title="Choose a question">Choose a question...</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group"
             data-ng-class="{ 'has-error' : (notValidatedEmailNoQuestionForm.response2.$error.required
                              && notValidatedEmailNoQuestionFormSubmitted)}">
            <input class="form-control" id="response2" data-ng-model="account.question2.entity.response"
                   name="response2" placeholder="Response"
                   type="text" ng-minlength="1" maxlength="200"
                   required
                   data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
        </div>
    </div>
</div>


