<div class="col-md-12" data-ng-controller="ClientLocationsController" >
    <div class="pull-right" data-ng-include="'admin-facing/partials/client/location/client_new.html'"></div>
    <h2>Locations</h2>
    <table class="table table-bordered table-striped table-hover table-condensed" border="0" cellpadding="0"
           cellspacing="0" data-ng-show="clientLocations">
        <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th class="text-center">State</th>
            <th>Phone</th>
            <th class="text-center">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="clientLocation in clientLocations">
            <td><div class="col-wrap">{{clientLocation.location.entity.name}} <em>{{clientLocation.location.entity.active ? '' : "(inactive)"}}</em>
                <span class="parent-entity" data-ng-show="clientLocation.location.entity.belongsTo && clientLocation.location.entity.belongsTo.id !== client.entity.id"> <em>({{clientLocation.location.entity.belongsTo.name}})</em></span>
                <span class="parent-entity" data-ng-show="!clientLocation.location.entity.belongsTo"> <em>(<span data-translate="client_edit_page.locations.no_client_owner"></span>)</em></span></div>
            </td>
            <td class="col-sm-2">{{clientLocation.location.entity.city}}</td>
            <td class="col-sm-1 text-center">{{clientLocation.location.entity.state}}</td>
            <td class="col-sm-3">{{clientLocation.location.entity.phone}}</td>
            <td class="col-edit text-center">
                <a href data-ng-click="editLocation(clientLocation.location.entity)" data-ng-hide="clientLocation.location.entity.deleting"><i class="icon-compose icon-size-xl"></i></a>
                <a href data-to-remove="clientLocation"
                   data-on-ok="removeExistingLocation(clientLocation)"
                   data-on-open-popover="openDeletePopover(clientLocation.location.entity)"
                   data-on-close-popover="closeDeletePopover(clientLocation.location.entity)"
                   data-client-location-delete-warning=""><i class="icon-trashcan icon-size-xl"></i></a>
            </td>
        </tr>
        <tr class="pagination-row no-hover">
            <td colspan="5" class="text-center" data-ng-show="links">
                <ul class="pagination">
                    <li data-ng-repeat="link in links | orderBy:'order'" class="{{link.className}}" data-ng-class="{'active': link.name == currentPage}">
                        <a data-ng-click="fetchPage(link.href)">
                            <i class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                            {{link.name}}
                            <i class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="table-no-results" data-ng-hide="clientLocations">
        <span><em>There are no existing locations<span data-ng-show="client.name">&nbsp;for {{client.name}}</span>.</em></span>
    </div>
</div>

