        <div>Location will be removed from the following team<span data-ng-show="teamsBlocking.length > 1">s</span>:</div>
        <ul>
            <li data-ng-repeat="team in teamsBlocking">
                <span>{{team.name}}</span>
            </li>
        </ul>
        <div class="popover-footer">
            <button class="btn btn-success"
                    data-ng-disabled="whenSaving"
                    data-ng-click="onOk();$hide()">
                Yes
            </button>
            <button type="button" class="btn btn-cancel"
                    data-ng-disabled="whenSaving"
                    data-ng-click="$hide();onClosePopover(toRemove);">
                Cancel
            </button>
        </div>
