<form name="locationForm" class="form" data-ng-submit="saveLocation(locationForm.$valid)" novalidate>
    <div class="modal-content">
        <div class="modal-header" data-ng-show="title">
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            <div class="row" data-ng-show="locationForm.$invalid">
                <div class="col-md-12" id="modal-messages-container"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : locationForm.locationName.$invalid && locationFormSubmitted }">
                        <label class="control-label" for="locationName">Name</label>
                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="locationForm.locationName.$error.required && locationFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="locationForm.locationName.$error.pattern && locationFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Please enter a valid name"></div>
                        <input class="form-control" id="locationName" data-ng-model="location.name" name="locationName"
                               type="text" maxlength="255" required data-auto-focus
                               data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_;:@#&,\(\)!]*$/">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : locationForm.phone.$invalid && locationFormSubmitted }">
                        <label class="control-label" for="phone">Phone</label>
                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="locationForm.phone.$error.pattern && locationFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Please enter a valid phone number"></div>
                        <span class="field-note field-optional">optional</span>
                        <div class="has-input-icon has-input-icon-telephone">
                            <input class="form-control" data-ng-model="location.phone" id="phone" name="phone" type="text"
                                   maxlength="12" data-input-mask="999-999-9999" placeholder="XXX-XXX-XXXX"
                                   data-ng-pattern="/[2-9][0-9][0-9]-[2-9][0-9][0-9]-[0-9][0-9][0-9][0-9]/"
                                   data-input-icon>
                            <span class="input-icon"><i class="icon-telephone"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : locationForm.city.$invalid && locationFormSubmitted }">
                        <label class="control-label" for="city">City</label>
                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="locationForm.city.$error.pattern && locationFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Please enter a valid city"></div>
                        <span class="field-note field-optional">optional</span>
                        <input class="form-control" data-ng-model="location.city" id="city" name="city" type="text"
                               maxlength="255" data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_;:@#&,\(\)!]*$/">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : locationForm.state.$invalid && locationFormSubmitted }">
                        <label class="control-label" for="state">State</label>
                        <span class="field-note field-optional">optional</span>
                        <select class="form-control" id="state" data-ng-model="location.state"
                                data-ng-options="state for state in states" name="state"
                                data-chosen data-disable-search="true" data-placeholder="Select...">
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="sr-only" for="belongsTo">Belongs To</label>
                            <input type="checkbox" name="belongsTo" id="belongsTo"
                               data-ng-model="location.belongsToCheckbox"
                                   data-ng-if="location.belongsToMutable">
                            <label class="belongs-to" for="belongsTo" data-ng-if="!location.belongsToMutable && location.belongsTo">Location belongs to {{location.belongsTo.name}}</label>
                            <label for="belongsTo" data-ng-if="location.belongsToMutable">Location belongs to
                                <span data-ng-show="client.entity.name"> {{client.entity.name}}</span>
                                <span data-ng-hide="client.entity.name"> this client</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-ng-hide="newLocation">
                    <div class="form-group pull-right">
                        <div class="checkbox">
                            <input type="checkbox" name="active" id="activeCkbox"
                               data-ng-model="location.active">
                            <label for="activeCkbox">Active</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="submit" class="btn btn-success"
                    data-ng-disabled="whenSaving"
                    data-client-location-deactivate-warning>Save
            </button>
            <button type="button" class="btn btn-default" data-ng-if="saveAndAddAnother"
                    data-ng-disabled="whenSaving"
                    data-ng-click="saveAndAddAnother(locationForm.$valid)"><i class="icon-plus"></i> Save & Add Another
            </button>
            <button type="button" class="btn btn-cancel"
                    data-ng-disabled="whenSaving"
                    data-ng-click="$hide()">Cancel
            </button>
        </div>
    </div>
</form>
