<div class="modal" tabindex="-1" role="dialog" data-ng-controller="LocationListController">
    <div class="modal-dialog modal-dialog-large container-fluid">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Locations</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1" id="modal-messages-container"></div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <form name="searchForm" data-ng-submit="search(searchForm.locationQuery.$valid)" novalidate>
                            <div class="form-group">
                                <label class="sr-only" for="locationQuery">Search locations:</label>
                                <div class="input-group has-input-icon has-input-icon-search">
                                    <input class="form-control" name="locationQuery" id="locationQuery" data-ng-model="locationQuery"
                                           type="text"
                                           placeholder="Search locations..." required data-auto-focus data-focus-on="LocationSearchFocus">
                                    <span class="input-icon"><i class="icon-search"></i></span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" data-ng-click="search(searchForm.locationQuery.$valid)"
                                         data-ng-disabled="searchForm.locationQuery.$invalid">Go</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3" data-ng-show="searchPerformed">
                        <button type="button" class="btn btn-default pull-right"
                                data-ng-disabled="whenSaving"
                                data-ng-click="createNewLocation()">
                            <i class="icon-plus"></i> add new location
                        </button>
                        <span data-ng-class="{'search-spinner' : loading}"></span>
                    </div>
                </div>
                <div data-ng-show="searchPerformed">
                    <div class="row table-search-filters" >
                        <div class="col-md-12">
                            <div class="pull-right table-results-count">
                                {{total}}
                                <span data-ng-if="total != 1" data-translate="global.labels.total"> results</span>
                                <span data-ng-if="total === 1"
                                      data-translate="global.labels.totalSingular"> result</span>
                            </div>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="status_filter" data-translate="global.labels.statusFilter">Show:</label>
                                    <select class="form-control input-sm" style="width:110px;" id="status_filter" data-ng-model="status"
                                            data-ng-options="status | translate for status in statuses"
                                            data-ng-change="statusChange()" data-chosen data-disable-search="true">
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped table-hover table-condensed" border="0" cellpadding="0"
                                   cellspacing="0"
                                   data-ng-show="locations">
                                <thead>
                                <tr>
                                    <th class="sort col-checkbox">&nbsp;</th>
                                    <th class="sort" data-ng-click="sort('name')">
                                        Name
                                        <span data-ng-show="sortProperty.property === 'name'"><span class="sort-icon"
                                                                                                    data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                    <th class="sort col-sm-3" data-ng-click="sort('belongsTo.name')">
                                        Client Owner
                                        <span data-ng-show="sortProperty.property === 'belongsTo.name'"><span
                                            class="sort-icon"
                                            data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                    <th class="sort col-sm-3" data-ng-click="sort('city')">
                                        City/State
                                        <span data-ng-show="sortProperty.property === 'city'"><span class="sort-icon"
                                                                                                    data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                    <th class="sort col-phone" data-ng-click="sort('phone')">
                                        Phone
                                        <span data-ng-show="sortProperty.property === 'phone'"><span class="sort-icon"
                                                                                                     data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="clientLocation in locations| orderBy:'sortIdx'"
                                    data-ng-class="clientLocation.link.length > 0 ? 'text-muted' : ''">
                                    <td class="col-checkbox">
                                        <div class="checkbox">
                                            <input type="checkbox" id="clientLocationCb{{$index}}" data-ng-model="clientLocation.location.entity.newlocation"
                                                   data-ng-change="onCheckboxChange(clientLocation.location)"
                                                   data-ng-disabled="clientLocation.link.self"
                                                   data-ng-checked="clientLocation.link.self">
                                            <label class="empty" for="clientLocationCb{{$index}}"></label>
                                        </div>
                                    </td>
                                    <td>{{clientLocation.location.entity.name}} <em>{{clientLocation.location.entity.active ? '' : "(inactive)"}}</em></td>
                                    <td>
                                        {{clientLocation.location.entity.belongsTo.name}}
                                    </td>
                                    <td> {{clientLocation.location.entity.city}}<span
                                            data-ng-show="clientLocation.location.entity.city && clientLocation.location.entity.state">,&nbsp;</span>{{clientLocation.location.entity.state}}
                                    </td>
                                    <td>{{clientLocation.location.entity.phone}}</td>
                                </tr>
                                <tr class="pagination-row no-hover">
                                    <td colspan="5" class="text-center" data-ng-show="links">
                                        <ul class="pagination">
                                            <li data-ng-repeat="link in links | orderBy:'order'" class="{{link.className}}" data-ng-class="{'active': link.name == currentPage}">
                                                <a data-ng-click="fetchPage(link.href)">
                                                    <i aria-label="Previous" class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                                                    {{link.name}}
                                                    <i aria-label="Next" class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="table-no-results" data-ng-hide="locations">
                                <span data-translate="global.messages.search.no_results_found"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-ng-if="!isEmpty(changedLocations)"
                        data-ng-disabled="whenSaving"
                        data-ng-click="save()">Save
                </button>
                <button type="button" class="btn btn-default" data-ng-if="!isEmpty(changedLocations)"
                        data-ng-disabled="whenSaving"
                        data-ng-click="saveAndAddAnother()"><i class="icon-plus"></i> Save & Add Another
                </button>
                <button type="button" class="btn btn-cancel"
                        data-ng-disabled="whenSaving"
                        data-ng-click="cancel()">cancel
                </button>
            </div>
        </div>
    </div>
</div>

