    <div class="col-md-8"
        data-ng-show="updatingSalesForceAccount || teamToSave.salesForceAccount == null"
        data-ng-class="{'masked': teamForm.teamName.$error.unique}" >
        <div class="form-group has-feedback" data-ng-class="{ 'has-error' : formSubmitted && !teamToSave.salesForceAccount }">
            <label class="control-label" for="salesForceAccount">Salesforce Account:</label>
            <div class="error-circle glyphicon glyphicon-exclamation-sign" data-ng-show="!teamToSave.salesForceAccount && formSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Please enter an associated Salesforce account"></div>
            <div id="teamSalesforceAccount" class="typeahead" data-id="salesForceAccount" data-emmi-typeahead data-items="sfResult.account" data-term="sfSearch.searchQuery" data-search="findAccount(term)" data-select="chooseAccount(item)" data-placeholder="Start typing..." data-blur="revertSfAccount()" data-focus="TeamSfSearch" data-min-length="5">
                <div class="menu typeahead-menu dropdown-menu bottom-left container-fluid">
                    <li class="header" data-ng-show="sfResult.account.length">
                        <div class="col-md-6 account-name">Account Name</div>
                        <div class="col-md-4 city-state">City/State</div>
                    </li>
                    <li data-emmi-typeahead-item="account" data-ng-repeat="account in sfResult.account" class="results" >
                        <div class="col-md-6 account-name">{{account.name}}</div>
                        <div class="col-md-4 city-state">{{account.city}}<span data-ng-show="account.city && account.state">,&nbsp;</span>{{account.state}}&nbsp;</div>
                    </li>
                    <li data-ng-show="hasMore()" class="footer">
                        <div class="col-md-12">Refine search for more results.</div>
                    </li>
                    <div data-ng-hide="sfResult.account.length">
                        <div class="col-md-12">No results found</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12"
        data-ng-hide="updatingSalesForceAccount || teamToSave.salesForceAccount == null"
        data-ng-class="{'masked': teamForm.teamName.$error.unique}" >
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">Salesforce Account:</label>
                <div>
                    {{teamToSave.salesForceAccount.name}}&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                        {{teamToSave.salesForceAccount.city}}<span data-ng-show="teamToSave.salesForceAccount.city && teamToSave.salesForceAccount.state">,&nbsp;{{teamToSave.salesForceAccount.state}}</span>
                    </span>
                    <button class="btn btn-link" data-ng-click="changeSfAccount(teamToSave.salesForceAccount)" required >update</button>
                </div>
            </div>
            <div class="col-md-2" data-ng-show="teamToSave.salesForceAccount.phoneNumber">
                <label class="control-label" data-translate="team_edit_page.information.phone">Phone</label>
                <div>{{ teamToSave.salesForceAccount.phoneNumber }}</div>
            </div>
            <div class="col-md-2" data-ng-show="teamToSave.salesForceAccount.fax">
                <label class="control-label" data-translate="team_edit_page.information.fax">Fax</label>
                <div>{{ teamToSave.salesForceAccount.fax }}</div>
            </div>
        </div>
    </div>

