<div data-ng-controller="AddEmailRestrictConfigurationController">
    <button type="button" class="btn btn-link btn-link-nopad btn-heading" data-ng-if="!emailRestrictConfigurations" data-ng-click="addAnotherEmailRestrict()">
        <i class="icon-plus"></i> add email ending
    </button>
    <button type="button" class="btn btn-link btn-link-nopad btn-heading" data-ng-if="emailRestrictConfigurations" data-ng-click="addAnotherEmailRestrict()">
        <i class="icon-plus"></i> add another
    </button>
</div>
