<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal-dialog-title" data-ng-controller="AddEmailRestrictConfigurationController">
    <form name="emailRestrictConfigurationForm" class="form" novalidate data-ng-submit="add(emailRestrictConfigurationForm)">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" data-ng-show="emailRestrictConfigurationForm.$invalid && emailRestrictConfigurationFormSubmitted">
                        <div class="col-md-12" id="email-message-container"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"
                                 data-ng-class="{ 'has-error' : emailRestrictConfigurationForm.emailEnding.$invalid && emailRestrictConfigurationFormSubmitted }">
                                <label class="control-label" for="emailEnding">Email ending</label>
                                <div class="error-circle fa-exclamation-circle" role="alert"
                                     data-ng-show="emailRestrictConfigurationForm.emailEnding.$error.required && emailRestrictConfigurationFormSubmitted"
                                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                                     data-title="Required" aria-label="Required"></div>
                                <div class="error-circle fa-exclamation-circle" role="alert"
                                     data-ng-show="emailRestrictConfigurationForm.emailEnding.$error.pattern && emailRestrictConfigurationFormSubmitted"
                                     data-bs-tooltip data-placement="right" data-type="danger"
                                     data-container="body" data-title="Please enter a valid email ending" aria-label="Please enter a valid email ending"></div>
                                <div class="error-circle fa-exclamation-circle" role="alert"
                                     data-ng-show="emailRestrictConfigurationForm.emailEnding.$error.duplicateEmail && emailRestrictConfigurationFormSubmitted"
                                     data-bs-tooltip data-placement="right" data-type="danger"
                                     data-container="body" data-title="Email ending already exists" aria-label="Email ending already exists"></div>

                                <input class="form-control text-lowercase" id="emailEnding"
                                       data-ng-model="emailRestrictConfiguration.entity.emailEnding"
                                       name="emailEnding"
                                       type="text"
                                       data-ng-pattern="/^[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/"
                                       placeholder="domain.com (subdomains are allowed)"
                                       required data-auto-focus no-duplicate-email/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"
                                 data-ng-class="{ 'has-error' : emailRestrictConfigurationForm.description.$invalid && emailRestrictConfigurationFormSubmitted }">
                                <label class="control-label" for="passwordLength">Description</label>
                                <input class="form-control" id="passwordLength"
                                       data-ng-model="emailRestrictConfiguration.entity.description"
                                       name="description"
                                       type="text"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="submit" class="btn btn-success" value="Save"/>
                    <button type="button" class="btn btn-default"
                            data-ng-disabled="whenSaving"
                            data-ng-click="add(emailRestrictConfigurationForm, true)"><i class="icon-plus"></i>Save & Add Another
                    </button>
                    <button type="button" class="btn btn-cancel"
                            data-ng-disabled="whenSaving"
                            data-ng-click="$hide()">Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
