<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <h1>Security Settings</h1>
        </div>
        <div class="col-md-6">
            <div class="alert alert-warning" data-ng-if="badEmails.length > 0 && clientRestrictConfiguration.entity.emailConfigRestrict">
                <strong>
                    <span data-ng-pluralize count="badEmails.length"
                              when="{'1':'{{badEmails.length}} user',
                                    'other':'{{badEmails.length}} users'}">
                    </span>
                </strong>
                <span data-ng-pluralize count="badEmails.length"
                              when="{'1':' is non-compliant with this policy.',
                                    'other':' are non-compliant with this policy.'}">
                </span>
                <a href data-bs-popover data-placement="bottom" title="Non-compliant email addresses:" data-auto-close="true"
                   data-container="body"
                   data-template-url="admin-facing/partials/configurations/restriction/non-compliant-email-popover.html"
                   class="pull-right">View</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right"
                 data-ng-include="'admin-facing/partials/configurations/restriction/add-email.html'"></div>
            <div class="pull-left form-group">
                <div class="checkbox">
                    <input id="emailConfigRestrict" type="checkbox"
                           data-ng-model="clientRestrictConfiguration.entity.emailConfigRestrict"
                           data-ng-change="save()"/>
                    <label for="emailConfigRestrict">Restrict valid email addresses</label>
                </div>
            </div>
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
    <div data-ng-show="originalClientRestrictConfiguration.entity.emailConfigRestrict">
        <div data-ng-include="'admin-facing/partials/configurations/restriction/email.html'"></div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right" data-ng-include="'admin-facing/partials/configurations/restriction/add-ip.html'"></div>
            <div class="pull-left form-group">
                <div class="checkbox">
                    <input id="ipConfigRestrict" type="checkbox"
                           data-ng-model="clientRestrictConfiguration.entity.ipConfigRestrict"
                           data-ng-change="save()"/>
                    <label for="ipConfigRestrict">Restrict IP Range</label>
                </div>
            </div>
            <div data-ng-show="originalClientRestrictConfiguration.entity.ipConfigRestrict">
                <div data-ng-include="'admin-facing/partials/configurations/restriction/ip.html'"></div>
            </div>
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .col-md-12 -->
