<div class="col-md-12">
    <div class="col-md-6 pull-left">
        <h2>Security Settings</h2>
    </div>
    <div data-ng-if="badEmails.length > 0 && clientRestrictConfiguration.entity.emailConfigRestrict" class="col-md-6 pull-right alert alert-warning">
        <b>{{badEmails.length}} users </b> are non-compliant with this policy.
        <a data-bs-popover data-placement="bottom" title="Non-compliant email addresses:" data-auto-close="true"
           data-content-template="admin-facing/partials/configurations/restriction/non-compliant-email-popover.html" class="btn btn-link pull-right">View</a>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="checkbox">
                    <input id="emailConfigRestrict" type="checkbox"
                        data-ng-model="clientRestrictConfiguration.entity.emailConfigRestrict"
                        data-ng-change="save()" />
                    <label for="emailConfigRestrict">&nbsp;Restrict valid email addresses</label>
                </div>
            </div>
        </div>
        <div class="col-md-12" data-ng-show="originalClientRestrictConfiguration.entity.emailConfigRestrict">
            <div data-ng-include="'admin-facing/partials/configurations/restriction/email.html'"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="checkbox">
                    <input id="ipConfigRestrict" type="checkbox"
                        data-ng-model="clientRestrictConfiguration.entity.ipConfigRestrict"
                        data-ng-change="save()" />
                    <label for="ipConfigRestrict">&nbsp;Restrict IP Range</label>
                </div>
            </div>
        </div>
        <div class="col-md-12" data-ng-show="originalClientRestrictConfiguration.entity.ipConfigRestrict">
            <div data-ng-include="'admin-facing/partials/configurations/restriction/ip.html'"></div>
        </div>
    </div>
</div>
