<div class="app-header with-breadcrumbs" data-emmi-navbar>
    <!-- Secondary menu for transclusion -->
    <ul class="secondary-nav">
        <li>
            <a data-ng-if="existingClientRoles.length > 0 || existingClientTeamRoles.length > 0" href="#/clients/{{client.id}}/users">Manage Users</a>
            <a data-ng-if="existingClientRoles.length === 0 && existingClientTeamRoles.length === 0" data-ng-class="{'disabled':(existingClientRoles.length === 0 && existingClientTeamRoles.length === 0)}" data-bs-tooltip data-type="info" data-placement="bottom" data-title="Set up user roles before adding users" aria-label="Set up user roles before adding users">Manage Users</a>
        </li>
        <li><a href="#/clients/{{client.id}}/roles">Manage Roles</a></li>
    </ul>
    <!-- Breadcrumb for transclusion -->
    <ol class="breadcrumb">
        <li><a href="#/clients?{{currentRouteQueryString}}">Search</a></li>
        <li><a data-ng-href="#/clients/{{client.id}}?{{currentRouteQueryString}}">{{client.name}}</a></li>
        <li class="active">Client Configurations</li>
    </ol>
</div>
<div id="app-content" role="main" class="app-content app-content-with-sidebar container" data-ng-cloak>
    <div class="row">
        <div data-emmi-sidebar class="sidebar" data-ng-include="'admin-facing/partials/configurations/nav.html'"></div>
        <div class="main-content">
            <div class="layout-card">
                <div class="row" data-ng-include="'admin-facing/partials/configurations/restriction/form.html'"></div>
            </div><!-- .layout-card -->
        </div><!-- .main-content -->
    </div><!-- .row -->
</div><!-- .container -->
<footer class="footer" data-ng-include="'admin-facing/partials/common/footer.tpl.html'"></footer>
