<div class="container" >
	<div class="row" data-ng-controller="ProviderListController" data-ng-show="teamResource.teamProviders.length > 0">
		<div class="col-md-9" >
		    <h2>Providers</h2>
			<table class="table table-bordered table-striped table-hover" border="0" cellpadding="0">
				<tr>
					<th class="col-sm-3">Name </th>
					<th class="col-sm-3">Specialty </th>
					<th class="col-sm-3">Email </th>
				</tr>
				<tr data-ng-repeat="teamProvider in teamResource.teamProviders">
			    	<td>{{teamProvider.entity.provider.firstName}} {{teamProvider.entity.provider.lastName}}</td>
			    	<td>{{teamProvider.entity.provider.specialty.name}}</td>
			    	<td>{{teamProvider.entity.provider.email}}</td>
			    </tr>
			</table>
		</div>
	</div>
</div>