<div class="container" >
	<div class="row" data-ng-controller="ProviderListController" data-ng-show="teamResource.providers.length > 0">
		<div class="col-md-6" >
		    <label>Providers</label>
			<table class="table table-bordered table-striped table-hover" border="0" cellpadding="0">
				<tr>
					<th class="col-sm-3">Name </th>
					<th class="col-sm-3">Specialty </th>
					<th class="col-sm-3">Email </th>
					
				</tr>
				<tr data-ng-repeat="provider in teamResource.providers">
			    	<td>{{provider.entity.firstName}} {{provider.entity.lastName}}</td>
			    	<td>{{provider.entity.specialty.name}}</td>
			    	<td>{{provider.entity.email}}</td>
			    </tr>
			</table>
		</div>
	</div>
</div>