<div class="modal" tabindex="-1" role="dialog" data-ng-controller="ProviderSearchController">
    <div class="modal-dialog modal-dialog-large container-fluid">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10" id="message-container"></div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <form ng-submit="search()">
                            <div class="form-group">
                                <label class="sr-only" for="providerQuery">Search providers:</label>

                                <div class="input-group">
                                    <input class="form-control" id="providerQuery" data-ng-model="providerQuery"
                                           type="text"
                                           placeholder="Search providers..." data-auto-focus >
                                    <div class="input-group-addon btn" data-ng-click="search()">Go</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 col-sm-3" data-ng-hide="noSearch">
                        <button type="button" class="btn btn-link pull-right" data-ng-click="createNewProvider()">
                            add new provider
                        </button>
                        <span data-ng-class="{'search-spinner' : loading}"></span>
                    </div>
                </div>
            </div>
            <div class="modal-body" data-ng-hide="noSearch">
                <div>
                    <div class="row" data-ng-hide="removeStatusFilterAndTotal">
                        <div class="col-md-12 col-sm-12">
                            <div class="pull-right">
                                {{total}}
                                <span data-ng-show="total != 1" data-translate="global.labels.total"> results</span>
                                <span data-ng-show="total === 1"
                                      data-translate="global.labels.totalSingular"> result</span>
                            </div>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="status_filter" data-translate="global.labels.statusFilter">Show:</label>
                                    <select class="form-control" id="status_filter" data-ng-model="status"
                                            data-ng-options="status | translate for status in statuses"
                                            data-ng-change="statusChange()">
                                    </select>
                                </div>
                            </form>
                        </div>

                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <table class="table table-bordered table-striped table-hover" border="0" cellpadding="0" cellspacing="0" data-ng-show="searchedProvidersList">
                                <tr>
                                    <th class="sort col-sm-1">&nbsp;</th>
                                    <th class="sort col-sm-3" data-ng-click="sort('normalizedName')">
                                        Name
                                        <span data-ng-show="sortProperty.property === 'normalizedName'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                    <th class="sort col-sm-3" data-ng-click="sort('specialty.name')">
                                        Specialty
                                        <span data-ng-show="sortProperty.property === 'specialty.name'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                    <th class="sort col-sm-3" data-ng-click="sort('email')">
                                        Email
                                        <span data-ng-show="sortProperty.property === 'email'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                </tr>
                                <tr data-ng-repeat="provider in searchedProvidersList" data-ng-class="provider.entity.disabled ? 'text-muted' : ''">
									<td><input type="checkbox" data-ng-model="provider.entity.checked"  data-ng-disabled="provider.entity.disabled" ng-change="onCheckboxChange(provider)"></td>
									<td>{{provider.entity.firstName}} {{provider.entity.middleName}} {{provider.entity.lastName}}</td>
                                    <td>{{provider.entity.specialty.name}}</td>
                                    <td>{{provider.entity.email}}</td>
                                </tr>
                            </table>
                            <div data-ng-hide="searchedProvidersList">
                                <span data-translate="global.messages.search.no_results_found"></span>
                            </div>
                            <div class="row" data-ng-show="searchedProvidersList">
                                <div data-ng-show="links" class="col-md-8 col-sm-8">
                                    <ul class="pagination">
                                        <li data-ng-repeat="link in links | orderBy:'order'" data-ng-class="{'active': link.name == currentPage}">
                                            <a data-ng-show="link.name != currentPage" href
                                               data-ng-click="fetchPage(link.href)">{{link.name}}</a>
                                            <span data-ng-hide="link.name != currentPage">{{link.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-ng-click="cancel()">cancel</button>
                <button type="button" class="btn btn-default" data-ng-show="searchedProvidersList" data-ng-click="saveAssociationAndAddAnotherProvider()">Save & Add Another</button>
                <button type="button" class="btn btn-primary" data-ng-show="searchedProvidersList" data-ng-click="associateSelectedProvidersToTeam()">Save</button>
            </div>
        </div>
    </div>
</div>

