<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-large container-fluid">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10" id="message-container"></div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                     <div class="col-md-9 col-sm-9">
                        <form name="searchForm" ng-submit="search(searchForm.providerQuery.$valid)" novalidate>
                            <div class="form-group form-horizontal">
                             <label for="providerQuery" class="col-md-4 control-label">Search all providers:</label>
                                <label class="sr-only" for="providerQuery">Search providers:</label>

                                <div class="input-group">
                                    <input class="form-control" id="providerQuery" name="providerQuery" data-ng-model="providerQuery"
                                           type="text" data-reset-provider-search
                                           placeholder="Search..." required data-auto-focus>
                                    <div class="input-group-addon btn" data-ng-click="search(searchForm.providerQuery.$valid)" data-ng-disabled="searchForm.providerQuery.$invalid">Go</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 col-sm-3" data-ng-hide="noSearch">
                        <button type="button" class="btn btn-link pull-right" data-ng-click="createNewProvider()">
                            add new provider
                        </button>
                        <span data-ng-class="{'search-spinner' : loading}"></span>
                    </div>
                </div>
            </div>
            <div class="modal-body" data-ng-hide="noSearch">
                <div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="pull-right">
                                {{total}}
                                <span data-ng-show="total != 1" data-translate="global.labels.total"> results</span>
                                <span data-ng-show="total === 1"
                                      data-translate="global.labels.totalSingular"> result</span>
                            </div>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="status_filter" data-translate="global.labels.statusFilter">Show:</label>
                                    <select class="form-control" id="status_filter" data-ng-model="status"
                                            data-ng-options="status | translate for status in statuses"
                                            data-ng-change="statusChange()">
                                    </select>
                                </div>
                            </form>
                        </div>

                    </div>
                    <br/>
                    <div data-ng-hide="searchedProvidersList">
                    	<span data-translate="global.messages.search.no_results_found"></span>
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <table class="table table-bordered table-striped table-hover" border="0" cellpadding="0" cellspacing="0" data-ng-show="searchedProvidersList">
                                <tr>
                                    <th class="sort col-sm-1">&nbsp;</th>
                                    <th class="sort col-sm-2" data-ng-click="sort('lastName')">
                                        Name
                                        <span data-ng-show="sortProperty.property === 'lastName'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                    <th class="sort col-sm-3" data-ng-click="sort('specialty.name')">
                                        Primary Specialty
                                        <span data-ng-show="sortProperty.property === 'specialty.name'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                    <th class="sort col-sm-3" data-ng-click="sort('email')">
                                        Email
                                        <span data-ng-show="sortProperty.property === 'email'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span></span>
                                    </th >
                                    <th class="sort col-sm-3"> Locations
                                </th>
                                </tr>
                                <tr data-ng-repeat="teamProvider in searchedProvidersList"  data-ng-class="teamProvider.link.self ? 'text-muted' : ''">
									<td data-ng-hide="teamProvider.link.self">
										<input type="checkbox" data-ng-model="teamProvider.provider.entity.checked"  data-ng-change="onCheckboxChange(teamProvider.provider)">
									</td>
									<td data-ng-show="teamProvider.link.self">
                                        <input type="checkbox" disabled="disabled" checked>
                                    </td>
									<td>{{teamProvider.provider.entity.firstName}} {{teamProvider.provider.entity.middleName}} {{teamProvider.provider.entity.lastName}}</td>
                                    <td>{{teamProvider.provider.entity.specialty.name}}</td>
                                    <td>{{teamProvider.provider.entity.email}}</td>
                                    <td><div data-ng-show="teamProvider.provider.entity.showLocations">
                                    		<select data-chosen data-placeholder="Use: all locations" multiple data-ng-model="teamProvider.provider.entity.teamLocations"
                							data-ng-options="location.entity.location.name group by location.name for location in teamLocations | orderBy:'location.entity.location.name' track by location.entity.id" 
               								class="form-control" data-ng-change="updateTeamLocationsForProvider(teamProvider.provider)" >
               								 </select>
               							</div>
                                	</td>
                                </tr>
                            </table>
                            <div class="row" data-ng-show="searchedProvidersList">
                                <div data-ng-show="links" class="col-md-8 col-sm-8">
                                    <ul class="pagination">
                                        <li data-ng-repeat="link in links | orderBy:'order'" data-ng-class="{'active': link.name == currentPage}">
                                            <a data-ng-show="link.name != currentPage" href
                                               data-ng-click="fetchPage(link.href)">{{link.name}}</a>
                                            <span data-ng-hide="link.name != currentPage">{{link.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-ng-click="cancel()">cancel</button>
                <button type="button" class="btn btn-default" data-ng-show="searchedProvidersList" data-ng-click="saveAssociationAndAddAnotherProvider()">Save & Add Another</button>
                <button type="button" class="btn btn-primary" data-ng-show="searchedProvidersList" data-ng-click="associateSelectedProvidersToTeam()">Save</button>
            </div>
        </div>
    </div>
</div>

