<div class="container" data-ng-cloak>
    <h2>
        View Patient
    </h2>
    <div class="col-md-12" data-ng-switch="authenticated">
        <div class="row">
            <div class="col-md-6 pull-left">
                <div class="row">
                    <div class="col-md-12" >
                        <div class="row" >
                            <div class="col-md-4">
                                Name:
                            </div>
                            <div class="col-md-8">
                                {{patientResource.entity.firstName}} {{patientResource.entity.lastName}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" >
                        <div class="row" >
                            <div class="col-md-4">
                                Date Of birth:
                            </div>
                            <div class="col-md-8">
                                {{patientResource.entity.dateOfBirth}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" data-ng-show="patientResource.entity.gender">
                    <div class="col-md-12" >
                        <div class="row" >
                            <div class="col-md-4">
                                Gender:
                            </div>
                            <div class="col-md-8">
                                {{patientResource.entity.gender}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
