<div id="app-content" role="main" class="app-content container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="layout-card">
                <div data-ng-if="!account.email && !account.emailValidated && account.secretQuestionCreated"
                     data-ng-include="'client-facing/loginInterruption/enterEmail/enter_email.html'">
                </div>

                <div data-ng-if="account.email && !account.emailValidated && account.secretQuestionCreated"
                     data-ng-include="'client-facing/loginInterruption/validateEmail/validate_email.html'">
                </div>

                <div data-ng-if="account.email && account.emailValidated && !account.secretQuestionCreated"
                     data-ng-include="'client-facing/loginInterruption/secretQuestions/secret-question-create.html'">
                </div>

                <div data-ng-if="!account.email && !account.emailValidated && !account.secretQuestionCreated"
                     data-ng-include="'client-facing/loginInterruption/noEmailOrQuestions/add_email_questions.html'">
                </div>

                <div data-ng-if="account.email && !account.emailValidated && !account.secretQuestionCreated"
                     data-ng-include="'client-facing/loginInterruption/noValidatedEmailOrQuestions/validate_email_questions.html'">
                </div>
            </div>
        </div>
    </div>
</div>
