<div class="col-md-12">
        <div class="row"
             data-ng-if="!account.originalUserClientEmail && !account.emailValidated && account.secretQuestionCreated"
             data-ng-include="'client-facing/loginInterruption/enterEmail/enter_email.html'"></div>

        <div class="row"
             data-ng-if="account.originalUserClientEmail && !account.emailValidated && account.secretQuestionCreated"
             data-ng-include="'client-facing/loginInterruption/validateEmail/validate_email.html'"></div>

        <div class="row"
             data-ng-if="account.originalUserClientEmail && account.emailValidated && !account.secretQuestionCreated"
             data-ng-include="'client-facing/loginInterruption/secretQuestions/secret-question-create.html'">
        </div>

        <div class="row"
             data-ng-if="!account.originalUserClientEmail && !account.emailValidated && !account.secretQuestionCreated"
             data-ng-include="'client-facing/loginInterruption/noEmailOrQuestions/add_email_questions.html'">
        </div>

        <div class="row"
             data-ng-if="account.originalUserClientEmail && !account.emailValidated && !account.secretQuestionCreated"
             data-ng-include="'client-facing/loginInterruption/noValidatedEmailOrQuestions/validate_email_questions.html'">
        </div>
</div>
