<div class="container" data-ng-cloak data-ng-controller="ClientTeamPhoneConfigurationCtrl">
   
<form name="clientTeamPhoneConfigurationForm" class="form"  novalidate>
<div class="row">
   	<div class="col-md-12 pull-left">
       	<h3>Phone Reminders</h3>
   	</div>
</div>

<div class="row">
   	 <div class="col-md-12">
      	 <div class="form-group">
      	        <div class="checkbox">
                    <input id="collectPhone" type="checkbox"
                           data-ng-model="phoneConfigs.entity.collectPhone"
                           data-ng-change="onChange()" />
                    <label for="collectPhone">Collect Phone</label>
                </div>
      	      
      	        <div class="checkbox">
                    <input id="requirePhone" type="checkbox"
                           data-ng-model="phoneConfigs.entity.requirePhone"
                           data-ng-change="onChange()" />
                    <label for="requirePhone">Require Phone</label>
                </div>
            
         </div>
     </div>
</div>
           
<div class="row">
     <div class="col-md-12">
          <div class="form-group">
               <button class="btn btn-primary" type="submit"
                       data-ng-click="saveOrUpdatePhoneConfig(clientTeamPhoneConfigurationForm.$valid)">
                       <span>Save</span>
                </button>
                <button class="btn btn-link" type="submit"
                        data-ng-click="cancel()">
                        <span>cancel</span>
                 </button>
          </div>
     </div>
</div> 
</form>

</div>
