<div class="col-md-12" data-ng-cloak>
    <form name="clientTeamPhoneConfigurationForm" class="form"  novalidate>
        <h1>Phone Reminders</h1>
        <div class="form-group">
            <div class="radio" ng-repeat="phoneOption in phoneOptions | orderBy:'rank'">
                <input type="radio" id="{{phoneOption.id}}"
                       data-ng-model="phoneOptions.selected"
                       data-ng-value="phoneOption"
                       data-ng-change="update()"/>
                <label for="{{phoneOption.id}}">{{ phoneOption.displayText }}</label>
            </div>
        </div>
        <div class="pull-right" data-ng-show="showPhoneButton">
            <button class="btn btn-cancel" type="button"
                data-ng-disabled="whenSaving"
                data-ng-click="cancel()">
                <span>cancel</span>
            </button>
            <button class="btn btn-success" type="button"
                data-ng-disabled="whenSaving"
                data-ng-click="saveOrUpdatePhoneConfig(clientTeamPhoneConfigurationForm.$valid)">
                <span>Save</span>
            </button>
        </div>
     </form>
</div>
