     <div data-ng-repeat="selectedContentSubscription in selectedContentList">
     <div class="row">
     <div class="col-md-4">
      		<div class="form-group">
               	<select id="primaryContentList" name="primaryContentList" class="form-control"
                   	data-ng-options="primaryContentList.name for primaryContentList in primaryContentList track by primaryContentList.name"
                   	data-ng-model="selectedContentSubscription.entity.contentSubscription"
                   	data-ng-change="onChangePrimaryList()">
               	<option value="" title="primaryContentList">Select...</option>
               	</select>
       		</div>
            </div>
        	
        	<div class="col-md-4" >
          	<div data-ng-if="selectedContentSubscription.entity.contentSubscription.name=='EmmiEngage+'">
          	   	   	<select id="selectedSourceContentList" name="selectedSourceContentList" class="form-control"
                   	data-ng-options="sourceContentList.name for sourceContentList in sourceContentList track by sourceContentList.id"
                   	data-ng-model="selectedSourceContent.entity.contentSubscription"
                   	data-ng-change="showButtons({{true}})">
               	<option value="" title="selectedSourceContentList"></option>
               	</select>
           	</div>
       		</div>
       		
       		<div class="col-md-4">
           		<div data-ng-if="initialAddAnotherContentSubscription && $last && latestPrimaryContentList.length > 0">
           		<button  type="button" class="btn btn-link btn-link-nopad btn-heading" data-ng-click="initialAddSubscription()">
        			<i class="icon-plus"></i> ADD ANOTHER SUBSCRIPTION
    			</button>
    			</div>
           </div>
       		
       		</div>
       		
      	</div>

    

