<form name="contentSubscriptionForm" novalidate data-ng-controller="ClientProgramContentConfigurationController">
<h1>
    Available Program Content
</h1>
<div data-ng-show="contentSubscriptionForm.$invalid" id="message-container"></div>

<div data-ng-include="'admin-facing/partials/configurations/program-content/add-content-subscription.html'"></div>
<div class="row" data-ng-if="latestPrimaryContentList.length > 1 && newSelectList">
           <div class="col-md-4">
           <div class="form-group" >
                <select id="latestPrimaryContentList" name="latestPrimaryContentList" class="form-control"
                    data-ng-options="latestPrimaryContentList.name for latestPrimaryContentList in latestPrimaryContentList track by latestPrimaryContentList.name"
                    data-ng-model="contentSubscriptionHolder.entity.contentSubscription"
                    data-ng-change="onChangePrimaryList()">
                <option value="" title="latestPrimaryContentList">Select...</option>
                </select>
           </div>
           </div>
           <div class="col-md-4" >
           <div data-ng-if="contentSubscriptionHolder.entity.contentSubscription.name=='EmmiEngage+'">
                <select id="sourceContentList" name="sourceContentList" class="form-control"
                    data-ng-options="sourceContentList.name for sourceContentList in sourceContentList track by sourceContentList.id"
                    data-ng-model="selectedSourceContent.entity.contentSubscription"
                    data-ng-change="showButtons({{true}})">
                <option value="" title="sourceContentList"></option>
                </select>
           </div>
           </div>
           <div class="col-md-4">
           		<div data-ng-if="addAnotherContentSubscription">
           		<button  type="button" class="btn btn-link btn-link-nopad btn-heading" data-ng-click="addAnotherSubscription(contentSubscriptionHolder)">
        			<i class="icon-plus"></i> ADD ANOTHER SUBSCRIPTION
    			</button>
    			</div>
           </div>
</div>
<div class="row" data-ng-if="faithBased">
     	<div class="col-md-6">
     	<div class="form-group">
          <div class="checkbox">
               <input id="faithBased" type="checkbox"
                      data-ng-model="selectedContentSubscription.entity.faithBased"
                      data-ng-change="onChangeFaithBased(selectedContentSubscription.entity.faithBased)"/>
                <label for="faithBased">Apply Faith-Based Filter for this Client</label>
          </div>
    	</div>
     	</div>
</div>
<div class="row">
     	<div class="col-md-6">
           		<button type="button" disabled="disabled" class="btn btn-link btn-link-nopad btn-heading" data-ng-click="addAnotherSubscription()">
        			 VIEW & EDIT PROGRAMS
    			</button>
     	</div>
</div>
</form>
    

