<div class="alert" data-ng-class="[type ? 'alert-' + type : null]">
    <button type="button" class="close" data-ng-if="dismissable"
            data-ng-disabled="whenSaving"
            data-ng-click="$hide()">&times;</button>
  <strong data-ng-bind="title"></strong>&nbsp;<span data-ng-bind-html="content"></span>
  <span data-ng-controller="PreChangePasswordController">
      <button class="btn btn-link" data-ng-disabled="whenSaving"
              data-ng-click="$hide();allowAnotherPasswordChange()">change password
      </button>
  </span>
</div>
