<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <h1>
                <span data-translate="client_view_page.information.title">Client Information</span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group"
                data-ng-class="{ 'has-error' : (metadataForm.clientName.$invalid && metadataSubmitted) || metadataForm.clientName.$error.unique}">
                <label class="control-label" for="clientName">Name</label>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="metadataForm.clientName.$error.required && metadataSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Required"></div>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="metadataForm.clientName.$error.pattern && metadataSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Please enter a valid client name"></div>
                <input class="form-control" data-ng-model="clientToEdit.name" id="clientName" name="clientName"
                       type="text" data-unique-url="findNormalizedNameLink" data-unique-client required
                       data-auto-focus
                       data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_;:`@#&,\(\)\/!]*$/" data-focus-on="clientName">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>&nbsp;</label><!-- for spacing purposes -->
                <div class="checkbox">
                    <input id="active" type="checkbox" data-ng-model="clientToEdit.active"/>
                    <label for="active">
                        Active
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : metadataForm.clientType.$invalid && metadataSubmitted }">
                <label class="control-label" for="clientType">Client Type</label>
                <div class="error-circle fa-exclamation-circle" data-ng-show="metadataForm.clientType.$invalid && metadataSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Required"></div>
                <select id="clientType" class="form-control" data-ng-model="clientToEdit.type"
                        data-ng-options="type.typeKey | translate for type in clientTypes track by type.id"
                        name="clientType" required
                        data-chosen data-disable-search="true" data-placeholder="Select...">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="region">Region</label>
                <span class="field-note field-optional">optional</span>
                <select class="form-control" id="region" data-ng-model="clientToEdit.region"
                        data-ng-options="region.typeKey | translate for region in clientRegions track by region.id"
                        name="clientRegion"
                        data-chosen data-disable-search="true" data-placeholder="Select...">
                    <option value="">Select...</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="tier">Tier</label>
                <span class="field-note field-optional">optional</span>
                <select class="form-control" data-ng-model="clientToEdit.tier" id="tier"
                        data-ng-options="tier.typeKey | translate for tier in clientTiers track by tier.id"
                        name="clientTier"
                        data-chosen data-disable-search="true" data-placeholder="Select...">
                    <option value="">Select...</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : metadataForm.clientContractOwner.$invalid && metadataSubmitted }">
                <label class="control-label" for="contractOwner">Contract Owner</label>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="metadataForm.clientContractOwner.$invalid && metadataSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Required"></div>
                <select
                        class="form-control"
                        data-placeholder="Select..."
                        data-ng-model="clientToEdit.contractOwner"
                        data-ng-options="owner as owner | contractOwnerFilter for owner in contractOwners track by owner.id "
                        id="contractOwner"
                        name="clientContractOwner" required
                        data-chosen data-disable-search="true" data-placeholder="Select...">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : metadataForm.clientContractStart.$invalid && metadataSubmitted }">
                <label class="control-label" for="contractStart">Contract Start</label>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="!metadataForm.clientContractStart.$error.date &&
                                    metadataForm.clientContractStart.$error.required &&
                                   !metadataForm.clientContractStart.$error.max && metadataSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Required"></div>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="metadataForm.clientContractStart.$error.date &&
                                  !metadataForm.clientContractStart.$error.max && metadataSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Dates must be in the format MM/DD/YYYY"></div>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="metadataForm.clientContractStart.$error.date &&
                                   metadataForm.clientContractStart.$error.max && metadataSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Please select a valid date"></div>
                <div class="has-input-icon has-input-icon-calendar">
                    <input id="contractStart" class="form-control" placeholder="MM/DD/YYYY" type="text" name="clientContractStart"
                           data-ng-model="clientToEdit.contractStart" data-autoclose="true"
                           data-dateType="string" data-bs-datepicker required data-date-format="M/d/yyyy"
                           data-max-date="{{clientToEdit.contractEnd}}" data-input-icon>
                    <span class="input-icon"><i class="icon-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : metadataForm.clientContractEnd.$invalid && metadataSubmitted }">
                <label class="control-label" for="contractEnd">Contract End</label>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="!metadataForm.clientContractEnd.$error.date &&
                                    metadataForm.clientContractEnd.$error.required &&
                                   !metadataForm.clientContractEnd.$error.min && metadataSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Required"></div>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="metadataForm.clientContractEnd.$error.date &&
                                  !metadataForm.clientContractEnd.$error.min && metadataSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Dates must be in the format MM/DD/YYYY"></div>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="metadataForm.clientContractEnd.$error.date &&
                                   metadataForm.clientContractEnd.$error.min && metadataSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Please select a valid date"></div>
                <div class="has-input-icon has-input-icon-calendar">
                    <input id="contractEnd" class="form-control" placeholder="MM/DD/YYYY" type="text" name="clientContractEnd"
                           data-ng-model="clientToEdit.contractEnd" data-autoclose="true"
                           data-dateType="string" data-bs-datepicker required data-date-format="M/d/yyyy"
                           data-min-date="{{clientToEdit.contractStart | addDays:1}}" data-input-icon>
                    <span class="input-icon"><i class="icon-calendar"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-ng-hide="updatingSalesForceAccount || clientToEdit.salesForceAccount == null">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label" for="">Salesforce Account</label>
                </div>
            </div>
            {{clientToEdit.salesForceAccount.name}}&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{clientToEdit.salesForceAccount.city}}<span
                        data-ng-show="clientToEdit.salesForceAccount.city && clientToEdit.salesForceAccount.state">,&nbsp;</span>{{clientToEdit.salesForceAccount.state}}
                </span>
            <button class="btn btn-link btn-salesforce-update" type="button" data-ng-click="changeClientSfAccount()">update</button>
        </div>
    </div>
    <div class="row" data-ng-show="updatingSalesForceAccount || clientToEdit.salesForceAccount == null"
         data-ng-include="'admin-facing/partials/client/salesforce/salesforce.html'"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-cancel" data-ng-click="clientEditCancel(metadataForm)">cancel</button>
                <button class="btn btn-success" type="button" data-on-ok="clientSave(metadataForm)"
                   data-save-click data-client-to-edit="clientToEdit" data-checking-for-dupes="checkingForDupes"
                   data-ng-disabled="metadataForm.clientName.$error.unique">
                    <span>save edits</span>
                </button>
            </div>
        </div>
    </div>
</div>
