        <div class="layout-card" data-ng-class="{'outlined':editMode}">
            <div class="row" data-ng-include="'admin-facing/partials/client/edit/metadata.html'"></div>
        </div>
        <div class="layout-card" data-ng-class="{'outlined':tagsUpdated}">
            <div class="row" data-ng-include="'admin-facing/partials/client/tags/client_tags.html'"></div>
        </div>
        <div class="layout-card">
            <div class="row" data-ng-include="'admin-facing/partials/client/location/client_current.html'"></div>
            <hr>
            <div class="row" data-ng-include="'admin-facing/partials/client/provider/current.html'"></div>
        </div>
