<div class="col-md-12">
    <div id="validation-container" data-ng-show="(metadataForm.$invalid || !clientToEdit.salesForceAccount) && !metadataForm.clientName.$error.unique"></div>
    <div class="row" data-ng-hide="editMode" data-ng-include="'admin-facing/partials/client/edit/client_view.html'"></div>
    <form name="metadataForm" class="form" novalidate unsaved-warning-form>
        <div class="row" data-ng-show="editMode" data-ng-include="'admin-facing/partials/client/edit/client_edit.html'"></div>
    </form>
</div>
