
@include define('project-globals') {

    /* _____ GLOBAL DEFAULTS _____ */

    *,
    :before,
    :after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        font-size: 100%;
        width: 100%;
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 110px;
        // min-height: 100%;
    }

    /* _____ STICKY FOOTER _____ */
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 110px;
        background-color: $navbar-default-bg;
        // Emmi-specific footer styles
        margin: 25px 0 0;
        color: #D4D8DC;
        padding: 22px 0;
        font-weight: 300;
        [class^="icon-"], [class*=" icon-"] {
            @include remIt(font-size, 17);
        }
        .phone-help {
            margin-right: 30px;
            font-weight: 400;
        }
        a,
        a:hover,
        a:focus {
            font-weight: 400;
            color: inherit;
        }
    }

    hr {
        border-color: rgba(151,151,151,0.4);
    }

    /* _____ HEADINGS _____ */

    // Vertical rhythm and single direction margins (http://csswizardry.com/2012/06/single-direction-margin-declarations/)
    h1, .h1,
    h2, .h2,
    h3, .h3 {
        margin-top: 0;
        margin-bottom: $line-height-computed;
    }
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        margin-top: 0;
        margin-bottom: ($line-height-computed / 2);
    }

    h1, .h1 {
    }

    h2, .h2 {
        margin-bottom: 15px;
    }

    h3, .h3 {
        color: rgba(81,83,86,0.80);
    }

    h4, .h4 {
        font-weight: 500;
        color: $gray;
        text-transform: uppercase;
    }

    h5, .h5 {
        font-weight: 700;
        color: rgba(81,83,86,0.35);
        text-transform: uppercase;
    }

    a,
    a:visited {
    }

    /* _____ TABLES _____ */

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: $line-height-computed;
        // column headings
        > thead > tr > th {
            color: #fff;
            border-color: $brand-primary;
            background: $brand-primary;
            font-size: $font-size-small;
            font-weight: 600;
            text-transform: uppercase;
            padding-top: $table-cell-padding;
            padding-bottom: $table-cell-padding*0.8;
        }
        // column cells
        tr > td {
            @include remIt(font-size, 16);
            font-weight: 300;
        }
        // Account for multiple tbody instances
        > tbody + tbody {
            border-top: 0;
        }

        // Nesting
        .table {
            background-color: #fff;
        }
    }

    .table-secondary {
        > thead > tr > th {
            color: #fff;
            border-color: $brand-secondary;
            background: $brand-secondary;
        }
    }

    .table-condensed {
        /*> thead > tr > th {
            padding: $table-condensed-cell-padding;
        }*/
        tr > td {
            @include remIt(font-size, 15);
        }
        tr.pagination-row > td {
            padding: 5px 0 0;
        }
    }

    table tr.no-hover,
    table tr.no-hover:hover {
        background-color: $table-bg;
    }

    .table-bordered {
        border-collapse: separate; // necessary for border-radius to work
        //border-radius: $border-radius-base; // Needs to be set on the individual cells because of table heading design treatment
        border: 0; // See note above

        th, td {
            border-left: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
        }

        td:first-child {
            border-left: 1px solid $table-border-color !important;
        }

        td:last-child {
            border-right: 1px solid $table-border-color !important;
        }

        th:first-child {
            border-radius: $border-radius-base 0 0 0;
        }

        th:last-child {
            border-radius: 0 $border-radius-base 0 0;
        }

        th:only-child {
            border-radius: $border-radius-base $border-radius-base 0 0;
        }

        tr:last-child td:first-child {
            border-radius: 0 0 0 $border-radius-base;
        }

        tr:last-child td:last-child {
            border-radius: 0 0 $border-radius-base 0;
        }
    }

    /* _____ BUTTONS _____ */
    .btn {
        @include button-size($padding-base-vertical, $padding-base-vertical*2, $font-size-base, $line-height-base, $border-radius-base);
        text-transform: uppercase;
        box-shadow: 2px 2px 0px 0px rgba(110,124,136,0.25);
        // Icons inside of buttons
        [class^="icon-"], [class*=" icon-"] {
            vertical-align: text-top;
        }
    }

    .btn-default,
    .btn-grey,
    .btn-link,
    .btn-cancel {
        box-shadow: none;
    }

    .btn-default {
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active,
        .open > &.dropdown-toggle {
            background-color: #e9f7fa;
        }
    }

    .btn-primary {
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active,
        .open > &.dropdown-toggle {
            background-color: #1C94B4;
            border-color: #1C94B4;
        }
    }

    .btn-success {
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active,
        .open > &.dropdown-toggle {
            background-color: #6ABB10;
            border-color: #6ABB10;
        }
    }

    .btn-info {
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active,
        .open > &.dropdown-toggle {
            background-color: #5FB5CB;
            border-color: #5FB5CB;
        }
    }

    .btn-danger {
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active,
        .open > &.dropdown-toggle {
            background-color: #DC6B56;
            border-color: #DC6B56;
        }
    }

    .btn-grey {
        @include button-variant($gray, #ECEDEF, #ECEDEF);
    }

    .btn-icon {
        @include button-variant(#6CC5DC, transparent, transparent);
        border: 0;
        box-shadow: none;
        padding: 0 .25em;
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active,
        .open > &.dropdown-toggle {
            color: #21A4C7;
        }
        [class^="icon-"], [class*=" icon-"] {
            vertical-align: baseline;
        }
    }

    .btn-link {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .btn-link-nopad {
        padding: 0;
        cursor: pointer;
    }

    .btn-cancel {
        @extend .btn-link;
        padding-left: 20px;
        padding-right: 20px;
        color: #BBC5CF;
        &:hover,
        &:focus {
            color: #9EA9B5;
            text-decoration: none;
        }
    }

    // Button class that inherits it's color from it's containing element
    .btn-inherit {
        color: inherit;
    }

    .btn-lg {
        // line-height: ensure even-numbered height of button next to large input
        @include button-size($padding-large-vertical, $padding-large-vertical*2, $font-size-base, $line-height-large, $border-radius-base);
    }
    .btn-sm {
        // line-height: ensure proper height of button next to small input
        @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-base);
    }
    .btn-xs {
        @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-base);
    }

    /* _____ FORMS _____ */
    .form-actions {
        margin-top: 8px;
        .form-group {
            margin-bottom: 5px;
        }
        .btn + .btn {
            margin-left: 12px;
            margin-bottom: 0;
        }
        .btn-link + .btn,
        .btn-cancel + .btn,
        .btn + .btn-link,
        .btn + .btn-cancel {
            margin-left: 0;
        }
    }
    label {
        font-size: $font-size-small;
        text-transform: uppercase;
    }
    .radio,
    .radio-inline,
    .checkbox,
    .checkbox-inline {
        label {
            font-size: $font-size-base;
            font-weight: normal;
            text-transform: none;
             // For custom checkbox radio alignment...
            padding-left: 0;
            line-height: 25px; // height of custom control
        }
    }
    .form-group {
        margin-bottom: 22px;
        .checkbox:first-child,
        .radio:first-child {
            margin-top: 0;
        }
        .checkbox:last-child,
        .radio:last-child {
            margin-bottom: 0;
        }
    }
    .form-control:focus {
        box-shadow: none !important;
    }
    .has-feedback label ~ .form-control-feedback {
        top: 22px;
        font-size: 24px;
    }
    // Validation states
    .has-success {
        // Override the input form control text color (otherwise normal)
        .form-control {
            color: $state-success-text;
        }
        // Override the input form control label text color (otherwise validation state color)
        .control-label {
            color: inherit;
        }
        // Color any icons based on the validation state color
        [class^="icon-"], [class*=" icon-"],
        [class^="fa-"], [class*=" fa-"],
        .glyphicon {
            color: $state-success-text;
        }
    }
    .has-warning {
        // Override the input form control text color (otherwise normal)
        .form-control {
            color: $state-warning-text;
        }
        // Override the input form control label text color (otherwise validation state color)
        .control-label {
            color: inherit;
        }
        // Color any icons based on the validation state color
        [class^="icon-"], [class*=" icon-"],
        [class^="fa-"], [class*=" fa-"],
        .glyphicon {
            color: $state-warning-text;
        }
    }
    .has-error {
        // Override the input form control text color (otherwise normal)
        .form-control {
            color: $state-danger-text;
        }
        // Override the input form control label text color (otherwise validation state color)
        .control-label {
            color: inherit;
        }
        // Color any icons based on the validation state color
        [class^="icon-"], [class*=" icon-"],
        [class^="fa-"], [class*=" fa-"],
        .glyphicon {
            color: $state-danger-text;
        }
    }
    // Placeholder text
    .form-control::-moz-placeholder {
        font-weight: 300;
        font-style: italic;
    }
    .form-control:-ms-input-placeholder {
        font-weight: 300;
        font-style: italic;
    }
    .form-control::-webkit-input-placeholder {
        font-weight: 300;
        font-style: italic;
    }
    // Custom checkbox and radio buttons
    .radio input[type="radio"],
    .radio-inline input[type="radio"],
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
        margin-left: 0;
    }
    /*
    Position and hide the real checkboxes and radio buttons.
    The inputs are made transparent instead of completely hidden to preserve
    clickability in browsers that don't have clickable labels, like Safari for
    iOS 5 and older.
    */
    input[type="checkbox"],
    input[type="radio"] {
        position: absolute;
        /* Match the image dimensions */
        width: 25px;
        height: 25px;
        /* Reset anything that could peek out or interfere with dimensions */
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
        outline: 0;
        opacity: 0;
        //visibility: hidden; //can't take away visibility or element becomes not tabbable
        cursor: pointer;
    }
    /*
    Insert a pseudo element inside each label and give it a background
    image that will become the custom checkbox or radio button.
    Using inline-block lets you use vertical-align to adjust it vertically
    as needed.
    */
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
        cursor: pointer;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 8px;
        //background: url('../images/radio-checkbox.png') no-repeat;
        background: #FAFBFB;
        border: 1px solid #C2C2C2;
        content: " ";
        vertical-align: top;
        border-radius: 3px;
        transition: background-color 0.3s ease;
    }
    input[type="radio"] + label:before {
        border-radius: 25px;
    }
    input[type="radio"]:checked + label:before {
        background-color: #6CC5DC;
        border-color: #6CC5DC;
        box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
    }
    input[type="radio"]:focus + label:before {
        border-color: #9EA9B5;
    }
    input[type="radio"]:checked:focus + label:before {
        border-color: #21A4C7;
    }
    input[type="radio"]:disabled + label:before {
        background-color: $input-bg-disabled;
        border-color: #CFD2D5;
        cursor: $cursor-disabled;
    }
    input[type="checkbox"]:checked + label:before {
        font-family: 'ui-font-solid';
        font-size: 24px;
        line-height: .9;
        content: '\E435';
        color: #fff;
        background-color: #6CC5DC;
        border-color: #6CC5DC;
    }
    input[type="checkbox"]:indeterminate + label:before {
        font-family: 'ui-font-solid';
        font-size: 24px;
        line-height: .9;
        content: '\E465';
        color: #fff;
        background-color: #6CC5DC;
        border-color: #6CC5DC;
        padding-left: 1px;
    }
    input[type="checkbox"]:focus + label:before {
        border-color: #9EA9B5;
    }
    input[type="checkbox"]:indeterminate:focus + label:before,
    input[type="checkbox"]:checked:focus + label:before {
        border-color: #21A4C7;
    }
    input[type="checkbox"]:disabled + label:before {
        background-color: $input-bg-disabled;
        border-color: #CFD2D5;
        cursor: $cursor-disabled;
    }

    /* _____ LAYOUT _____ */

    .app-content,
    .app-header ~ .container {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .layout-card {
        background: #fff;
        border-radius: $border-radius-base;
        box-shadow: 4px 4px 0px 0px rgba(110,124,136,0.07);
        margin: 0 0 12px;
        padding: 28px 28px 30px;
        @include clearfix;
        border: 1px solid transparent;
        transition: border-color 0.25s ease-in-out;
        &.outlined {
            border: 1px solid $brand-secondary;
        }
    }

    .app-content-with-sidebar {
        position: relative;
        // for faux equal height columns
        overflow: hidden;
        padding-left: 25px;
    }

    /*
    * Main Content
    */
    .main-content {
        @include make-md-column(8.5);
        //@include make-md-column-offset(3.5);
        min-height: 600px;
    }
    .sidebar + .main-content {
        padding-left: 25px;
    }

    /*
    * Sidebar
    */
    .sidebar {
        @include make-md-column(3.5);
        background-color: #636E77;
        color: #fff;
        color: rgba(255,255,255,0.85);
        margin-top: -25px;
        //border-top: 4px solid rgba(0,0,0,0.07); // Match the breadcrumb/header shadow
        // for faux equal height columns
        margin-bottom: -99999px;
        padding-bottom: 99999px;
        // another sidebar method
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // z-index: 1000;
        // overflow-x: hidden;
        // overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        > .sidebar-wrapper {
            padding: 25px 12px 0;
        }
        .sidebar-heading,
        .sidebar-heading .sidebar-client-link {
            color: rgba(255,255,255,0.85);
        }
        .sidebar-heading .sidebar-client-link:hover,
        .sidebar-heading .sidebar-client-link:focus {
            text-decoration: underline;
        }
        .sidebar-scroll-content {
            //overflow: auto;
            // .scroll-viewport {
            //     height: 200px;
            // }
        }
        .sidebar-list {
            font-weight: 300;
            @include remIt(font-size, 16);
            //line-height: 1.875;
            line-height: 1;
            li {
                padding: 6px 0;
            }
            a:hover, a:focus {
                color: $link-color;
                text-decoration: underline;
            }
            .active,
            .active:hover,
            .active:focus {
                color: rgba(235,235,235,.75);
                cursor: default;
                text-decoration: none;
            }
        }
        .configure {
            a {
                display: inline-block;
                text-indent: -999px;
                width: 24px;
                height: 24px;
                background: url('../images/icon-glyphicon-cogwheels.png') no-repeat left center;
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                }
            }
        }
        label {
            color: rgba(235,235,235,0.75);
            font-weight: normal;
        }
        hr {
            border-color: rgba(255,255,255,0.25);
        }
        select.form-control,
        select.form-control + .chosen-container.chosen-container-single .chosen-single,
        select.form-control + .chosen-container .chosen-choices {
            background: #9fa6ab;
            background: rgba(250,251,251,0.40);
            border: 1px solid #b7bbc0;
            border: 1px solid rgba(207,210,213,0.50);
            color: rgba(255,255,255,0.85);
        }
        .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
            color: rgba(255,255,255,0.85) !important;
        }
        select.form-control + .chosen-container .chosen-drop {
            background-color: #f2f2f2;
            // Allow the dropdown to be wider than the control so entire tag is visible (EM-1134)
            width: auto;
            min-width: 100%;
        }
        select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
            background-color: #eaeaea;
            color: $gray;
            .search-choice-close {
                color: $gray;
            }
        }
        .teams-filter-heading {
            color: rgba(235,235,235,0.75);
            margin-bottom: 7px;
            .team-count {
                margin-left: 10px;
                opacity: 0.8;
            }
        }
        .teams-filter-group {
            margin: 0 0 28px;
        }
        .teams-filter-list {

        }
        .filter-link {
            @include remIt(font-size, 13);
        }
    }

}
