<div data-ng-hide="selectedClientTeamRole">
	<form name="clientTeamRolesSelection" data-popover-toggle>
	    <div class="form-group" style="min-width: 400px; min-height: 200px">
	        <div class="checkbox" data-ng-repeat="clientTeamRole in clientTeamRoles | filter:disableClientTeamRoles()"  >
	            <label>
	                <input type="checkbox" value="" data-ng-model="clientTeamRole.checked" data-ng-disabled="clientTeamRole.disabled">&nbsp;&nbsp;
	            </label>
	            <span class="toggle-trigger">
	                <span class="caret" data-ng-click="toggleClientTeamRoleCaret(clientTeamRole)"></span>
	                <span data-ng-class="{'text-muted': clientTeamRole.disabled}">{{ clientTeamRole.entity.name }}</span>
	            </span>
	            <div class="toggle-content">
	                <small class="text-muted">
	                    <span data-ng-repeat="permission in clientTeamRole.entity.permissions | orderBy:'permission.rank'">
	                    {{permission.name  | translate }}{{!$last ? ',' : ''}}&nbsp;
	                    </span>
	                </small>
	            </div>
	        </div>
	    </div>
	    <hr/>
	    <div class="form-actions" style="min-width: 200px; min-height: 35px">
	        <button type="button" class="btn btn-default btn-xs btn-close" data-ng-click="$hide()">
	            <span class="glyphicon glyphicon-remove"></span>
	        </button>
	        <button type="button" class="btn btn-primary pull-right" data-ng-click="setSelectedClientTeamRole()">Add Teams for This Role</button>
	    </div>
	</form>
</div>

<div data-ng-show="selectedClientTeamRole" >
	Role: {{selectedClientTeamRole.entity.name}}
	<form name="searchForm">
		<div>
			<label>Search for teams:</label>
        </div>
	    <div class="row">
	        <div class="col-md-12">
	            <div class="col-md-6 col-sm-5">
	                <label class="sr-only" for="query">Search</label>
	
	                <div class="input-group">
	                    <input class="form-control" id="query" name="query" data-ng-model="query" type="text"
	                           placeholder="Team" required data-auto-focus>
	                </div>
	            </div>
				<div class="col-md-2 col-sm-3">
	                <button class="btn btn-default pull-left" data-ng-click="search()"
	                        data-ng-disabled="searchForm.query.$invalid || loading">Go
	                </button>
	                <span data-ng-class="{'search-spinner' : loading}"></span>
	            </div>
	        </div>
	    </div>
    </form>
    <div class="row" data-ng-show="clientTeams">
		<table class="table table-bordered table-striped table-hover" border="0" cellpadding="0" cellspacing="0" data-ng-show="clientTeams">
            <tr>
                <th class="sort col-sm-3" data-ng-click="sort('name')">Name <span data-ng-show="sortProperty.property === 'name'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span></span>
                </th>
            </tr>
            <tr data-ng-repeat="clientTeam in clientTeams">
                <td>{{clientTeam.entity.name}}</td>
            </tr>
        </table>
	</div>
</div>
