<div data-ng-controller="UsersClientUserClientTeamRolesListController">
	<div class="col-md-12" data-ng-show="isSuperUser">
        Team roles aren't required for users with Super User permissions.
    </div>
	<div class="col-md-12" data-ng-show="clientTeamRoles && !isSuperUser">
		<h3>Team Roles:</h3>
		<div class="row" data-ng-repeat="clientTeamRole in clientTeamRoles">
			<div class="col-md-5" >
			    <form name="clientTeamRoleForm_{{clientTeamRole.entity.id}}" class="form" novalidate>
			        <div class="panel-group" 
			        	 data-ng-click="panelStateChange(clientTeamRole)"
			             data-start-collapsed="true"
			             data-bs-collapse>
			            <div class="panel panel-default" >
			                <div class="panel-heading">
			                    <div class="row panel-title">
			                        <button type="button" class="btn-link" data-bs-collapse-toggle>
			                            <span class="glyphicon sort-icon glyphicon-play glyphicon-small"></span>
			                            {{ clientTeamRole.entity.name}} 
			                            <span data-ng-show="clientTeamRole.existingTeams">({{clientTeamRole.existingTeams.length}}
			                            	<span data-ng-show="clientTeamRole.existingTeams.length == 1">team)</span>
			                            	<span data-ng-show="clientTeamRole.existingTeams.length > 1">teams)</span>
			                            </span>
			                        </button>
			                        <div class="pull-right">
			                            <button type="button" class="btn-link" data-ng-show="clientTeamRole.existingTeams" 
			                            	data-ng-click="removeAllUserClientUserClientTeamRole(clientTeamRole)">
			                                <small>remove</small>
			                            </button>
			                            <button type="button" class="btn-link" data-ng-hide="clientTeamRole.existingTeams" 
			                            	data-ng-controller="UsersClientUserClientTeamRolesAddTeamsController"
			                            	data-ng-click="addTeams(clientTeamRole)">
			                                <small>add teams</small>
			                            </button>
			                        </div>
			                    </div>
			                </div>
			                <div class="panel-collapse" data-bs-collapse-target>
			                    <div class="panel-body">
			                        <small class="text-muted">
				                        <span data-ng-repeat="permission in clientTeamRole.entity.permissions | orderBy:'permission.rank'">
			                    			{{permission.name  | translate }}{{!$last ? ',' : ''}}&nbsp;
			                    		</span>
			                        </small>
			                    </div>
			                    <div class="panel-body" data-ng-show="clientTeamRole.existingTeams">
			                        <table class="table table-bordered table-striped table-hover"
										border="0" cellpadding="0" cellspacing="0" >
										<tr data-ng-repeat="existingTeam in clientTeamRole.existingTeams">
											<td>{{existingTeam.entity.team.name}}</td>
											<td data-ng-hide="clientTeamRole.existingTeams.length == 1">
												<a href data-ng-click="removeUserClientUserClientTeamRole(clientTeamRole, existingTeam)">remove</a>
											</td>
										</tr>
									</table>
			                    </div>
			                    <div class="row" data-ng-show="clientTeamRole.existingTeams" 
			                    	data-ng-include="'partials/user/client/userclientteamrole/add-teams.html'"></div>
			                </div>
			            </div>
			        </div>
			    </form>
			</div>
		</div>
	</div>
</div>

