<div class="col-md-12" data-ng-controller="UsersClientUserClientTeamRolesListController">
	<h3>Team Roles:</h3>
	<div class="row" 
		data-ng-repeat="clientTeamRole in clientTeamRoles">
		<div class="col-md-5">
		    <form name="clientTeamRoleForm_{{clientTeamRole.entity.id}}" class="form" novalidate>
		        <div class="panel-group" 
		        	 data-ng-click="panelStateChange(clientTeamRole)"
		             data-start-collapsed="true"
		             data-bs-collapse>
		            <div class="panel panel-default" >
		                <div class="panel-heading">
		                    <div class="row panel-title">
		                        <button type="button" class="btn-link" data-bs-collapse-toggle>
		                            <span class="glyphicon sort-icon glyphicon-play glyphicon-small"></span>
		                            {{ clientTeamRole.entity.name}}
		                        </button>
		                        <div class="pull-right">
		                            <button type="button" class="btn-link" data-ng-click="removeAllUserClientUserClientTeamRole(clientTeamRole)">
		                                <small>remove</small>
		                            </button>
		                        </div>
		                    </div>
		                </div>
		                <div class="panel-collapse" data-bs-collapse-target>
		                    <div class="panel-body">
		                        <small class="text-muted">
			                        <span data-ng-repeat="permission in clientTeamRole.entity.permissions | orderBy:'permission.rank'">
		                    			{{permission.name  | translate }}{{!$last ? ',' : ''}}&nbsp;
		                    		</span>
		                        </small>
		                        <hr/>
		                        <table class="table table-bordered table-striped table-hover"
									border="0" cellpadding="0" cellspacing="0" data-ng-show="clientTeamRole.existingTeams">
									<tr data-ng-repeat="existingTeam in clientTeamRole.existingTeams">
										<td>{{existingTeam.entity.team.name}}</td>
										<td><a href data-ng-click="removeUserClientUserClientTeamRole(clientTeamRole, existingTeam)">remove</a></td>
									</tr>
								</table>
		                    </div>
		                    <div class="row" data-ng-include="'partials/user/client/userclientteamrole/add-teams.html'"></div>
		                </div>
		            </div>
		        </div>
		    </form>
		</div>
	</div>
	<button data-ng-hide="clientTeamRoles" class="btn btn-link btn-tag-library" type="button" title="Select a team role to add:"
	        data-placement="right" data-content-template="partials/user/client/userclientteamrole/add-client-team-role.html"
	        data-trigger="click" data-bs-popover data-popover-dismiss>Add team role
	</button>
</div>
