<header class="app-header" data-emmi-navbar>
    <ol class="breadcrumb">
        <li><a href="#/support/patients?{{currentRouteQueryString}}">Search</a></li>
        <li data-ng-if="_patient.id" class="active">{{_patient.firstName}}
            {{_patient.lastName}}
        </li>
    </ol>
</header>
<div class="container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="layout-card">
                <div data-ng-include="'admin-facing/support/patient/view/metadata/patient_metadata.html'"
                     data-ng-controller="PatientSupportViewMetadataController"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row-same-height row-full-height">
            <div class="col-md-7 col-xs-height col-full-height" style="padding-right: 6px">
                <div class="row-same-height row-full-height">
                    <div class="layout-content layout-card">
                        <div data-ng-include="'admin-facing/support/patient/view/program-history/program_history.html'"
                             data-ng-controller="PatientSupportViewProgramHistoryController"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-xs-height col-full-height" style="padding-left: 6px">
              <div class="row-same-height row-full-height">
                <div class="layout-content layout-card" data-ng-class="{'outlined':editMode}" data-ng-switch="editMode" data-ng-controller="PatientSupportClientNoteMainController">
                  <form name="clientNoteForm" class="form" novalidate data-unsaved-warning-form>
                    <div class="row" data-ng-switch-default>
                        <div data-ng-include="'admin-facing/support/patient/view/note/main.html'"></div>
                    </div>
                    <div class="row" data-ng-switch-when="true">
                        <div data-ng-include="'admin-facing/support/patient/view/note/edit.html'"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
    </div>

</div>


