<form name="clientRolesSelection" data-popover-toggle>
    <div class="form-group" style="min-width: 200px; min-height: 50px">
        <div class="checkbox" data-ng-repeat="clientRole in clientRoles">
            <label>
                <input type="radio" data-ng-model="$parent.clientRolesSelection.selectedClientRole" value="{{clientRole.entity.id}}" />&nbsp;&nbsp;
            </label>
            <span class="toggle-trigger">
                <span data-ng-show="clientRole.entity.permissions.length > 0" class="caret"></span>
                <span>{{ clientRole.entity.name }}</span>
            </span>
            <div class="toggle-content">
                <small class="text-muted">
                    <span data-ng-repeat="aPermission in clientRole.entity.permissions | orderBy:'permission.rank'">
                    {{aPermission.name  | translate }}{{!$last ? ',' : ''}}&nbsp;
                    </span>
                </small>
            </div>
        </div>
    </div>
    <hr/>
    <div class="form-actions">
        <button type="button" class="btn btn-default btn-xs btn-close" data-ng-click="$hide()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button type="button" class="btn btn-primary pull-right" data-ng-click="associateClientRole(clientRolesSelection);$hide()">Add</button>
        <br/>
    </div>
</form>
