<form name="resetPasswordForm" class="form" novalidate>
    <div class="container" data-ng-cloak>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h3>Reset password</h3>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="emailAddress">Email Address:</label>
                            <input class="form-control" id="emailAddress" data-ng-model="emailAddress"
                                   name="emailAddress"
                                   type="text" maxlength="50" data-auto-focus required
                                   data-ng-pattern=emailPattern />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="actions pull-right">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit"
                                        data-ng-disabled="!resetPasswordForm.$valid"
                                        data-ng-click="go()">
                                    <span>Send</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
