<div class="container">
    <h1>
        <a href="#/">Emmi Manager</a>:&nbsp;
        <span data-ng-hide="client.id">New</span>
        <span data-ng-show="client.id">Edit</span> Client
    </h1>
    <form name="clientForm" class="form" novalidate>
        <div id="alerts-container" data-ng-show="clientForm.$invalid || !client.salesForceAccount"></div>
        <div id="remove-container"></div>
        <h2>Client Information</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" data-ng-class="{ 'has-error' : clientForm.clientName.$invalid && formSubmitted }">
                    <label class="control-label" for="clientName">Name</label>
                    <div class="error-circle" data-ng-show="clientForm.clientName.$error.required && formSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <div class="error-circle" data-ng-show="clientForm.clientName.$error.pattern && formSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid client name."></div>
                    <div class="error-circle" data-ng-show="clientForm.clientName.$invalid && !form.$error.unique"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="The client name already exists. {{existsClient.name}}"></div>                         
                    <input class="form-control" data-ng-model="client.name" id="clientName" name="clientName" type="text" data-unique-url="findNormalizedNameLink" data-unique-client required data-auto-focus data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_;:`@#&,\(\)\/]*$/">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" data-ng-class="{ 'has-error' : clientForm.clientType.$invalid && formSubmitted }">
                    <label class="control-label" for="clientType">Client Type</label>
                    <div class="error-circle" data-ng-show="clientForm.clientType.$invalid && formSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <select id="clientType" class="form-control" data-ng-model="client.type"
                            data-ng-options="type | translate for type in clientTypes" name="clientType" required>
                        <option value="">Select...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="region">Region</label>
                    <select class="form-control" id="region" data-ng-model="client.region"
                            data-ng-options="region | translate for region in clientRegions" name="clientRegion">
                        <option value="">Select...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="tier">Tier</label>
                    <select class="form-control" data-ng-model="client.tier" id="tier"
                            data-ng-options="tier | translate for tier in clientTiers" name="clientTier">
                        <option value="">Select...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" data-ng-class="{ 'has-error' : clientForm.clientContractOwner.$invalid && formSubmitted }">
                    <label class="control-label" for="contractOwner">Contract Owner</label>
                    <div class="error-circle" data-ng-show="clientForm.clientContractOwner.$invalid && formSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <select
                        class="form-control"
                        data-placeholder="Select..."
                        data-ng-model="client.contractOwner"
                        data-ng-options="owner as owner.lastName for owner in contractOwners track by owner.id"
                        id="contractOwner"
                        name="clientContractOwner" required>
                        <option value="">Select...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" data-ng-class="{ 'has-error' : clientForm.clientContractStart.$invalid && formSubmitted }">
                    <label class="control-label" for="contractStart">Contract Start</label>
                    <div class="error-circle" data-ng-show="clientForm.clientContractStart.$error.required && formSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <input id="contractStart" class="form-control" type="text" name="clientContractStart" data-ng-model="client.contractStart" data-autoclose="true"
                           data-dateType="iso" data-bs-datepicker required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" data-ng-class="{ 'has-error' : clientForm.clientContractEnd.$invalid && formSubmitted }">
                    <label class="control-label" for="contractEnd">Contract End</label>
                    <div class="error-circle" data-ng-show="clientForm.clientContractEnd.$error.required && formSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <input id="contractEnd" class="form-control" type="text" name="clientContractEnd" data-ng-model="client.contractEnd" data-autoclose="true"
                           data-dateType="string" data-bs-datepicker required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <label for="active">
                        <input id="active" type="checkbox" data-ng-model="client.active"/>
                        Active
                    </label>
                </div>
            </div>
        </div>
        <div class="row" data-ng-show="client.salesForceAccount">
            <div class="col-md-12">
                {{client.salesForceAccount.name}}&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{client.salesForceAccount.city}}<span
                    data-ng-show="client.salesForceAccount.city && client.salesForceAccount.state">,&nbsp;</span>{{client.salesForceAccount.state}}
                </span>
                <button class="btn btn-link" data-ng-click="changeSfAccount()">update</button>
            </div>
        </div>
        <div class="row" data-ng-hide="client.salesForceAccount" data-ng-include="'partials/salesforce/picker.html'"></div>
        <hr>
        <div class="row" data-ng-include="'partials/client/tags/client_tags.html'"></div>
        <hr>
        <div class="row" data-ng-include="'partials/client/location/client_current.html'"></div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="actions pull-right">
                    <div class="form-group">
                        <button class="btn btn-link" data-on-ok="cancel()" data-cancel-click>cancel</button>
                        <button class="btn btn-primary" type="button" data-on-ok="save(clientForm.$valid)" data-save-click>
                            <span data-translate="client_edit_page.save_button">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
