<h3 ng-if="patient.phone || patient.email">Program Instructions Will Be Delivered By</h3>
<dl class="dl-horizontal" ng-if="patient.phone || patient.email">
    <dt ng-if="patient.phone">Phone</dt>
    <dd ng-if="patient.phone">{{ patient.phone }}</dd>
    <dt ng-if="patient.email">Email</dt>
    <dd ng-if="patient.email">{{ patient.email }}</dd>
</dl>
<div class="well">
    <h3>Patient Program Access</h3>
    <p>Be sure to let {{patient.firstName}} know to expect these programs!</p>
    <div class="inset">
        <p><strong>1</strong> Go to <a href="http://StartEmmi.com" target="_blank">StartEmmi.com <i class='icon-forward'></i></a></p>
        <p><strong>2</strong> Enter access code <span class="access-code">{{scheduledPrograms[0].entity.accessCode}}</span></p>
        <p><strong>3</strong> Enter patient date of birth</p>
    </div>
</div>
    <h4>Instructions and articles can be printed in English or Spanish</h4>
    <div class="row" data-ng-include="'client-facing/schedule/instructions/print_buttons.html'" />    
</div>
