<header class="app-header client-header" data-emmi-navbar>
    <!-- Breadcrumb for transclusion -->
</header>
<div id="app-content" role="main" class="app-content container" data-ng-cloak>

  <div class="row">
    <div class="col-xs-12 clearfix">
      <a href back-button class="pull-left btn-back"><i class='icon-caret-left'></i> {{ patient.firstName + ' ' + patient.lastName }}</a>
      <a back-button class="pull-right btn btn-success">SCHEDULE NEW PROGRAM</a>
    </div>
  </div>

  <div class="layout-card confirmation-success">
    <h2>Success: {{scheduledPrograms.length}}
      <span data-ng-if="scheduledPrograms.length === 1">program has</span>
      <span data-ng-if="scheduledPrograms.length !== 1">programs have</span>
      been scheduled!
    </h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="confirmation-summary">Schedule Summary</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="layout-card">
        <div class="row" data-ng-include="'client-facing/schedule/instructions/programs.html'"></div>
      </div>
    </div>
  </div>

</div>
