<header class="app-header client-header" data-emmi-navbar>
    <!-- Breadcrumb for transclusion -->
</header>
<div id="app-content" role="main" class="app-content container" data-ng-cloak>
    
  <div class="layout-card">
    <div class="row">
      <h2>Success: {{scheduledPrograms.length}} 
        <span data-ng-if="scheduledPrograms.length === 1">program</span>
        <span data-ng-if="scheduledPrograms.length !== 1">programs</span> 
        have been scheduled!
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Scheduled Summary</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="layout-card">
        <div class="row" data-ng-include="'client-facing/schedule/instructions/programs.html'"></div>
      </div>
    </div>
  </div>

</div>
