<div class="col-md-12" data-ng-cloak>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
          <button class="btn btn-success" type="button"
              data-ng-disabled="false"
              data-ng-click="printInEnglish()">PRINT IN ENGLISH
          </button>
      </div>
      <div class="col-md-6">
          <button class="btn btn-success" type="button"
              data-ng-disabled="true"
              data-ng-click="todo()">PRINT IN SPANISH
          </button>
      </div>   
    </div>
  </div>
</div>