<div class="app-header with-breadcrumbs" data-emmi-navbar>
    <!-- Breadcrumb for transclusion -->
    <ol class="breadcrumb">
        <li><a href="#/providers?{{currentRouteQueryString}}">Search</a></li>
        <li class="active">{{providerResource.entity.firstName}} {{providerResource.entity.middleName}} {{providerResource.entity.lastName}}</li>
    </ol>
</div>
<div id="app-content" class="app-content container" data-ng-cloak>
	<div class="row">
		<div class="col-md-12">
            <div class="layout-card">
                <div class="row" data-ng-include="'admin-facing/partials/provider/editor/edit.html'"></div>
            </div>
        </div>
    </div><!-- .row -->
    <div class="row">
        <div class="col-md-12">
            <div class="layout-card">
	           <div class="row" data-ng-include="'admin-facing/partials/provider/client/current.html'"></div>
            </div>
        </div>
    </div><!-- .row -->
</div><!-- .container -->
<footer class="footer" data-ng-include="'admin-facing/partials/common/footer.tpl.html'"></footer>
