<div class="container" data-ng-cloak>
	<div class='row'>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<h2>
						<a href="#/">Emmi Manager</a> :&nbsp;<span
							data-bs-tooltip="'id: {{provider.id}}'" data-placement="right">{{provider.firstName}}
							{{provider.lastName}}</span>
					</h2>
				</div>
			</div>
			<div id="validation-container" data-ng-show="metadataForm.$invalid || !clientToEdit.salesForceAccount"></div>
			<div class="row" data-ng-hide="editMode"
				data-ng-include="'admin-facing/partials/provider/editor/view.html'"></div>

			<div class="row" data-ng-show="editMode"
				data-ng-include="'admin-facing/partials/provider/editor/edit.html'"></div>
		</div>
	</div>
	<hr>
	<div class="row"
		data-ng-include="'admin-facing/partials/provider/client/current.html'"></div>
	<hr>
</div>
