<form name="providerForm" class="form" novalidate data-unsaved-warning-form>
    <div class="col-md-12">
        <div id="validation-container" data-ng-show="providerForm.$invalid && providerFormSubmitted">
            <div class="alert alert-danger">
                Please correct the below information.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Provider Information</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group"
                    data-ng-class="{ 'has-error' : providerForm.providerFirstName.$invalid && providerFormSubmitted }">
                    <label class="control-label" for="providerFirstName">First
                        Name</label>
                    <div class="error-circle fa-exclamation-circle" role="alert"
                        data-ng-show="providerForm.providerFirstName.$error.required && providerFormSubmitted"
                        data-bs-tooltip data-placement="right" data-type="danger"
                        data-container="body" data-title="Required" aria-label="Required"></div>
                    <div class="error-circle fa-exclamation-circle" role="alert"
                        data-ng-show="providerForm.providerFirstName.$error.pattern && providerFormSubmitted"
                        data-bs-tooltip data-placement="right" data-type="danger"
                        data-container="body"
                        data-title="Please enter a valid first name" aria-label="Please enter a valid first name"></div>
                    <input class="form-control" id="providerFirstName"
                        data-ng-model="providerToEdit.firstName"
                        name="providerFirstName" type="text" maxlength="255" required
                        data-ng-pattern="providerNamePattern">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"
                    data-ng-class="{ 'has-error' : providerForm.providerMiddleName.$invalid && providerFormSubmitted }">
                    <label class="control-label" for="providerMiddleName">Middle
                        Name</label>
                    <div class="error-circle fa-exclamation-circle" role="alert"
                        data-ng-show="providerForm.providerMiddleName.$error.pattern && providerFormSubmitted"
                        data-bs-tooltip data-placement="right" data-type="danger"
                        data-container="body"
                        data-title="Please enter a valid middle name" aria-label="Please enter a valid middle name"></div>
                    <span class="field-note field-optional">optional</span>
                    <input class="form-control" id="providerMiddleName"
                        data-ng-model="providerToEdit.middleName"
                        name="providerMiddleName" type="text" maxlength="255"
                        data-ng-pattern="providerNamePattern">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"
                    data-ng-class="{ 'has-error' : providerForm.providerLastName.$invalid && providerFormSubmitted }">
                    <label class="control-label" for="providerLastName">Last
                        Name</label>
                    <div class="error-circle fa-exclamation-circle" role="alert"
                        data-ng-show="providerForm.providerLastName.$error.required && providerFormSubmitted"
                        data-bs-tooltip data-placement="right" data-type="danger"
                        data-container="body" data-title="Required" aria-label="Required"></div>
                    <div class="error-circle fa-exclamation-circle" role="alert"
                        data-ng-show="providerForm.providerLastName.$error.pattern && providerFormSubmitted"
                        data-bs-tooltip data-placement="right" data-type="danger"
                        data-container="body" data-title="Please enter a valid last name" aria-label="Please enter a valid last name"></div>
                    <input class="form-control" id="providerLastName"
                        data-ng-model="providerToEdit.lastName"
                        name="providerLastName" type="text" maxlength="255" required
                        data-ng-pattern="providerNamePattern">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group"
                      data-ng-class="{ 'has-error' : providerForm.specialty.$invalid && providerFormSubmitted }">
                     <label class="control-label" for="specialty">Primary Specialty</label>
                     <div class="error-circle fa-exclamation-circle" role="alert"
                          data-ng-show="providerForm.specialty.$error.pattern && providerFormSubmitted"
                          data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                          data-title="Please enter a specialty" aria-label="Please enter a specialty"></div>
                    <span class="field-note field-optional">optional</span>
                     <select class="form-control" id="specialty" data-ng-model="providerToEdit.specialty"
                             data-ng-options="specialty.name for specialty in specialties track by specialty.id | orderBy:'name'"
                             name="specialty"
                             data-ng-disabled="providerForm.specialty.$error.unique"
                             data-chosen data-disable-search="true" data-placeholder="Select...">
                         <option value="">Select...</option>
                     </select>
                 </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"
                    data-ng-class="{ 'has-error' : providerForm.email.$invalid && providerFormSubmitted }">
                    <label class="control-label" for="email">Email</label>
                    <div class="error-circle fa-exclamation-circle" role="alert"
                        data-ng-show="providerForm.email.$error.pattern && providerFormSubmitted"
                        data-bs-tooltip data-placement="right" data-type="danger"
                        data-container="body" data-title="Please enter a valid email" aria-label="Please enter a valid email"></div>
                    <span class="field-note field-optional">optional</span>
                    <input class="form-control"
                        data-ng-model="providerToEdit.email" name="email"
                           id="email"
                        type="text" maxlength="255"
                        data-ng-pattern="emailPattern" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>&nbsp;</label><!-- for spacing purposes -->
                    <div class="checkbox">
                        <input id="providerActive"
                            type="checkbox"
                            data-ng-model="providerToEdit.active" />
                        <label for="providerActive"> Active</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-ng-if="showCancelSave()">
            <div class="col-md-12">
                <div class="form-actions">
                    <div class="form-group">
                        <button class="btn btn-success" type="button"
                                data-ng-disabled="whenSaving"
                                data-provider-deactivate-warning><span>save</span></button>
                        <button class="btn btn-cancel"
                                type="button"
                                data-ng-disabled="whenSaving"
                                data-ng-click="cancel(providerForm)">cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
