<div class="app-header" data-emmi-navbar></div>
<div class="container" data-ng-cloak>
	<div class="row">
		<div class="col-md-12">
            <div class="layout-card">
                <div class="row" data-ng-include="'admin-facing/partials/provider/editor/edit.html'"></div>
            </div>
        </div>
    </div><!-- .row -->
    <div class="row">
        <div class="col-md-12">
            <div class="layout-card">
	           <div class="row" data-ng-include="'admin-facing/partials/provider/client/current.html'"></div>
            </div>
        </div>
    </div><!-- .row -->
</div><!-- .container -->
<footer class="footer" data-ng-include="'admin-facing/partials/common/footer.tpl.html'"></footer>
