<div class="container">
    <h1>
        <a href="#/">Emmi Manager</a>:&nbsp;
        <span data-ng-hide="client.id">New</span>
        <span data-ng-show="client.id">Edit</span> Client
    </h1>
    <form class="form">
        <h2>Client Information</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="">Name</label>
                    <input class="form-control" data-ng-model="client.name" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Client Type</label>
                    <select class="form-control" data-ng-model="client.type" data-ng-options="type for type in clientTypes">
                        <option value="">Select...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="region">Region</label>
                    <select class="form-control" id="region" data-ng-model="client.region" data-ng-options="region for region in clientRegions">
                        <option value="">Select...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Tier</label>
                    <select class="form-control" data-ng-model="client.tier" data-ng-options="tier for tier in clientTiers">
                        <option value="">Select...</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Contract Owner</label>
                    <select class="form-control" data-ng-model="client.contractOwner" data-ng-options="owner as owner.lastName for owner in contractOwners track by owner.id">
                        <option value="">Select...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Contract Start</label>
                    <input class="form-control" type="text" data-ng-model="client.contractStart" data-autoclose="true" data-dateType="iso" bs-datepicker>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Contract End</label>
                    <input class="form-control" type="text" data-ng-model="client.contractEnd" data-autoclose="true" data-dateType="string" bs-datepicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="client.active"/>
                        Active
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="">Salesforce Account</label>
                    <input class="form-control" type="text">
                </div>
            </div>
        </div>
        <hr>
        <h2>Team Tags</h2>
        <hr>
        <div class="actions pull-right">
            <a class="btn btn-link" href="#/clients">Cancel</a>
            <button class="btn btn-primary" type="button" data-ng-click="save()">Save</button>
        </div>
    </form>
</div>
