<h1><a href="#/">Emmi Manager</a>: Search</h1>
<h2>Manage Clients, Teams, Providers and Locations:</h2>
<a data-ng-href="#/clients/new">Create New Client</a>
<br/>
<form>
    <label for="query" data-translate="global.labels.search">Search</label>
    <input id="query" data-ng-model="query" type="text">
    <button data-ng-click="search()" data-translate="global.buttons.search">Go</button>
    <br>
</form>
<div><span data-translate="global.labels.total">Total</span>{{total}}</div>
<div>
    <label for="status_filter" data-translate="global.labels.statusFilter">Show</label>
    <select id="status_filter" data-ng-model="status" data-ng-options="status for status in statuses"
            data-ng-change="search()">
    </select>
</div>
<table border="1" data-ng-show="clients">
    <tr>
        <th>Name</th>
        <th>Salesforce Account</th>
        <th>Contract Owner</th>
        <th>Type</th>
        <th>Links</th>
    </tr>
    <tr data-ng-repeat="client in clients | orderBy:'entity.id'">
        <td>{{client.entity.name}}</td>
        <td>{{client.entity.salesForceAccount.name}}</td>
        <td>{{client.entity.contractOwner.firstName}} {{client.entity.contractOwner.lastName}}</td>
        <td>{{client.entity.type}}</td>
        <td>
            <div data-ng-repeat="link in client.link| filter:{rel: 'self'}">
                <a data-ng-href="#/clients" data-ng-click="selectClient(link.href)" data-translate="client.links.edit">Edit</a>
            </div>
        </td>
    </tr>
</table>
<div data-ng-hide="clients">
    <span>There are no clients found.</span>
</div>
<div data-ng-show="links">
    Page Size:
    <ul class="pagination page-size">
        <li data-ng-repeat="pageSize in pageSizes">
            <a data-ng-if="pageSize != currentPageSize" data-ng-href="#/clients"
               data-ng-click="changePageSize(load, pageSize)">{{pageSize}}</a>
            <span data-ng-if="pageSize === currentPageSize">[{{pageSize}}]</span>
        </li>
    </ul>
</div>
<div data-ng-show="links">
    Pagination:
    <ul class="pagination">
        <li data-ng-repeat="link in links | orderBy:'order'">
            <a data-ng-if="link.name != currentPage" data-ng-href="#/clients"
               data-ng-click="fetchPage(link.href)">{{link.name}}</a>
            <span data-ng-if="link.name == currentPage">[{{link.name}}]</span>
        </li>
    </ul>
</div>
