
<div data-ng-show="authenticationError" data-translate="login.messages.error.authentication">
    <strong>Authentication failed!</strong> Please check your credentials and try again.
</div>
<p>The 1 and only account for now is username="evan" and password ="emmi".</p>
<form name="loginForm" ng-submit="login(credentials)" novalidate>
    <label for="username">Username:</label><br>
    <input type="text" id="username" ng-model="credentials.username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" ng-model="credentials.password"><br>
    <button type="submit">Login</button>
</form>
