<div class="container">
    <h1>Emmi Manager 2.0</h1>
    <p>Welcome {{ currentUser.login }}</p>
    <div>
        <ul>
            <li><a data-ng-href="#/login">Login</a></li>
            <li><a data-ng-href="#/clients">Clients</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li><a href="#" data-ng-click="changeLanguage('en')" data-translate="global.language.en">English</a></li>
            <li><a href="#" data-ng-click="changeLanguage('de')" data-translate="global.language.de">German</a></li>
        </ul>
    </div>
    <!-- <ul>
        <li ng-repeat="awesomeThing in awesomeThings">{{awesomeThing}}</li>
    </ul> -->
</div>
