<form class="album-search">
    <typeahead class="typeahead" items="albums" term="term" search="searchAlbums(term)" select="selectAlbum(item)" placeholder="Start typing...">
        <div class="menu" ng-cloak>
            <ul>
                <li typeahead-item="album" ng-repeat="album in albums" class="results">
                    <img ng-src="{{imageSource(album)}}"><p class="name">{{album.name}}</p><p class="artist">{{album.artist}}</p>
                </li>
            </ul>
        </div>
    </typeahead>
</form>

<form class="chosen-example">
    <h2>Chosen with a promised hash: {{selectedAlbum | json}}</h2>
    <select
        chosen
        allow-single-deselect="true"
        data-placeholder="Choose Your Album"
        ng-model="selectedAlbum"
        ng-options="value.name for value in albumPool"
        style="width:200px;">
        <option value=""></option>
    </select>
</form>
