<div class="col-md-8">
    <div class="form-group has-feedback" data-ng-class="{ 'has-error' : formSubmitted && !clientToEdit.salesForceAccount }">
        <label class="control-label" for="salesForceAccount">Salesforce Account</label>
        <div class="error-circle glyphicon glyphicon-exclamation-sign" data-ng-show="!clientToEdit.salesForceAccount && formSubmitted"
             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
             data-title="Please enter an associated Salesforce account"></div>
        <div id="salesForceAccount" class="typeahead" data-id="salesForceAccount" data-emmi-typeahead data-items="sfResult.account" data-term="sfSearch.searchQuery" data-search="findAccount(term)" data-select="chooseAccount(item)" data-placeholder="Start typing..." data-focus="SfSearch" data-min-length="5">
            <div class="menu typeahead-menu dropdown-menu bottom-left container-fluid">
                <li class="header" data-ng-show="sfResult.account.length">
                    <div class="col-md-4 account-name">Account Name</div>
                    <div class="col-md-4 client-name">Client Name</div>
                    <div class="col-md-4 city-state">City/State</div>
                </li>
                <li data-emmi-typeahead-item="account" data-ng-repeat="account in sfResult.account" class="results" data-ng-class="!account.clientName ? 'selectable' : 'unselectable'">
                    <div class="col-md-4 account-name">{{account.name}}</div>
                    <div class="col-md-4 client-name">{{account.clientName}}&nbsp;</div>
                    <div class="col-md-4 city-state">{{account.city}}<span data-ng-show="account.city && account.state">,&nbsp;</span>{{account.state}}&nbsp;</div>
                </li>
                <li data-ng-show="hasMore()" class="footer">
                    <div class="col-md-12">Refine search for more results.</div>
                </li>
                <div data-ng-hide="sfResult.account.length">
                    <div class="col-md-12">No results found</div>
                </div>
            </div>
        </div>
    </div>
</div>
