

<form name="contentSubscriptionForm" class="form" data-ng-controller="ClientProgramContentConfigurationController" novalidate >

	<div class="row" data-ng-show="contentSubscriptionForm.$invalid">
              <div class="col-md-12" id="message-container"></div>
    </div>
<div data-ng-if="!loading" >
<div class="row">
		<div class="col-md-4">
         	 <label class="control-label" for="primaryContentList">CONTENT SUBSCRIPTION</label>
        </div>
        <div data-ng-if="!noneSelected && isEmmiEngagePlus" class="col-md-4" >
         	<label class="control-label" for="selectedSourceContentList">SOURCE</label>
                 <div class="error-circle fa-exclamation-circle" role="alert"
                 data-ng-show="(contentSubscriptionForm.sourceContentListHolder.$error.required ||
                               contentSubscriptionForm.selectedSourceContentList.$error.required)
                               && contentSubscriptionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Required" aria-label="Required">
                 </div>
        </div>
</div>


<div  data-ng-if="selectedContentList.length > 0">
	<div data-ng-include="'admin-facing/partials/configurations/program-content/content-subscription/add-content-subscription.html'"></div>
</div>


<div class="row" data-ng-if="latestPrimaryContentList.length > 0 && !initialAddAnotherContentSubscription">
         
           <div data-ng-if="showSelectList">  
           <div class="col-md-4">
           <div class="form-group">       
                <select class="form-control" id="latestPrimaryContentList" name="latestPrimaryContentList" class="form-control"
                    data-ng-options="latestPrimaryContentList.name for latestPrimaryContentList in latestPrimaryContentList track by latestPrimaryContentList.name"
                    data-ng-model="contentSubscriptionHolder.entity.contentSubscription"
                    data-ng-change="onChangePrimaryList(contentSubscriptionHolder)"
                    data-chosen data-disable-search="true" data-placeholder="Select...">   
                <option value="" title="latestPrimaryContentList">Select...</option>
                </select>   
            </div>         
           </div>
           </div>
           
           <div data-ng-if="noneSelected">
                <div class="col-md-4" >
				<div data-ng-include="'admin-facing/partials/configurations/program-content/program-inclusion/add/add-programs.html'"></div>
				</div>
		   </div>

           <div data-ng-if="!noneSelected">
           		<div  class="col-md-4" >
           	      <div class="form-group"> 
           			<div data-ng-if="contentSubscriptionHolder.entity.contentSubscription.name=='EmmiEngage+'">
                		<select class="form-control" id="sourceContentListHolder" name="sourceContentListHolder" 
                    	data-ng-options="sourceContentList.name for sourceContentList in sourceContentList track by sourceContentList.id"
                    	data-ng-model="sourceContentHolder.entity.contentSubscription"
                    	data-ng-change="onChangeSourceContent(sourceContentHolder)"
                    	required data-placeholder="Select...">
                		<option value="" title="sourceContentList" class="form-control">Select...</option>
                		</select>
                		
           			</div>
           			</div>
           		</div>
           		<div class="col-md-4">
           			<div data-ng-if="latestPrimaryContentList.length > 0 && addAnotherContentSubscription">
           			<span class="enumerate-value"><em>
           			<button  type="button" class="btn btn-link btn-link-nopad btn-heading" data-ng-click="addAnotherSubscription(contentSubscriptionHolder, sourceContentHolder)">
        				<i class="icon-plus"></i> ADD ANOTHER SUBSCRIPTION
    				</button>
    				</em>
    				</span>
    				</div>
           		</div>
         
    </div>      
          

</div>

<div data-ng-if="!noneSelected">
<div class="row" data-ng-if="faithBased">
<p/>
     	<div class="col-md-12">
     	
          <div class="checkbox">
               <input id="faithBased" type="checkbox"
                      data-ng-model="selectedContentSubscription.entity.faithBased"
                      data-ng-change="onChangeFaithBased(selectedContentSubscription.entity.faithBased)"/>
                <label for="faithBased">Apply faith-based filter for this client</label>
          </div>
    	
     	</div>
</div>

<div  data-ng-if="selectedContentList.length " >
<div class="row">
<p/>
     	<div class="col-md-12">
           		<button type="button" disabled="disabled" class="btn btn-link btn-link-nopad btn-heading" data-ng-click="viewAndEditSubscription()">
        			 VIEW & EDIT PROGRAMS
    			</button>
     	</div>
</div>
</div>
 <div class="row">
            <div class="col-md-12">
                <div class="form-actions">
                    <div class="form-group">
					<div data-ng-if="showContentButton">
                	<hr/>
                        <span class="pull-right">
                            <button class="btn btn-success" type="submit"
                                    data-ng-disabled="whenSaving"
                                    data-ng-click="save(contentSubscriptionForm)">Save
                            </button>
                        </span>
                        <span class="pull-right">
                            <a class="btn btn-cancel" data-ng-click="cancel(contentSubscriptionForm)">cancel</a>
                        </span>
                	</div>
                	</div>
                </div>
         </div>
 </div>
</div>
</div>
</form>



