<div class="col-md-12">
	<div class="row">
		<div class="col-md-6 pull-left">
			<h2>User Information</h2>
		</div>
		<div class="col-md-6">
			<div class="actions pull-right">
	            <div class="form-group">
					<button class="btn btn-link"  type="button" data-ng-click="edit()">edit</button>
                    <div class="pull-right">
                        <a class="btn btn-primary"
                           data-ng-href="#/users/new?{{currentRouteQueryString}}">Create New User</a>
                    </div>
	            </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span>Name: </span>
		</div>
		<div class="col-md-4">
			{{selectedUser.firstName}} {{selectedUser.lastName}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span>Email: </span>
		</div>
		<div class="col-md-4">{{selectedUser.email}}</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<span>User ID: </span>
		</div>
		<div class="col-md-4">{{selectedUser.login}}</div>
	</div>

	<div class="row">
		<div class="col-md-6 pull-left">
			<h2>Roles Information</h2>
		</div>
	</div>
	<div class="row" data-ng-repeat="role in selectedUser.roles">>
		<div class="col-md-4">
			<span>Role: </span>
		</div>
		<div class="col-md-4">
			{{role.userAdminRole.name}}
		</div>
	</div>	
</div>
