<div class="modal" tabindex="-1" role="dialog" data-ng-controller="LocationEditController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <h4 class="modal-title">Edit Location</h4>
            </div>
            <div class="modal-body">
                Form goes here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="$hide()">Save changes</button>
            </div>
        </div>
    </div>
</div>