<div class="app-header" data-emmi-navbar></div>
<div class="container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="layout-card">
                <h1>Client & Patient Search</h1>

                <form name="searchForm" novalidate>
                    <div class="row">
                        <div class="col-md-2">
                            <div data-ng-include="'admin-facing/support/search-options/search-options.html'"></div>
                        </div>
                        <div class="col-md-6 kill-grid-pad">
                            <div class="form-group">
                                <label class="sr-only" for="query">Search</label>

                                <div class="input-group has-input-icon has-input-icon-search">
                                    <input type="text" class="form-control" id="query" name="query"
                                           data-ng-model="query"
                                           placeholder="Search by name, phone, email, or Access Code" required
                                           data-auto-focus>
                                    <span class="input-icon"><i class="icon-search"></i></span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" data-ng-click="search()"
                                                data-ng-disabled="searchForm.query.$invalid || loading"
                                                data-translate="global.buttons.search">
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <span data-ng-class="{'search-spinner' : loading}"></span>
                        </div>
                    </div>
                </form>
                <hr class="search-divider" data-ng-if="searchPerformed"/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row table-search-filters" data-ng-show="patients">
                            <div class="col-md-12">
                                <div class="pull-right table-results-count" data-ng-hide="removeStatusFilterAndTotal">
                                    {{total}} <span data-ng-show="total != 1"
                                                    data-translate="global.labels.total"> results</span> <span
                                    data-ng-show="total === 1"
                                    data-translate="global.labels.totalSingular"> result</span>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-hover"
                               border="0" cellpadding="0" cellspacing="0" data-ng-show="patients">
                            <thead>
                            <tr>
                                <th class="sort col-sm-2" data-ng-click="sort('lastName')">Last Name
                                    <span data-ng-show="sortProperty.property === 'lastName'">
                                        <span class="sort-icon"
                                              data-ng-class="{'fa-angle-down': sortProperty.ascending,
                                              'fa-angle-up': !sortProperty.ascending}">

                                        </span>
                                    </span>
                                </th>
                                <th class="sort col-sm-2" data-ng-click="sort('firstName')">First Name
                                    <span data-ng-show="sortProperty.property === 'firstName'">
                                        <span class="sort-icon"
                                              data-ng-class="{'fa-angle-down': sortProperty.ascending,
                                              'fa-angle-up': !sortProperty.ascending}">
                                        </span>
                                    </span>
                                </th>
                                <th class="sort col-sm-2 text-center" data-ng-click="sort('dateOfBirth')">Date of Birth
                                    <span data-ng-show="sortProperty.property === 'dateOfBirth'">
                                        <span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending,
                                        'fa-angle-up': !sortProperty.ascending}">
                                        </span>
                                    </span>
                                </th>
                                <th class="col-sm-3 text-center">Most Recent <br/>Access Code/View-By Date</th>
                                <th class="sort col-sm-2" data-ng-click="sort('client.name')">Client
                                    <span data-ng-show="sortProperty.property === 'client.name'">
                                        <span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending,
                                        'fa-angle-up': !sortProperty.ascending}">
                                        </span>
                                    </span>
                                </th>
                                <th class="col-edit col-sm-1">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="patient in patients">
                                <td><span class="col-wrap">{{patient.entity.lastName}}</span></td>
                                <td><span class="col-wrap">{{patient.entity.firstName}}</span></td>
                                <td class="text-center"><span class="col-wrap">{{patient.entity.dateOfBirth | date:'MM/dd/yyyy'}}</span>
                                </td>
                                <td class="text-center">
                                    <span class="col-wrap ">
                                        {{patient.entity.scheduledProgram[0].accessCode}}
                                         &nbsp;
                                        <small style="color: #838D95"> {{patient.entity.scheduledProgram[0].viewByDate |
                                            date:'MM/dd/yyyy'}}
                                        </small>
                                        <a href
                                           data-ng-if="patient.entity.scheduledProgram[0]"
                                           data-ng-mouseover="showScheduledPrograms($event, patient)"
                                           data-ng-mouseout="hideScheduledPrograms(patient)" aria-label="Scheduled Programs">
                                            <i class="icon-info-circle"></i>
                                        </a>
                                    </span>
                                </td>
                                <td>{{patient.entity.client.name}}</td>
                                <td class="text-right">
                                    <a class="btn-link"
                                       href="#/support/patients/{{patient.entity.id}}?{{currentRouteQueryString}}" aria-label="View Patient"><i
                                        class="icon-compose icon-size-xl"></i></a>
                                </td>
                            </tr>
                            <tr class="pagination-row no-hover">
                                <td colspan="6" class="text-center" data-ng-show="links">
                                    <ul class="pagination">
                                        <li data-ng-repeat="link in links | orderBy:'order'" class="{{link.className}}"
                                            data-ng-class="{'active': link.name == currentPage}">
                                            <a data-ng-click="fetchPage(link.href)">
                                                <i aria-label="Previous" class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                                                {{link.name}}
                                                <i aria-label="Next" class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="table-no-results" data-ng-hide="patients || loading || !searchPerformed">
                            <span data-translate="global.messages.search.no_results_found"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" data-ng-include="'admin-facing/partials/common/footer.tpl.html'"></footer>
