<div id="app-content" role="main" class="app-content container" data-ng-cloak data-print-section>
    
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h1>SPANISH VERSION</h1>
      <h2>Information About Your Health (Presence Health)</h2>
      <h3>{{patient.firstName}} {{patient.lastName}}, you have Emmi® programs to view!</h3>
      <p>
        Your Healthcare Provider has prescribed an Emmi program for you. This program gives you accurate,
        easy to understand information about your health when you need it most. It will help answer many of
        the questions you have.
        You can view your program[s] on any device with Internet access. Most programs are available in
        English or Spanish. 
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h2>Your Programs</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="col-md-7 col-xs-7">
          <table class="table table-bordered table-striped table-hover" border="0" cellpadding="0" cellspacing="0">
              <thead>
                  <tr>
                      <th class="sort col-sm-3" data-ng-click="sort('lastName')">Programs
                          <span data-ng-show="sortProperty.property === 'lastName'"><span
                              class="sort-icon"
                              data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                      </th>
                      <th class="sort col-sm-3" data-ng-click="sort('dateOfBirth')">View-By Date
                          <span data-ng-show="sortProperty.property === 'dateOfBirth'"><span
                              class="sort-icon"
                              data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr
                      data-ng-repeat="program in scheduledPrograms | orderBy:'program.sortIdx'">
                      <td>
                        <span data-ng-if="program.entity.program.type.name === 'MULTIMEDIA PROGRAM'" class="program-list_item-icon icon-film" aria-label="Multimedia" title="Multimedia"></span>
                        <span data-ng-if="program.entity.program.type.name === 'ARTICLE'" class="program-list_item-icon icon-text-doc" aria-label="Article" title="Article"></span>
                        <span data-ng-if="program.entity.program.type.name === 'IVR CALL'" class="program-list_item-icon icon-telephone" aria-label="Call" title="Call"></span>
                        <span data-ng-if="program.entity.program.type.name === 'TRANSITION PROGRAM'" class="program-list_item-icon icon-telephone" aria-label="Transition Program" title="Transition Program"></span>
                        <span data-ng-if="program.entity.program.type.name === 'NAVIGATE'" class="program-list_item-icon icon-telephone" aria-label="Navigate" title="Navigate"></span>
                        <span data-ng-if="program.entity.program.type.name === 'MESSAGE'" class="program-list_item-icon icon-telephone" aria-label="Message" title="Message"></span>
                        {{program.entity.program.name}}
                      </td>
                      <td>{{program.entity.viewByDate | localDate:'MM/DD/YYYY' }}</td>
                  </tr>
                  <tr class="pagination-row no-hover">
                      <td colspan="2" class="text-center" data-ng-show="links">
                          <ul class="pagination">
                              <li data-ng-repeat="link in links | orderBy:'order'" class="{{link.className}}" data-ng-class="{'active': link.name == currentPage}">
                                  <a data-ng-click="fetchPage(link.href)">
                                      <i aria-label="Previous" class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                                      {{link.name}}
                                      <i aria-label="Next" class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
                                  </a>
                              </li>
                          </ul>
                      </td>
                  </tr>
              </tbody>
          </table>
          
          <div class="row" data-ng-if="providers.length > 0">
            <div class="col-md-12 col-xs-12">
              <h3>Providers: <span data-ng-repeat="provider in providers">{{provider.fullName}}<span data-ng-if="!$last">, </span></span></h3>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <h2>Questions About Your Health?</h2>
              <p>
                If you have a question about your health call your healthcare provider directly.
              </p>
            </div>
          </div>
      </div>
      <div class="col-md-5 col-xs-5">
          <div class="row">
              <div class="col-md-12 col-xs-12">
                  <h2>Viewing Instructions</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-xs-12">
                  <h3>Get Started Now!</h3>
              </div>
              <div class="col-md-12 col-xs-12">
                  1. Go to StartEmmi.com
                  <br/>
                  2. Enter access code {{scheduledPrograms[0].entity.accessCode}}
                  <br/>
                  3. Enter patient date of birth
              </div>
          </div>
          <br/>
          <div class="row">
              <div class="col-md-12 col-xs-12">
                  Please view by {{scheduledPrograms[0].entity.viewByDate}}
              </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <h2>Need Help Viewing?</h2>
              <p>
                Email
                <br>
                Support@EmmiSolutions.com
                <br>
                Call
                <br>
                866.294.3664
                <br>
                Visit
                <br>
                my-emmi.com/StartEmmi/help
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
