<div id="app-content" role="main" class="app-content container print-instructions" data-ng-cloak data-print-section>

  <div class="provider pull-right"><span class="placeholder">(Presence Health)</span></div>

  <h1>Information About Your Health</h1>

  <h2>{{patient.firstName}}, you have <span data-ng-if="scheduledPrograms.length === 1">an</span> Emmi<sup>&reg;</sup> program<span data-ng-if="scheduledPrograms.length !== 1">s</span> to view!</h2>

  <p>Your healthcare provider wants you to take a look at <span ng-pluralize count="scheduledPrograms.length" when="{'one': 'this', 'other': 'these'}"></span> interactive video<span data-ng-if="scheduledPrograms.length !== 1">s</span>. You'll get easy to understand information about your health and answers to a lot of your questions.</p>

  <p>You can view your interactive Emmi program<span data-ng-if="scheduledPrograms.length !== 1">s</span> on any device with internet access. Most programs are available in English and Spanish.</p>

  <div class="clearfix">

    <div class="right pull-right">
      <div class="instructions">

        <div class="instructions-header">

          <h3>Viewing Instructions</h3>

        </div>

        <div class="instructions-body">

          <h4>Get Started Now!</h4>

          <div class="steps">

            <div class="step clearfix">
              <span class="number">1</span>
              <div class="step-body">
                Go to <span class="href">StartEmmi.com</span>
              </div>
            </div>

            <div class="step clearfix">
              <span class="number">2</span>
              <div class="step-body">
                Enter access code
                <span class="access-code">{{scheduledPrograms[0].entity.accessCode}}</span>
              </div>
            </div>

            <div class="step clearfix">
              <span class="number">3</span>
              <div class="step-body">Enter patient's date of birth</div>
            </div>

          </div>

          <div class="view-by clearfix">
            <img src="images/calendar.png" class="pull-left">
            Please View By<br />{{scheduledPrograms[0].entity.viewByDate}}
          </div>

        </div>
      </div>
      <div class="help">
        <h3>Need Help Viewing?</h3>
        <p>Email<br /><strong>Support@EmmiSolutions.com</strong></p>
        <p>Call<br /><strong>866.294.3664</strong></p>
      </div>
    </div>

    <div class="programs">

      <h3>Your Program<span data-ng-if="scheduledPrograms.length !== 1">s</span></h3>

      <ul>
        <li data-ng-repeat="program in scheduledPrograms | orderBy:'program.sortIdx' | limitTo:limit">
          <span data-ng-if="program.entity.program.type.name === 'MULTIMEDIA PROGRAM'" class="program-list_item-icon icon-film" aria-label="Multimedia" title="Multimedia"></span>
          <span data-ng-if="program.entity.program.type.name === 'ARTICLE'" class="program-list_item-icon icon-text-doc" aria-label="Article" title="Article"></span>
          <span data-ng-if="program.entity.program.type.name === 'IVR CALL'" class="program-list_item-icon icon-telephone" aria-label="Call" title="Call"></span>
          <span data-ng-if="program.entity.program.type.name === 'TRANSITION PROGRAM'" class="program-list_item-icon icon-telephone" aria-label="Transition Program" title="Transition Program"></span>
          <span data-ng-if="program.entity.program.type.name === 'NAVIGATE'" class="program-list_item-icon icon-telephone" aria-label="Navigate" title="Navigate"></span>
          <span data-ng-if="program.entity.program.type.name === 'MESSAGE'" class="program-list_item-icon icon-telephone" aria-label="Message" title="Message"></span>
          <span class="program-name">{{program.entity.program.name}}</span>
        </li>
        <li data-ng-if="scheduledPrograms.length > limit"><span class="program-list_item-icon icon-plus" aria-label="More Programs" title="More Programs"></span><span class="program-name"><em>And {{ scheduledPrograms.length - limit }} more program<span data-ng-if="scheduledPrograms.length - limit !== 1">s</span></em></span></li>
      </ul>

      <p class="providers">Providers: <span data-ng-repeat="provider in providers">{{provider.fullName}}<span data-ng-if="!$last">, </span></span></p>

      <h3>Questions About Your Health?</h3>
      <p>Call your healthcare provider directly if you have questions about your health.</p>

    </div>

  </div>

  <div class="fixed-footer">
    <img src="images/emmi_logo_no_tagline.png" width="95.6" height="27.5">
    <p>&copy;{{ year }} Emmi Solutions, LLC. All rights reserved. Emmi is a trademark of Emmi Solutions, LLC.</p>
  </div>

</div>
