<div id="app-content" role="main" class="app-content container print-instructions" data-ng-cloak data-print-section>

  <div class="provider pull-right"></div>

  <h1>Informaci&oacute;n Sobre Su Salud</h1>

  <h2>&iexcl;{{patient.firstName}}, tiene <span data-ng-if="scheduledPrograms.length === 1">un</span> <span ng-pluralize count="scheduledPrograms.length" when="{'one': 'programa', 'other': 'programas'}"></span> Emmi<sup>&reg;</sup> para ver!</h2>

  <p>A Su proveedor de atenci&oacute;n m&eacute;dica le gustar&iacute;a que usted le de un vistazo a <span ng-pluralize count="scheduledPrograms.length" when="{'one': 'este video', 'other': 'estos videos'}"></span> interactivos. Recibir&aacute; informaci&oacute;n f&aacute;cil de entender sobre su salud and responder&aacute; muchas de sus preguntas.</p>

  <p>Usted puede ver sus programas Emmi interactivos en cualquier dispositivo que tenga acceso al internet. La mayor&iacute;a de los programas est&aacute;n disponibles en Ingles y Espa&ntilde;ol.</p>

  <div class="clearfix">

    <div class="right pull-right">

      <div class="instructions">

        <div class="instructions-header">

          <h3>Ver Instrucciones</h3>

        </div>

        <div class="instructions-body">

          <h4>&iexcl;Comience Ahora!</h4>

          <div class="steps">

            <div class="step clearfix">
              <span class="number">1</span>
              <div class="step-body">
                Vaya a <span class="href">StartEmmi.com</span>
              </div>
            </div>

            <div class="step clearfix">
              <span class="number">2</span>
              <div class="step-body">
                Ingrese el c&oacute;digo de acceso
                <span class="access-code">{{ lastToExpireAccessCode }}</span>
              </div>
            </div>

            <div class="step clearfix">
              <span class="number">3</span>
              <div class="step-body">Ingrese la fecha de nacimiento <br />del paciente</div>
            </div>

          </div>

          <div class="view-by clearfix">
            <img src="images/calendar.png" class="pull-left">
            Por favor v&eacute;alo antes del<br />{{ firstToExpireDate }}
          </div>

        </div>
      </div>

      <div class="help">
        <h3>&iquest;Necesita Ayuda Para Verlo?</h3>
        <p>Correo electr&oacute;nico<br /><strong>Support@EmmiSolutions.com</strong></p>
        <p>Comun&iacute;quese al<br /><strong>866.294.3664</strong></p>
      </div>

    </div>

    <div class="programs">
      <h3>Su <span ng-pluralize count="scheduledPrograms.length" when="{'one': 'Programa', 'other': 'Programas'}"></span></h3>
      <ul>
        <li data-ng-repeat="program in scheduledPrograms | orderBy:'program.sortIdx' | limitTo:limit">
          <span data-ng-if="program.entity.program.type.name === 'MULTIMEDIA PROGRAM'" class="program-list_item-icon icon-film" aria-label="Multimedia" title="Multimedia"></span>
          <span data-ng-if="program.entity.program.type.name === 'ARTICLE'" class="program-list_item-icon icon-text-doc" aria-label="Article" title="Article"></span>
          <span data-ng-if="program.entity.program.type.name === 'IVR CALL'" class="program-list_item-icon icon-telephone" aria-label="Call" title="Call"></span>
          <span data-ng-if="program.entity.program.type.name === 'TRANSITION PROGRAM'" class="program-list_item-icon icon-telephone" aria-label="Transition Program" title="Transition Program"></span>
          <span data-ng-if="program.entity.program.type.name === 'NAVIGATE'" class="program-list_item-icon icon-telephone" aria-label="Navigate" title="Navigate"></span>
          <span data-ng-if="program.entity.program.type.name === 'MESSAGE'" class="program-list_item-icon icon-telephone" aria-label="Message" title="Message"></span>
          <span class="program-name">{{program.entity.program.name}}</span>
        </li>
        <li data-ng-if="scheduledPrograms.length > limit"><span class="program-list_item-icon icon-plus" aria-label="More Programs" title="More Programs"></span><span class="program-name"><em>Y {{ scheduledPrograms.length - limit }} <span ng-pluralize count="scheduledPrograms.length" when="{'one': 'programa', 'other': 'programas'}"></span> m&aacute;s</em></span></li>
      </ul>
      
      <p class="providers"><span ng-pluralize count="providers.length" when="{'one': 'Proveedor', 'other': 'Proveedors'}"></span>: <span data-ng-repeat="provider in providers">{{provider}}<span data-ng-if="!$last">, </span></span></p>

      <h3>&iquest;Preguntas Sobre Su Salud?</h3>
      <p>Comun&iacute;quese directamente con su proveedor de atenci&oacute;n m&eacute;dica si tiene alguna pregunta sobre su salud.</p>

    </div>

  </div>

  <div class="fixed-footer">
    <img src="images/emmi_logo_no_tagline.png" width="95.6" height="27.5">
    <p class="es">&copy;{{ year }} Emmi Solutions, LLC. Todos los derechos reservados. Emmi es una marca registrada de Emmi Solutions, LLC.</p>
  </div>

</div>
