<div class="col-md-12" data-ng-controller="ProviderClientController">
	<h2>Clients</h2>
	<table class="table table-bordered table-striped table-hover"
		border="0" cellpadding="0" cellspacing="0"
		data-ng-show="clientProviders">
        <thead>
		<tr>
			<th>Name</th>
			<th>Salesforce Account</th>
			<th>Contract Owner</th>
			<th>Type</th>
			<th>&nbsp;</th>
		</tr>
        </thead>
        <tbody>
		<tr data-ng-repeat="clientProvider in clientProviders">
			<td class="col-sm-4">{{clientProvider.client.entity.name}}</td>
			<td>{{clientProvider.client.entity.salesForceAccount.name}}</td>
			<td>{{clientProvider.client.entity.contractOwner.firstName}}
				{{clientProvider.client.entity.contractOwner.lastName}}</td>
			<td>{{clientProvider.client.entity.type.typeKey | translate}}</td>
			<td><a
				href="#/clients/{{clientProvider.client.entity.id}}?{{currentRouteQueryString}}">view</a>
			</td>
		</tr>
        <tr class="pagination-row no-hover">
            <td colspan="5" class="text-center" data-ng-show="links">
                <ul class="pagination">
                    <li data-ng-repeat="link in links | orderBy:'order'"
                        class="{{link.className}}" data-ng-class="{'active': link.name == currentPage}">
                            <a data-ng-click="fetchPage(link.href)">
                                <i aria-label="Previous" class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                                {{link.name}}
                                <i aria-label="Next" class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
                            </a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
	</table>
	<div class="table-no-results" data-ng-hide="clientProviders">
		<span>This provider is not associated to any clients.</span>
	</div>
</div>
