<div class="row">
    <div class="col-md-6 pull-left">
        <h1>
            <span>Patient Information</span>
        </h1>
    </div>
    <div class="col-md-6">
        <div class="actions pull-right">
            <button data-ng-click="startSalesforceCase()"
                    data-ng-show="scheduledProgramsLoaded"
                    data-ng-controller="PatientSupportViewSalesforceController"
                    class="btn btn-link btn-link-nopad btn-heading btn-heading-h1">
                <i class="icon-flag"></i> Log Salesforce Case
            </button>
        </div>
    </div>
</div>
<form name="editPatientForm" class="form" novalidate data-unsaved-warning-form>
    <div id="alerts-container" data-ng-show="formSubmitted && editPatientForm.$invalid"></div>
    <div class="row entity-info">
        <div class="col-md-4">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : editPatientForm.firstName.$invalid && formSubmitted}">
                <label class="control-label" for="firstName">First Name</label>

                <div class="error-circle fa-exclamation-circle" role="alert"
                     data-ng-show="editPatientForm.firstName.$error.required && formSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Required" aria-label="Required"></div>
                <div class="error-circle fa-exclamation-circle" role="alert"
                     data-ng-show="editPatientForm.firstName.$error.pattern && formSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Please enter a valid first name"
                     aria-label="Please enter a valid first name"></div>
                <input class="form-control" data-ng-model="patientResource.entity.firstName"
                       id="firstName" name="firstName"
                       type="text" required
                       data-auto-focus data-ng-pattern="/^[[A-Za-z '-.]*$/" data-animation="am-flip-x"
                       data-focus-on="firstName">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : editPatientForm.lastName.$invalid && formSubmitted}">
                <label class="control-label" for="lastName">Last Name</label>

                <div class="error-circle fa-exclamation-circle" role="alert"
                     data-ng-show="editPatientForm.lastName.$error.required && formSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Required" aria-label="Required"></div>
                <div class="error-circle fa-exclamation-circle" role="alert"
                     data-ng-show="editPatientForm.lastName.$error.pattern && formSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Please enter a valid last name"
                     aria-label="Please enter a valid last name"></div>
                <input class="form-control" data-ng-model="patientResource.entity.lastName"
                       id="lastName" name="lastName"
                       type="text" required
                       data-ng-pattern="/^[[A-Za-z '-.]*$/"
                       data-animation="am-flip-x">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : editPatientForm.dateOfBirth.$invalid && formSubmitted }">
                <label class="control-label" for="dateOfBirth">Date of Birth</label>

                <div class="error-circle fa-exclamation-circle" role="alert"
                     data-ng-show="editPatientForm.dateOfBirth.$error.required &&
                                      !editPatientForm.dateOfBirth.$error.date && formSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Required" aria-label="Required"></div>
                <div class="error-circle fa-exclamation-circle" role="alert"
                     data-ng-show="editPatientForm.dateOfBirth.$error.date &&
                                      !editPatientForm.dateOfBirth.$error.min && formSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Dates must be in the format MM/DD/YYYY"
                     aria-label="Dates must be in the format MM/DD/YYYY"></div>
                <div class="error-circle fa-exclamation-circle" role="alert"
                     data-ng-show="editPatientForm.dateOfBirth.$error.date &&
                                       editPatientForm.dateOfBirth.$error.min && formSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Please select a valid date of birth"
                     aria-label="Please select a valid date of birth"></div>
                <input id="dateOfBirth" class="form-control" type="text" name="dateOfBirth"
                       data-ng-model="patientResource.entity.dateOfBirth" data-autoclose="true"
                       data-dateType="iso" data-bs-datepicker data-max-date="today"
                       data-min-date="{{minDate}}" data-date-format="MM/dd/yyyy" placeholder="MM/DD/YYYY"
                       required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : formSubmitted && editPatientForm.phone.$invalid}">
                <label class="control-label" for="phone">Phone</label>

                <div data-ng-show="isPhoneRequired">
                    <div class="error-circle fa-exclamation-circle" role="alert"
                         data-ng-show="editPatientForm.phone.$error.required && formSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required" aria-label="Required"></div>
                </div>
                <div class="error-circle fa-exclamation-circle" role="alert"
                     data-ng-show="editPatientForm.phone.$error.pattern && formSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Please enter a valid phone number"
                     aria-label="Please enter a valid phone number"></div>
                <div class="has-input-icon has-input-icon-telephone">
                    <input class="form-control" data-ng-model="patientResource.entity.phone"
                           id="phone" name="phone" type="text"
                           maxlength="12" data-input-mask="999-999-9999" placeholder="XXX-XXX-XXXX"
                           data-ng-pattern="/[2-9][0-9][0-9]-[2-9][0-9][0-9]-[0-9][0-9][0-9][0-9]/"
                           data-ng-required="isPhoneRequired" data-focus-on="phone"
                           data-input-icon>
                    <span class="input-icon"><i class="icon-telephone"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : formSubmitted && editPatientForm.email.$invalid}">
                <label class="control-label" for="email">Email</label>

                <div data-ng-show="isEmailRequired">
                    <div class="error-circle fa-exclamation-circle" role="alert"
                         data-ng-show="editPatientForm.email.$error.required && formSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required" aria-label="Required"></div>
                </div>
                <div class="error-circle fa-exclamation-circle" role="alert"
                     data-ng-show="editPatientForm.email.$error.pattern && formSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Please enter a valid email"
                     aria-label="Please enter a valid email"></div>
                <input class="form-control" id="email" data-ng-model="patientResource.entity.email"
                       name="email" type="text"
                       maxlength="255" data-focus-on="email"
                       data-ng-pattern="emailPattern" data-ng-required="isEmailRequired"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" for="optOutPreference">Opt Out Preferences</label>
                <select class="form-control" id="optOutPreference"
                        data-ng-model="patientResource.entity.optOutPreference"
                        data-ng-options="optOutPreference.typeKey | translate for optOutPreference in optOutPreferences track by optOutPreference.id"
                        name="optOutPreference" data-chosen data-disable-search="true"
                        data-placeholder="Select...">
                    <option value="">Select...</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row" data-ng-show="isPatientChanged(editPatientForm)">
        <div class="col-md-8">
            <div class="actions pull-left">
                <div class="form-group">
                    <button class="btn btn-success" type="button"
                            data-ng-disabled="saving"
                            data-ng-click="save(editPatientForm)">
                        <span>Save</span>
                    </button>
                    <button class="btn btn-cancel" type="button"
                            data-ng-disabled="saving"
                            data-ng-click="cancel()">
                        <span>cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
