<div class="col-md-12" data-ng-controller="ClientTagsController">
    <h2>
        Tags
        <div class="error-circle glyphicon glyphicon-exclamation-sign"
             data-ng-show="clientForm.clientTagGroups.$error.empty && formSubmitted"
             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
             data-title="Tag groups must contain at least one tag"></div>
    </h2>
    <span data-tag-groups data-ng-model="client.tagGroups" data-library-groups="tagLibraryMap"
          data-name="clientTagGroups" data-form-field="clientForm.clientTagGroups"
          data-tagging-mode="tagInputMode">
    </span>
    <span data-ng-hide="tagInputMode || clientForm.clientTagGroups.$error.unique || clientForm.clientTagGroups.$error.blankTitle">
        <small>&nbsp;&nbsp;&nbsp;or</small>
        <button class="btn btn-link btn-tag-library" type="button" title="Select groups to add:"
                data-placement="top" data-content-template="partials/client/tags/tag_library.html"
                data-trigger="click" data-bs-popover data-popover-dismiss>Add from Library
        </button>
    </span>
    <div class="actions pull-right">
        <div class="form-group">
            <button class="btn btn-primary" type="button"
                    data-ng-click="saveTagsAndLocations(clientForm.$valid)"
                    data-ng-disabled="clientForm.clientName.$error.unique || clientForm.clientTagGroups.$error.unique">
                <span>Save Tags</span>
            </button>
        </div>
    </div>
</div>
