<div class="col-md-12" data-ng-controller="ClientTagsController">
	<div class="row">
		<div class="col-md-12">
			<h2>Groups/Tags</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-striped table-hover"
				border="0" cellpadding="0" cellspacing="0"
				data-ng-show="client.tagGroups.length > 0">
				<tr>
					<th>Group</th>
					<th>Tags</th>
				</tr>
				<tr data-ng-repeat="tagGroup in client.tagGroups">
					<td>{{tagGroup.name}}</td>
					<td>
						<ul class="tags-view" data-ng-show="tagGroup.tags.length > 0">
							<li class="tags-detail" data-ng-repeat="tag in tagGroup.tags">{{tag.text}}</li>
						</ul>
						<span data-ng-hide="tagGroup.tags.length > 0"><em>no active tags</em></span>
					</td>

				</tr>
			</table>
			<div data-ng-hide="client.tagGroups.length > 0">no active groups or tags</div>
		</div>
	</div>
</div>

