
<form style="width: 15em">
    <div>The following tags are in use and will be removed from teams:</div>
    <br>
    <table border="0" cellpadding="1px" cellspacing="0">
        <tr style="font-size: 14px" data-ng-repeat="teamTag in conflictingTeamTags">
            <td class=".col-md-7">{{teamTag.tag}}: </td>
            <td ng-if="teamTag.numberOfTeams == 1 " class=".col-md-5">{{teamTag.numberOfTeams}} team</td>
            <td ng-if="teamTag.numberOfTeams > 1 " class=".col-md-5">{{teamTag.numberOfTeams}} teams</td>
        </tr>
    </table>
    <br>
    <div class="form-actions">
        <button class="btn btn-primary" type="button" data-ng-click="cancelConflictingTeamsPopover()"
                data-translate="">No
        </button>
        <button class="btn btn-danger" data-ng-click="overrideConflictingTeamTags(clientForm.$valid)"
                data-translate="">Yes
        </button>
    </div>

</form>
