<div class="col-md-12" data-ng-cloak data-ng-controller="ClientTeamEmailConfigurationCtrl">
    <form name="clientTeamEmailConfigurationForm" class="form"  novalidate>
       	<h1>Email Reminders</h1>
        <div class="form-group">
            <div class="checkbox" data-ng-repeat="emailConfiguration in emailConfigs | orderBy:'entity.rank'" >
                <input type="checkbox" id="emailConfiguration{{$index}}"
                  data-ng-model="emailConfiguration.entity.emailConfig"
                  data-ng-change="onChange(emailConfiguration)" />
                <label for="emailConfiguration{{$index}}">{{emailConfiguration.entity.type | translate }}</label>
            </div>
        </div>
        <div class="pull-right" data-ng-show="showEmailButton">
            <div class="form-group">
                <button class="btn btn-cancel" type="button"
                    data-ng-disabled="whenSaving"
                    data-ng-click="cancel()">
                    <span>cancel</span>
                </button>
                <button class="btn btn-success" type="button"
                    data-ng-disabled="whenSaving"
                    data-ng-click="saveOrUpdateEmailConfig(clientTeamEmailConfigurationForm.$valid)">
                    <span>Save</span>
                </button>
            </div>
        </div>
    </form>
</div>
