<hr />
<h2>Send Reminder Emails:</h2>
<div class="checkbox">
    <input id="reminderTwoDays" type="checkbox"
           data-ng-model="emailConfigs.entity.reminderTwoDays"
           data-ng-change="setShowButton()" />
    <label for="reminderTwoDays">2 days before view-by-date</label>
</div>
<div class="checkbox">
    <input id="reminderFourDays" type="checkbox"
           data-ng-model="emailConfigs.entity.reminderFourDays"
           data-ng-change="setShowButton()" />
    <label for="reminderFourDays">4 days before view-by-date</label>
</div>
<div class="checkbox">
    <input id="reminderSixDays" type="checkbox"
           data-ng-model="emailConfigs.entity.reminderSixDays"
           data-ng-change="setShowButton()" />
    <label for="reminderSixDays">6 days before view-by-date</label>
</div>
<div class="checkbox">
    <input id="reminderEightDays" type="checkbox"
           data-ng-model="emailConfigs.entity.reminderEightDays"
           data-ng-change="setShowButton()" />
    <label for="reminderEightDays">8 days before view-by-date</label>
</div>
<div class="checkbox checkbox-separate">
    <input id="reminderArticles" type="checkbox"
           data-ng-model="emailConfigs.entity.reminderArticles"
           data-ng-change="setShowButton()" />
    <label for="reminderArticles">Send reminder emails for articles</label>
</div>
