<div class="col-md-12" data-ng-cloak>
    <form name="clientTeamEmailConfigurationForm" class="form" novalidate>
        <h1>Email Reminders</h1>
        <div class="form-group">
            <div class="checkbox">
                <input type="checkbox" id="collectEmail"
                    data-ng-model="emailConfigs.entity.collectEmail"
                    data-ng-change="onChangeCollect()" />
                <label for="collectEmail">Collect Email</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="requireEmail"
                    data-ng-model="emailConfigs.entity.requireEmail"
                    data-ng-change="onChangeRequire()" />
                <label for="requireEmail">Require Email</label>
            </div>
        </div>
        <div class="form-group" data-ng-show="showEmailReminders" data-ng-include="'admin-facing/partials/team/configuration/email/email-reminders.html'"></div>
        <div class="pull-right" data-ng-show="showEmailButton">
            <button class="btn btn-cancel" type="button"
                data-ng-disabled="whenSaving"
                data-ng-click="cancel()">
                <span>cancel</span>
            </button>
            <button class="btn btn-success" type="button"
                data-ng-disabled="whenSaving"
                data-ng-click="saveOrUpdateEmailConfig(clientTeamEmailConfigurationForm.$valid)">
                <span>Save</span>
            </button>
        </div>
    </form>
</div>
