@charset "UTF-8";

/*doc
---
title: Program List
name: a-program-list
category: 2. Components - Scheduling
---

```html_example
<div class="program-list">
  <h2 class="program-list_title">Search Results</h2>
  <div class="program-list_wrapper">
    <ul>
        <li>
            <div class="checkbox">
                <input type="checkbox" id="optionsCheckbox1" value="">
                <label for="optionsCheckbox1">
                  <span class="program-list_item-icon icon-film" aria-label="Multimedia"></span>
                  <span class="program-list_item-text">Option one</span>
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <input type="checkbox" id="optionsCheckbox2" value="">
                <label for="optionsCheckbox2">
                  <span class="program-list_item-icon icon-film" aria-label="Multimedia"></span>
                  <span class="program-list_item-text">Option two</span>
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <input type="checkbox" id="optionsCheckbox3" value="">
                <label for="optionsCheckbox3">
                  <span class="program-list_item-icon icon-film" aria-label="Multimedia"></span>
                  <span class="program-list_item-text">Option three is so long that it should go two lines Option three is so long that it should go two lines Option three is so long that it should go two lines</span>
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <input type="checkbox" id="optionsCheckbox4" value="">
                <label for="optionsCheckbox4">
                  <span class="program-list_item-icon icon-film" aria-label="Multimedia"></span>
                  <span class="program-list_item-text">Option four</span>
                </label>
            </div>
        </li>
        <li class="added">
            <div class="checkbox">
                <input type="checkbox" id="optionsCheckbox5" value="" checked>
                <label for="optionsCheckbox5">
                  <span class="program-list_item-icon icon-film" aria-label="Multimedia"></span>
                  <span class="program-list_item-text">Option five added</span>
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <input type="checkbox" id="optionsCheckbox6" value="">
                <label for="optionsCheckbox6">
                  <span class="program-list_item-icon icon-film" aria-label="Multimedia"></span>
                  <span class="program-list_item-text">Option six</span>
                </label>
            </div>
        </li>
    </ul>
  </div>
</div>
```

*/
