<div class="col-md-12" data-ng-show="passwordIsValidated" >

    <div class="row">
        <div class="col-md-12">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : editEmailFormSubmitted && editEmailForm.email.$invalid}">
                <label class="control-label" for="email">Email:</label>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="editEmailForm.email.$error.required && editEmailFormSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Required."></div>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="editEmailForm.email.$error.pattern && editEmailFormSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Please enter a valid email."></div>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="editEmailForm.email.$error.unique && editEmailFormSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="This email address is being used by another account."></div>
                <input class="form-control" id="email" data-ng-model="userClient.email"
                       name="email" type="text" data-ng-required="userClient.useEmail"
                       maxlength="255" data-focus-on="email"
                       data-ng-pattern="emailPattern" data-ng-change="resetValidity()" />
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4" data-ng-hide="userClient.useEmail">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : editEmailForm.login.$invalid && editEmailFormSubmitted && !userClient.useEmail}">
                <label class="control-label" for="userId">User ID:</label>

                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="editEmailForm.login.$error.required && editEmailFormSubmitted && !userClient.useEmail"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Required"></div>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="editEmailForm.login.$error.unique && editEmailFormSubmitted && !userClient.useEmail"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="This User ID is being used by another account."></div>
                <div data-ng-hide="userClient.useEmail">
                <input class="form-control" id="userId" data-ng-model="userClient.login"
                       name="login" type="text" data-ng-required="!userClient.useEmail"
                       maxlength="255" data-popover-save-error data-save-error="loginError"
                       data-ng-change="resetValidity()" data-focus-on="login"/>
                </div>
            </div>
        </div>
        <div class="col-md-8" data-ng-show="userClient.useEmail">
            <label class="control-label" for="useEmail">User ID:</label>
            <div class="checkbox">
                <input id="useEmail" type="checkbox" checked data-ng-model="userClient.useEmail"
                       data-ng-change="useEmailChange()"/>
                <label for="useEmail">
                    &nbsp;&nbsp;Use Email
                </label>
            </div>
        </div>
        <div class="col-md-4 pull-left" data-ng-hide="userClient.useEmail">
            <label class="control-label" for="useEmail">&nbsp;</label>
            <div class="checkbox">
                <input id="useEmailChecked" type="checkbox" checked data-ng-model="userClient.useEmail"
                       data-ng-change="useEmailChange()"/>
                <label for="useEmailChecked">
                    &nbsp;&nbsp;Use Email
                </label>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button type="button" class="btn btn-link" data-ng-click="resetEditEmailForm()">cancel</button>
                <button class="btn btn-default" data-ng-click="updateEmail(userClient, editEmailForm)">Save</button>
            </div>
        </div>
    </div>
</div>

