<div class="modal" tabindex="-1" role="dialog" >
<div class="modal-dialog modal-dialog-medium container-fluid">
    <form name="passwordValidationForm" class="form"  novalidate>
    <div class="modal-content">
        <div>
            <h4 class="modal-title" align="center">To continue, please enter your password:</h4>
        </div>

    	<div class="modal-header" data-ng-show="title">
            <h4 class="modal-title">Password</h4>
        </div>

        <div class="modal-body">
            <div class="row" data-ng-show="passwordValidationFormSubmitted && passwordValidationForm.$invalid">
                <div class="col-md-12" id="message-container"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : passwordValidationFormSubmitted && passwordValidationForm.$invalid}">
                        <label class="control-label" for="password">Password:</label>
                        <div class="error-circle fa-exclamation-circle"
                             data-ng-show="passwordValidationForm.password.$error.required && passwordValidationFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                       <input class="form-control" id="password" data-ng-model="password" name="password"
                               type="password" maxlength="255" required  autocomplete="off"
                               data-auto-focus data-ng-change="resetPasswordFormValidity(passwordValidationForm)"
                               >
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
             <button type="button" class="btn btn-link" data-ng-click="cancelPasswordValidation()">cancel</button>
             <button type="submit" class="btn btn-primary" data-ng-click="verifyPassword(passwordValidationForm, password)">Submit
             </button>
        </div>
    </div>

</form>
</div>
</div>
