<div class="container" data-ng-cloak>
	<div class="col-md-12" data-ng-switch="authenticated">
        <div class="row">
            <div class="col-md-6 pull-left">
                <h2>{{editMode || emailEditMode ? 'Edit Profile' : 'View Profile'}}</h2>
            </div>
        </div>
        
        <form name="userClientForm" class="form" novalidate unsaved-warning-form>
            <div data-ng-switch="editMode" data-ng-controller="ProfileEditNameCtrl" >
                <div class="row" data-ng-switch-default>
                    <div class="col-md-12" >
                        <div class="row" >
                            <div class="col-md-1">
                               Name:
                            </div>
                            <div class="col-md-2">
                                {{userClient.firstName}} {{userClient.lastName}}
                            </div>
                            <div class="col-md-2">
                                <a data-ng-click="edit()">EDIT</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-switch-when="true">
                    <div data-ng-include="'client-facing/profile/edit-name.html'"></div>
                </div>
            </div>
        </form>

        <form name="editEmailForm" class="form" data-ng-controller="ProfileEditEmailCtrl" novalidate unsaved-warning-form>
            <div data-ng-switch="emailEditMode">
                <div class="row" data-ng-switch-default>
                    <div class="col-md-12" >
                        <div class="row">
                            <div class="col-md-1">
                                Email:
                            </div>
                            <div class="col-md-2">
                                {{userClient.email}}
                            </div>
                            <div class="col-md-2">
                                <a data-ng-click="editEmail()"> {{ userClient.email ? 'EDIT EMAIL' : 'ADD AN EMAIL ADDRESS' }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" >
                        <div class="row">
                            <div class="col-md-1">
                                User ID:
                            </div>
                            <div class="col-md-2">
                                {{userClient.login}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-switch-when="true">
                    <div data-ng-include="'client-facing/profile/edit-email.html'"></div>
                </div>
            </div>
        </form>
        <br/>
        
        <div class="row">
            <div class="col-md-6">
                <span data-ng-controller="PreChangePasswordController"><a href='' data-ng-click="allowAnotherPasswordChange()">Change password</a></a></span>
            </div>
        </div>
    </div>
</div>
