<div class="modal modal-confirm-exit" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="unsavedFormCancel();$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body" ng-bind="content"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-ng-click="unsavedFormCancel();$hide()">No</button>
                <button type="button" class="btn btn-success" data-ng-click="unsavedFormOk();$hide()">Yes</button>
            </div>
        </div>
    </div>
</div>
