<div class="container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h2>
                <a href="#/">Emmi Manager</a> : Admin Functions
            </h2>
            <h3>Manage Emmi Groups & Tags Library:</h3>

            <div class="row" data-ng-repeat="group in tagGroups">
                <div class="col-md-6">
                    <form name="existingTagGroupForm_{{$index}}" class="form" novalidate>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row panel-title">
                                        <button type="button" class="btn-link" data-ng-hide="group.editMode" data-ng-click="startEditMode(group)">
                                            <span class="sort-icon glyphicon-play glyphicon-small"></span>
                                            {{ group.title }}
                                        </button>
                                        <div class="col-md-9" data-ng-show="group.editMode">
                                            <input class="form-control" data-ng-model="group.title"
                                                   data-focus-on="focus-{{group.entity.id}}"
                                                   maxlength="50"
                                                   required data-group-title-unique>
                                        </div>
                                        <div class="pull-right">
                                            <button type="button" class="btn-link"
                                                    data-ng-hide="group.editMode || group.warningOpen"
                                                    data-ng-click="startEditMode(group)">
                                                <small>edit</small>
                                            </button>
                                            <button type="button" class="btn-link"
                                                    data-ng-show="group.deletable"
                                                    data-on-ok="remove(group)"
                                                    data-placement="top"
                                                    data-on-open-popover="warningToggle(group, true)"
                                                    data-on-close-popover="warningToggle(group, false)"
                                                    data-delete-group-warning>
                                                <small>remove</small>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-collapse" data-ng-show="group.editMode">
                                    <div class="panel-body">
                                        <div data-tags-input class="tags-input" data-ng-model="group.tags" data-on-tag-added="onChange('tag added')" data-on-tag-removed="onChange('tag removed')" data-on-tag-edited="onChange('tag edited')" data-ng-click="$event.stopPropagation();" data-ng-paste="pasteTags($event, $index)" data-enable-editing-last-tag="true" data-add-on-space="false" data-replace-spaces-with-dashes="false" data-display-property="text" data-min-tags="1"></div>
                                        <hr/>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-link" data-ng-click="cancelEditMode(group, true)">
                                                cancel
                                            </button>
                                            <button class="btn btn-default" type="button"
                                                    data-ng-click="update(group, $index)"
                                                    data-ng-disabled="!existingTagGroupForm_{{$index}}.$valid"
                                                    data-ng-show="existingTagGroupForm_{{$index}}.$valid && group.changed">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form name="newTagGroupForm" class="form" novalidate>
                        <div class="panel-group" data-ng-show="newTagGroup">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <div class="form-group" data-ng-class="{ 'has-error' : newTagGroupForm.newTagGroup.$error.unique}">
                                            <input class="form-control" name="newTagGroup" data-ng-model="newTagGroup.title"
                                               data-focus-on="focus-new-group" maxlength="50" required data-group-title-unique>
                                        </div>
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body">
                                        <div data-tags-input class="tags-input" data-ng-model="newTagGroupTags" data-ng-click="$event.stopPropagation();" data-ng-paste="pasteTags($event, $index)" data-enable-editing-last-tag="true" data-add-on-space="false" data-replace-spaces-with-dashes="false" data-display-property="text" data-min-tags="1"></div>
                                        <hr/>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-link" data-ng-click="cancelNew()">cancel</button>
                                            <button class="btn btn-default" type="button"
                                                    data-ng-click="saveNewGroup(newTagGroup)"
                                                    data-ng-disabled="!newTagGroupForm.$valid"
                                                    data-ng-show="newTagGroupForm.$valid">
                                                Save Group
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-ng-hide="newTagGroup">
                            <button type="button" class="btn btn-default" data-ng-click="createNewTagGroup()">
                                Add new group
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
