<div class="app-header" data-emmi-navbar>
    <!-- Breadcrumb for transclusion -->
    <ol class="breadcrumb">
        <li><a href="#/admin">Admin Functions</a></li>
        <li class="active">Manage Groups & Tags Library</li>
    </ol>
</div>
<div id="app-content" class="app-content container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="layout-card">
                <h1>Manage Groups & Tags Library</h1>
                <div class="row" data-ng-if="tagGroups">
                    <div class="col-md-6">
                        <div class="panel-group" data-ng-model="group.activePanel" data-ng-repeat="group in tagGroups | tagGroupOrderBy"
                            data-ng-change="panelStateChange(group, existingTagGroupForm.{{group.entity.id}})" data-start-collapsed="true"
                            data-bs-collapse>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="label label-danger role-error"
                                         data-ng-show="existingTagGroupForm[group.entity.id].$error.unique">
                                        This group already exists
                                    </div>
                                </div>
                            </div>
                            <form name="existingTagGroupForm.{{group.entity.id}}" class="form" novalidate data-unsaved-warning-form>
                                <div class="panel panel-secondary" data-ng-class="{ 'panel-open': group.activePanel === 0, 'panel-muted': !group.deletable && !group.entity.active }">
                                    <div class="panel-heading panel-heading-form">
                                        <div class="panel-title">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-link panel-title-link"
                                                        data-ng-show="group.deletable"
                                                        data-on-ok="remove(group)"
                                                        data-placement="bottom"
                                                        data-ng-disabled="whenSaving"
                                                        data-on-open-popover="warningToggle(group, true)"
                                                        data-on-close-popover="warningToggle(group, false)"
                                                        data-delete-group-warning>
                                                    remove
                                                </button>
                                                <button type="button" class="btn btn-link panel-title-link"
                                                        data-ng-disabled="whenSaving"
                                                        data-ng-show="!group.deletable && group.entity.active"
                                                        data-ng-click="toggleActiveInactive(group, existingTagGroupForm[group.entity.id])">
                                                    deactivate
                                                </button>
                                                <button type="button" class="btn btn-link panel-title-link"
                                                        data-ng-disabled="whenSaving"
                                                        data-ng-show="!group.deletable && !group.entity.active"
                                                        data-ng-click="toggleActiveInactive(group, existingTagGroupForm[group.entity.id])">
                                                    activate
                                                </button>
                                            </div>
                                            <a data-bs-collapse-toggle data-ng-hide="group.editName" data-ng-dblclick="startEditName(group)">
                                                <span class="icon-caret-right"></span>
                                                <span class="panel-title-text">{{ group.title }}</span>
                                            </a>
                                            <div data-ng-class="{ 'has-error' : existingTagGroupForm[group.entity.id].$invalid}">
                                                <div data-ng-show="group.editName" style="width:50%">
                                                    <label class="sr-only" for="title-{{group.entity.id}}">Group title:</label>
                                                    <input class="form-control input-sm" data-ng-model="group.title"
                                                           id="title-{{group.entity.id}}"
                                                           data-focus-on="focus-{{group.entity.id}}"
                                                           maxlength="50"
                                                           required data-group-index="{{$index}}" data-group-title-unique>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .panel-heading -->
                                    <div class="panel-collapse" data-bs-collapse-target>
                                        <div class="panel-body">
                                            <div data-tags-input class="tags-input" data-ng-model="group.tags" data-on-tag-added="onChange('tag added')" data-on-tag-removed="onChange('tag removed')" data-on-tag-edited="onChange('tag edited')" data-ng-click="$event.stopPropagation();" data-ng-paste="pasteTags($event, $index)" data-enable-editing-last-tag="true" data-add-on-space="false" data-add-on-comma="false" data-replace-spaces-with-dashes="false" data-display-property="text" data-min-tags="1"></div>
                                        </div>
                                        <div class="panel-footer" data-ng-show="existingTagGroupForm.{{group.entity.id}}.$valid && group.changed">
                                            <button class="btn btn-success" type="button"
                                                    data-ng-disabled="whenSaving"
                                                    data-ng-click="update(group, existingTagGroupForm[group.entity.id])">
                                                Save
                                            </button>
                                            <button type="button" class="btn btn-cancel"
                                                    data-ng-disabled="whenSaving"
                                                    data-ng-click="cancelEditMode(group, true, existingTagGroupForm[group.entity.id])"
                                                    data-bs-collapse-toggle>
                                                cancel
                                            </button>
                                        </div>
                                    </div><!-- .panel-collapse -->
                                </div><!-- .panel -->
                            </form>
                        </div><!-- .panel-group -->
                    </div><!-- .col-6 -->
                </div><!-- .row -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="label label-danger role-error" data-ng-show="newTagGroupForm.$error.unique">
                                    This group already exists
                                </div>
                            </div>
                        </div>
                        <form name="newTagGroupForm" class="form" novalidate data-unsaved-warning-form>
                            <div class="panel-group" data-ng-if="newTagGroup">
                                <div class="panel panel-default">
                                    <div class="panel-heading panel-heading-form">
                                        <div class="form-group"
                                             data-ng-class="{ 'has-error' : newTagGroupForm.$error.unique }">
                                            <div class="panel-title">
                                                <div class="role-group-create form-inline">
                                                    <label class="sr-only" for="newTagGroup">Title</label>
                                                    <input class="form-control input-sm" name="newTagGroup"
                                                           id="newTagGroup"
                                                           data-ng-model="newTagGroup.title"
                                                           data-focus-on="focus-new-group" maxlength="50" required data-group-title-unique>
                                                    <button class="btn btn-sm btn-icon" type="button"
                                                            data-ng-disabled="whenSaving"
                                                            data-ng-click="cancelNew(newTagGroupForm)">
                                                        <span class="icon-delete icon-size-lg"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-collapse">
                                        <div class="panel-body">
                                            <div data-tags-input class="tags-input" data-ng-model="newTagGroupTags" data-ng-click="$event.stopPropagation();" data-ng-paste="pasteTags($event, $index)" data-enable-editing-last-tag="true" data-add-on-space="false" data-add-on-comma="false" data-replace-spaces-with-dashes="false" data-display-property="text" data-min-tags="1"></div>
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-success" type="button"
                                                    data-ng-click="saveNewGroup(newTagGroup, newTagGroupForm)"
                                                    data-ng-disabled="!newTagGroupForm.$valid || whenSaving"
                                                    data-ng-show="newTagGroupForm.$valid">
                                                Save
                                            </button>
                                            <button type="button" class="btn btn-cancel"
                                                    data-ng-disabled="whenSaving"
                                                    data-ng-click="cancelNew(newTagGroupForm)">cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-ng-hide="newTagGroup">
                                <button type="button" class="btn btn-default"
                                        data-ng-disabled="whenSaving"
                                        data-ng-click="createNewTagGroup()">
                                    Add new group
                                </button>
                            </div>
                        </form>
                    </div><!-- .col-6 -->
                </div><!-- .row -->
            </div><!-- .layout-card -->
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
<footer class="footer" data-ng-include="'admin-facing/partials/common/footer.tpl.html'"></footer>
