<% nameScope = @config['name_scope'] %>
        </div>
      </div>
    </div>

    <footer class="cortana-footer">
      &copy;2014 Emmi Solutions, LLC. All Rights Reserved.
    </footer>
  </div>

  <script src="theme-build/js/vendors.min.js"></script>
  <!-- build:js /scripts/styleguide-assets.js -->
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-strap/dist/angular-strap.js"></script>
  <script src="/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
  <script src="/bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
  <script src="/bower_components/chosen/chosen.jquery.js"></script>
  <script src="/bower_components/angular-chosen-localytics/chosen.js"></script>
  <script src="/bower_components/jquery.inputmask/dist/inputmask/jquery.inputmask.js"></script>
  <script src="/bower_components/jquery.inputmask/dist/inputmask/jquery.inputmask.extensions.js"></script>
  <script src="/bower_components/jquery.inputmask/dist/inputmask/jquery.inputmask.date.extensions.js"></script>
  <script src="/bower_components/jquery.inputmask/dist/inputmask/jquery.inputmask.numeric.extensions.js"></script>
  <script src="/bower_components/jquery.inputmask/dist/inputmask/jquery.inputmask.phone.extensions.js"></script>
  <script src="/bower_components/jquery.inputmask/dist/inputmask/jquery.inputmask.regex.extensions.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/angular-moment/angular-moment.js"></script>
  <script src="/bower_components/angular-translate/angular-translate.js"></script>
  <script src="/bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
  <script src="/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
  <script src="/bower_components/angular-ivh-treeview/dist/ivh-treeview.js"></script>
  <script src="/admin-facing/scripts/common/directives/multi-select/multiselect.js"></script>
  <script src="/admin-facing/scripts/common/directives/typeahead/typeahead.js"></script>
  <script src="/admin-facing/scripts/common/directives/tags-input/tags-input.js"></script>
  <script src="/admin-facing/scripts/common/directives/truncate/truncate.js"></script>
  <script src="/admin-facing/scripts/common/directives/input-mask/input-mask.js"></script>
  <!-- endbuild -->

  <script src="theme-build/js/main.js"></script>
  <!-- build:js theme-build/js/search.js -->
  <script type="text/javascript">
    function TypeaheadCtrl($scope) {
      $scope.selected = undefined;
      $scope.searchData =
      <%= "[" %>
        <% @pages.each do |file_name, page| %>
          <% if not page[:blocks].empty? %>
            <% page[:blocks].each do |block| %>
              <% file_path = block[:categories][0].to_s.gsub(' ', '_').downcase + '.html' %>
              <% file_id = "#"+block[:name].to_s %>
              <%= "{" %>
              <%= "\"title\": \""+block[:title].to_s+"\"," %>
              <%= "\"breadcrumb\": \""+block[:categories][0].to_s+" > "+block[:title]+"\"," %>
              <%= "\"path\": \""+file_path+file_id+"\"" %>
              <%= "}," %>
            <% end %>
          <% end %>
        <% end %>
      <%= "{}]" %>;
      $scope.$on('$typeahead.select', function(event, $item){
        window.location.replace($item.path);
      });
    }
  </script>
  <!-- endbuild -->
  <script type="text/ng-template" id="customTemplate.html">
    <ul tabindex="-1" class="typeahead dropdown-menu" ng-show="$isVisible()" role="select">
        <li role="presentation" ng-repeat="match in $matches" ng-class="{active: $index == $activeIndex}">
            <a role="menuitem" tabindex="-1" ng-click="$select($index, $event)">
              <p class="cortana-search-title">{{match.value.title}}</p>
              <p class="cortana-search-path">{{match.value.breadcrumb}}</p>
            </a>
        </li>
    </ul>
  </script>
  <% if @config['js_include'].to_s.strip.length != 0 %>
    <% @config['js_include'].each do |js| %>
      <script type="text/javascript" src="<%= js %>"></script>
    <% end %>
  <% end %>
  <!-- Source Components -->
  <% if @config['components_include'].to_s.strip.length != 0 %>
    <% @config['components_include'].each do |component| %>
      <link rel="import" href="<%= component %>">
    <% end %>
  <% end %>
</body>
</html>
