<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-6">
                    <input id="selfServiceReset" type="checkbox"
                           data-ng-model="clientPasswordConfiguration.entity.passwordReset"
                           data-ng-show="defaultPasswordConfiguration.passwordResetChangeable"/>
                    <input id="selfServiceReset" type="checkbox" disabled
                           data-ng-model="clientPasswordConfiguration.entity.passwordReset"
                           data-ng-hide="defaultPasswordConfiguration.passwordResetChangeable"/>
                    <label class="control-lebal text-align-left" for="lowercaseLetters">&nbsp;Allow self-service password reset</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : clientPasswordConfigurationForm.passwordLength.$invalid && clientPasswordConfigurationFormSubmitted }">
                <div class="col-md-4">
                    <label class="control-label text-align-left" for="passwordLength">Minimum characters:</label>
    
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordLength.$error.required && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                     <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordLength.$error.pattern && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordLength.$error.ngMin && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordLength.$error.ngMax && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="passwordLength"
                           data-ng-model="clientPasswordConfiguration.entity.passwordLength"
                           name="passwordLength"
                           type="text"
                           data-ng-min="defaultPasswordConfiguration.passwordLengthMin"
                           data-ng-max="defaultPasswordConfiguration.passwordLengthMax"
                           data-ng-pattern="/^[0-9]*$/"
                           required data-auto-focus />
                </div>
                <div class="col-md-4 text-align-left">
                    (<span class="text-muted">{{defaultPasswordConfiguration.passwordLengthMin}} -
                    {{defaultPasswordConfiguration.passwordLengthMax}}</span>)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label text-align-left">Must contain at least:</label>
                </div>

                <div class="col-md-4">
                    <input id="uppercaseLetters" type="checkbox"
                           data-ng-model="clientPasswordConfiguration.entity.uppercaseLetters"
                           data-ng-show="defaultPasswordConfiguration.uppercaseLettersChangeable"/>
                    <input id="uppercaseLetters" type="checkbox" disabled
                           data-ng-model="clientPasswordConfiguration.entity.uppercaseLetters"
                           data-ng-hide="defaultPasswordConfiguration.uppercaseLettersChangeable"/>&nbsp;one uppercase letter
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label text-align-left"></label>
                </div>

                <div class="col-md-4">
                    <input id="lowercaseLetters" type="checkbox"
                           data-ng-model="clientPasswordConfiguration.entity.lowercaseLetters"
                           data-ng-show="defaultPasswordConfiguration.lowercaseLettersChangeable"/>
                    <input id="lowercaseLetters" type="checkbox" disabled
                           data-ng-model="clientPasswordConfiguration.entity.lowercaseLetters"
                           data-ng-hide="defaultPasswordConfiguration.lowercaseLettersChangeable"/>&nbsp;one lowercase letter
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label text-align-left"></label>
                </div>

                <div class="col-md-4">
                    <input id="numbers" type="checkbox"
                           data-ng-model="clientPasswordConfiguration.entity.numbers"
                           data-ng-show="defaultPasswordConfiguration.numbersChangeable"/>
                    <input id="numbers" type="checkbox" disabled
                           data-ng-model="clientPasswordConfiguration.entity.numbers"
                           data-ng-hide="defaultPasswordConfiguration.numbersChangeable"/>&nbsp;one number
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label text-align-left"></label>
                </div>
                

                <div class="col-md-4">
                    <input id="specialChars" type="checkbox"
                           data-ng-model="clientPasswordConfiguration.entity.specialChars"
                           data-ng-show="defaultPasswordConfiguration.specialCharsChangeable"/>
                    <input id="specialChars" type="checkbox" disabled
                           data-ng-model="clientPasswordConfiguration.entity.specialChars"
                           data-ng-hide="defaultPasswordConfiguration.specialCharsChangeable"/>&nbsp;one special character
                </div>
            </div>
        </div>
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : clientPasswordConfigurationForm.passwordExpirationDays.$invalid && clientPasswordConfigurationFormSubmitted }">
                <div class="col-md-4">
                    <label class="control-label text-align-left" for="passwordExpirationDays">Password expiration:</label>
    
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordExpirationDays.$error.required && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordExpirationDays.$error.pattern && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordExpirationDays.$error.ngMin && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordExpirationDays.$error.ngMax && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="passwordExpirationDays"
                           data-ng-model="clientPasswordConfiguration.entity.passwordExpirationDays"
                           name="passwordExpirationDays"
                           type="text"
                           data-ng-min="defaultPasswordConfiguration.passwordExpirationDaysMin"
                           data-ng-max="defaultPasswordConfiguration.passwordExpirationDaysMax"
                           data-ng-pattern="/^[0-9]*$/"
                           required >
                </div>
                <div class="col-md-4 text-align-left ">
                    days (<span class="text-muted">{{defaultPasswordConfiguration.passwordExpirationDaysMin}} -
                    {{defaultPasswordConfiguration.passwordExpirationDaysMax}}</span>)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : clientPasswordConfigurationForm.passwordExpirationDaysReminder.$invalid && clientPasswordConfigurationFormSubmitted }">
                <div class="col-md-4">
                    <label class="control-label text-align-left" for="passwordExpirationDaysReminder">Expiration reminder:</label>
    
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordExpirationDaysReminder.$error.required && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordExpirationDaysReminder.$error.pattern && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordExpirationDaysReminder.$error.ngMin && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordExpirationDaysReminder.$error.ngMax && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                </div>
                
                <div class="col-md-2">
                    <input class="form-control" id="passwordExpirationDaysReminder"
                           data-ng-model="clientPasswordConfiguration.entity.passwordExpirationDaysReminder"
                           name="passwordExpirationDaysReminder"
                           type="text"
                           data-ng-min="defaultPasswordConfiguration.passwordExpirationDaysReminderMin"
                           data-ng-max="defaultPasswordConfiguration.passwordExpirationDaysReminderMax"
                           data-ng-pattern="/^[0-9]*$/"
                           required>
                </div>
                <div class="col-md-4 text-align-left ">
                    days before (<span class="text-muted">{{defaultPasswordConfiguration.passwordExpirationDaysReminderMin}} -
                    {{defaultPasswordConfiguration.passwordExpirationDaysReminderMax}}</span>)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : clientPasswordConfigurationForm.daysBetweenPasswordChange.$invalid && clientPasswordConfigurationFormSubmitted }">
                <div class="col-md-4">
                    <label class="control-label text-align-left" for="daysBetweenPasswordChange">Allow password change every:</label>
    
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.daysBetweenPasswordChange.$error.required && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.daysBetweenPasswordChange.$error.pattern && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.daysBetweenPasswordChange.$error.ngMin && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.daysBetweenPasswordChange.$error.ngMax && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                </div>
                
                <div class="col-md-2">
                    <input class="form-control" id="daysBetweenPasswordChange"
                           data-ng-model="clientPasswordConfiguration.entity.daysBetweenPasswordChange"
                           name="daysBetweenPasswordChange"
                           type="text"
                           data-ng-min="defaultPasswordConfiguration.daysBetweenPasswordChangeMin"
                           data-ng-max="defaultPasswordConfiguration.daysBetweenPasswordChangeMax"
                           data-ng-pattern="/^[0-9]*$/"
                           required>
                </div>
                <div class="col-md-4 text-align-left ">
                    days (<span class="text-muted">{{defaultPasswordConfiguration.daysBetweenPasswordChangeMin}} -
                    {{defaultPasswordConfiguration.daysBetweenPasswordChangeMax}}</span>)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : clientPasswordConfigurationForm.passwordRepetitions.$invalid && clientPasswordConfigurationFormSubmitted }">
                <div class="col-md-4">
                    <label class="control-label text-align-left" for="passwordRepetitions">User cannot repeat previous:</label>
    
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordRepetitions.$error.required && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordRepetitions.$error.pattern && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordRepetitions.$error.ngMin && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.passwordRepetitions.$error.ngMax && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                </div>
                
                <div class="col-md-2">
                    <input class="form-control" id="passwordRepetitions"
                           data-ng-model="clientPasswordConfiguration.entity.passwordRepetitions"
                           name="passwordRepetitions"
                           type="text"
                           data-ng-min="defaultPasswordConfiguration.passwordRepetitionsMin"
                           data-ng-max="defaultPasswordConfiguration.passwordRepetitionsMax"
                           data-ng-pattern="/^[0-9]*$/"
                           required>
                </div>
                <div class="col-md-4 text-align-left ">
                    passwords (<span class="text-muted">{{defaultPasswordConfiguration.passwordRepetitionsMin}} -
                    {{defaultPasswordConfiguration.passwordRepetitionsMax}}</span>)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : clientPasswordConfigurationForm.lockoutAttemps.$invalid && clientPasswordConfigurationFormSubmitted }">
                <div class="col-md-4">
                    <label class="control-label text-align-left" for="lockoutAttemps">User will be locked out after:</label>
    
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.lockoutAttemps.$error.required && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.lockoutAttemps.$error.pattern && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.lockoutAttemps.$error.ngMin && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.lockoutAttemps.$error.ngMax && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                </div>
                
                <div class="col-md-2">
                    <input class="form-control" id="lockoutAttemps"
                           data-ng-model="clientPasswordConfiguration.entity.lockoutAttemps"
                           name="lockoutAttemps"
                           type="text"
                           data-ng-min="defaultPasswordConfiguration.lockoutAttempsMin"
                           data-ng-max="defaultPasswordConfiguration.lockoutAttempsMax"
                           data-ng-pattern="/^[0-9]*$/"
                           required>
                </div>
                <div class="col-md-4 text-align-left ">
                    login attemps (<span class="text-muted">{{defaultPasswordConfiguration.lockoutAttempsMin}} -
                    {{defaultPasswordConfiguration.lockoutAttempsMax}}</span>)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : clientPasswordConfigurationForm.lockoutReset.$invalid && clientPasswordConfigurationFormSubmitted }">
                <div class="col-md-4">
                    <label class="control-label text-align-left" for="lockoutReset">Lockout duration:</label>
    
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.lockoutReset.$error.required && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.lockoutReset.$error.pattern && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.lockoutReset.$error.ngMin && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.lockoutReset.$error.ngMax && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                </div>
                
                <div class="col-md-2">
                    <input class="form-control" id="lockoutReset"
                           data-ng-model="clientPasswordConfiguration.entity.lockoutReset"
                           name="lockoutReset"
                           type="text"
                           data-ng-min="defaultPasswordConfiguration.lockoutResetMin"
                           data-ng-max="defaultPasswordConfiguration.lockoutResetMax"
                           data-ng-pattern="/^[0-9]*$/"
                           required>
                </div>
                <div class="col-md-4 text-align-left ">
                    minutes (<span class="text-muted">{{defaultPasswordConfiguration.lockoutResetMin}} -
                    {{defaultPasswordConfiguration.lockoutResetMax}}</span>)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group"
                 data-ng-class="{ 'has-error' : clientPasswordConfigurationForm.idleTime.$invalid && clientPasswordConfigurationFormSubmitted }">
                <div class="col-md-4">
                    <label class="control-label text-align-left" for="idleTime">EmmiManager timeout:</label>
    
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.idleTime.$error.required && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.idleTime.$error.pattern && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.idleTime.$error.ngMin && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                    <div class="error-circle glyphicon glyphicon-exclamation-sign"
                         data-ng-show="clientPasswordConfigurationForm.idleTime.$error.ngMax && clientPasswordConfigurationFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid number."></div>
                </div>
                
                <div class="col-md-2">
                    <input class="form-control" id="idleTime"
                           data-ng-model="clientPasswordConfiguration.entity.idleTime"
                           name="idleTime"
                           type="text"
                           data-ng-min="defaultPasswordConfiguration.idleTimeMin"
                           data-ng-max="defaultPasswordConfiguration.idleTimeMax"
                           data-ng-pattern="/^[0-9]*$/"
                           required>
                </div>
                <div class="col-md-4 text-align-left ">
                    minutes (<span class="text-muted">{{defaultPasswordConfiguration.idleTimeMin}} -
                    {{defaultPasswordConfiguration.idleTimeMax}}</span>)
                </div>
            </div>
        </div>
    </div>
</div>

