.container {
  max-width: 1128px;
  width: auto;
  margin: 0 auto;
}

.content {
  margin-top: 5px;
}


.main > h1 {
  margin-top: 30px;
}

.main > h1:first-child {
  margin-top: 0;
}

footer {
  margin-top: 20px;
  text-align: center;
}


.componentMenu {
  max-height: 535px;
  width: 175px;
  overflow-y: auto;
}

blockquote:before {
  content: "Design Note:";
  font-weight: bold;
}

blockquote {
  border: 1px solid #eee;
  border-radius: 4px;
  font-family: "Comic Sans MS";
  font-size:16px;
  margin: 10px 0;
  padding: 5px;

}


code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

div.codeExample, div.jsExample {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

div.jsExample {
  border-top: 0px;
}

div.codeExample:before, div.jsExample:before {
  font-family: "OpenSans", sans-serif;
  color: #222;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  padding: 2px;
  display: block;
}

div.codeExample:before {
  content: "Example";
  background-color: #f9f9f9;
  width: 60px;
  top: -1px;
  left: -1px;
}

div.jsExample:before {
  content: "JS Example";
  background-color: #fff;
  width: 80px;
  top: -11px;
  left: -11px;
}

div.codeBlock, div.exampleOutput {
  padding: 10px;
}

div.codeBlock {
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

table div.codeBlock {
  background-color: transparent;
  border-top: none;
  border-radius: 0;
}

.docSwatch {
  min-height: 218.21px;
  border: 1px solid #ccc;
  padding: 10px 0 0 10px;
  font-size: 12px;
  margin-bottom: 5px;
}

.codeExample .line > div:after {
content: attr(class);
display: block;
min-height: 40px;
line-height: 40px;
background-color: #EEE;
text-align: center;
border-radius: 3px;
font-size: 12px;
}

table, table tr, table td, table th {
  padding: 7px;
  border: 1px solid #ccc;
}

table th {
  font-weight: bold;
}


#docs pre {
  font-family: Menlo,Consolas,Monaco,"Lucida Console",monospace;
  background: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1885f0;
}

a:hover,a:focus {
  color: #5eab1f;
}

.docsHeader {
  background: white;
  border-bottom: 1px solid #ccc;
}

.docsHeader h1 {
  margin: 0;
  padding: 0.75em 0;
  font-size: 1.5em;
}

.docNav {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.docNav li {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.docsContent {
  float: left;
  width: 100%;
}

.docsSidebar {
  float: left;
  width: 200px;
  min-height: 1px;
}

.docsMain {
  margin-left: 200px;
}

.componentMenu {
  border: 1px solid #e9e9e9;
  border-radius: 6px;
}

.componentList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.componentList li {
  padding: 10px;
}

.componentList li:hover {
  background-color: #f9f9f9;
}

.backgroundBasic {
  background-color: white;
}

.backgroundLowlight {
  background-color: #f9f9f9;
}

.backgroundHighlight {
  background-color: #1c4d71;
}

.backgroundInverse {
  background-color: #222;
}

.typeWarning {
    color: #cc2114;
}

.typeHighlight {
    color: #5eab1f;
}

.typeLowlight {
    color: #999;
}

.typeReversed1 {
    color: white;
}

.typeReversed2 {
    color: #eff6e9;
}

.typeDeemphasize {
    font-weight: 300!important;
}

.typeWeightNormal {
    font-weight: normal!important;
}

.typeEmphasize {
    font-weight: bold!important;
}

.line .lastCol {
vertical-align:top;
float:none;
display:block;
width:auto!important;
zoom:1;
}

.line,.box,.box .boxHead,.box .boxFoot,.content>section,.container {
zoom:1;
}

.line:before,.box:before,.box .boxHead:before,.box .boxFoot:before,.content>section:before,.container:before,.line:after,.box:after,.box .boxHead:after,.box .boxFoot:after,.content>section:after,.container:after {
content:" ";
display:table;
}

.line:after,.box:after,.box .boxHead:after,.box .boxFoot:after,.content>section:after,.container:after {
clear:both;
}

.cols1 {
width:2.30496%!important;
}

.cols2 {
width:6.47163%!important;
}

.cols3 {
width:10.6383%!important;
}

.cols4 {
width:14.80496%!important;
}

.cols5 {
width:18.97163%!important;
}

.cols6 {
width:23.1383%!important;
}

.cols7 {
width:27.30496%!important;
}

.cols8 {
width:31.47163%!important;
}

.cols9 {
width:35.6383%!important;
}

.cols10 {
width:39.80496%!important;
}

.cols11 {
width:43.97163%!important;
}

.cols12 {
width:48.1383%!important;
}

.cols13 {
width:52.30496%!important;
}

.cols14 {
width:56.47163%!important;
}

.cols15 {
width:60.6383%!important;
}

.cols16 {
width:64.80496%!important;
}

.cols17 {
width:68.97163%!important;
}

.cols18 {
width:73.1383%!important;
}

.cols19 {
width:77.30496%!important;
}

.cols20 {
width:81.47163%!important;
}

.cols21 {
width:85.6383%!important;
}

.cols22 {
width:89.80496%!important;
}

.cols23 {
width:93.97163%!important;
}

.cols24 {
width:98.1383%!important;
}

.line {
margin-left:-21px;
}

.line .col {
min-height:1px;
float:left;
zoom:1;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
padding-left:21px;
}

.line .colExt {
float:right;
zoom:1;
padding:0 0 0 21px;
}

.line .col:last-child {
display:table-cell;
float:none;
vertical-align:top;
width:10000px!important;
}

.show-grid [class^=col-] {
padding-top: 10px;
padding-bottom: 10px;
background-color: rgba(86,61,124,.15);
border: 1px solid rgba(86,61,124,.2);
}
