
.typeahead-menu {
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        clear: both;
        overflow: hidden; // clear the float
        font-weight: 300;
        list-style: none;
    }

    .header {
        color: #fff;
        border-color: $brand-secondary;
        background: $brand-secondary;
        font-size: $font-size-small;
        font-weight: 400;
        text-transform: uppercase;
    }

    .header > div {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .no-results > div,
    .footer > div {
        border-top: 1px solid #e1e1e1;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #818181;
        font-style: italic;
    }

    .no-results > div {
        border: 0;
    }

    .results > div {
        padding-top: 8px;
        padding-bottom: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .results.active {
        background-color: $dropdown-link-active-bg;
    }

    .results.active > div {
        color: $gray;
    }

    .results.unselectable > div {
        color: $input-color-placeholder;
    }
}
