
.typeahead-menu {
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;

    li {
        clear: both;
        overflow: hidden; // clear the float
    }

    .header {
        color: #fff;
        border-color: $brand-primary;
        background: $brand-primary;
        font-size: $font-size-small;
        font-weight: 600;
        text-transform: uppercase;
    }

    .header > div {
        padding-top: $table-cell-padding*2;
        padding-bottom: $table-cell-padding*1.8;
    }

    .footer > div {
        border-top: 1px solid $gray-light;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .results > div {
        padding-top: 11px;
        padding-bottom: 11px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .results.active {
        background-color: $dropdown-link-active-bg;
    }

    .results.active > div {
        color: #fff;
    }

    .results.unselectable > div {
        color: #ccc;
    }
}
