
.typeahead-menu {
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;

    li {
        clear: both;
        overflow: hidden; // clear the float
    }

    .header {
        background-color: #f5f5f5;
    }

    .header > div {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .footer > div {
        border-top: 1px solid #ccc;
        padding-top: 8px;
    }

    .results > div {
        padding-top: 4px;
        padding-bottom: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .results.active {
        background-color: #428bca;
    }

    .results.active > div {
        color: #fff;
    }

    .results.unselectable > div {
        color: #ccc;
    }
}
