<div class="container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h2>
                <a href="#/">Emmi Manager</a> : Admin Functions
            </h2>
            <h3>Manage Emmi Groups & Tags Library:</h3>

            <div class="row" data-ng-repeat="group in tagGroups">
                <div class="col-md-6">
                    <form name="existingTagGroupForm_{{$index}}" class="form" novalidate>
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row panel-title">
                                        <button type="button" class="btn-link" data-ng-hide="group.editMode" data-ng-click="startEditMode(group)">
                                            <span class="glyphicon sort-icon glyphicon-play glyphicon-small"></span>
                                            {{ group.entity.name }}
                                        </button>
                                        <div class="col-md-9" data-ng-show="group.editMode">
                                            <input class="form-control" data-ng-model="group.entity.name"
                                                   data-focus-on="focus-{{group.entity.id}}"
                                                   maxlength="50"
                                                   required>
                                        </div>
                                        <div class="pull-right">
                                            <button type="button" class="btn-link" ng-click="startEditMode(group)">
                                                <small>edit</small>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-collapse" data-ng-show="group.editMode">
                                    <div class="panel-body">
                                        <div data-tags-input class="tags-input" data-ng-model="group.entity.tag" data-on-tag-added="onChange('tag added')" data-on-tag-removed="onChange('tag removed')" data-on-tag-edited="onChange('tag edited')" data-ng-click="$event.stopPropagation();" data-ng-paste="pasteTags($event, $index)" data-enable-editing-last-tag="true" data-add-on-space="false" data-replace-spaces-with-dashes="false" data-display-property="name"></div>
                                        <hr/>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-link" data-ng-click="cancelEditMode(group)">
                                                cancel
                                            </button>
                                            <button class="btn btn-default" data-ng-click="update(group)"
                                                    data-ng-show="existingTagGroupForm_{{$index}}.$valid && group.changed">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form name="newTagGroupForm" class="form" novalidate>
                        <div class="panel-group" data-ng-show="newTagGroup">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <input class="form-control" data-ng-model="newTagGroup.name"
                                               data-focus-on="focus-new-group" maxlength="50" required>
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body">
                                        <div data-tags-input class="tags-input" data-ng-model="newTagGroupTags" data-on-tag-added="onChange('tag added')" data-on-tag-removed="onChange('tag removed')" data-on-tag-edited="onChange('tag edited')" data-ng-click="$event.stopPropagation();" data-ng-paste="pasteTags($event, $index)" data-enable-editing-last-tag="true" data-add-on-space="false" data-replace-spaces-with-dashes="false" data-display-property="name"></div>
                                        <hr/>
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-link" data-ng-click="cancelNew()">cancel</button>
                                            <button class="btn btn-default" data-ng-click="saveNewGroup(newTagGroup)"
                                                    data-ng-show="newTagGroupForm.$valid">
                                                Save Group
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-ng-hide="newTagGroup">
                            <button type="button" class="btn btn-default" data-ng-click="createNewTagGroup()">Create new
                                tag group
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
