<form name="tagGroupLibraries" data-popover-toggle>
    <div class="form-group">
        <div class="checkbox" data-ng-repeat="library in libraries | filter:disableLibrary()">
            <input type="checkbox" id="roleLibraryCb{{$index}}" value="" data-ng-model="library.checked" data-ng-disabled="library.disabled">&nbsp;&nbsp;
            <label for="roleLibraryCb{{$index}}"></label>
            <span class="toggle-trigger">
                <span data-ng-show="library.entity.permission.length > 0" class="caret"></span>
                <span data-ng-class="{'text-muted': library.disabled}">{{ library.entity.name }}</span>
            </span>
            <div class="toggle-content">
                <small class="text-muted">
                    <span data-ng-repeat="aPermission in library.entity.permission | orderBy:'permission.rank'">
                    {{aPermission.permission.name  | translate }}{{!$last ? ',' : ''}}&nbsp;
                    </span>
                </small>
            </div>
        </div>
    </div>
    <hr/>
    <div class="form-actions">
        <button type="button" class="btn btn-default btn-xs btn-close" data-ng-click="$hide()">
            <span class="icon-delete"></span>
        </button>
        <button type="button" class="btn btn-primary pull-right" data-ng-click="addLibraries();$hide()">Add</button>
        <small class="info">You'll be able to edit permissions after adding roles.</small>
    </div>
</form>
