<div class="popover popover-tag-library" tabindex="-1">
    <div class="arrow"></div>
    <h3 class="popover-title" data-ng-bind="title" data-ng-show="title"></h3>
    <div class="popover-content">
<form name="tagGroupLibraries" class="tag-library" data-popover-right-toggle>
    <div class="form-group">
        <div class="checkbox" data-ng-repeat="library in libraries | filter:disableLibrary()">
            <input type="checkbox" id="roleLibraryCb{{$index}}" value="" data-ng-model="library.checked" data-ng-disabled="library.disabled">&nbsp;&nbsp;
            <label for="roleLibraryCb{{$index}}"></label>
            <span class="toggle-trigger" data-ng-class="{'text-muted': library.disabled}">
                <span data-ng-show="library.entity.permission.length > 0" class="icon-caret-right"></span><span>{{ library.entity.name }}</span>
                <div class="info-circle fa-exclamation-circle"
                   data-ng-show="library.disableNameMatch"
                   data-bs-tooltip data-placement="right" data-type="info" data-container="body"
                   data-title="A role with this name already exists" aria-label="A role with this name already exists"></div>
            </span>
            <div class="toggle-content">
                <small>
                    <span data-ng-repeat="aPermission in library.entity.permission | orderBy:'permission.rank'">
                    {{aPermission.permission.name  | translate }}{{!$last ? ',' : ''}}&nbsp;
                    </span>
                </small>
            </div>
        </div>
    </div>
    <div class="popover-footer">
        <button type="button" class="btn btn-default btn-xs btn-close"
                data-ng-disabled="whenSaving"
                data-ng-click="$hide()" aria-label="Close Library">
            <span class="icon-delete"></span>
        </button>
        <button type="button" class="btn btn-success pull-left"
                data-ng-disabled="whenSaving"
                data-ng-click="addLibraries();$hide()">Add
        </button>
        <div class="info"><small>You'll be able to edit permissions after adding roles.</small></div>
    </div>
</form>
    </div><!-- .popover-content -->
</div><!-- .popover -->
