<div class="col-md-12" data-ng-controller="ClientTeamRoleAdminCtrl">
    <h2>Team Roles</h2>
    <div class="row" data-ng-show="existingClientTeamRoles" data-ng-repeat="role in existingClientTeamRoles">
        <div class="col-md-6">
            <form name="existingClientTeamRoleForm_{{$index}}" class="form" novalidate unsaved-warning-form>
                <div class="panel-group" data-ng-model="role.activePanel"
                     data-ng-change="panelStateChange(role, existingClientTeamRoleForm_{{$index}})" data-start-collapsed="true"
                     data-bs-collapse>
                    <div class="panel panel-secondary" data-ng-class="{ 'panel-open': role.activePanel === 0 }">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-bs-collapse-toggle data-ng-hide="role.editName" data-ng-dblclick="startEditName(role)">
                                    <span class="icon-caret-right"></span>
                                    {{ role.entity.name }}
                                </a>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-icon btn-inherit"
                                            data-placement="bottom"
                                            data-container="body"
                                            title="Are you sure?"
                                            data-content-template="admin-facing/partials/role/client/delete.tpl.html"
                                            data-auto-close="1"
                                            data-bs-popover>
                                        <i class="icon-trashcan"></i>
                                    </button>
                                </div>
                                <div data-ng-show="role.editName" style="width:50%">
                                    <input class="form-control input-sm" data-ng-model="role.entity.name"
                                           data-focus-on="focus-{{role.entity.id}}"
                                           maxlength="50"
                                           required>
                                </div>
                            </h4>
                        </div>
                        <div class="panel-collapse" data-bs-collapse-target>
                            <div class="panel-body">
                                <div class="checkbox"
                                        data-ng-repeat="permission in role.entity.userClientTeamPermissions  | orderBy:'rank'">
                                    <input id="{{role.entity.id}}_perm_{{permission.name}}" type="checkbox"
                                        data-ng-model="permission.active"/>
                                    <label for="{{role.entity.id}}_perm_{{permission.name}}">
                                        {{permission.name | translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-success" data-ng-click="update(role, existingClientTeamRoleForm_{{$index}})"
                                        data-bs-collapse-toggle
                                        data-ng-show="existingClientTeamRoleForm_{{$index}}.$valid && existingHasChanged(role) && hasAPermissionChecked(role.entity)">
                                    Save Changes
                                </button>
                                <button type="button" class="btn btn-cancel" data-ng-click="cancelExisting(role, existingClientTeamRoleForm_{{$index}})"
                                        data-bs-collapse-toggle>
                                    cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form name="newClientTeamRoleForm" class="form"
                  novalidate unsaved-warning-form>
                <div class="panel-group" data-ng-show="newClientTeamRole">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <input class="form-control input-sm" data-ng-model="newClientTeamRole.name"
                                       data-focus-on="focus-new-role" maxlength="50" required>
                            </h4>
                        </div>
                        <div class="panel-collapse">
                            <div class="panel-body">
                                <div class="checkbox"
                                     data-ng-repeat="permission in newClientTeamRole.userClientTeamPermissions  | orderBy:'rank'">
                                    <input id="perm_{{permission.name}}" type="checkbox"
                                           data-ng-model="permission.active"/>
                                    <label for="perm_{{permission.name}}">
                                        {{permission.name | translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button class="btn btn-success" data-ng-click="saveNewRole(newClientTeamRole, newClientTeamRoleForm)"
                                        data-ng-show="newClientTeamRoleForm.$valid && hasAPermissionChecked(newClientTeamRole)">
                                    Save Role
                                </button>
                                <button type="button" class="btn btn-cancel" data-ng-click="cancelNew(newClientTeamRoleForm)">cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-hide="newClientTeamRole">
                    <button type="button" class="btn btn-default" data-ng-click="createNewClientTeamRole()">Create new
                        team role
                    </button>
                    <button class="btn btn-link btn-tag-library" type="button" title="Select roles to add:"
                            data-placement="top" data-template="admin-facing/partials/role/client/role-library.html"
                            data-trigger="click" data-bs-popover data-auto-close="1" data-popover-dismiss data-container="body">
                            Add role from library
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
