<div class="popover">
    <div class="arrow"></div>
    <h3 class="popover-title">
        Directions to do something here...
        <button type="button" class="btn btn-close btn-xs" data-ng-click="$hide()">
            <span class="icon-delete"></span>
        </button>
    </h3>
    <div class="popover-content">
        <div class="checkbox">
            <input type="checkbox" id="optionsCheckbox1" value="" checked>
            <label for="optionsCheckbox1">Check Something</label>
          </label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="optionsCheckbox2" value="">
            <label for="optionsCheckbox2">Leave This Unchecked</label>
          </label>
        </div>
    </div>
    <div class="popover-footer">
        <button type="button" class="btn btn-success" data-ng-click="$hide()">Done</button>
    </div>
</div>
