<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modal-dialog-title" data-ng-controller="SearchTeamsLocationsController">
    <div class="modal-dialog modal-dialog-large container-fluid">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Locations</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1" id="modal-messages-container"></div>
                </div>
                <div class="row" >
                    <div class="col-md-12" >
                        <div data-ng-include="'admin-facing/partials/team/location/tabs/team-search-all-tab.html'" data-title="Search all locations" aria-label="Search all locations" ></div>
                    </div>
                </div>
            </div>
            <div data-ng-include="'admin-facing/partials/team/location/search-footer-template.html'"></div>
        </div>
    </div>
</div>

