<div class="form-group form-horizontal" 
  data-ng-class="{ 'has-error' : emailNotificationsPrintInstructionsForm.patientUrlLabel.$invalid && formSubmitted}">
  <div class="row">
      <div class="col-md-3">
          <label class="control-label control-label-enumerate text-align-left" for="patientUrlLabel" data-ng-if="true">Patient URL label</label>
          <div class="error-circle fa-exclamation-circle" role="alert"
               data-ng-show="emailNotificationsPrintInstructionsForm.patientUrlLabel.$error.required && formSubmitted"
               data-bs-tooltip data-placement="right" data-type="danger" data-container="body" 
               data-title="Required" aria-label="Required"></div>
      </div>
      <div class="col-md-4">
          <input class="form-control" id="patientUrlLabel"
                 data-ng-model="teamPrintInstructionConfiguration.entity.patientUrlLabel"
                 name="patientUrlLabel"
                 data-ng-change = "showButton()"
                 maxlength="255" required />
      </div>
  </div>
</div>