<div class="app-header" data-emmi-navbar></div>
<div class="container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="layout-card">
                <div class="pull-right">
                    <a data-ng-href="#/users/new?{{currentRouteQueryString}}" class="btn btn-default">
                        <i class="icon-plus"></i> Create New User
                    </a>
                </div>
                <h1>Emmi Users</h1>
                <div class="row" data-ng-show="searchPerformed">
                    <div class="col-md-12">
                        <div class="row table-search-filters" data-ng-hide="removeStatusFilterAndTotal">
                            <div class="col-md-12"></div>
                        </div>
                        <table class="table table-bordered table-striped table-hover"
                               border="0" cellpadding="0" cellspacing="0" data-ng-show="users">
                            <thead>
                            <tr>
                                <th class="sort col-sm-2" data-ng-click="sort('lastName')">Last Name
        						<span data-ng-show="sortProperty.property === 'lastName'"><span
                                    class="sort-icon"
                                    data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                                </th>
                                <th class="sort col-sm-2" data-ng-click="sort('firstName')">First Name
        						<span data-ng-show="sortProperty.property === 'firstName'"><span
                                    class="sort-icon"
                                    data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                                </th>
                                <th class="sort" data-ng-click="sort('login')">User ID
        						<span data-ng-show="sortProperty.property === 'login'"><span
                                    class="sort-icon"
                                    data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                                </th>
                                <th class="sort" data-ng-click="sort('email')">Email
        						<span data-ng-show="sortProperty.property === 'email'"><span
                                    class="sort-icon"
                                    data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                                </th>
                                <th class="col-edit">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="user in users">
                                <td>{{user.lastName}}</td>
                                <td>{{user.firstName}}</td>
                                <td><span class="col-wrap">{{user.login}}</span></td>
                                <td><span class="col-wrap">{{user.email}}</span></td>
                                <td class="text-right">
                                    <a data-ng-hide="userClient.deactivationPopoverOpen" class="btn-link"
                                        href="#/users/{{user.id}}?{{currentRouteQueryString}}"><i class="icon-compose icon-size-xl"></i></a>
                                    <a data-ng-hide="user.id === account.id"
                                       href
                                       data-on-ok="toggleActivation(user)"
                                       data-is-currently-active="user.active"
                                       data-placement="bottom"
                                       data-on-open-popover="deactivationPopoverOpen(user, true)"
                                       data-on-close-popover="deactivationPopoverOpen(user, false)"
                                       data-toggle-user-client-active>
                                        <i title="activate" data-ng-if="!user.active" class="icon-check-o-circle icon-size-xl"></i>
                                        <i title="deactivate" data-ng-if="user.active" class="icon-trashcan icon-size-xl"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="pagination-row no-hover">
                                <td colspan="5" class="text-center" data-ng-show="links">
                                    <ul class="pagination">
                                        <li data-ng-repeat="link in links | orderBy:'order'" class="{{link.className}}" data-ng-class="{'active': link.name == currentPage}">
                                            <a data-ng-click="fetchPage(link.href)">
                                                <i class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                                                {{link.name}}
                                                <i class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div data-ng-hide="users">
                            <span>There are no existing users </span>
                        </div>
                    </div>
                </div>
            </div><!-- .layout-card -->
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
<footer class="footer" data-ng-include="'admin-facing/partials/common/footer.tpl.html'"></footer>
