<div class="container" data-ng-cloak>
    <div class="row col-md-6">
        <div class="col-md-12">
            <h2>
                Please Confirm Your Email Address
            </h2>
            Verifying Your email address will make your account more secure, and allow you to reset your password if you
            forget it in the future.

            <div class="well well-sm col-md-12" data-ng-model="account.email">{{account.email}}</div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group pull-right">
                    <a type="button" class="btn" data-ng-click="notNow()">Not Now</a>
                    <button type="button" class="btn btn-primary" data-ng-click="sendActivationEmail()">
                        Confirm Email
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
