// Custom CSS for the main app navigation

.app-header {
    position: relative;
    z-index: $zindex-navbar;
}

.navbar {
    margin: 0;
    border-radius: 0;
}

.navbar-brand {
    @include remIt(font-size, 20);
    //padding-left: 40px;
    padding-right: 25px;
    strong {
        color: $brand-secondary;
    }
}

.navbar-nav {
    > li {
        > a {
            font-weight: 300;
            border-left: 1px solid #a1aab2; //rgba(255,255,255,0.35)
            border-right: 1px solid #a1aab2; //rgba(255,255,255,0.35)
        }
    }
    .open > a,
    .open > a:hover,
    .open > a:focus {
        border-color: #a1aab2;
    }
    // Dropdown indicator
    .fa-angle-down {
        margin-left: 4px;
        font-size: 16px;
        vertical-align: text-bottom;
    }
    .badge {
        box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
        font-weight: normal;
        margin-left: 4px;
    }
    .badge-danger {
        background: $state-danger-text;
        color: #fff;
    }
    // Uncollapse the nav
    @media (min-width: $grid-float-breakpoint) {
        // when nav is floated shift over 1px so the borders dont overlap
        > li {
            margin-left: -1px;
        }
    }
}

.section-nav {
    position: relative;
    //box-shadow: 0px 4px 0px 0px rgba(110,124,136,0.12);
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.07);
    background: $brand-secondary;
    @include clearfix();
}

.app-breadcrumb {
    position: relative;
    z-index: $zindex-navbar;
    background: #fff;
    //box-shadow: 0px 4px 0px 0px rgba(110,124,136,0.12);
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.07);
    .breadcrumb {
        margin: 0;
        padding: 9px 25px;
    }
}
// .app-header ~ .app-breadcrumb {
//     margin: -25px 0 25px;
// }

.section-nav-items {
    float: left;
    margin: 0;
    padding: 0;
}

.section-nav-search {
    float: right;
    width: 25%;
    .form-group {
        margin: 18px 0 0;
    }
    .form-control {
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .input-icon {
        margin: 4px 10px;
    }
}

.section-nav-item {
    display: block;
    float: left;
    min-width: 112px;
}

.section-nav-link {
    display: block;
    position: relative;
    padding: 15px 10px 19px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    // nav icon
    i {
        display: block;
        font-size: 23px;
        margin-bottom: 2px;
    }
    &:hover,
    &:focus {
        text-decoration: none;
        color: #fff;
        background: rgba(255,255,255,0.2);
    }
    &.active,
    &.active:hover,
    &.active:focus {
        background: rgba(255,255,255,0.3);
    }
    &.active:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8.5px 8px 8.5px;
        border-color: transparent transparent #fff transparent;
        margin: 0 -8px;
    }
}
