/* _____ SPECIFICS _____ */

// import contextual entities
@import 'sample';


// miscellaneous rules


// various example component implementations
@include example();
@include example('.example2');
@include example('.example3', 'myHoverClass');
@include example('.example4', $param2: 'someParam', $hover: 'myHover');
@include example('.example5', $defaultSkin: false);
@include example-skin-alt('.example5');

.example6 {
  @include example2();
}

.client-search-spinner {
  display: inline-block;
  background: url(/images/search_spinner.gif) no-repeat center center;
  background-size: 24px 24px;
  margin-left: 4px;
  margin-top: 4px;
  width: 28px;
  height: 24px;
}
