/* _____ SPECIFICS _____ */

// import contextual entities
@import 'sample';
@import 'popovers';

// miscellaneous rules
.input-icon {
    display: block;
    position: absolute;
    z-index: 3;
    left: 0;
    font-size: 24px;
    color: #C7D0D8;
    margin: 7px $padding-base-horizontal - 2;
    transition: opacity 0.2s ease;
}

.has-input-icon-search {
    transition: padding 0.3s ease-in-out;
    padding-left: $padding-base-horizontal + 24;
    ~ .input-group-btn {
        //display: none;
        //visibility: hidden;
    }
    &:focus {
        padding-left: $padding-base-horizontal;
        ~ .input-icon {
            opacity: 0;
            //display: none;
        }
        ~ .input-group-btn {
            //display: inline-block;
            //visibility: visible;
        }
    }
}

.typeahead-search {
    + .dropdown-menu {
        width: 100%;
    }
}


[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.search-spinner {
    display: inline-block;
    background: url(/images/search_spinner.gif) no-repeat center center;
    background-size: 24px 24px;
    margin-left: 4px;
    margin-top: 4px;
    width: 28px;
    height: 24px;
    .typeahead & {
        margin: 6px;
    }
}

.emmi-fade {
    opacity: 1;
    &.ng-enter {
        transition: opacity .25s ease-out;
        opacity: 0;
        &.ng-enter-active {
            opacity: 1;
        }
    }
    &.ng-leave {
        transition: opacity .25s ease-out;
        opacity: 1;
        &.ng-leave-active {
          opacity: 0;
        }
    }
}
.modal-backdrop.emmi-fade {
    background: rgba(0, 0, 0, 0.5);
}
 // Account for difference between Bootstrap Sass and the AngularStrap modal directive
.modal-backdrop {
    position: fixed;
    height: 100%;
}

.modal-confirm-exit {
    z-index: 1080;
}

.modal-confirm-exit + .modal-backdrop {
    z-index: 1070;
}

.modal-confirm-exit .modal-dialog {
    max-width: 400px;
}

.btn-today {
  color: #000000;
  background-color: transparent;
  border-color: transparent;
}

.btn-today[disabled] {
  @extend .btn-today;
  color: #333;
}

.popover-text {
  font-size: 14px;
}

div.masked {
  position: relative;
  cursor: not-allowed;
}
div.masked:before {
  position:absolute;
  display:block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  z-index:100;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}


th.sort {
  cursor: pointer;
  span.glyphicon {
    font-size: x-small;
    vertical-align: baseline;
  }
}

.glyphicon-small {
    font-size: x-small;
    padding-right: .5em;
    vertical-align: top;
    margin-top: .2em;
    &.rotate-90 {
        margin-top: .6em;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

TR.nowrap TD, TH {
    white-space: nowrap;
}

.table-striped > tbody > tr.highlight > td, .highlight {
  background-color: yellow;
}

.pagination > .active > span {
    &:hover {
        color: darken(#428bca, 15%);
        background-color: lighten(#000, 93.5%); // #eee
        border-color: #ddd;
    }
    color: darken(#428bca, 15%);
    background-color: lighten(#000, 93.5%); // #eee
    border-color: #ddd;
}

.conflictingTeamForm{
  width: 15em;
}

.conflictingTeamRow{
  font-size: 14px;
}

.teamFilterSelect{
  padding-right: 0;
}

.teamFilterSideBorder{
  border-right:2px solid lightgrey;
}

.teamFilterOrganizeBy{
  padding: 0px;
}

.pointer{
  cursor:pointer;
}

// various example component implementations
@include example();
@include example('.example2');
@include example('.example3', 'myHoverClass');
@include example('.example4', $param2: 'someParam', $hover: 'myHover');
@include example('.example5', $defaultSkin: false);
@include example-skin-alt('.example5');

.example6 {
    @include example2();
}
