/* _____ SPECIFICS _____ */

// import contextual entities
@import 'sample';


// miscellaneous rules
.search-spinner {
    display: inline-block;
    background: url(/images/search_spinner.gif) no-repeat center center;
    background-size: 24px 24px;
    margin-left: 4px;
    margin-top: 4px;
    width: 28px;
    height: 24px;
    .typeahead & {
        margin: 6px;
    }
}

.emmi-fade {
    opacity: 1;
    &.ng-enter {
        transition: opacity .25s ease-out;
        opacity: 0;
        &.ng-enter-active {
            opacity: 1;
        }
    }
    &.ng-leave {
        transition: opacity .25s ease-out;
        opacity: 1;
        &.ng-leave-active {
          opacity: 0;
        }
    }
}
.modal-backdrop.emmi-fade {
    background: rgba(0, 0, 0, 0.5);
}

.btn-today {
  color: #000000;
  background-color: transparent;
  border-color: transparent;
}

.btn-today[disabled] {
  @extend .btn-today;
  color: #333;
}

.popover-text {
  font-size: 14px;
}

div.masked {
  position: relative;
  cursor: not-allowed;
}
div.masked:before {
  position:absolute;
  display:block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  z-index:100;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

// various example component implementations
@include example();
@include example('.example2');
@include example('.example3', 'myHoverClass');
@include example('.example4', $param2: 'someParam', $hover: 'myHover');
@include example('.example5', $defaultSkin: false);
@include example-skin-alt('.example5');

.example6 {
    @include example2();
}
