// Custom Popover code
// Tag library popover
.popover.popover-tag-library {
    width: 355px;
}
.popover {
    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 6px 6px 0 0;
        color: #fff;
        font-size: 22px;
        line-height: 1;
        padding: 2px 5px 5px 5px;
        border: 0;
        box-shadow: none;
        background: none;
    }
    .toggle-trigger {
        cursor: pointer;
        margin-left: -6px;
        .icon-caret-right {
            font-size: 12px;
            color: #6E7C88;
            vertical-align: top;
            margin: 6px 4px 0 0;
        }
        &.open .icon-caret-right {
            margin: 5px 2px 0 2px;
            transform: rotate(90deg);
        }
    }
    .toggle-content {
        display: none;
        margin-left: 58px;
        color: #8A8C8F;
        &.open {
            display: block;
        }
        small {
            display: block;
        }
    }
    .popover-footer .btn.pull-left {
        margin-right: 18px;
    }
    .popover-footer .info {
        line-height: 17px;
        padding: 6px 0;
    }
}

.popover-table {
    th {
        font-weight: 300;
        width: 50%;
    }
    th, td {
        padding: 2px 0;
    }
}
