<form name="activationForm" class="form" novalidate>
    <div class="col-md-12">
        <hr>
        <div id="generated-password"></div>
        <div class="row">
            <div class="col-md-12"
                 data-ng-controller="ActivationController"
                 data-ng-show="selectedUserClient.entity.email && !selectedUserClient.entity.activated"
                 data-ng-switch="selectedUserClient.entity.activationExpirationDateTime != null &&
                     selectedUserClient.entity.activationKey != null">
                <button class="btn btn-default" type="submit"
                        data-ng-show="selectedUserClient.entity.email"
                        data-ng-click="sendActivationEmail()">
                    <span>Send User Setup Email</span>
                </button>
                <em data-ng-switch-when="true">
                    <span class="glyphicon glyphicons-ok-circle"></span>
                    <small data-ng-show="!inThePast()">
                        <span class="glyphicon glyphicon-ok-sign green"></span>
                        Email sent. Link will expire
                        <span data-am-time-ago="selectedUserClient.entity.activationExpirationDateTime + 'Z'">
                            in time
                        </span>.
                        (<a href data-ng-click="expireNow()">expire now</a>)
                    </small>
                    <small data-ng-hide="!inThePast()">
                        <span class="glyphicon glyphicon-minus-sign red"></span>
                        <span>User setup email has expired. User will not be able to log in.</span>
                    </small>
                </em>
            </div>
            <div class="col-md-12"
                 data-ng-controller="UsersClientPasswordController">
                <div data-ng-show="selectedUserClient.entity.email && selectedUserClient.entity.activated"
                     data-ng-switch="selectedUserClient.entity.passwordResetExpirationDateTime != null &&
                     selectedUserClient.entity.passwordResetToken != null">
                    <button class="btn btn-default" type="submit" data-ng-click="passwordReset()">
                        <span>Resend Password Email</span>
                    </button>
                    <em data-ng-switch-when="true">
                        <span class="glyphicon glyphicons-ok-circle"></span>
                        <small data-ng-show="!inThePast()">
                            <span class="glyphicon glyphicon-ok-sign green"></span>
                            Email sent. Link will expire
                            <span data-am-time-ago="selectedUserClient.entity.passwordResetExpirationDateTime + 'Z'">
                                in time
                            </span>.
                            (<a href data-ng-click="expireNow()">expire now</a>)
                        </small>
                        <small data-ng-hide="!inThePast()">
                            <span class="glyphicon glyphicon-minus-sign red"></span>
                            <span>Password reset email has expired. User can log in with existing password.</span>
                        </small>
                    </em>
                </div>
                <div data-ng-hide="selectedUserClient.entity.email"
                     data-ng-switch="selectedUserClient.entity.passwordResetExpirationDateTime != null">
                    <button class="btn btn-default" type="button"
                            data-ng-disabled="passwordNotification"
                            data-ng-click="generatePassword($event)">
                        <span data-ng-show="selectedUserClient.entity.neverLoggedIn">Show User Credentials</span>
                        <span data-ng-hide="selectedUserClient.entity.neverLoggedIn">Reset Password</span>
                    </button>
                    &nbsp;
                    <em data-ng-switch-when="true">
                        <span class="glyphicon glyphicons-ok-circle"></span>
                        <small data-ng-show="!inThePast() && !passwordNotification">
                            <span class="glyphicon glyphicon-ok-sign green"></span>
                            <span data-ng-show="selectedUserClient.entity.neverLoggedIn">Credentials expire</span>
                            <span data-ng-hide="selectedUserClient.entity.neverLoggedIn">Reset password expires</span>
                            <span data-am-time-ago="selectedUserClient.entity.passwordResetExpirationDateTime + 'Z'">
                                in time
                            </span>.
                            (<a href data-ng-click="expireNow()">expire now</a>)
                        </small>
                        <small data-ng-hide="!inThePast()">
                            <span class="glyphicon glyphicon-minus-sign red"></span>
                            <span data-ng-hide="selectedUserClient.entity.neverLoggedIn">Reset password has expired. User will not be able to log in.</span>
                            <span data-ng-show="selectedUserClient.entity.neverLoggedIn">Credentials have expired. User will not be able to log in.</span>
                        </small>
                    </em>
                </div>
            </div>
        </div>
    </div>
</form>
