<form name="activationForm" class="form" data-ng-controller="ActivationController" novalidate>

    <div class="col-md-12">
        <hr>
        <div id="generated-password"></div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default" type="submit"
                        data-ng-show="selectedUserClient.entity.email && !selectedUserClient.entity.activated"
                        data-ng-click="sendActivationEmail()">
                    <span>Send User Setup Email</span>
                </button>
                <button class="btn btn-default" type="submit"
                        data-ng-show="selectedUserClient.entity.email && selectedUserClient.entity.activated"
                        data-ng-controller="UsersClientPasswordController"
                        data-ng-click="passwordReset()">
                    <span>Resend Password Email</span>
                </button>
                <button class="btn btn-default" type="button"
                        data-ng-hide="selectedUserClient.entity.email"
                        data-ng-controller="UsersClientPasswordController"
                        data-ng-click="generatePassword($event)">
                    <span
                        data-ng-show="selectedUserClient.entity.neverLoggedIn">Show User Credentials</span>
                    <span data-ng-hide="selectedUserClient.entity.neverLoggedIn">Reset Password</span>
                </button>
            </div>
        </div>
    </div>
</form>
