<div class="popover popover-tag-library">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
    <div class="popover-content">
<form name="clientRolesSelection" class="tag-library" data-popover-right-toggle>
    <div class="form-group">
        <div class="radio" data-ng-repeat="clientRole in clientRoles">
            <input type="radio" id="clientRole{{$index}}" data-ng-model="$parent.clientRolesSelection.selectedClientRole" value="{{clientRole.entity.id}}" />&nbsp;&nbsp;
            <label for="clientRole{{$index}}"></label>
            <span class="toggle-trigger">
                <span data-ng-show="clientRole.entity.permissions.length > 0" class="icon-caret-right"></span><span>{{ clientRole.entity.name }}</span>
            </span>
            <div class="toggle-content">
                <small>
                    <span data-ng-repeat="aPermission in clientRole.entity.permissions | orderBy:'permission.rank'">
                    {{aPermission.name  | translate }}{{!$last ? ',' : ''}}&nbsp;
                    </span>
                </small>
            </div>
        </div>
    </div>
    <div class="popover-footer">
        <button type="button" class="btn btn-default btn-xs btn-close" data-ng-click="$hide()">
            <span class="icon-delete"></span>
        </button>
        <button type="button" class="btn btn-success" 
                data-add-client-role-warning="">Add data-ng-click="associateClientRole(clientRolesSelection);$hide()"</button>
    </div>
</form>
    </div><!-- .popover-content -->
</div><!-- .popover -->
