<div class="row entity-info">
    <div class="col-md-4">
        <h5 class="entity-value-label">CLIENT</h5>

        <div class="entity-value" style="line-height: 1.2;">
            <small class="col-wrap">
                <a href="#/clients/{{encounter.entity.team.client.id}}" target="_blank">
                    {{encounter.entity.team.client.name}}
                </a>
            </small>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="entity-value-label">TEAM</h5>

        <div class="entity-value" style="line-height: 1.2;">
            <small class="col-wrap">
                <a href="#/clients/{{encounter.entity.team.client.id}}?team={{encounter.entity.team.id}}"
                   target="_blank">
                    {{encounter.entity.team.name}}
                </a>
            </small>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="entity-value-label">SCHEDULED</h5>

        <div class="entity-value" style="line-height: 1.2;">
            <small class="col-wrap">{{encounter.entity.encounterDateTime | date:'MM/dd/yyyy'}}
                <a href data-ng-if="encounter.entity.createdBy"
                   data-ng-click="goToUser(encounter)">
                    ({{encounter.entity.createdBy.login}})
                </a>
            </small>
        </div>
    </div>
</div>
<!-- 
<div class="row entity-info">
    <div class="col-md-4">
        <h5 class="entity-value-label">PROVIDER</h5>

        <div class="entity-value" style="line-height: 1.2;">
            <small class="col-wrap">
                <a href="#/providers/{{scheduledProgram.entity.provider.id}}" target="_blank">
                    {{scheduledProgram.entity.provider.fullName}}
                </a>
            </small>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="entity-value-label">LOCATION</h5>

        <div class="entity-value" style="line-height: 1.2;">
            <small class="col-wrap">
                <a href="#/locations/{{scheduledProgram.entity.location.id}}" target="_blank">
                    {{scheduledProgram.entity.location.name}}
                </a>
            </small>
        </div>
    </div>
</div>
 -->
