<h2>Program History</h2>
<div class="row">
    <div class="col-md-12">
        <span
            data-ng-if="scheduledProgramsLoaded && encounters.length === 0">Patient has no scheduled programs.</span>


        <div class="panel-group"
             data-ng-model="encounter.activePanel"
             data-ng-repeat="encounter in encounters"
             data-ng-change="toggleEncounterPanel(encounter)"
             data-start-collapsed="true"
             data-bs-collapse>
          <div class="panel panel-secondary"
             data-ng-class="{ 'panel-open': encounter.activePanel === 0 }">
            <div class="panel-heading pointer" data-bs-collapse-toggle>
              <div class="row panel-title">
                <div class="row panel-title">
                  <div class="col-md-12" data-ng-hide="encounter.activePanel === 0">
                    <div class="col-md-12">
                      <span class="icon-caret-right"></span>
                      <span class="panel-title-text">
                          {{encounter.entity.scheduledPrograms.length}}
                          <span data-ng-if="encounter.entity.scheduledPrograms.length === 1"> program</span>
                          <span data-ng-if="encounter.entity.scheduledPrograms.length !== 1"> programs</span>
                          <span style="color: #ECF5F8;">
                              <em>({{encounter.entity.names | characters:50}})</em>
                          </span>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-12" data-ng-show="encounter.activePanel === 0">
                    <div class="col-md-5">
                        <span class="icon-caret-right"></span>
                        <span class="panel-title-text">
                            {{encounter.entity.scheduledPrograms.length}}
                            <span data-ng-if="encounter.entity.scheduledPrograms.length === 1"> program</span>
                            <span data-ng-if="encounter.entity.scheduledPrograms.length !== 1"> programs</span>
                        </span>
                    </div>
                    <div class="col-md-7" style="margin-top: 3px;">
                        <div class="pull-right">
                            <small>Access Code: <strong>{{encounter.entity.accessCode}}</strong></small>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-collapse" data-bs-collapse-target>
              <div class="panel-body" style="margin: 0;padding:0">
                <div data-ng-repeat="scheduledProgram in encounter.entity.scheduledPrograms">
                    <form name="scheduledProgramForm_{{scheduledProgram.entity.id}}"
                          data-unsaved-warning-form novalidate>
                        <div class="row" data-ng-click="toggleScheduledProgramPanel(scheduledProgram, scheduledProgramForm_{{scheduledProgram.entity.id}})" >
                            <div class="col-md-12">
                                <table class="table table-hover table-striped"
                                       border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 0px">
                                    <tr data-ng-mouseover="showEnable = true" data-ng-mouseout="showEnable = false">
                                        <td>
                                            <span class="icon-caret-right" data-ng-style="{'transform': scheduledProgram.showDetails ? 'rotate(90deg)' : 'none'}"></span>
                                            <span class="text-muted" style="margin-right: 3px;">
                                                <span
                                                    data-ng-show="scheduledProgram.entity.program.type.name === 'MULTIMEDIA PROGRAM'"
                                                    class="icon-film"
                                                    aria-label="Multimedia" title="Multimedia"></span>
                                                <span
                                                    data-ng-show="scheduledProgram.entity.program.type.name === 'ARTICLE'"
                                                    class="icon-text-doc"
                                                    aria-label="Article" title="Article"></span>
                                                <span
                                                    data-ng-show="scheduledProgram.entity.program.type.name === 'IVR CALL'"
                                                    class="icon-telephone"
                                                    aria-label="Call" title="Call"></span>
                                                <span
                                                    data-ng-show="scheduledProgram.entity.program.type.name === 'TRANSITION PROGRAM'"
                                                    class="icon-telephone"
                                                    aria-label="Transition Program"
                                                    title="Transition Program"></span>
                                                <span
                                                    data-ng-show="scheduledProgram.entity.program.type.name === 'NAVIGATE'"
                                                    class="icon-telephone"
                                                    aria-label="Navigate" title="Navigate"></span>
                                                <span
                                                    data-ng-show="scheduledProgram.entity.program.type.name === 'MESSAGE'"
                                                    class="icon-telephone"
                                                    aria-label="Message" title="Message"></span>
                                            </span>
                                            <span class="col-wrap"
                                                  data-ng-class="{'text-muted': !scheduledProgram.entity.active}">
                                                {{scheduledProgram.entity.program.name}}

                                                <span
                                                    data-ng-hide="scheduledProgram.entity.active"><em>(inactive)</em></span>
                                            </span>

                                            <button data-ng-show="showEnable" type="button"
                                                    class="pull-right btn btn-link btn-link-nopad"
                                                    style="text-transform: lowercase"
                                                    data-ng-disabled="scheduledProgram.whenSaving"
                                                    data-ng-click="toggleProgramActivation(encounter, scheduledProgram, scheduledProgramForm_{{scheduledProgram.entity.id}}, {{$index}})"
                                                    aria-label="Disable Scheduled Program">
                                                    <span style="margin-right: 23px;">
                                                        {{scheduledProgram.entity.active ? 'deactivate' : 'reactivate'}}
                                                    </span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row" data-ng-show="scheduledProgram.showDetails">
                          <div class="col-md-12">
                          <div class="col-md-4">
                            <div class="form-group"
                               data-ng-class="{ 'has-error' : scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$invalid &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.programFormSubmitted  &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$dirty}">

                              <label class="text-muted"
                                     style="padding: 10px 0 0 0;"
                                     for="viewByDate_{{scheduledProgram.entity.id}}">
                                  View-by Date
                              </label>

                              <div class="error-circle fa-exclamation-circle" role="alert"
                                   data-ng-show="
                                              !scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$error.date &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$error.required &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.programFormSubmitted"
                                   data-bs-tooltip data-placement="right" data-type="danger"
                                   data-container="body"
                                   data-title="Required" aria-label="Required"></div>
                              <div class="error-circle fa-exclamation-circle" role="alert"
                                   data-ng-show="!scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$error.required &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$error.min &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.programFormSubmitted &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$dirty"
                                   data-bs-tooltip data-placement="right" data-type="danger"
                                   data-container="body"
                                   data-title="Please enter a date in the future"
                                   aria-label="Please enter a date in the future"></div>

                              <div class="error-circle fa-exclamation-circle" role="alert"
                                   data-ng-show="!scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$error.required &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$error.max &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.programFormSubmitted &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$dirty"
                                   data-bs-tooltip data-placement="right" data-type="danger"
                                   data-container="body"
                                   data-title="Please enter a date within 5 years from today"
                                   aria-label="Please enter a date within 5 years from today"></div>

                              <div class="error-circle fa-exclamation-circle" role="alert"
                                   data-ng-show="(scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$error.min &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$error.date &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$error.required ||
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$error.date &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.viewByDate.$error.required) &&
                                              scheduledProgramForm_{{scheduledProgram.entity.id}}.programFormSubmitted"
                                   data-bs-tooltip data-placement="right" data-type="danger"
                                   data-container="body"
                                   data-title="Please enter a valid view-by date"
                                   aria-label="Please enter a valid view-by date"></div>
                              <div>
                                  <div class="has-input-icon has-input-icon-calendar" style="width: 115px;">
                                      <input id="viewByDate_{{scheduledProgram.entity.id}}"
                                             class="form-control"
                                             type="text" name="viewByDate"
                                             data-ng-model="scheduledProgram.entity.viewByDate"
                                             data-autoclose="true"
                                             data-ng-disabled="scheduledProgram.whenSaving"
                                             data-container="body"
                                             data-date-format="MM/dd/yyyy"
                                             data-input-icon
                                             data-dateType="iso" data-bs-datepicker
                                             data-min-date="today"
                                             data-max-date="{{fiveYearsFromTodayString}}"
                                             required
                                             data-ng-change="isUnchanged(encounter, scheduledProgram, scheduledProgramForm_{{scheduledProgram.entity.id}}, {{$index}})"
                                             style="padding: 8px 10px;height: 37px;"
                                          >
                                  <span class="input-icon" style="margin: 1px 6px;">
                                      <i class="icon-calendar"></i>
                                  </span>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label class="text-muted"
                                   style="padding: 10px 0 0 0;"
                                   for="location_{{scheduledProgram.entity.id}}">
                                PROVIDER
                            </label>
                            <div class="entity-value" style="line-height: 1.2;">
                                <a href="#/providers/{{scheduledProgram.entity.provider.id}}" target="_blank">
                                    {{scheduledProgram.entity.provider.fullName}}
                                </a>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label class="text-muted"
                                   style="padding: 10px 0 0 0;"
                                   for="provider_{{scheduledProgram.entity.id}}">
                                LOCATION
                            </label>
                            <div class="entity-value" style="line-height: 1.2;">
                                <a href="#/locations/{{scheduledProgram.entity.location.id}}" target="_blank">
                                    {{scheduledProgram.entity.location.name}}
                                </a>
                            </div>
                          </div>
                          </div>
                            <div class="col-md-12">
                                <div class="col-md-12 form-group">
                                    <label class="text-muted">PATIENT NOTES</label>
                                    <div class="entity-value">
                                        {{scheduledProgram.scheduledProgramNotes.note}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row" style="padding: 0; margin-top: 17px;">
                    <div class="col-md-12"
                         style="margin-bottom: -15px; padding-left: 33px; padding-right: 28px;">
                        <div class="form-group pull-left">
                            <button type="button" class="btn btn-default"
                                    style="padding: 8px 15px;"
                                    id="resendInstructions_{{encounter.entity.id}}"
                                    data-ng-disabled="scheduledProgram.whenSaving"
                                    aria-label="Resend Instructions">
                                resend instructions
                            </button>
                        </div>
                        <div class="pull-right" style="margin-top: 2px;">
                            <button type="button" class="btn btn-link btn-link-nopad"
                                    data-ng-hide="encounter.showDetails"
                                    data-ng-click="showDetails(encounter)"
                                    style="font-size: 13px;"
                                    aria-label="SHOW DETAILS">
                                SHOW DETAILS
                            </button>
                            <button type="button" class="btn btn-link btn-link-nopad"
                                    data-ng-show="encounter.showDetails"
                                    data-ng-click="hideDetails(encounter)"
                                    style="font-size: 13px;"
                                    aria-label="HIDE DETAILS">
                                HIDE DETAILS
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row"
                           data-ng-show="encounter.dirtyForms && encounter.dirtyForms.length > 0"
                           style="margin-bottom: 8px;">
                          <div class="col-md-12" style="padding-left: 33px; padding-right: 28px;">
                              <button type="button" class="btn btn-success"
                                      style="padding: 8px 15px;"
                                      data-ng-disabled="scheduledProgram.whenSaving"
                                      data-ng-click="saveEncounter(encounter)"
                                      aria-label="SAVE">
                                  SAVE
                              </button>
                              <button type="button" class="btn btn-cancel"
                                      style="padding: 8px 15px;"
                                      data-ng-disabled="scheduledProgram.whenSaving"
                                      data-ng-click="cancelEncounterChanges(encounter)"
                                      aria-label="CANCEL">
                                  CANCEL
                              </button>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="row" style="border-top:1px solid #ddd; background-color: #fbfcfc;">
                    <div class="col-md-12"
                         style="padding: 4px 28px 6px 33px;background-color:  #fbfcfc;">
                        <div data-ng-if="encounter.showDetails"
                             style="margin-top: 7px; margin-bottom: -12px;"
                             data-ng-include="'admin-facing/support/patient/view/program-history/details.html'"></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
