    <div data-translate="client_edit_page.cancel_dialog.content"></div>
    <div class="popover-footer">
        <button class="btn btn-success" data-ng-click="ok()"
                data-ng-disabled="whenSaving"
                data-translate="client_edit_page.cancel_dialog.ok_button"></button>
        <button class="btn btn-cancel" type="button" data-ng-click="cancel()"
                data-ng-disabled="whenSaving"
                data-translate="client_edit_page.cancel_dialog.cancel_button"></button>
    </div>



