<div class="app-header with-breadcrumbs" data-emmi-navbar>
    <!-- Secondary menu for transclusion -->
    <ul class="secondary-nav" data-ng-if="!team.id">
        <li data-ng-if="!isProduction"><a href="#/clients/{{client.id}}/password_policy">Client Configurations</a></li>
        <li>
            <a data-ng-if="existingClientRoles.length > 0 || existingClientTeamRoles.length > 0" href="#/clients/{{client.id}}/users">Manage Users</a>
            <a data-ng-if="existingClientRoles.length === 0 && existingClientTeamRoles.length === 0" data-ng-class="{'disabled':(existingClientRoles.length === 0 && existingClientTeamRoles.length === 0)}" data-bs-tooltip data-type="info" data-placement="bottom" data-title="Set up user roles before adding users">Manage Users</a>
        </li>
        <li><a href="#/clients/{{client.id}}/roles">Manage Roles</a></li>
    </ul>
    <ul class="secondary-nav" data-ng-if="team.id">
        <li data-ng-if="!isProduction"><a target="create_patient" href="{{clientBaseUrl}}#/impersonate/{{client.id}}/teams/{{team.id}}/schedule/patients">Schedule Programs</a></li>
        <li data-ng-if="!isProduction"><a target="client_patients" href="{{clientBaseUrl}}#/impersonate/{{client.id}}/teams/{{team.id}}/allPatients">Patients List</a></li>
        <li>
            <a data-ng-if="existingClientRoles.length > 0 || existingClientTeamRoles.length > 0" href="#/clients/{{client.id}}/users">Manage Users</a>
            <a data-ng-if="existingClientRoles.length === 0 && existingClientTeamRoles.length === 0" data-ng-class="{'disabled':(existingClientRoles.length === 0 && existingClientTeamRoles.length === 0)}" data-bs-tooltip data-type="info" data-placement="bottom" data-title="Set up user roles before adding users">Manage Users</a>
        </li>
        <li><a href="#/clients/{{client.id}}/teams/{{team.id}}/configuration">Team Configurations</a></li>
    </ul>
    <!-- Breadcrumb for transclusion -->
    <ol class="breadcrumb">
        <li><a href="#/clients?{{currentRouteQueryString}}">Search</a></li>
        <li data-ng-class="{'active': !team.id}"><a data-ng-href="#/clients/{{client.id}}?{{currentRouteQueryString}}">{{client.name}}</a></li>
        <li data-ng-if="team.id" class="active">{{team.name}}</li>
    </ol>
</div>
<div class="app-content app-content-with-sidebar container" data-ng-cloak>
    <div class="row" data-ng-switch on="showTeam">
        <div data-emmi-sidebar class="sidebar"
             data-ng-include="'admin-facing/partials/client/teamsFilter/teams_filter.html'"></div>
        <!-- Loading state -->
        <div class="main-content" data-ng-switch-when="loading">
            <div class="layout-card">
                <p class="text-center"><span class="search-spinner"></span></p>
            </div>
        </div>
        <!-- Client View/Edit content -->
        <div class="main-content" data-ng-switch-default>
            <div data-ng-include="'admin-facing/partials/client/edit/editor.html'"></div>
        </div>
        <!-- Original Team Edit (/admin-facing/partials/team/team_edit.html) content -->
        <div class="main-content" ng-switch-when="yes">
            <div data-ng-include="'admin-facing/partials/team/team_edit.html'"></div>
        </div>
    </div><!-- .row -->
</div><!-- .container -->
<footer class="footer" data-ng-include="'admin-facing/partials/common/footer.tpl.html'"></footer>
