<div class="app-header" data-emmi-navbar></div>
<div class="container" data-ng-controller="ClientListCtrl" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="layout-card">
                <h1>Manage Clients, Teams, Providers and Locations:</h1>
                <form name="searchForm" novalidate>
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <div data-ng-include="'admin-facing/partials/search/search_option_dropdown.html'"></div>
                        </div>
                        <div class="col-md-6 col-sm-5">
                            <div class="form-group">
                                <label class="sr-only" for="query">Search</label>
                                <div class="input-group has-input-icon has-input-icon-search">
                                    <input type="text" class="form-control" id="query" name="query" data-ng-model="query"
                                       placeholder="Search..." required data-auto-focus>
                                    <span class="input-icon"><i class="icon-search"></i></span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" data-ng-click="search()"
                                                data-ng-disabled="searchForm.query.$invalid || loading"
                                                data-translate="global.buttons.search">Go
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3">
                            <span data-ng-class="{'search-spinner' : loading}"></span>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="pull-right">
                                <a class="btn btn-link" data-ng-href="#clients/new?{{currentRouteQueryString}}" data-ng-show="searchPerformed">
                                    <i class="icon-plus icon-size-md">&nbsp;</i>Create New Client
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row" data-ng-show="searchPerformed">
                    <div class="col-md-12">
                        <hr>
                        <div class="row" data-ng-hide="removeStatusFilterAndTotal">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    {{total}}
                                    <span data-ng-show="total != 1" data-translate="global.labels.total"> results</span>
                                    <span data-ng-show="total === 1" data-translate="global.labels.totalSingular"> result</span>
                                </div>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="status_filter" data-translate="global.labels.statusFilter">Show:</label>&nbsp;&nbsp;
                                        <select class="form-control" id="status_filter" data-ng-model="status"
                                                data-ng-options="status | translate for status in statuses"
                                                data-ng-change="statusChange()">
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <table class="table table-bordered table-striped table-hover table-secondary" border="0" cellpadding="0" cellspacing="0"
                               data-ng-show="clients">
                            <thead>
                                <tr>
                                    <th class="sort col-sm-3" data-ng-click="sort('name')">Name <span data-ng-show="sortProperty.property === 'name'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                    <th class="sort col-sm-3" data-ng-click="sort('salesForceAccount.name')">Salesforce Account <span
                                            data-ng-show="sortProperty.property === 'salesForceAccount.name'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                    <th class="sort col-sm-3" data-ng-click="sort('contractOwner.lastName')">Contract Owner <span
                                            data-ng-show="sortProperty.property === 'contractOwner.lastName'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                    <th class="sort col-sm-2" data-ng-click="sort('type.typeKey')">Type <span data-ng-show="sortProperty.property === 'type.typeKey'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                                    </th>
                                    <th class="col-sm-1 text-center">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="client in clients | orderBy:'client.sortIdx'">
                                    <td>{{client.entity.name}}</td>
                                    <td>{{client.entity.salesForceAccount.name}}</td>
                                    <td>{{client.entity.contractOwner.firstName}} {{client.entity.contractOwner.lastName}}</td>
                                    <td>{{client.entity.type.typeKey | translate}}</td>
                                    <td class="text-center">
                                        <a href="#/clients/{{client.entity.id}}?{{currentRouteQueryString}}"><i class="icon-compose icon-size-xl"></i></a>
                                    </td>
                                </tr>
                                <tr class="no-hover">
                                    <td colspan="5" class="text-center" data-ng-show="links">
                                        <ul class="pagination">
                                            <li data-ng-repeat="link in links | orderBy:'order'" class="{{link.className}}" data-ng-class="{'active': link.name == currentPage}">
                                                <a data-ng-click="fetchPage(link.href)">
                                                    <i class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                                                    {{link.name}}
                                                    <i class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div data-ng-hide="clients">
                            <span data-translate="global.messages.search.no_results_found"></span>
                        </div>
                    </div><!-- .col-md-12 -->
                </div><!-- .row -->
            </div><!-- .layout-card -->
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
<footer class="footer" data-ng-include="'admin-facing/partials/common/footer.tpl.html'"></footer>
