<div class="row popover-text">
    <div class="col-md-12">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td><span data-translate="client_edit_page.unique_popup_dialog.name"></span></td>
                <td>{{existsClient.entity.name}}</td>
            </tr>
            <tr>
                <td><span data-translate="client_edit_page.unique_popup_dialog.city"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    {{existsClient.entity.salesForceAccount.city}}<span
                        data-ng-show="existsClient.entity.salesForceAccount.city && existsClient.entity.salesForceAccount.state">,&nbsp;</span>{{
                    existsClient.entity.salesForceAccount.state}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="pull-right" href="#/clients/{{existsClient.entity.id}}">view </a>
    </div>
</div>


