<div class="popover-text">
        <table border="0" cellpadding="0" cellspacing="0" class="table table-condensed">
            <tr>
                <td><strong><span data-translate="client_edit_page.unique_popup_dialog.name"></span></strong></td>
                <td><a href="#/clients/{{existsClient.entity.id}}">{{existsClient.entity.name}}</a></td>
            </tr>
            <tr>
                <td><strong><span data-translate="client_edit_page.unique_popup_dialog.city"></span></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    {{existsClient.entity.salesForceAccount.city}}<span
                        data-ng-show="existsClient.entity.salesForceAccount.city && existsClient.entity.salesForceAccount.state">,&nbsp;</span>{{
                    existsClient.entity.salesForceAccount.state}}
                </td>
            </tr>
        </table>
</div>


