<div class="host" tabindex="-1" ti-transclude-append="">
    <div class="tags" data-ng-class="{focused: hasFocus}">
        <ul class="tag-list">
            <li class="tag-item" data-ng-repeat="tag in tagList.items track by $index" data-ng-class="{ selected: $index == tagList.selected, editing: tag.editMode, invalid: tag.invalid }">
                <span class="tag-text" data-ng-click="tagList.select($index)" data-ng-hide="tag.editMode">{{getDisplayText(tag)}}</span>
                <input type="text" data-ng-show="tag.editMode" data-ng-model="tag.text" data-ti-autosize="" data-focus-on="editMode" data-ng-click="tagList.select($index)" data-ng-enter="tagList.saveTag(tag)" data-ng-blur="tagList.saveTag(tag)">
                <a class="remove-button" data-ng-click="tagList.remove($index)">{{options.removeTagSymbol}}</a>
                <span class="error-circle glyphicon glyphicon-exclamation-sign" data-ng-show="tag.invalid"
                    data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                    data-title="{{tag.invalidMessage}}"></span>
            </li>
        </ul>
        <div data-ng-form name="tagInputForm" data-ng-hide="newTag.hidden">
            <input name="tagInput" class="input" placeholder="{{options.placeholder}}" tabindex="{{options.tabindex}}" data-ng-model="newTag.text" data-ng-trim="false" data-ti-autosize="" novalidate="">
        </div>
    </div>
</div>
