<div class="modal" tabindex="-1" role="dialog" data-ng-submit="add(ipRestrictConfigurationForm)" 
    data-ng-controller="AddIpRestrictConfigurationController">
    <form name="ipRestrictConfigurationForm" class="form" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" data-ng-show="ipRestrictConfigurationForm.$invalid && ipRestrictConfigurationFormSubmitted">
                        <div class="col-md-12" id="ip-message-container"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"
                                 data-ng-class="{ 'has-error' : ipRestrictConfigurationForm.ipRangeStart.$invalid && ipRestrictConfigurationFormSubmitted }">
                                <label class="control-label" for="ipRangeStart">Start IP:</label>
                                <div class="error-circle glyphicon glyphicon-exclamation-sign"
                                     data-ng-show="ipRestrictConfigurationForm.ipRangeStart.$error.required && ipRestrictConfigurationFormSubmitted"
                                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                                     data-title="Required"></div>
                                <div class="error-circle glyphicon glyphicon-exclamation-sign"
                                    data-ng-show="ipRestrictConfigurationForm.ipRangeStart.$error.pattern && ipRestrictConfigurationFormSubmitted"
                                    data-bs-tooltip data-placement="right" data-type="danger"
                                    data-container="body" data-title="Please enter a valid IP start."></div>
                                <input class="form-control" id="ipRangeStart" 
                                       data-ng-model="ipRestrictConfiguration.entity.ipRangeStart"
                                       name="ipRangeStart"
                                       type="text" 
                                       data-ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/"
                                       placeholder="0.0.0.0"
                                       required data-auto-focus>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"
                                 data-ng-class="{ 'has-error' : ipRestrictConfigurationForm.ipRangeEnd.$invalid && ipRestrictConfigurationFormSubmitted }">
                                <label class="control-label" for="ipRangeEnd">End IP:</label>
                                <div class="error-circle glyphicon glyphicon-exclamation-sign"
                                     data-ng-show="ipRestrictConfigurationForm.ipRangeEnd.$error.required && ipRestrictConfigurationFormSubmitted"
                                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                                     data-title="Required"></div>
                                <div class="error-circle glyphicon glyphicon-exclamation-sign"
                                    data-ng-show="ipRestrictConfigurationForm.ipRangeEnd.$error.pattern && ipRestrictConfigurationFormSubmitted"
                                    data-bs-tooltip data-placement="right" data-type="danger"
                                    data-container="body" data-title="Please enter a valid IP end"></div>
                                <input class="form-control" id="ipRangeEnd" 
                                       data-ng-model="ipRestrictConfiguration.entity.ipRangeEnd"
                                       name="ipRangeEnd"
                                       type="text" 
                                       data-ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/"
                                       placeholder="0.0.0.0"
                                       required >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"
                                 data-ng-class="{ 'has-error' : ipRestrictConfigurationForm.description.$invalid && ipRestrictConfigurationFormSubmitted }">
                                <label class="control-label" for="description">Description:</label>
                                <input class="form-control" id="passwordLength" 
                                       data-ng-model="ipRestrictConfiguration.entity.description"
                                       name="description"
                                       type="text" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-ng-click="$hide()">Cancel</button>
                    <button type="button" class="btn btn-default" data-ng-click="add(ipRestrictConfigurationForm, true)">Save & Add Another</button>
                    <input type="submit" id="submit" class="btn btn-primary" value="Save"/>
                </div>
            </div>
        </div>
    </form>
</div>
