<div class="col-md-12" data-ng-cloak>
    <form name="selfRegForm" class="form" novalidate>
        <h1>Self-Registration</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"
                     data-ng-class="{ 'has-error' : selfRegForm.code.$invalid && selfRegFormSubmitted }">
                    <div class="error-circle fa-exclamation-circle" role="alert"
                         data-ng-show="selfRegForm.code.$error.required && selfRegFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger"
                         data-container="body" data-title="Required" aria-label="Required"></div>
                    <div class="error-circle fa-exclamation-circle" role="alert"
                         data-ng-show="selfRegForm.code.$error.unique && selfRegFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger"
                         data-container="body"
                         data-title="This Code is already in use" aria-label="This Code is already in use"></div>
                    <div class="error-circle fa-exclamation-circle" role="alert"
                         data-ng-show="selfRegForm.code.$error.pattern && selfRegFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Valid Team Self-Registration Codes Must be:
                         A-z (case insensitive)
                         numbers 0-9
                         Special Characters: - _
                         minimum:1
                         maximum: 100 characters
                         no spaces " aria-label="Please enter a valid name"></div>
                    <label class="control-label" for="code">Create a Code</label>
                    <input class="form-control" name="code" type="text" data-ng-pattern="/^[a-zA-Z0-9-_]+$/" required data-ng-model="selfRegConfig.code"
                           data-ng-change="resetValidity(selfRegForm)" id="code" maxlength="100">
                </div>
            </div>
            <div class="col-md-6" data-ng-hide="originalSelfRegConfig.code">
                <span class="enumerate-value"><em><br/>There is no existing Self-Registration site for this team.</em></span>
            </div>
        </div>
        <div class="pull-right" data-ng-show="!(selfRegConfig.code === originalSelfRegConfig.code)">
            <button class="btn btn-cancel" type="button" data-ng-click="cancel()">
                <span>cancel</span>
            </button>
            <button class="btn btn-success" type="submit" data-ng-click="continue(selfRegForm)">
                <span>{{originalSelfRegConfig.code ? 'Edit' : 'Continue'}}</span>
            </button>
        </div>
    </form>
    <br/>
    <br/>
    <br/>
    <div data-ng-show="selfRegConfig.id" data-ng-include="'admin-facing/partials/team/configuration/patient-self-reg/patient-self-reg-config.html'"></div>
</div>
