<div data-ng-controller="ProviderSearchController">      
     <div class="row">
          <div class="col-md-7">
          	 <br />
             <form name="searchForm" data-ng-submit="search(searchForm.providerQuery.$valid)" novalidate>
                 <div class="form-group">
                     <label class="sr-only" for="providerQuery">Search providers:</label>
                     <div class="input-group has-input-icon has-input-icon-search">
                         <input class="form-control" id="providerQuery" name="providerQuery" data-ng-model="searchAll.providerQuery"
                                type="text" placeholder="search by name last, first" required data-auto-focus data-focus-on="ProviderSearchFocus">
                         <span class="input-icon"><i class="icon-search"></i></span>
                         <span class="input-group-btn">
                             <button class="btn btn-success" data-ng-click="search(searchForm.providerQuery.$valid)"
                              data-ng-disabled="searchForm.providerQuery.$invalid">Go</button>
                         </span>
                     </div>
                 </div>
             </form>
         </div>
         <div class="col-md-5" data-ng-show="allProvidersSearch">
             <br />
             <button type="button" class="btn btn-default pull-right"
                     data-ng-disabled="whenSaving"
                     data-ng-click="createNewProvider(searchForm)">
                 <i class="icon-plus"></i> add new provider
             </button>
             <span data-ng-class="{'search-spinner' : loading}"></span>
         </div>
     </div>
     <br />
     <div data-ng-show="allProvidersSearch">
         <div class="row table-search-filters">
             <div class="col-md-12">
                 <div class="pull-right table-results-count" aria-live="polite" aria-atomic="true" data-ng-hide="total === 0">
                     {{total}}
                     <span data-ng-show="total != 1" data-translate="global.labels.total"> results</span>
                     <span data-ng-show="total === 1"
                           data-translate="global.labels.totalSingular"> result</span>
                 </div>
                 <form class="form-inline">
                     <div class="form-group">
                         <label for="status_filter" data-translate="global.labels.statusFilter">Show:</label>&nbsp;&nbsp;
                         <select class="form-control input-sm" style="width:110px;" id="status_filter" data-ng-model="searchAll.status"
                                 data-ng-options="status | translate for status in statuses"
                                 data-ng-change="statusChange()" data-chosen data-disable-search="true" data-width="'110px'">
                         </select>
                     </div>
                 </form>
             </div>
         </div>
         <table class="table table-bordered table-striped table-hover table-condensed" border="0" cellpadding="0" cellspacing="0" data-ng-show="providers">
             <thead>
                 <tr>
                     <th class="sort col-checkbox">&nbsp;</th>
                     <th class="sort" data-ng-click="sort('normalizedName')">
                         Name
                         <span data-ng-show="sortProperty.property === 'normalizedName'"><span class="sort-icon"
                                                                                               data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                     </th>
                     <th class="sort col-sm-3" data-ng-click="sort('specialty.name')">
                         Primary Specialty
                         <span data-ng-show="sortProperty.property === 'specialty.name'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                     </th>
                     <th class="sort col-sm-3" data-ng-click="sort('email')">
                         Email
                         <span data-ng-show="sortProperty.property === 'email'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
                     </th >
                     <th class="col-sm-3" data-ng-if="allTeamLocations.length > 0">Use Locations
                     </th>
                 </tr>
             </thead>
             <tbody>
                 <tr data-ng-repeat="teamProvider in providers">
    				 <td class="col-checkbox">
                       <div class="checkbox">
                           <input type="checkbox" id="teamProviderSearchCb{{$index}}" 
                              data-ng-model="teamProvider.provider.entity.checked"
                              data-ng-change="onCheckboxChange(teamProvider)" 
                              data-ng-disabled="teamProvider.provider.entity.disabled">
                           <label for="teamProviderSearchCb{{$index}}"></label>
                       </div>
    				 </td>
    				 <td>{{teamProvider.provider.entity.firstName}} {{teamProvider.provider.entity.middleName}} {{teamProvider.provider.entity.lastName}} <em>{{teamProvider.provider.entity.active ? '' : "(inactive)"}}</em></td>
                     <td>{{teamProvider.provider.entity.specialty.name}}</td>
                     <td>{{teamProvider.provider.entity.email}}</td>
                     <td class="col-has-multiselect" data-ng-if="allTeamLocations" >
                       <div data-ng-if="allTeamLocations && teamProvider.provider.entity.checked && !teamProvider.provider.entity.disabled">
                         <div data-ng-class="{'has-error col-md-11': teamProvider.provider.entity.selectedTeamLocations < 1 && associateRequestSubmitted}" data-multi-select
                              data-name=".nonClientProvider[{{teamProvider.provider.entity.id}}].allTeamLocations{{$index}}"
                              data-values="allTeamLocations"
                              data-model="teamProvider.provider.entity.selectedTeamLocations"
                              data-show-filters="true"
                              data-value-field="id"
                              data-label-field="label"
                              data-template-path="admin-facing/partials/common/directives/multi-select/multi-select.html">
                         </div>
                         <div class="error-circle fa-exclamation-circle glyphicon-form-inline-right" role="alert"
          					data-ng-show="teamProvider.provider.entity.selectedTeamLocations < 1 && associateRequestSubmitted"
          					data-bs-tooltip data-placement="top" data-type="danger" data-container="body"
          					data-title="At least one location is required" aria-label="At least one location is required">
          			     </div>
                      </div>
             		</td>
                 </tr>
                 <tr class="pagination-row no-hover">
                     <td colspan="6" class="text-center" data-ng-show="links">
                         <ul class="pagination">
                             <li data-ng-repeat="link in links | orderBy:'order'" class="{{link.className}}" data-ng-class="{'active': link.name == currentPage}">
                                 <a data-ng-click="fetchPage(link.href)">
                                     <i aria-label="Previous" class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                                     {{link.name}}
                                     <i aria-label="Next" class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
                                 </a>
                             </li>
                         </ul>
                     </td>
                 </tr>
             </tbody>
         </table>
         <div class="table-no-results" data-ng-hide="!allProvidersSearch || providers">
             <p><span data-translate="global.messages.search.no_results_found"></span></p>
         </div>
     </div>
</div>
