<br/>
<table class="table table-bordered table-striped table-hover table-condensed" border="0" cellpadding="0"
        cellspacing="0" data-ng-show="clientProviders">
  <thead>
    <tr>
      <th class="sort col-checkbox">&nbsp;</th>
        <th class="sort" data-ng-click="sortClientProviders('provider.normalizedName')">
         Name
            <span data-ng-show="sortProperty.property === 'provider.normalizedName'"><span class="sort-icon"
                                                                                           data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
      </th>
        <th class="col-sm-3">
         Primary Specialty
         <span data-ng-show="sortProperty.property === 'provider.specialty.name'"><span class="sort-icon" data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
      </th>
      <th class="sort col-sm-3" data-ng-click="sortClientProviders('provider.email')">
         Email
          <span data-ng-show="sortProperty.property === 'provider.email'"><span class="sort-icon"
                                                                                data-ng-class="{'fa-angle-down': sortProperty.ascending, 'fa-angle-up': !sortProperty.ascending}"></span></span>
      </th >
      <th class="col-sm-3" data-ng-if="allTeamLocations.length > 0">Use Locations</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="clientProvider in clientProviders" data-ng-class="clientProvider.provider.entity.disabled ? 'text-muted' : ''">
      <td class="col-checkbox">
          <div class="checkbox">
              <input type="checkbox" id="clientProviderCb{{$index}}" data-ng-model="clientProvider.provider.entity.checked"  data-ng-disabled="clientProvider.provider.entity.disabled"
                     data-ng-change="onCheckboxChange(clientProvider.provider)">
              <label for="clientProviderCb{{$index}}"></label>
          </div>
      </td>
      <td>{{clientProvider.provider.entity.firstName}} {{clientProvider.provider.entity.middleName}} {{clientProvider.provider.entity.lastName}}
        <em>{{clientProvider.provider.entity.active ? '' : "(inactive)"}}</em>
      </td>
      <td>{{clientProvider.provider.entity.specialty.name}}</td>
      <td>{{clientProvider.provider.entity.email}}</td>
      <td class="col-has-multiselect" data-ng-if="allTeamLocations.length > 0" >
        <div data-ng-show="clientProvider.provider.entity.showLocations"
             data-ng-class="{'has-error': clientProvider.provider.entity.selectedTeamLocations < 1 && associateRequestSubmitted}">
          <div data-multi-select
               data-ng-class="{'col-md-11': clientProvider.provider.entity.selectedTeamLocations < 1 && associateRequestSubmitted}"
               data-name=".clientProvider[{{clientProvider.provider.entity.id}}].allTeamLocations[{{$index}}]"
               data-values="allTeamLocations"
               data-model="clientProvider.provider.entity.selectedTeamLocations"
               data-show-filters="true"
               data-value-field="id"
               data-label-field="label"
               data-template-path="admin-facing/partials/common/directives/multi-select/multi-select.html">
          </div>
          <div class="error-circle fa-exclamation-circle glyphicon-form-inline-right"
            data-ng-show="clientProvider.provider.entity.selectedTeamLocations < 1 && associateRequestSubmitted"
            data-bs-tooltip data-placement="top" data-type="danger" data-container="body"
            data-title="At least one location is required">
          </div>
        </div>
      </td>
    </tr>
    <tr class="pagination-row no-hover">
      <td colspan="6" class="text-center" data-ng-show="links">
        <ul class="pagination">
          <li data-ng-repeat="link in links | orderBy:'order'" class="{{link.className}}" data-ng-class="{'active': link.name == currentPage}">
             <a data-ng-click="fetchPageClientProviders(link.href)">
                 <i class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                 {{link.name}}
                 <i class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
             </a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
