<div class="layout-card">
    <div class="row" data-ng-hide="editMode" data-ng-include="'admin-facing/partials/team/team_view.html'"></div>
    <div class="row" data-ng-show="editMode">
        <div class="col-md-12">
            <div id="validation-container" data-ng-show="teamForm.$invalid || !teamToSave.salesForceAccount"></div>
            <h1><span data-translate="team_edit_page.information.title">Team Information</span></h1>
            <form name="teamForm" class="form" novalidate unsaved-warning-form>
                <div data-ng-include="'admin-facing/partials/team/team_form.html'"></div>
                <div class="pull-right">
                    <button class="btn btn-cancel" data-ng-click="cancel(teamForm)">cancel</button>
                    <button class="btn btn-success" type="button"
                       data-on-ok="save(teamForm)" data-team-entity="teamToSave"
                       data-team-edit-save data-checking-for-dupes="checkingForDupes"
                       data-placement="bottom"
                       data-ng-disabled="teamForm.teamName.$error.unique">
                        <span>save edits</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="layout-card">
    <div class="row" data-ng-include="'admin-facing/partials/team/tags/team_tags.html'"
         data-ng-class="{'masked': teamForm.teamName.$error.unique || editMode}"></div>
</div>
<div class="layout-card">
    <div class="row" data-ng-include="'admin-facing/partials/team/location/team_current.html'"
         data-ng-class="{'masked': teamForm.teamName.$error.unique || editMode}"></div>
    <hr>
    <div class="row" data-ng-include="'admin-facing/partials/team/provider/team_current.html'"
         data-ng-class="{'masked': teamForm.teamName.$error.unique || editMode}"></div>
</div>
