        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 pull-left">
                    <h1>
                        <span data-translate="team_view_page.information.title">Team Information</span>
                        <span><a class="btn btn-icon icon-size-lg" data-ng-click="edit()" aria-label="Edit"><i class="icon-compose"></i></a></span>
                    </h1>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <a href="#/clients/{{client.id}}/teams/new?team={{team.id}}&&{{currentRouteQueryString}}" class="btn btn-link btn-link-nopad btn-heading btn-heading-h1">
                            <i class="icon-plus"></i> Add New Team
                        </a>
                    </div>
                </div>
            </div>
            <div class="row entity-info">
                <div class="col-md-12">
                    <h5 class="entity-value-label" data-translate="team_view_page.information.name"></h5>
                    <div class="entity-value">{{team.name}} <em>({{team.active ? "active" : "inactive"}})</em></div>
                </div>
            </div>
            <div class="row entity-info" data-ng-if="team.description">
                <div class="col-md-12">
                    <h5 class="entity-value-label" data-translate="team_view_page.information.description"></h5>
                    <div class="entity-value">{{team.description}}</div>
                </div>
            </div>
            <div class="row entity-info">
                <div class="col-md-6">
                    <h5 class="entity-value-label" data-translate="team_view_page.information.salesforce"></h5>
                    <div class="entity-value">{{team.salesForceAccount.name}}</div>
                </div>
                <div class="col-md-3" data-ng-if="team.salesForceAccount.phoneNumber">
                    <h5 class="entity-value-label" data-translate="team_view_page.information.phone"></h5>
                    <div class="entity-value">{{team.salesForceAccount.phoneNumber}}</div>
                </div>
                <div class="col-md-3" data-ng-if="team.salesForceAccount.fax">
                    <h5 class="entity-value-label" data-translate="team_view_page.information.fax"></h5>
                    <div class="entity-value">{{team.salesForceAccount.fax}}</div>
                </div>
            </div>
        </div>
