        <div class="row">
            <div class="col-md-8">
                <div class="form-group"
                     data-ng-class="{ 'has-error' : (teamForm.teamName.$invalid && formSubmitted) || teamForm.teamName.$error.unique}">
                    <label data-translate="team_edit_page.information.name" for="teamName">Name</label>
                    <div class="error-circle fa-exclamation-circle" role="alert" data-ng-show="teamForm.teamName.$error.required && formSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="{{'team_edit_page.error_msg.required' | translate}}" aria-label="{{'team_edit_page.error_msg.required' | translate}}"></div>
                    <div class="error-circle fa-exclamation-circle" role="alert" data-ng-show="teamForm.teamName.$error.pattern && formSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="{{'team_edit_page.error_msg.invalid_team_name' | translate}}" aria-label="{{'team_edit_page.error_msg.invalid_team_name' | translate}}"></div>
                    <div class="error-circle fa-exclamation-circle" role="alert"
                         data-ng-show="formSubmitted && teamForm.teamName.$error.unique && teamForm.teamName.$.invalid"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="{{'team_edit_page.unique_popup_dialog.message' | translate}}" aria-label="{{'team_edit_page.unique_popup_dialog.message' | translate}}"></div>
                    <input class="form-control" data-ng-model="teamToSave.name" id="teamName" name="teamName" type="text"
                           data-unique-team-name data-team="teamToSave" data-unique-url="url"
                           data-checking-for-dupes="checkingForDupes" data-edit-mode="editMode"
                           required data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_;:`!@#&,\(\)\/]*$/" data-animation="am-flip-x"
                           data-auto-focus data-focus-on="teamName">
                </div>
            </div>
            <div class="col-md-4" data-ng-class="{'hidden':createMode}">
                <label>&nbsp;</label><!-- for spacing purposes -->
                <div class="checkbox">
                    <input id="active" type="checkbox" data-ng-model="teamToSave.active"/>
                    <label for="active">
                        Active
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label data-translate="team_edit_page.information.description"
                           for="teamDescription">Description</label>
                    <div class="error-circle fa-exclamation-circle" role="alert" data-ng-show="teamForm.teamDescription.$error.pattern && formSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="{{'team_edit_page.error_msg.invalid_team_description' | translate}}" aria-label="{{'team_edit_page.error_msg.invalid_team_description' | translate}}"></div>
                    <span class="field-note field-optional">optional</span>
                    <input class="form-control" data-ng-model="teamToSave.description" id="teamDescription"
                           name="teamDescription" type="text" data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_;:`!@#&,\(\)\/]*$/">
                </div>
            </div>
        </div>
        <div class="row" data-ng-include="'admin-facing/partials/team/salesforce/team_salesforce_picker.html'"></div>
