<form>
    <div>The location will be removed from the following team<span data-ng-show="teamsBlocking.length > 1">s</span>:</div>
    <br/>
    <div>
        <span data-ng-repeat="team in teamsBlocking">{{team.name}}<span data-ng-hide="$last">,&nbsp;</span></span>
    </div>
    <br/>
    <div class="form-actions">
        <button class="btn btn-primary" type="button" data-ng-click="$hide()">No</button>
        <button class="btn btn-danger" data-ng-click="onOk();$hide()">Yes</button>
    </div>
</form>



