<form name="locationForm" class="form" ng-submit="saveLocation(locationForm.$valid)" novalidate>
    <div class="modal-content">
        <div class="modal-header" ng-show="title">
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div id="alerts-container" data-ng-show="locationForm.$invalid"></div>
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : locationForm.locationName.$invalid && formSubmitted }">
                        <label class="control-label" for="locationName">Name:</label>
                        <div class="error-circle" data-ng-show="locationForm.locationName.$invalid && formSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                        <input class="form-control" id="locationName" data-ng-model="location.name" name="locationName" type="text"
                               maxlength="255" required data-auto-focus>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : locationForm.phone.$invalid && formSubmitted }">
                        <label class="control-label" for="phone">Phone:</label>
                        <div class="error-circle" data-ng-show="locationForm.phone.$invalid && formSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                        <input class="form-control" data-ng-model="location.phone" id="phone" name="phone" type="text"
                               maxlength="255" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : locationForm.city.$invalid && formSubmitted }">
                        <label class="control-label" for="city">City:</label>
                        <div class="error-circle" data-ng-show="locationForm.city.$invalid && formSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                        <input class="form-control" data-ng-model="location.city" id="city" name="city" type="text"
                               maxlength="255" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : locationForm.state.$invalid && formSubmitted }">
                        <label class="control-label" for="state">State:</label>
                        <div class="error-circle" data-ng-show="locationForm.state.$invalid && formSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                        <select class="form-control" id="state" data-ng-model="location.state"
                                data-ng-options="state for state in states" name="state" required>
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="sr-only" for="belongsTo">Belongs To:</label>
                        <input type="checkbox" name="belongsTo" id="belongsTo"
                               data-ng-model="location.belongsToCheckbox"
                               data-ng-show="location.belongsToMutable">
                        <span data-ng-show="!location.belongsToMutable && location.belongsTo">Location belongs to {{location.belongsTo.name}}</span>
                        <span data-ng-show="location.belongsToMutable">Location belongs to
                            <span data-ng-show="client.entity.name"> {{client.entity.name}}</span>
                            <span data-ng-hide="client.entity.name"> this client</span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-ng-click="$hide()">Cancel</button>
            <button type="button" class="btn btn-default" data-ng-show="saveAndAddAnother" data-ng-click="saveAndAddAnother(locationForm.$valid)">Save & Add Another</button>
            <input type="submit" id="submit" class="btn btn-primary" value="Save"/>
        </div>
    </div>
</form>
