<form name="locationForm" class="form" ng-submit="saveLocation(locationForm.$valid)" novalidate>
    <div class="modal-content">
        <div class="modal-header" ng-show="title">
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            <div class="row" data-ng-show="locationForm.$invalid">
                <div class="col-md-12" id="message-container"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : locationForm.locationName.$invalid && locationFormSubmitted }">
                        <label class="control-label" for="locationName">Name:</label>

                        <div class="error-circle glyphicon glyphicon-exclamation-sign"
                             data-ng-show="locationForm.locationName.$error.required && locationFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                        <div class="error-circle glyphicon glyphicon-exclamation-sign"
                             data-ng-show="locationForm.locationName.$error.pattern && locationFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Please enter a valid name."></div>
                        <input class="form-control" id="locationName" data-ng-model="location.name" name="locationName"
                               type="text" maxlength="255" required data-auto-focus
                               data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_;:@#&,\(\)!]*$/">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : locationForm.phone.$invalid && locationFormSubmitted }">
                        <label class="control-label" for="phone">Phone:</label>
                        <div class="error-circle glyphicon glyphicon-exclamation-sign"
                             data-ng-show="locationForm.phone.$error.required && locationFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                        <div class="error-circle glyphicon glyphicon-exclamation-sign"
                             data-ng-show="!locationForm.phone.$error.required && locationForm.phone.$error.pattern && locationFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Please enter a valid phone number."></div>
                        <input class="form-control" data-ng-model="location.phone" id="phone" name="phone" type="text"
                               maxlength="12" required data-input-mask="999-999-9999"
                               data-ng-pattern="/[2-9][0-9][0-9]-[2-9][0-9][0-9]-[0-9][0-9][0-9][0-9]/">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : locationForm.city.$invalid && locationFormSubmitted }">
                        <label class="control-label" for="city">City:</label>

                        <div class="error-circle glyphicon glyphicon-exclamation-sign"
                             data-ng-show="locationForm.city.$error.required && locationFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                        <div class="error-circle glyphicon glyphicon-exclamation-sign"
                             data-ng-show="locationForm.city.$error.pattern && locationFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Please enter a valid city."></div>
                        <input class="form-control" data-ng-model="location.city" id="city" name="city" type="text"
                               maxlength="255" required data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_;:@#&,\(\)!]*$/">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : locationForm.state.$invalid && locationFormSubmitted }">
                        <label class="control-label" for="state">State:</label>

                        <div class="error-circle glyphicon glyphicon-exclamation-sign" data-ng-show="locationForm.state.$invalid && locationFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                        <select class="form-control" id="state" data-ng-model="location.state"
                                data-ng-options="state for state in states" name="state" required>
                            <option value="">Select...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="sr-only" for="belongsTo">Belongs To:</label>
                        <input type="checkbox" name="belongsTo" id="belongsTo"
                               data-ng-model="location.belongsToCheckbox"
                               data-ng-show="location.belongsToMutable">
                        <span data-ng-show="!location.belongsToMutable && location.belongsTo">Location belongs to {{location.belongsTo.name}}</span>
                        <span data-ng-show="location.belongsToMutable">Location belongs to
                            <span data-ng-show="client.entity.name"> {{client.entity.name}}</span>
                            <span data-ng-hide="client.entity.name"> this client</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-show="providersData">
                <div class="col-md-12">
                       <multi-select 
                        values="providersData" 
                        model="location.providersSelected"    
                        show-filters="true"
                        value-field="id" 
                        label-field="label" >
                        </multi-select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-ng-click="$hide()">Cancel</button>
            <button type="button" class="btn btn-default" data-ng-show="saveAndAddAnother"
                    data-ng-click="saveAndAddAnother(locationForm.$valid)">Save & Add Another
            </button>
            <input type="submit" id="submit" class="btn btn-primary" value="Save"/>
        </div>
    </div>
</form>
