<div class="modal" tabindex="-1" role="dialog" data-ng-controller="LocationListController">
    <div class="modal-dialog modal-dialog-large container-fluid">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <form ng-submit="search()">
                            <div class="form-group">
                                <label class="sr-only" for="locationQuery">Search locations:</label>

                                <div class="input-group">
                                    <input class="form-control" id="locationQuery" data-ng-model="locationQuery"
                                           type="text"
                                           placeholder="Search locations..." data-auto-focus>

                                    <div class="input-group-addon" data-ng-click="search()">Go</div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 col-sm-3" data-ng-hide="noSearch">
                        <button type="button" class="btn btn-link pull-right" data-ng-click="createNewLocation()">
                            add new location
                        </button>
                        <span data-ng-class="{'client-search-spinner' : loading}"></span>
                    </div>
                </div>
            </div>
            <div class="modal-body" data-ng-hide="noSearch">
                <div>
                    <div class="row" data-ng-hide="removeStatusFilterAndTotal">
                        <div class="col-md-12 col-sm-12">
                            <div class="pull-right">
                                {{total}}
                                <span data-ng-show="total != 1" data-translate="global.labels.total"> results</span>
                                <span data-ng-show="total === 1"
                                      data-translate="global.labels.totalSingular"> result</span>
                            </div>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="status_filter" data-translate="global.labels.statusFilter">Show:</label>
                                    <select class="form-control" id="status_filter" data-ng-model="status"
                                            data-ng-options="status | translate for status in statuses"
                                            data-ng-change="statusChange()">
                                        <option value="">Select...</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <table class="table table-bordered table-striped table-hover" border="0" cellpadding="0"
                                   cellspacing="0"
                                   data-ng-show="locations">
                                <tr>
                                    <th>Add</th>
                                    <th data-ng-click="sort('name')">Name <span data-ng-show="sortProperty.property === 'name'">({{sortProperty.ascending ? 'a..z' : 'z..a'}})</span>
                                    </th>
                                    <th>Clients</th>
                                    <th data-ng-click="sort('city')">City/State <span data-ng-show="sortProperty.property === 'city'">({{sortProperty.ascending ? 'a..z' : 'z..a'}})</span>
                                    </th>
                                    <th data-ng-click="sort('phone')">Phone <span data-ng-show="sortProperty.property === 'phone'">({{sortProperty.ascending ? '0..9' : '9..0'}})</span>
                                    </th>

                                </tr>
                                <tr data-ng-repeat="location in locations">
                                    <td><input type="checkbox" data-ng-model="location.entity.newlocation"
                                               ng-change="onCheckboxChange(location)"></td>
                                    <td>{{location.entity.name}}</td>
                                    <td>
                                    <span data-ng-repeat="client in location.entity.usingThisLocation">
                                         {{client.name}}<span data-ng-hide="$last">, </span>
                                    </span>
                                    </td>
                                    <td> {{location.entity.city}}<span
                                            data-ng-show="location.entity.city && location.entity.state">, </span>{{location.entity.state}}
                                    </td>
                                    <td>{{location.entity.phone}}</td>
                                </tr>
                            </table>
                            <div data-ng-hide="locations">
                                <span data-translate="global.messages.search.no_results_found"></span>
                            </div>
                            <div class="row" data-ng-show="locations">
                                <div class="col-md-4 col-sm-4 pull-right" data-ng-show="total > pageSizes[0] || links">
                                    <ul class="pagination page-size pull-right">
                                        <li data-ng-repeat="pageSize in pageSizes">
                                            <a data-ng-if="pageSize != currentPageSize" href
                                               data-ng-click="changePageSize(pageSize)">{{pageSize}}</a>
                                            <span data-ng-if="pageSize === currentPageSize">[{{pageSize}}]</span>
                                        </li>
                                    </ul>
                                </div>
                                <div data-ng-show="links" class="col-md-8 col-sm-8">
                                    <ul class="pagination">
                                        <li data-ng-repeat="link in links | orderBy:'order'">
                                            <a data-ng-if="link.name != currentPage" href
                                               data-ng-click="fetchPage(link.href)">{{link.name}}</a>
                                            <span data-ng-if="link.name == currentPage">[{{link.name}}]</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-ng-click="cancel()">cancel</button>
                <button type="button" class="btn btn-primary" data-ng-show="locations" data-ng-click="save()">Save
                </button>
            </div>
        </div>
    </div>
</div>

