<form name="enterEmailForm" class="form" novalidate data-ng-controller="enterEmail">
    <h1>Please add an email to your account</h1>
    <div class="form-group">
        <p>Adding an email address will make your account more secure, and allow you to reset your password if you forget it in the future.</p>
    </div>
    <div data-ng-show="!enterEmailForm.$valid" id="message-container-no-email"></div>
    <div data-ng-include="'client-facing/loginInterruption/enterEmail/enter_email_template.html'"></div>
    <div class="form-actions pull-right">
        <div class="form-group">
            <button class="btn btn-cancel" type="button"
                data-ng-disabled="whenSaving"
                data-ng-click="notNow()">
                not now
            </button>
            <button class="btn btn-primary" type="submit"
                    data-ng-disabled="whenSaving"
                    data-ng-hide="Session.secretQuestionCreated"
                    data-ng-click="saveEmail(enterEmailForm.addEmail.$valid)">
                Save
            </button>
        </div>
    </div>
</form>
