<div class="container" data-ng-cloak data-ng-controller="enterEmail">
    <form name="enterEmailForm" class="form" novalidate>
        <div class="row col-md-6">
            <div class="col-md-12">
                <h2>
                    Please add an email to your account
                </h2>

                <div class="row" data-ng-show="!enterEmailForm.$valid || enterEmailForm.email.$error.duplicate">
                    <div class="col-md-12" id="message-container-no-email"></div>
                </div>
                Adding an email address will make your account more secure, and allow you to reset your password if you
                forget it in the future.

                <div data-ng-include="'client-facing/loginInterruption/enterEmail/enter_email_template.html'">
                </div>

                <div class="col-md-12">
                    <hr>
                    <div class="form-group pull-right">
                        <a type="button" class="btn" data-ng-click="notNow()">not now</a>
                        <button class="btn btn-primary" type="submit" data-ng-hide="Session.secretQuestionCreated"
                                data-ng-click="saveEmail(enterEmailForm.addEmail.$valid)"
                                >
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
