<form name="clientForm" class="form" data-ng-controller="ClientTagsController" novalidate unsaved-warning-form>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 pull-left">
                <h2>
                    Groups &amp; Tags
                </h2>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <span data-ng-hide="tagInputMode || clientForm.clientTagGroups.$error.unique || clientForm.clientTagGroups.$error.blankTitle">
                        <button class="btn btn-link btn-link-nopad btn-heading btn-tag-library" type="button" title="Select groups to add:"
                        data-placement="top" data-template="admin-facing/partials/client/tags/tag_library.html"
                        data-trigger="click" data-bs-popover data-auto-close="1" data-popover-dismiss data-container="body">
                            <i class="icon-plus"></i> Add from Library
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tag-groups" data-tag-groups data-ng-model="client.tagGroups" data-library-groups="tagLibraryMap"
                      data-name="clientTagGroups" data-form-field="clientForm.clientTagGroups"
                      data-tagging-mode="tagInputMode" data-ng-change="tagsChanged">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" data-ng-show="!tagInputMode && clientTagsHaveChanges && !saving">
                <div class="pull-right">
                    <button class="btn btn-cancel" data-ng-click="cancelTagChanges()" data-ng-hide="hideCancelButton">cancel</button>
                    <button class="btn btn-success" type="button"
                            data-conflicting-team-tags="conflictingTeamTags"
                            data-ng-click="checkForConflicts(clientForm.$valid);"
                            data-ng-disabled="!clientForm.$valid"
                            data-popover-dismiss
                            data-team-conflict-popover>
                        <span>save changes</span>
                    </button>
                </div>
            </div>
            <div class="col-md-12" data-ng-show="saving">
                <div class="pull-right">
                    <span class="text-muted"><em>saving...</em></span>
                </div>
            </div>
        </div>
    </div>
</form>
