<div class="popover popover-tags-conflicting-team">
    <div class="arrow"></div>
    <h3 class="popover-title" data-ng-bind="title" data-ng-show="title"></h3>
    <div class="popover-content" style="max-height: 200px;overflow: auto;">
    	<p>The following tags will be removed:</p>
        <table border="0" cellpadding="0" cellspacing="0" class="popover-table">
            <tr data-ng-repeat="teamTag in conflictingTeamTags">
                <th data-ng-if="teamTag.numberOfTeams == 0">{{teamTag.tag}}</th>
                <th data-ng-if="teamTag.numberOfTeams > 0">{{teamTag.tag}}: </th>
                <td data-ng-if="teamTag.numberOfTeams == 1">{{teamTag.numberOfTeams}} team</td>
                <td data-ng-if="teamTag.numberOfTeams > 1 ">{{teamTag.numberOfTeams}} teams</td>
            </tr>
        </table>
    </div>
    <div class="popover-footer">
        <button class="btn btn-success" data-ng-disabled="saving"
                data-ng-click="overrideConflictingTeamTags(clientForm.$valid)"
                data-translate="">Yes
        </button>
        <button class="btn btn-cancel" data-ng-disabled="saving"
                type="button" data-ng-click="hideConflictingTeamsPopover()"
                data-translate="">Cancel
        </button>
    </div>
</div>
