<form>
	<div>The following tags will be removed:</div>
    <br>
    <table border="0" cellpadding="1px" cellspacing="0">
        <tr class='conflictingTeamRow'
            data-ng-repeat="teamTag in conflictingTeamTags">
            <td data-ng-if="teamTag.numberOfTeams == 0" class="col-md-6">{{teamTag.tag}}</td>
            <td data-ng-if="teamTag.numberOfTeams > 0" class="col-md-6">{{teamTag.tag}}: </td>
            <td data-ng-if="teamTag.numberOfTeams == 1" class="col-md-6">{{teamTag.numberOfTeams}} team</td>
            <td data-ng-if="teamTag.numberOfTeams > 1 " class="col-md-6">{{teamTag.numberOfTeams}} teams</td>
        </tr>
    </table>
    <br>
    <div class="popover-footer">
        <button class="btn btn-success" data-ng-click="overrideConflictingTeamTags(clientForm.$valid)"
                data-translate="">Yes
        </button>
        <button class="btn btn-cancel" type="button" data-ng-click="hideConflictingTeamsPopover()"
                data-translate="">Cancel
        </button>
    </div>

</form>
