<form name="tagGroupLibraries" data-popover-toggle>
    <div class="form-group">
        <div class="checkbox" data-ng-repeat="library in tagLibraries">
            <label>
                <input type="checkbox" value="" data-ng-model="library.checked" data-ng-disabled="library.disabled">&nbsp;&nbsp;
            </label>
            <span class="toggle-trigger">
                <span data-ng-show="library.tags.length > 0"  class="caret"></span><span data-ng-class="{'text-muted': library.disabled}">{{ library.title }}</span>
            </span>
            <div class="toggle-content">
                <small class="text-muted">{{ library.tags | taglist }}</small>
            </div>
        </div>
    </div>
    <hr/>
    <div class="form-actions">
        <button type="button" class="btn btn-default btn-xs btn-close" data-ng-click="$hide()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button type="button" class="btn btn-primary pull-right" data-ng-click="addLibraries();$hide()">Add</button>
        <small class="info">You'll be able to edit tags after adding groups.</small>
    </div>
</form>
