<div class="app-header with-breadcrumbs" data-emmi-navbar>
    <!-- Secondary menu for transclusion -->
    <ul class="secondary-nav">
        <li data-ng-if="!isProduction"><a href="#/clients/{{client.entity.id}}/password_policy">Client Configurations</a></li>
        <li><a href="#/clients/{{client.entity.id}}/users">Manage Users</a></li>
        <li><a href="#/clients/{{client.entity.id}}/roles">Manage Roles</a></li>
    </ul>
    <!-- Breadcrumb for transclusion -->
    <ol class="breadcrumb">
        <li><a href="#/clients">Search</a></li>
        <li><a href="#/clients/{{client.entity.id}}">{{client.entity.name}}</a></li>
        <li class="active">Create User</li>
    </ol>
</div>
<div class="container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="layout-card">
            <h1>New Client User</h1>

                <form name="userClientForm" class="form" novalidate data-unsaved-warning-form>
                <div id="validation-container" data-ng-show="userClientForm.$invalid"></div>
                <div class="row" data-ng-include="'admin-facing/partials/user/client/metadata/form.html'"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-actions">
                            <div class="form-group">
                                <button class="btn btn-success" type="submit"
                                        data-ng-disabled="whenSaving"
                                        data-ng-click="save(userClientForm.$valid, $event, false)">
                                    <span>Save and Add Roles</span>
                                </button>
                                <a class="btn btn-cancel" href="#/clients/{{client.entity.id}}/users?{{currentRouteQueryString}}">cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div><!-- .layout-card -->
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
<footer class="footer" data-ng-include="'admin-facing/partials/common/footer.tpl.html'"></footer>
