<div class="col-md-8">
    <div class="form-group has-feedback" data-ng-class="{ 'has-error' : formSubmitted && !clientToEdit.salesForceAccount }">
        <label class="control-label">Salesforce Account</label>
        <div class="error-circle fa-exclamation-circle" role="alert" data-ng-show="!clientToEdit.salesForceAccount && formSubmitted"
             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
             data-title="Please enter an associated Salesforce account" aria-label="Please enter an associated Salesforce account"></div>
        <div class="typeahead" data-emmi-typeahead data-items="sfResult.account" data-term="sfSearch.searchQuery" data-search="findClientSfAccount(term)" data-select="chooseClientSfAccount(item)" data-blur="revertClientSfAccount()" data-placeholder="Start typing to search..." data-focus="SfSearch" data-min-length="5">
            <div class="menu typeahead-menu dropdown-menu bottom-left container-fluid" id="sfSearchResultsContainer">
                <li class="header" data-ng-show="sfResult.account.length">
                    <div class="col-md-6 account-name">Account Name</div>
                    <div class="col-md-3 client-name">Client Name</div>
                    <div class="col-md-3 city-state">City/State</div>
                </li>
                <li id="sfSearchResult_{{account.$$hashKey}}"
                    data-emmi-typeahead-item="account"
                    data-ng-repeat="account in sfResult.account"
                    class="results" data-ng-class="!account.clientName ? 'selectable' : 'unselectable'">
                    <div class="col-md-6 account-name">{{account.name}}</div>
                    <div class="col-md-3 client-name">{{account.clientName}}&nbsp;</div>
                    <div class="col-md-3 city-state">{{account.city}}<span data-ng-show="account.city && account.state">,&nbsp;</span>{{account.state}}&nbsp;</div>
                </li>
                <li data-ng-show="hasMore()" class="footer">
                    <div class="col-md-12">Refine search for more results.</div>
                </li>
                <div data-ng-hide="sfResult.account.length" class="no-results">
                    <div class="col-md-12">No results found</div>
                </div>
            </div>
        </div>
    </div>
</div>
