<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <a href="#/">Emmi Manager</a>:&nbsp;
                <span data-bs-tooltip="'id: {{team.id}}'" data-placement="right">{{team.name}}</span>
            </h1>
        </div>
    </div>
    <div class="row" data-ng-hide="editMode" data-ng-include="'partials/team/team_view.html'"></div>
    <div class="row" data-ng-show="editMode">
        <div class="col-md-12">
            <div id="alerts-container" data-ng-show="teamForm.$invalid || !teamToSave.salesForceAccount"></div>
            <div id="remove-container"></div>
            <div class="pull-right">
                <a class="btn btn-link" data-ng-click="cancel()">cancel</a>
                |
                <a class="btn btn-link" type="button"
                    data-on-ok="save(teamForm.$valid)" data-team-entity="teamToSave"
                    data-placement="bottom"
                    data-ng-disabled="teamForm.teamName.$error.unique"
                    data-team-edit-save>
                    <span>save edits</span>
                </a>
            </div>
            <h2 data-translate="team_edit_page.information.title">Team Information</h2>
            <form name="teamForm" class="form" novalidate>
                <div data-ng-include="'partials/team/team_form.html'"></div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row" data-ng-include="'partials/team/tags/team_tags.html'" data-ng-class="{'masked': teamForm.teamName.$error.unique || editMode}"></div>
    <hr>
    <div class="row" data-ng-include="'partials/team/location/team_current.html'" data-ng-class="{'masked': teamForm.teamName.$error.unique || editMode}" ></div>
    <hr>
    <div class="row" data-ng-include="'partials/team/provider/providersTable_edit.html'" data-ng-class="{'masked': teamForm.teamName.$error.unique || editMode}"></div>
    <div class="row" data-ng-show="teamResource.link.provider" data-ng-include="'partials/team/provider/addProviders.html'" data-ng-class="{'masked': teamForm.teamName.$error.unique || editMode}"></div>
</div>
