<div class="container">
    <h1>
        <a href="#/">Emmi Manager</a>:&nbsp;
        <span data-ng-hide="team.id">New</span>
        <span data-ng-show="team.id">Edit</span> Team
    </h1>                     
    <form name="teamForm" class="form">
        <h2 data-translate="team_edit_page.information.title">Team Information</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label data-translate="team_edit_page.information.name"/>
                    <input class="form-control" data-ng-model="team.name" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label data-translate="team_edit_page.information.description"/>
                    <input class="form-control" data-ng-model="team.description" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label data-translate="team_edit_page.information.phone"/>
                    <input class="form-control" data-ng-model="team.phone" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label data-translate="team_edit_page.information.fax"/>
                    <input class="form-control" data-ng-model="team.fax" type="text">
                </div>
            </div>
        </div> 
        <div class="actions">
            <div class="form-group">              
                <button class="btn btn-primary" type="button" data-ng-click="save()">Save</button>
            </div>
        </div>               
    </form>
</div>         