<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <a href="#/">Emmi Manager</a>:&nbsp;
                <span data-translate="team_edit_page.new.title">New</span> Team
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="alerts-container" data-ng-show="teamForm.$invalid || !teamToSave.salesForceAccount"></div>
            <div id="remove-container"></div>
            <h2 data-translate="team_edit_page.information.title">Team Information</h2>
            <form name="teamForm" class="form" novalidate>
                <div data-ng-include="'partials/team/team_form.html'"></div>
            </form>
            <div class="pull-right">
                <button class="btn btn-link" data-ng-click="cancel()" data-translate="team_edit_page.cancel_button" href data-cancel-click-team-edit>cancel</button>
                <button class="btn btn-primary" type="button"
                        data-on-ok="save(teamForm.$valid)" data-team-entity="teamToSave"
                        data-placement="top"
                        data-ng-disabled="teamForm.teamName.$error.unique"
                        data-team-edit-save>
                    <span data-translate="team_edit_page.continue_button">Save</span>
                </button>
            </div>
        </div>
    </div>
</div>
