<div class="col-md-12">
    <h1>Client User Information</h1>
    <div id="validation-container" data-ng-show="userClientForm.$invalid"></div>
    <div class="row" data-ng-include="'admin-facing/support/client-users/metadata/form.html'"></div>
    <div class="row" data-ng-if="showCancelSave()">
        <div class="col-md-12">
            <div class="form-actions">
                <div class="form-group">
                    <button class="btn btn-success" type="submit"
                            data-user-client="userClientEdit"
                            data-ng-disabled="whenSaving"
                            data-on-ok="save(userClientForm)"
                            data-on-cancel="makeActive()"
                            data-ng-model="userClientEdit"
                            data-new-status="userClientEdit.entity.active"
                            data-is-currently-active="userClientForm.$valid && userClientView.entity.active"
                            data-placement="right"
                            data-toggle-user-client-active>
                        save
                    </button>
                    <button type="button" class="btn btn-cancel"
                            data-ng-disabled="whenSaving"
                            data-ng-click="cancel()">cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
