<div data-ng-controller="UsersClientUserClientTeamRolesListController" data-ng-cloak>
    <div class="col-md-12" data-ng-show="isSuperUser && possibleClientRoles.length > 0">
        <p class="disclaimer">Team roles aren't required because this user has been given all permissions at this client
            (including all teams within this client).</p>
    </div>
    <div class="col-md-12" data-ng-show="clientTeamRoles.length > 0 && !isSuperUser">
        <div class="row">
            <div class="col-md-6" data-ng-controller="UsersClientUserClientRolesListController">
                <h2 class="pull-left">Team Roles</h2>
                <div class="pull-right">
                    <a class="btn btn-link btn-link-nopad btn-heading btn-heading-h1"
                       data-ng-if="!existingUserClientUserClientRoles && clientRoles"
                       data-placement="right"
                       data-template="admin-facing/partials/user/client/user_client_role/add-client-role.html"
                       data-ng-click="setSelectedRoleHasSuperPermission()"
                       data-trigger="click" data-bs-popover data-auto-close="1"
                       data-popover-dismiss data-container="body">
                        <i class="icon-plus"></i> <span>Add client role</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel-group" data-ng-model="clientTeamRole.activePanel"
                     data-ng-repeat="clientTeamRole in clientTeamRoles | orderBy:'-existingTeams.length'"
                     data-start-collapsed="true"
                     data-bs-collapse>
                    <form name="clientTeamRoleForm_{{clientTeamRole.entity.id}}" class="form" novalidate>
                        <div class="panel panel-secondary"
                             data-ng-class="{ 'panel-open': clientTeamRole.activePanel === 0, 'panel-muted': !clientTeamRole.existingTeams.length }">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-bs-collapse-toggle data-ng-click="panelStateChange(clientTeamRole)">
                                        <span class="icon-caret-right"></span>
                                        <span class="panel-title-text">{{ clientTeamRole.entity.name}}
			                            <span data-ng-show="clientTeamRole.existingTeams">({{clientTeamRole.existingTeams.length}}
			                            	<span data-ng-show="clientTeamRole.existingTeams.length == 1">team)</span>
			                            	<span data-ng-show="clientTeamRole.existingTeams.length > 1">teams)</span>
			                            </span></span>
                                    </a>

                                    <div class="pull-right">
                                        <button type="button" class="btn btn-icon btn-inherit"
                                                data-ng-show="clientTeamRole.existingTeams"
                                                data-ng-click="removeAllUserClientUserClientTeamRole(clientTeamRole)">
                                            <i class="icon-trashcan"></i>
                                        </button>
                                        <a href class="panel-title-link"
                                           data-ng-hide="clientTeamRole.existingTeams"
                                           data-ng-controller="UsersClientUserClientTeamRolesAddTeamsController"
                                           data-ng-click="addTeams(clientTeamRole)">
                                            add teams for this role
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- .panel-heading -->
                            <div class="panel-collapse" data-bs-collapse-target>
                                <div class="panel-body">
                                    Permissions:<br/>

                                    <div class="permissions-list">
				                        <span
                                            data-ng-repeat="permission in clientTeamRole.entity.permissions | orderBy:'permission.rank'">
			                    			{{permission.name  | translate }}{{!$last ? ',' : ''}}&nbsp;
			                    		</span>
                                    </div>
                                </div>
                                <div class="panel-body" data-ng-show="clientTeamRole.existingTeams">
                                    Teams:<br/>
                                    <table class="permissions-teams-list" cellspacing="0" cellpadding="0">
                                        <tr data-ng-repeat="existingTeam in clientTeamRole.existingTeams">
                                            <td>{{existingTeam.entity.team.name}}</td>
                                            <td class="pull-right">
                                                <button class="btn btn-icon"
                                                        data-ng-click="removeUserClientUserClientTeamRole(clientTeamRole, existingTeam)">
                                                    <i class="icon-delete"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="panel-misaligned-button" data-ng-show="clientTeamRole.existingTeams"
                                         data-ng-include="'admin-facing/partials/user/client/user_client_team_role/add-teams.html'"></div>
                                </div>
                            </div>
                            <!-- .panel-collapse -->
                        </div>
                        <!-- .panel -->
                    </form>
                </div>
                <!-- .panel-group -->
            </div>
        </div>
        <!-- .row -->
    </div>
    <!-- .col-md-12 -->
</div>

