    <div class="row">
        <div class="col-md-12">
            <div class="program-list">
                <h3 class="program-list_title">
                    <span data-ng-if="!programSearchPerformed">Frequently Scheduled</span>
                    <span data-ng-if="programSearchPerformed">Search Results</span>
                </h3>
                <!-- <div>
                    <div data-ng-hide="showAll">
                        <button class="btn-link" data-ng-click="showAllResults(true)">show all</button>
                    </div>
                    <div data-ng-show="showAll">
                        <button class="btn-link">
                            {{total}}
                            <span data-ng-show="total != 1" data-translate="global.labels.total"> results</span>
                            <span data-ng-show="total === 1" data-translate="global.labels.totalSingular"> result</span>
                        </button>
                    </div>
                </div> -->
                <div class="program-list_wrapper" data-ng-show="programs">
                    <ul>
                        <li data-ng-repeat="program in programs | orderBy:'program.sortIdx'" data-ng-class="{ 'added' : program.disabled }">
                            <div class="checkbox">
                                <input type="checkbox" id="program_{{program.entity.id}}"
                                    data-ng-disabled="program.disabled" data-ng-model="program.selected" data-ng-change="selectProgram(program,addProgramForm)"/>
                                <label for="program_{{program.entity.id}}">
                                    <span data-ng-if="program.entity.type.name === 'MULTIMEDIA PROGRAM'" class="program-list_item-icon icon-film" aria-label="Multimedia" title="Multimedia"></span>
                                    <span data-ng-if="program.entity.type.name === 'ARTICLE'" class="program-list_item-icon icon-text-doc" aria-label="Article" title="Article"></span>
                                    <span data-ng-if="program.entity.type.name === 'IVR CALL'" class="program-list_item-icon icon-telephone" aria-label="Call" title="Call"></span>
                                    <span data-ng-if="program.entity.type.name === 'TRANSITION PROGRAM'" class="program-list_item-icon icon-telephone" aria-label="Transition Program" title="Transition Program"></span>
                                    <span data-ng-if="program.entity.type.name === 'NAVIGATE'" class="program-list_item-icon icon-telephone" aria-label="Navigate" title="Navigate"></span>
                                    <span data-ng-if="program.entity.type.name === 'MESSAGE'" class="program-list_item-icon icon-telephone" aria-label="Message" title="Message"></span>
                                    <span class="program-list_item-text">{{program.entity.name}}</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="table-no-results"  data-ng-hide="programs">
                    <span>No results found, please try again.</span>
                </div>
                <button class="btn btn-warning" type="button"
                      data-ng-disabled="!selectedProgramsHolder.length || whenSaving"
                      data-ng-click="addSelectedPrograms()">Add Selected
                </button>
            </div>
        </div>
    </div>


