
    <div class="col-md-7">
        <label class="control-label" for="query">
            Search by keyword or Emmi program name:
        </label>

        <div class="input-group">
            <input class="form-control" id="query" name="query" data-ng-model="query" type="text"
                   placeholder="Name, keyword..." data-auto-focus>

            <div class="input-group-addon btn" data-ng-click="!loading ? search() : false"
                 data-ng-disabled="loading">
                Search
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <label class="control-label" for="specialtyFilter">
            View programs by Specialty:
        </label>
        <select id="specialtyFilter" name="specialtyFilter" class="form-control"
                data-ng-disabled="!specialties || specialties.length == 0"
                data-ng-model="specialty" data-ng-change="onSpecialtyFilterChange()"
                data-ng-options="specialty.name for specialty in specialties | orderBy:'name' track by specialty.id"
                data-disable-search-threshold="10" data-allow-single-deselect="true"
                data-no-results-text="'All Specialties'"
                data-placeholder="Choose Specialty"
                data-chosen>
            <option></option>
        </select>
    </div>


