<form name="secretQuestionForm" class="form" novalidate>
    <div class="container" data-ng-cloak>
        <h2>You have requested to reset your password. To continue, please answer your security questions:</h2>

        <div class="row" data-ng-show="secretQuestionForm.$invalid">
            <div class="col-md-12" id="message-container"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Question 1:</label>
            </div>
            <div class="col-md-6 has-error">
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="secretQuestionForm.response1.$error.required && secretQuestionFormSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Required">
                </div>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="secretQuestionForm.response1.$error.pattern && secretQuestionFormSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Please enter a valid response">
                </div>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="!secretQuestionForm.response1.$error.required &&
                        !secretQuestionForm.response1.$error.pattern &&
                        secretQuestionForm.response1.$error.correctResponse && secretQuestionFormSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Response does not match our records">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div>
                    <p></p>
                    {{question1.entity.secretQuestion.secretQuestion}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"
                     data-ng-class="{ 'has-error' : ((secretQuestionForm.response1.$error.required
               								  || secretQuestionForm.response1.$error.correctResponse)
                                              && secretQuestionFormSubmitted)}">
                    <input class="form-control" id="response1" data-ng-model="question1.entity.response"
                           data-ng-change="responseChanged(secretQuestionForm.response1)"
                           name="response1" placeholder="Response"
                           type="text" maxlength="200"
                           required
                           data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Question 2:</label>
            </div>
            <div class="col-md-6 has-error">
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="secretQuestionForm.response2.$error.required && secretQuestionFormSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Required">
                </div>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="secretQuestionForm.response2.$error.pattern && secretQuestionFormSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Please enter a valid response">
                </div>
                <div class="error-circle fa-exclamation-circle"
                     data-ng-show="!secretQuestionForm.response2.$error.required &&
                        !secretQuestionForm.response2.$error.pattern &&
                        secretQuestionForm.response2.$error.correctResponse && secretQuestionFormSubmitted"
                     data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                     data-title="Response does not match our records">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div>
                    <p></p>
                    {{question2.entity.secretQuestion.secretQuestion}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group"
                     data-ng-class="{ 'has-error' : ((secretQuestionForm.response2.$error.required
                                              || secretQuestionForm.response2.$error.pattern
                                              || secretQuestionForm.response2.$error.correctResponse)
                                             && secretQuestionFormSubmitted)}">
                    <input class="form-control" id="response2" data-ng-model="question2.entity.response"
                           name="response2" placeholder="Response"
                           data-ng-change="responseChanged(secretQuestionForm.response2)"
                           type="text" maxlength="200"
                           required
                           data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="actions pull-right">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit"
                                data-ng-disabled="whenSaving"
                                data-ng-click="verifySecretQuestion(secretQuestionForm.$valid)">
                            <span>Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
