<div class="app-header with-breadcrumbs" data-emmi-navbar>
    <!-- Secondary menu for transclusion -->
    <ul class="secondary-nav">
        <li data-ng-if="!isProduction"><a href="#/clients/{{client.entity.id}}/password_policy">Client Configurations</a></li>
        <li><a href="#/clients/{{client.entity.id}}/roles">Manage Roles</a></li>
    </ul>
    <!-- Breadcrumb for transclusion -->
    <ol class="breadcrumb">
        <li><a href="#/clients">Search</a></li>
        <li><a href="#/clients/{{client.entity.id}}">{{client.entity.name}}</a></li>
        <li><a href="#/clients/{{client.entity.id}}/users">Manage Users</a></li>
        <li class="active">View User</li>
    </ol>
</div>
<div class="container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">

    <form name="userClientForm" class="form" novalidate data-unsaved-warning-form>
        <div class="layout-card" data-ng-class="{'outlined':editMode}" data-ng-switch="editMode" data-ng-controller="UserClientMetaDataController">
            <div class="row" data-ng-switch-default>
                <div data-ng-include="'admin-facing/partials/user/client/metadata/view.html'"></div>
            </div>
            <div class="row" data-ng-switch-when="true">
                <div data-ng-include="'admin-facing/partials/user/client/metadata/edit.html'"></div>
            </div>
        </div><!-- .layout-card -->
    </form>

            <div class="layout-card">

    <div data-ng-show="selectedUserClient">
        <div class="row" data-ng-include="'admin-facing/partials/user/client/userclientrole/client-role.html'"></div>
        <hr/>
        <div class="row" data-ng-include="'admin-facing/partials/user/client/userclientteamrole/client-team-role.html'"></div>
    </div>

    <!--
        only show the activate and reset choices when the selected user client has
        least one role (either client or team)
    -->
    <div data-ng-show="selectedUserClient && (clientRoles || (teamRoles | teamSetOnRole))"
         class="row" data-ng-include="'admin-facing/partials/user/client/activation/form.html'"></div>

            </div><!-- .layout-card -->
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
<footer class="footer" data-ng-include="'admin-facing/partials/common/footer.tpl.html'"></footer>
