<div class="app-header" data-emmi-navbar></div>
<div class="container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="layout-card">
                <p><span data-translate="main.welcome" data-ng-show="account"
                      data-translate-value-username="{{ account.firstName + ' ' + account.lastName}}"
                      data-translate-value-today="{{ today | date:'fullDate' }}"></span>
                <span data-ng-hide="account">The date is {{ today | date:'fullDate' }}.</span></p>
                <div>
                    <ul data-ng-switch="authenticated">
                        <li data-ng-show="isAuthorized([userRoles.god, userRoles.admin, userRoles.user])"><a
                            data-ng-href="#/clients" data-translate="global.menu.clients">Clients</a></li>
                        <li data-ng-show="isAuthorized(userRoles.all)"><a
                            data-ng-href="#/teams">Teams</a></li>
                        <li data-ng-show="isAuthorized(userRoles.all)"><a
                            data-ng-href="#/providers">Providers</a></li>
                        <li data-ng-show="isAuthorized(userRoles.all)"><a
                            data-ng-href="#/locations">Locations</a></li>
                        <li data-ng-show="isAuthorized([userRoles.god, userRoles.admin])"><a
                            data-ng-href="#/users">Emmi Users</a></li>
                        <li data-ng-show="isAuthorized([userRoles.god, userRoles.admin])"><a data-ng-href="#/docs">Documentation</a></li>
                        <li data-ng-show="account.link.referenceTags"><a data-ng-href="#/admin">Admin Functions</a></li>
                    </ul>
                </div>
            </div><!-- .layout-card -->
        </div><!-- .col-md-12 -->
    </div><!-- .row -->
</div><!-- .container -->
<footer class="footer" data-ng-include="'admin-facing/partials/common/footer.tpl.html'"></footer>
