<div class="modal-footer">
     <button type="button" class="btn btn-success"
             data-ng-if="teamProviderTeamLocationSaveRequest.length > 0"
             data-ng-click="associateSelectedProvidersToTeam()">Save
     </button>
     <button type="button" class="btn btn-default"
             data-ng-if="teamProviderTeamLocationSaveRequest.length > 0"
             data-ng-click="saveAssociationAndAddAnotherProvider()">Save & Add Another
     </button>
     <button type="button" class="btn btn-cancel" data-ng-click="cancel()">cancel</button>
</div>

