<div class="modal-footer">
     <button type="button" class="btn btn-success"
             data-ng-if="hasProvidersAdded() && !selectAll"
             data-ng-disabled="whenSaving"
             data-ng-click="save()">Save
     </button>
     <button type="button" class="btn btn-default"
             data-ng-if="hasProvidersAdded() && !selectAll"
             data-ng-disabled="whenSaving"
             data-ng-click="saveAndAddAnother()">Save & Add Another
     </button>
     <button type="button" class="btn btn-success"
             data-ng-if="hasProvidersAdded() && selectAll"
             data-ng-disabled="whenSaving"
             data-ng-click="saveAll()">Save
     </button>
     <button type="button" class="btn btn-default"
             data-ng-if="hasProvidersAdded() && selectAll"
             data-ng-disabled="whenSaving"
             data-ng-click="saveAllAndAddAnother()">Save & Add Another
     </button>
    <button type="button" class="btn btn-cancel"
            data-ng-click="hideAddProvidersModal()">cancel
    </button>
</div>

