<div class="col-md-12" data-ng-controller="ProviderListController">
    <div class="pull-right" data-ng-if="schedulingConfiguration.entity.useProvider">
        <button type="button" class="btn btn-link btn-link-nopad btn-heading"
                data-ng-disabled="whenSaving"
                data-ng-click="addProviders()"><i class="icon-plus"></i> add providers
        </button>
    </div>
    <h2 data-ng-if="schedulingConfiguration.entity.useProvider">Providers</h2>
    <table class="table table-bordered table-striped table-hover table-condensed" border="0" cellpadding="0"
           data-ng-if="listOfTeamProviders.length && schedulingConfiguration.entity.useProvider">
        <thead>
        <tr>
            <th>Name</th>
            <th>Primary Specialty</th>
            <th>Email</th>
            <th data-ng-if="allTeamLocations.length > 0 && schedulingConfiguration.entity.useLocation">Locations</th>
            <th class="text-center">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="teamProvider in listOfTeamProviders">
            <td><span class="col-wrap">{{teamProvider.entity.provider.firstName}} {{teamProvider.entity.provider.middleName}} {{teamProvider.entity.provider.lastName}} <em>{{teamProvider.entity.provider.active
                ? '' : "(inactive)"}}</em></span></td>
            <td class="col-sm-2">{{teamProvider.entity.provider.specialty.name}}</td>
            <td class="col-sm-3"><span class="col-wrap">{{teamProvider.entity.provider.email}}</span></td>
            <td class="col-sm-2" data-ng-if="allTeamLocations.length > 0 && schedulingConfiguration.entity.useLocation">
                <div>
                    <div data-placement="top" class="pointer"
                         data-ng-show="teamProvider.entity.locations && teamProvider.entity.locations.length > locationsColumnCharLimit"
                         data-content=" {{teamProvider.entity.locations}} " data-trigger="hover" data-delay="200"
                         data-bs-popover data-popover-dismiss>
                        {{teamProvider.entity.locations | characters:locationsColumnCharLimit }}
                    </div>
                    <div data-placement="top" class="pointer"
                         data-ng-show="teamProvider.entity.locations && teamProvider.entity.locations.length < locationsColumnCharLimit">
                        {{teamProvider.entity.locations | characters:locationsColumnCharLimit }}
                    </div>
                    <div data-placement="top" class="pointer"
                         data-ng-show="!teamProvider.entity.locations && allLocationsForTeam.length > locationsColumnCharLimit"
                         data-content="{{allLocationsForTeam}}" data-trigger="hover" data-delay="200" data-bs-popover
                         data-popover-dismiss>
                        {{allLocationsForTeam | characters:locationsColumnCharLimit }}
                    </div>
                    <div data-placement="top" class="pointer"
                         data-ng-show="!teamProvider.entity.locations && allLocationsForTeam.length < locationsColumnCharLimit">
                        {{allLocationsForTeam | characters:locationsColumnCharLimit }}
                    </div>
                </div>
            </td>
            <td class="col-edit text-center">
                <a href data-ng-click="editProvider(teamProvider)" aria-label="Edit Provider"><i class="icon-compose icon-size-xl"></i></a>
                <a href data-ng-click="removeProvider(teamProvider)" aria-label="Remove Provider"><i class="icon-trashcan icon-size-xl"></i></a>
            </td>
        </tr>
        <tr class="pagination-row no-hover">
            <td colspan="5" class="text-center" data-ng-show="links">
                <ul class="pagination">
                    <li data-ng-repeat="link in links | orderBy:'order'" class="{{link.className}}"
                        data-ng-class="{'active': link.name == currentPage}">
                        <a data-ng-click="fetchPage(link.href)">
                            <i aria-label="Previous" class="fa-angle-left" data-ng-if="link.className === 'previous'"></i>
                            {{link.name}}
                            <i aria-label="Next" class="fa-angle-right" data-ng-if="link.className === 'next'"></i>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="table-no-results" data-ng-if="schedulingConfiguration.entity.useProvider && !loading && !listOfTeamProviders.length">
        <span><em>There are no existing providers<span
            data-ng-show="team.name">&nbsp;for {{team.name}}</span>.</em></span>
    </div>
    <div class="table-no-results" data-ng-if="!schedulingConfiguration.entity.useProvider && !loading">
        <span><em>Providers are not in use for this team.</em></span>&nbsp;&nbsp;<span class="font-style-normal"><a href="#/clients/{{client.id}}/teams/{{team.id}}/configuration/scheduling?team={{team.id}}&{{currentRouteQueryString}}">edit</a></span>
    </div>
</div>
