<div class="container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb h3">
                <li><a href="#/">Emmi Manager</a></li>
                <li><a href="#" data-confirm-exit data-on-ok="confirmExit()" data-form="userClientForm">{{client.entity.name}}</a></li>
                <li class="active">View User</li>
            </ol>
        </div>
    </div>

    <form name="userClientForm" class="form" novalidate>
        <div data-ng-switch="editMode" data-ng-controller="UserClientMetaDataController">
            <div class="row" data-ng-switch-default>
                <div data-ng-include="'partials/user/client/metadata/view.html'"></div>
            </div>
            <div class="row" data-ng-switch-when="true">
                <div data-ng-include="'partials/user/client/metadata/edit.html'"></div>
            </div>
        </div>
    </form>

    <hr data-ng-show="selectedUserClient"/>
    <div data-ng-show="selectedUserClient">
        <div class="row" data-ng-include="'partials/user/client/userclientrole/client-role.html'"></div>
        <div class="row">
            <button class="btn-lg btn-link" type="button">
                Add team role
            </button>
        </div>
    </div>
</div>
