<div class="container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h3>
                <a href="#/">Emmi Manager</a> : <a href="#/clients/{{client.id}}">{{client.name}}</a>
            </h3>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
			<div class="col-md-2 col-sm-2">
				<label>Manage User</label>
            </div>
            <div class="col-md-6 col-sm-5">
                <label class="sr-only" for="query">Search</label>

                <div class="input-group">
                    <input class="form-control" id="query" name="query" data-ng-model="query" type="text"
                           placeholder="Search..." required data-auto-focus>

                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                </div>
            </div>
			<div class="col-md-2 col-sm-3">
                <button class="btn btn-default pull-left" data-ng-click="search()"
                        data-ng-disabled="searchForm.query.$invalid || loading"
                        data-translate="global.buttons.search">
                </button>
                <span data-ng-class="{'search-spinner' : loading}"></span>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="pull-right">
                    <a class="btn btn-primary" data-ng-href="#clients/{{client.id}}/users/new">Add New User</a>
                </div>
            </div>
        </div>
    </div>
</div>
