<div class="container" data-ng-cloak>

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb h3">
                <li><a href="#/">Emmi Manager</a></li>
                <li><a href="#/clients/{{client.entity.id}}">{{client.entity.name}}</a></li>
                <li class="active">Manager Users</li>
                <li class="pull-right"><a class="btn btn-link" href="#/clients/{{client.entity.id}}/roles">manage
                    user roles</a></li>
            </ol>
        </div>
    </div>
    <form name="searchForm" novalidate>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h2>Manage Users</h2>
            </div>
            <div class="col-md-2 col-sm-2 pull-right" data-ng-show="searchPerformed || !hasUsers">
                <div class="pull-right">
                    <h2></h2>
                    <a class="btn btn-primary"
                       data-ng-href="#clients/{{client.entity.id}}/users/new?{{currentRouteQueryString}}">Create
                        New
                        User</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" data-ng-show="hasUsers">
                <div class="form-inline">
                    <label class="control-label" for="query">Search:</label>

                    <div class="input-group col-md-8">
                        <input class="form-control" id="query" name="query" data-ng-model="query" type="text"
                               placeholder="First/last name, email, user ID" required data-auto-focus>

                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>

                    </div>
                    <button class="btn btn-default" data-ng-click="search()"
                            data-ng-disabled="searchForm.query.$invalid || loading">Go
                    </button>
                    <div class="input-group" data-ng-class="{'search-spinner' : loading}"></div>
                </div>
            </div>

            <div class="col-md-3" data-ng-show="hasUsers">
                <div class="form-inline">
                    <label class="control-label" for="teamFilter">Team:</label>

                    <div class="input-group col-md-8">
                        <select id="teamFilter" name="teamFilter" class="form-control"
                                data-ng-disabled="searchForm.query.$invalid || loading || allTeams.length == 0"
                                data-ng-model="teamTagFilter.team" data-ng-change="onTeamFilterChange()"
                                data-ng-options="team.entity.name for team in allTeams | orderBy:'entity.name' track by team.entity.id"
                                data-disable-search-threshold="10" data-allow-single-deselect="true"
                                data-no-results-text="'All Teams'"
                                data-placeholder="All Teams"
                                data-chosen>
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3" data-ng-show="hasUsers">
                <div class="form-inline">
                    <label class="control-label" for="tagFilter">Tags:</label>

                    <div class="input-group col-md-8">
                        <select id="tagFilter" name="tagFilter" class="form-control"
                                data-ng-disabled="teamTagFilter.team || allTeams.length == 0"
                                data-disable-search-threshold="10" data-allow-single-deselect="true"
                                data-placeholder="All Tags"
                                data-chosen>
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div class="row" data-ng-show="lookedForUsers && !hasUsers">
        <div class="col-md-12">
            <span>There are no existing users for {{client.entity.name}}</span>
        </div>
    </div>
    <div class="row" data-ng-show="searchPerformed">
        <div class="col-md-12">
            <div class="row" data-ng-hide="removeStatusFilterAndTotal">
                <div class="col-md-12">
                    <div class="pull-right">
                        {{total}} <span data-ng-show="total != 1"
                                        data-translate="global.labels.total"> results</span> <span
                        data-ng-show="total === 1"
                        data-translate="global.labels.totalSingular"> result</span>
                    </div>
                    <div class="pull-left">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="status_filter" data-translate="global.labels.statusFilter">Show:</label>
                                <select class="form-control" id="status_filter" data-ng-model="status"
                                        data-ng-options="status | translate for status in statuses"
                                        data-ng-change="statusChange()">
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <table class="table table-bordered table-striped table-hover"
                   border="0" cellpadding="0" cellspacing="0" data-ng-show="usersClient">
                <tr>
                    <th class="sort col-sm-2" data-ng-click="sort('lastName')">Last Name
						<span data-ng-show="sortProperty.property === 'lastName'"><span
                            class="glyphicon sort-icon"
                            data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span></span>
                    </th>
                    <th class="sort col-sm-2" data-ng-click="sort('firstName')">First Name
						<span data-ng-show="sortProperty.property === 'firstName'"><span
                            class="glyphicon sort-icon"
                            data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span></span>
                    </th>
                    <th class="sort col-sm-3" data-ng-click="sort('login')">User ID
						<span data-ng-show="sortProperty.property === 'login'"><span
                            class="glyphicon sort-icon"
                            data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span></span>
                    </th>
                    <th class="sort col-sm-3" data-ng-click="sort('email')">Email
						<span data-ng-show="sortProperty.property === 'email'"><span
                            class="glyphicon sort-icon"
                            data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span></span>
                    </th>
                    <th class="col-sm-2">&nbsp;</th>
                </tr>
                <tr
                    data-ng-repeat="userClient in usersClient">
                    <td>{{userClient.entity.lastName}}</td>
                    <td>{{userClient.entity.firstName}}</td>
                    <td>{{userClient.entity.login}}</td>
                    <td>{{userClient.entity.email}}</td>
                    <td><a class="btn-link"
                           href="#/clients/{{client.entity.id}}/users/{{userClient.entity.id}}?{{currentRouteQueryString}}">edit</a>
                        |
                        <a href
                           data-on-ok="toggleActivation(userClient)"
                           data-is-currently-active="userClient.entity.active"
                           data-placement="top"
                           data-toggle-user-client-active>{{userClient.entity.active ? 'deactivate' : 'activate'}}
                        </a>
                    </td>
                </tr>
            </table>
            <div class="row" data-ng-show="usersClient">
                <div data-ng-show="links" class="col-md-8 col-sm-8">
                    <ul class="pagination">
                        <li data-ng-repeat="link in links | orderBy:'order'"
                            data-ng-class="{'active': link.name == currentPage}"><a
                            data-ng-show="link.name != currentPage" href
                            data-ng-click="fetchPage(link.href)">{{link.name}}</a> <span
                            data-ng-hide="link.name != currentPage">{{link.name}}</span></li>
                    </ul>
                </div>
            </div>
            <div data-ng-hide="usersClient">
                <span data-translate="global.messages.search.no_results_found"></span>
            </div>
        </div>
    </div>
</div>
