<div class="modal" tabindex="-1" role="dialog">
    <form name="clientForm" class="form ng-pristine ng-valid modal-dialog modal-dialog-large"
          data-ng-controller="ClientTagsController" novalidate="">

        <div class="col-md-12 modal-content">
            <div class="row">
                <div class="col-md-6 pull-left">
                    <h2 data-translate="team_edit.client_tags.modal_title">
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span data-tag-groups data-ng-model="client.tagGroups" data-library-groups="tagLibraryMap"
                          data-name="clientTagGroups" data-form-field="clientForm.clientTagGroups"
                          data-tagging-mode="tagInputMode" data-ng-change="tagsChanged"></span>
                    <span data-ng-hide="tagInputMode || clientForm.clientTagGroups.$error.unique || clientForm.clientTagGroups.$error.blankTitle">
                        <small data-translate="team_edit.client_tags.modal_or">&nbsp;&nbsp;&nbsp;</small>
                        <button class="btn btn-link btn-tag-library" type="button" title="Select groups to add:"
                                data-placement="bottom" data-content-template="partials/client/tags/tag_library.html"
                                data-trigger="click" data-bs-popover data-popover-dismiss
                                data-translate="team_edit.client_tags.modal_add_from_library">
                        </button>
                    </span>
                </div>
            </div>

            <div class="modal-footer row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <div class="form-group">
                            <button class="btn btn-link" data-ng-click="hideClientTags()" data-ng-hide="alertTags">cancel</button>
                            <button class="btn btn-primary" type="button"
                                    data-ng-click="checkForConflicts(clientForm.$valid);"
                                    data-ng-disabled="!clientForm.$valid || !clientTagsHaveChanges"
                                    data-conflicting-team-tags = "conflictingTeamTags"
                                    data-on-open-popover="openDeletePopover()"
                                    data-on-close-popover="closeDeletePopover()"
                                    data-on-ok="overrideConflictingTeamTags(clientForm.$valid)"
                                    data-team-conflict-popover>Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>