<div class="row">
    <div class="col-md-6">
        <label>Question 1:</label>
    </div>
    <div class="col-md-6">
        <!-- placeholder -->
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group"
             data-ng-class="{ 'has-error' : ((noEmailNoQuestionForm.secretQuestion1.$error.required
                                            || noEmailNoQuestionForm.secretQuestion1.$error.duplicated)
                                            && noEmailNoQuestionFormSubmitted)}">
            <div class="fa-exclamation-circle"
                 data-ng-show="noEmailNoQuestionForm.secretQuestion1.$error.required && noEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Required">

            </div>
            <div class="fa-exclamation-circle"
                 data-ng-show="noEmailNoQuestionForm.secretQuestion1.$error.duplicated && noEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Please choose another question">
            </div>
            <select id="secretQuestion1" name="secretQuestion1" class="form-control"
                    data-ng-options="secretQuestion.secretQuestion for secretQuestion in secretQuestions track by secretQuestion.id "
                    data-ng-model="userClientReqdResource.question1.entity.secretQuestion"
                    required
                    data-ng-change="onChange()">
                <option value="" title="Choose a question">Choose a question...</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group"
             data-ng-class="{ 'has-error' : ((noEmailNoQuestionForm.response1.$error.required
                                            || noEmailNoQuestionForm.response1.$error.duplicated)
                                            && noEmailNoQuestionFormSubmitted)}">
            <div class="fa-exclamation-circle"
                 data-ng-show="noEmailNoQuestionForm.response1.$error.required && noEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Required">
            </div>
            <div class="fa-exclamation-circle"
                 data-ng-show="noEmailNoQuestionForm.response1.$error.pattern && noEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Please enter a valid response">
            </div>
            <input class="form-control" id="response1" data-ng-model="userClientReqdResource.question1.entity.response"
                   name="response1" placeholder="Response"
                   type="text" minlength="1" maxlength="200"
                   required
                   data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label>Question 2:</label>
    </div>
    <div class="col-md-6">
        <!-- placeholder -->
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group"
             data-ng-class="{ 'has-error' : ((noEmailNoQuestionForm.secretQuestion2.$error.required
                             				 || noEmailNoQuestionForm.secretQuestion2.$error.duplicated)
                               				 && noEmailNoQuestionFormSubmitted)}">
            <div class="fa-exclamation-circle"
                 data-ng-show="noEmailNoQuestionForm.secretQuestion2.$error.required && noEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Required">

            </div>
            <div class="fa-exclamation-circle"
                 data-ng-show="noEmailNoQuestionForm.secretQuestion2.$error.duplicated && noEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Please choose another question">
            </div>
            <select id="secretQuestion2" name="secretQuestion2" class="form-control"
                    data-ng-options="secretQuestion.secretQuestion for secretQuestion in secretQuestions track by secretQuestion.id "
                    data-ng-model="userClientReqdResource.question2.entity.secretQuestion"
                    required
                    data-ng-change="onChange()">
                <option value="" title="Choose a question">Choose a question...</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group"
             data-ng-class="{ 'has-error' : ((noEmailNoQuestionForm.response2.$error.required
                              || noEmailNoQuestionForm.response2.$error.duplicated)
                              && noEmailNoQuestionFormSubmitted)}">
            <div class="fa-exclamation-circle"
                 data-ng-show="noEmailNoQuestionForm.response2.$error.required && noEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Required">
            </div>
            <div class="fa-exclamation-circle"
                 data-ng-show="noEmailNoQuestionForm.response2.$error.pattern && noEmailNoQuestionFormSubmitted"
                 data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                 data-title="Please enter a valid response">
            </div>
            <input class="form-control" id="response2" data-ng-model="userClientReqdResource.question2.entity.response"
                   name="response2" placeholder="Response"
                   type="text" ng-minlength="1" maxlength="200"
                   required
                   data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
        </div>
    </div>
</div>


