<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <a href="#/">Emmi Manager</a>:&nbsp;<span data-bs-tooltip="'id: {{client.id}}'" data-placement="right">{{client.name}}</span>
            </h2>
        </div>
    </div>
    <div class="row" data-ng-hide="editMode" data-ng-include="'partials/client/edit/client_view.html'"></div>
    <form name="metadataForm" class="form" novalidate>
        <div class="row" data-ng-show="editMode" data-ng-include="'partials/client/edit/client_edit.html'"></div>
    </form>
</div>
