<div class="modal" tabindex="-1" role="dialog" data-ng-controller="SearchTeamsLocationsController">
    <div class="modal-dialog modal-dialog-large container-fluid">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10" id="message-container"></div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                <div class="col-md-10 col-sm-10 form-horizontal">
                        <div class="form-group" data-ng-show="clientHasLocations() && clientLocationsSearch" >
                            <label for="locationFromClient" class="col-sm-4 control-label" data-translate="team_locations_search_page.dropdown_locations.search_label"></label>
                            <div class="col-sm-8">
                                <select id="locationFromClient" class="chosen-container-multi form-control" 
                                    multiple chosen 
                                    data-placeholder="{{'team_locations_search_page.dropdown_locations.placeholder_label' | translate}}"
                                    data-ng-model="clientLocationsSelected"
                                    no-results-text="'Client Locations not found'"
                                    data-ng-options="c.location.entity.name for c in clientLocations"
                                    ng-change="onDropdownChange()" >
                                </select>
                            </div>
                        </div>
                         <form ng-submit="search()" >
                            <div class="form-group" data-ng-show="allLocationsSearch">
                                <label for="locationQuery" class="col-sm-4 control-label" data-translate="team_locations_search_page.search_dialog.search_label"></label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="locationQuery" data-ng-model="locationQuery"
                                       type="text" placeholder="{{'team_locations_search_page.search_dialog.placeholder_label' | translate}}"  data-auto-focus />
                                </div>
                                <div class="btn btn-default" data-ng-click="search()">
                                    <span data-translate="team_locations_search_page.search_dialog.go_label" ></span>
                                </div>
                                <div class="btn btn-link" data-ng-click="cleanSearch()">
                                    <span data-translate="team_locations_search_page.search_dialog.clear_search" ></span>
                                </div>
                                                            
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2 col-sm-2" data-ng-show="!(clientLocationsSearch && allLocationsSearch)">
                        <button type="button" class="btn btn-link pull-right" data-ng-click="createNewLocation()">
                            <span data-translate="team_locations_search_page.add_new.label"></span>
                        </button>
                        <span data-ng-class="{'search-spinner' : loading}"></span>
                    </div>
                </div>
            </div>
            <div class="modal-body" data-ng-show="locations && allLocationsSearch">
                <div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <table class="table table-bordered table-striped table-hover" border="0" cellpadding="0"
                                   cellspacing="0"
                                   >
                                <tr>
                                    <th class="sort col-sm-1">&nbsp;</th>
                                    <th class="sort col-sm-3" data-ng-click="sort('name')">
                                        Name
                                        <span data-ng-show="sortProperty.property === 'name'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                                    </th>
                                    <th class="sort col-sm-3" data-ng-click="sort('belongsTo.name')">
                                        Client Owner
                                        <span data-ng-show="sortProperty.property === 'belongsTo.name'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                                    </th>
                                    <th class="sort col-sm-3" data-ng-click="sort('city')">
                                        City/State
                                        <span data-ng-show="sortProperty.property === 'city'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                                    </th>
                                    <th class="sort col-sm-2" data-ng-click="sort('phone')">
                                        Phone
                                        <span data-ng-show="sortProperty.property === 'phone'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                                    </th>

                                </tr>
                                <tr data-ng-repeat="location in locations" data-ng-class="location.location.entity.disabled ? 'text-muted' : ''">
                                    <td><input type="checkbox" data-ng-model="location.location.entity.checked"  data-ng-disabled="location.location.entity.disabled"
                                               ng-change="onCheckboxChange(location)"></td>
                                    <td>{{location.location.entity.name}}</td>
                                    <td>
                                        {{location.location.entity.belongsTo.name}}
                                    </td>
                                    <td> {{location.location.entity.city}}<span
                                            data-ng-show="location.location.entity.city && location.location.entity.state">,&nbsp;</span>{{location.location.entity.state}}
                                    </td>
                                    <td>{{location.location.entity.phone}}</td>
                                </tr>
                            </table>
                            <div data-ng-show="!locations && allLocationsSearch && !clientLocationsSearch">
                                <span data-translate="global.messages.search.no_results_found"></span>
                            </div>
                            <div class="row" data-ng-show="locations">
                                <div class="col-md-4 col-sm-4 pull-right" data-ng-show="total > pageSizes[0] || links">
                                    <ul class="pagination page-size pull-right">
                                        <li data-ng-repeat="pageSize in pageSizes">
                                            <a data-ng-if="pageSize != currentPageSize" href
                                               data-ng-click="changePageSize(pageSize)">{{pageSize}}</a>
                                            <span data-ng-if="pageSize === currentPageSize">[{{pageSize}}]</span>
                                        </li>
                                    </ul>
                                </div>
                                <div data-ng-show="links" class="col-md-8 col-sm-8">
                                    <ul class="pagination">
                                        <li data-ng-repeat="link in links | orderBy:'order'">
                                            <a data-ng-if="link.name != currentPage" href
                                               data-ng-click="fetchPage(link.href)">{{link.name}}</a>
                                            <span data-ng-if="link.name == currentPage">[{{link.name}}]</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-ng-click="hidePopupLocations()"><span data-translate="team_locations_search_page.cancel.label"></span></button>
                <button type="button" class="btn btn-default" data-ng-show="locations || clientLocationsSelected"
                        data-ng-click="saveAndAddAnother()"><span data-translate="team_locations_search_page.save_and_other.label"></span> 
                </button>
                <button type="button" class="btn btn-primary" data-ng-show="locations || clientLocationsSelected" data-ng-click="savePopupLocations()"><span data-translate="team_locations_search_page.save.label"></span>
                </button>
            </div>
        </div>
    </div>
</div>

