<div class="col-md-12"  data-ng-controller="TeamsLocationsController" >
    <h2>Locations</h2>
    <table class="table table-bordered table-striped table-hover" border="0" cellpadding="0"
           cellspacing="0" data-ng-show="locations">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>City</th>
            <th>State</th>
            <th>&nbsp;</th>
        </tr>

        <tr data-ng-class="{highlight: location.highlight}"  data-ng-repeat="location in locations" >
            <td>
                {{location.entity.location.name}}
                <span data-ng-show="location.entity.location.belongsTo && location.entity.location.belongsTo.id !== team.entity.id"> <em>({{location.entity.location.belongsTo.name}})</em></span>
                <span data-ng-show="!location.entity.location.belongsTo"> <em>(<span data-translate="client_edit_page.locations.no_client_owner"></span>)</em></span>
            </td>
            <td>{{location.entity.location.phone}}</td>
            <td>{{location.entity.location.city}}</td>
            <td>{{location.entity.location.state}}</td>
            <td>
                <a href data-ng-click="editLocation(location.entity.location)">edit</a><span class="text-muted">&nbsp;|&nbsp;</span><a href data-ng-click="removeExistingLocation(location)">remove from team</a>
            </td>
        </tr>

    </table>
    <div data-ng-hide="locations">
        <span>There are no existing locations<span data-ng-show="team.name"> for {{team.name}}</span>.</span>
    </div>
    <div class="row" data-ng-show="locations">
        <ul class="pagination">
            <li data-ng-repeat="link in links | orderBy:'order'" data-ng-class="{'active': link.name == currentPage}">
                <a data-ng-show="link.name != currentPage" href
                   data-ng-click="fetchPage(link.href)">{{link.name}}</a>
                <span data-ng-hide="link.name != currentPage">{{link.name}}</span>
            </li>
        </ul>
    </div>
    <div class="row" >
	    <button type="button" class="btn btn-link" data-ng-click="addLocations()">
	        add locations
	    </button>
    </div>
</div>

