<div data-ng-controller="PatientSelfRegController" data-ng-cloak>
    <form name="patientSelfRegForm" class="form" novalidate>
        <h1>Patient Information</h1>

        <div class="form-group">

            <div class="row">
                <div class="checkbox col-sm-5">
                    <input id="exposePatientName" type="checkbox"
                           data-ng-change="updatePatientNameFields()"
                           data-ng-model="patientSelfRegConfig.entity.exposeName"/>
                    <label for="exposePatientName">Patient name</label>
                </div>
                <div class="col-sm-5">
                    <div class="checkbox" data-ng-if="patientSelfRegConfig.entity.exposeName">
                        <input id="requirePatientName" type="checkbox"
                               data-ng-model="patientSelfRegConfig.entity.requireName"/>
                        <label for="requirePatientName">Required</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="checkbox col-sm-5">
                    <input id="exposeDateOfBirth" type="checkbox"
                           data-ng-change="updateReqDobFields()"
                           data-ng-model="patientSelfRegConfig.entity.exposeDateOfBirth"/>
                    <label for="exposeDateOfBirth">Date of birth</label>
                </div>
                <div class="col-sm-5">
                    <div class="checkbox" data-ng-if="patientSelfRegConfig.entity.exposeDateOfBirth">
                        <input id="requirePatientDob" type="checkbox"
                               data-ng-model="patientSelfRegConfig.entity.requireDateOfBirth"/>
                        <label for="requirePatientDob">Required</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="checkbox col-sm-5">
                    <input id="exposePatientID" type="checkbox"
                           data-ng-model="patientSelfRegConfig.entity.exposeId"
                           data-ng-change="updatePatientIdFields()"/>
                    <label for="exposePatientID">Patient ID</label>
                </div>
                <div class="col-sm-5">
                    <div class="checkbox" data-ng-if="patientSelfRegConfig.entity.exposeId">
                        <input id="requirePatientId" type="checkbox"
                               data-ng-model="patientSelfRegConfig.entity.requireId"/>
                        <label for="requirePatientId">Required</label>
                    </div>
                </div>
            </div>

            <div data-ng-show="patientSelfRegConfig.entity.exposeId"
                 data-ng-include="'admin-facing/partials/team/configuration/patient-self-reg/patient-id-label-type-dropdown.html'"></div>

            <br/>

            <div class="row">
                <div class="checkbox col-sm-5">
                    <input id="exposePatientPhone" type="checkbox"
                           data-ng-model="patientSelfRegConfig.entity.exposePhone"
                           data-ng-change="updatePhoneFields()"/>
                    <label for="exposePatientPhone">Phone</label>
                </div>
                <div class="col-sm-5">
                    <div class="checkbox" data-ng-if="patientSelfRegConfig.entity.exposePhone">
                        <input id="requirePatientPhone" type="checkbox"
                               data-ng-model="patientSelfRegConfig.entity.requirePhone"/>
                        <label for="requirePatientPhone">Required</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="checkbox col-sm-5">
                    <input id="exposePatientEmail" type="checkbox"
                           data-ng-model="patientSelfRegConfig.entity.exposeEmail"
                           data-ng-change="updateEmailFields()"/>
                    <label for="exposePatientEmail">Email</label>
                </div>
                <div class="col-sm-5">
                    <div class="checkbox" data-ng-if="patientSelfRegConfig.entity.exposeEmail">
                        <input id="requirePatientEmail" type="checkbox"
                               data-ng-model="patientSelfRegConfig.entity.requireEmail"/>
                        <label for="requirePatientEmail">Required</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-left">
            <button class="btn btn-success" type="submit" data-ng-click="continue(patientSelfRegForm)"
                    data-ng-disabled="whenSaving">
                <span>Save & add programs</span>
            </button>
            <button class="btn btn-cancel " type="button" data-ng-click="cancel()" data-ng-disabled="whenSaving">
                <span>cancel</span>
            </button>
        </div>
    </form>
</div>
