<div class="container" data-ng-cloak>

    <div class="row">
        <ol class="breadcrumb h3">
            <li><a href="#/">Emmi Manager</a></li>
            <li class="active">Patient Schedule Details</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Schedule Details for {{team.patient.entity.firstName}} {{team.patient.entity.lastName}}:</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" >
            <div class="row" >
                <div class="col-md-2">
                    Name:
                </div>
                <div class="col-md-2">
                    {{team.patient.entity.firstName}} {{team.patient.entity.lastName}}
                </div>

            </div>
            <div class="row" >
                <div class="col-md-2">
                    Date of birth:
                </div>
                <div class="col-md-2">
                    {{team.patient.entity.dateOfBirth |  date:"yyyy-dd-MM" }}
                </div>

            </div>
        </div>
    </div>
</div>
