<div class="col-md-12">
    <form name="userForm" class="form" novalidate>
        <div id="validation-container" data-ng-show="userForm.$invalid && userFormSubmitted"></div>
        <h1 data-ng-if="selectedUser">Edit Emmi User</h1>
        <h1 data-ng-if="!selectedUser">New Emmi User</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group"
                     data-ng-class="{ 'has-error' : userForm.firstName.$invalid && userFormSubmitted }">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="error-circle fa-exclamation-circle"
                         data-ng-show="userForm.firstName.$error.required && userFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <div class="error-circle fa-exclamation-circle"
                         data-ng-show="userForm.firstName.$error.pattern && userFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid first name"></div>
                    <input class="form-control" id="firstName" data-ng-model="userToBeEdit.firstName"
                           name="firstName"
                           type="text" maxlength="50" required data-auto-focus
                           data-ng-pattern="/^[a-zA-Z '-]*$/">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group"
                     data-ng-class="{ 'has-error' : userForm.lastName.$invalid && userFormSubmitted }">
                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="error-circle fa-exclamation-circle"
                         data-ng-show="userForm.lastName.$error.required && userFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <div class="error-circle fa-exclamation-circle"
                         data-ng-show="userForm.lastName.$error.pattern && userFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid last name"></div>
                    <input class="form-control" id="lastName" data-ng-model="userToBeEdit.lastName"
                           name="lastName"
                           type="text" maxlength="50" required
                           data-ng-pattern="/^[a-zA-Z '-]*$/">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group"
                     data-ng-class="{ 'has-error' : userForm.email.$invalid && userFormSubmitted }">
                    <label class="control-label" for="email">Email</label>
                    <div class="error-circle fa-exclamation-circle"
                         data-ng-show="userForm.email.$error.required && userFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Required"></div>
                    <div class="error-circle fa-exclamation-circle"
                         data-ng-show="userForm.email.$error.pattern && userFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter a valid email"></div>
                    <div class="error-circle fa-exclamation-circle"
                         data-ng-show="userForm.email.$error.unique && userFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="This email is already in use"></div>
                    <input class="form-control" id="email" data-ng-model="userToBeEdit.email"
                           name="email" type="text" required
                           maxlength="255" data-ng-pattern="emailPattern" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group"
                     data-ng-class="{ 'has-error' : userForm.role.$invalid && userFormSubmitted }">
                    <label class="control-label" for="role">Role</label>
                    <div class="error-circle fa-exclamation-circle"
                         data-ng-show="userForm.role.$invalid && userFormSubmitted"
                         data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                         data-title="Please enter at least 1 permission"></div>
                    <select id="role" class="form-control" data-ng-model="userToBeEdit.role"
                            data-ng-options="role.entity.name for role in roles track by role.entity.id"
                            name="role" required
                            data-ng-disabled="userForm.role.$error.unique || userToBeEdit.id === account.id"
                            data-chosen data-disable-search="true" data-placeholder="Select...">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-2" data-ng-class="{'hidden':!selectedUser}">
                <div class="form-group">
                    <label>&nbsp;</label><!-- for spacing purposes -->
                    <div class="checkbox">
                        <input id="active" type="checkbox" data-ng-disabled="userToBeEdit.id === account.id"
                               data-ng-model="userToBeEdit.active" data-no-dirty-check/>
                        <label for="active">
                            Active
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>&nbsp;</label><!-- for spacing purposes -->
                    <div class="checkbox">
                        <input id="webApiUser" type="checkbox" data-ng-disabled="userToBeEdit.id === account.id"
                               data-ng-model="userToBeEdit.webApiUser"/>
                        <label for="webApiUser">
                            API User
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-actions">
                    <div class="form-group">
                        <button class="btn btn-success" type="submit"
                                data-ng-disabled="whenSaving"
                                data-user-client="userToBeEdit"
                                data-on-ok="save(userForm, false)"
                                data-on-cancel="makeActive()"
                                data-ng-model="userToBeEdit"
                                data-new-status="userToBeEdit.active"
                                data-is-currently-active="userForm.$valid && userToBeEdit.currentlyActive"
                                data-placement="right"
                                data-toggle-user-client-active>
                            <span>Save</span>
                        </button>
                        <button class="btn btn-default" type="button"
                                data-ng-disabled="whenSaving"
                                data-user-client="userToBeEdit"
                                data-on-ok="save(userForm, true)"
                                data-on-cancel="makeActive()"
                                data-ng-model="userToBeEdit"
                                data-new-status="userToBeEdit.active"
                                data-is-currently-active="userForm.$valid && userToBeEdit.currentlyActive"
                                data-placement="right"
                                data-toggle-user-client-active>
                            <span>Save & Add Another User</span>
                        </button>
                        <a class="btn btn-cancel" data-ng-click="cancel()">cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

