<div class="popover popover-flex">
    <div class="arrow"></div>
    <h3 class="popover-title">API Credentials
        <button type="button" class="btn btn-default btn-xs btn-close pull-right" data-ng-click="closePopover()">
            <span class="icon-delete"></span>
        </button>
    </h3>
    <div class="popover-content">
        <div class="popover-text">
            <table border="0" cellpadding="0" cellspacing="0" class="popover-table">
                <tr class="nowrap">
                    <th>User ID:</th>
                    <td><span class="col-wrap">{{selectedUser.login}}</span></td>
                </tr>
                <tr class="nowrap">
                    <th>Password:</th>
                    <td>{{selectedUser.password}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
