<div class="popover">
    <div class="arrow"></div>
    <h3 class="popover-title" data-ng-show="conflictingUsers.length == 1">{{conflictingUsers[0].reason | translate}}</h3>
    <div class="popover-content">
        <div class="popover-text">
            <div data-ng-repeat="conflictingUser in conflictingUsers">
                <div data-ng-hide="conflictingUsers.length == 1">{{conflictingUser.reason | translate}}</div>
                <table border="0" cellpadding="0" cellspacing="0" class="popover-table">
                    <tr>
                        <th><span>User ID:</span></th>
                        <td><a href="#/clients/{{conflictingUser.userClient.client.id}}/users/{{conflictingUser.userClient.id}}">{{conflictingUser.userClient.login}}</a></td>
                    </tr>
                    <tr>
                        <th><span>Client:</span></th>
                        <td>{{conflictingUser.userClient.client.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


