<form name="validateEmailForm" class="form" novalidate data-ng-controller="sendValidationEmail">
    <h1>Please confirm your email addressss</h1>
    <div class="form-group">
        <p>Verifying your email address will make your account more secure, and allow you to reset your password if you forget it in the future.</p>
    </div>
    <div data-ng-show="validateEmailForm.$invalid" id="message-container-validate-email"></div>
    <div data-ng-include="'client-facing/loginInterruption/validateEmail/validate_email_template.html'"></div>
    <div class="form-actions pull-right">
        <div class="form-group">
            <button class="btn btn-cancel" type="button"
                data-ng-disabled="whenSaving"
                data-ng-click="notNow()">
                not now
            </button>
            <button class="btn btn-success" type="submit"
                    data-ng-disabled="whenSaving"
                    data-ng-click="sendValidationEmail(validateEmailForm.validateEmail.$valid)">
                Save
            </button>
        </div>
    </div>
</form>
