<div class="form-group" data-ng-show="clientHasLocations()" >
    <div class="col-md-12 col-sm-12" >
        <table class="table table-bordered table-striped table-hover" border="0" cellpadding="0"
               cellspacing="0" data-ng-show="clientLocations" >
            <tr>
                <th class="sort col-sm-0">&nbsp;</th>
                <th class="sort col-sm-3" data-ng-click="sort('name')">
                    Name
                    <span data-ng-show="sortProperty.property === 'name'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                </th>
                <th class="sort col-sm-3" data-ng-click="sort('belongsTo.name')">
                    Client Owner
                    <span data-ng-show="sortProperty.property === 'belongsTo.name'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                </th>
                <th class="sort col-sm-s" data-ng-click="sort('city')">
                    City/State
                    <span data-ng-show="sortProperty.property === 'city'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                </th>
                <th class="sort col-sm-2" data-ng-click="sort('phone')">
                    Phone
                    <span data-ng-show="sortProperty.property === 'phone'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                </th>
                <th class="sort col-sm-3" data-ng-show="teamResource.teamProviders">
                    Use
                </th>                  
            </tr>
            <tr data-ng-repeat="location in clientLocations" data-ng-class="location.location.entity.disabled ? 'text-muted' : ''">
                <td><input type="checkbox" data-ng-model="location.location.entity.checked"  data-ng-disabled="location.location.entity.disabled"
                           ng-change="onCheckboxChange(location)"></td>
                <td>{{location.location.entity.name}}</td>
                <td>
                    {{location.location.entity.belongsTo.name}}
                </td>
                <td> {{location.location.entity.city}}<span
                        data-ng-show="location.location.entity.city && location.location.entity.state">,&nbsp;</span>{{location.location.entity.state}}
                </td>
                <td>{{location.location.entity.phone}}</td>
                <td data-ng-show="teamResource.teamProviders">                
                    <select class="form-control" id="provider" data-ng-model="selectedProvider" data-ng-disabled="location.location.entity.disabled"
                            data-ng-options="c.entity.provider.firstName for c in teamResource.teamProviders" name="provider" >
                        <option value="" selected>All ({{teamResource.teamProviders.length}})</option>
                    </select>
                </td>                
            </tr>
        </table>
    </div>  
</div>
