<div class="form-group" >
    <div class="col-md-12 col-sm-12 form-horizontal" data-ng-controller="SearchTeamsLocationsController">
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <form name="searchForm" ng-submit="search(searchForm.locationQuery)" novalidate>
                    <div class="input-group">
                        <input class="form-control" name="locationQuery" id="locationQuery" data-ng-model="locationQuery"
                           type="text" data-clear-search
                           placeholder="{{'team_locations_search_page.search_dialog.placeholder_label' | translate}}" required data-auto-focus>
                        <div class="input-group-addon btn" data-ng-click="search(searchForm.locationQuery)"
                         data-ng-disabled="searchForm.locationQuery.$invalid"><span data-translate="team_locations_search_page.search_dialog.go_label" ></span></div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-sm-3" data-ng-show="allLocationsSearch">
                <button type="button" class="btn btn-link pull-right" data-ng-click="createNewTeamLocation()">
                    <span  data-translate="team_locations_search_page.add_new.label"></span>
                </button>
                <span data-ng-class="{'search-spinner' : loading}"></span>
            </div>
        </div>
        <div cclass="modal-body" data-ng-show="allLocationsSearch">
        <div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="pull-right">
                        {{total}}
                        <span data-ng-show="total != 1" data-translate="global.labels.total"> results</span>
                        <span data-ng-show="total === 1"
                              data-translate="global.labels.totalSingular"> result</span>
                    </div>
                    <form class="form-inline">
                        <label for="status_filter" data-translate="global.labels.statusFilter">Show:</label>
                        <select class="form-control" id="status_filter" data-ng-model="status"
                                data-ng-options="status | translate for status in statuses"
                                data-ng-change="statusChange()">
                        </select>
                    </form>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <table class="table table-bordered table-striped table-hover" border="0" cellpadding="0"
                           cellspacing="0" data-ng-show="locations" >
                        <tr>
                            <th class="sort col-sm-0">&nbsp;</th>
                            <th data-ng-class="sizeClass" data-ng-click="sortTeam('name')" >
                                Name
                                <span data-ng-show="sortProperty.property === 'name'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                            </th>
                            <th data-ng-class="sizeClass" data-ng-click="sortTeam('belongsTo.name')" >
                                Client Owner
                                <span data-ng-show="sortProperty.property === 'belongsTo.name'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                            </th>
                            <th class="sort col-sm-2" data-ng-click="sortTeam('city')">
                                City/State
                                <span data-ng-show="sortProperty.property === 'city'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                            </th>
                            <th class="sort col-sm-2" data-ng-click="sortTeam('phone')">
                                Phone
                                <span data-ng-show="sortProperty.property === 'phone'"><span class="glyphicon sort-icon" data-ng-class="{'glyphicon-chevron-down': sortProperty.ascending, 'glyphicon-chevron-up': !sortProperty.ascending}"></span>
                            </th>
                            <th class="sort col-sm-3" data-ng-show="providersData">
                                Use
                            </th>
                        </tr>
                        <tr data-ng-repeat="location in locations" data-ng-class="location.location.entity.disabled ? 'text-muted' : ''">
                            <td><input type="checkbox" data-ng-model="location.location.entity.checked"  data-ng-disabled="location.location.entity.disabled"
                                       ng-change="onCheckboxChange(location)"></td>
                            <td>{{location.location.entity.name}}</td>
                            <td>
                                {{location.location.entity.belongsTo.name}}
                            </td>
                            <td> {{location.location.entity.city}}<span
                                    data-ng-show="location.location.entity.city && location.location.entity.state">,&nbsp;</span>{{location.location.entity.state}}
                            </td>
                            <td>{{location.location.entity.phone}}</td>
                            <td data-ng-show="providersData">
                                <div class="col-xs-12" data-ng-show="providersData && location.location.entity.checked && !location.location.entity.disabled">
                                       <div data-multi-select
                                        values="providersData"
                                        model="location.location.entity.providersSelected"
                                        show-filters="true"
                                        value-field="id"
                                        label-field="label"
                                        template-path = "partials/common/directives/multi-select/multi-select.html" >
                                        </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div data-ng-hide="!allLocationsSearch || locations">
                        <span data-translate="global.messages.search.no_results_found"></span>
                    </div>
                    <div class="row" data-ng-show="locations">
                        <div data-ng-show="links" class="col-md-8 col-sm-8">
                            <ul class="pagination">
                                <li data-ng-repeat="link in links | orderBy:'order'" data-ng-class="{'active': link.name == currentPage}">
                                    <a data-ng-show="link.name != currentPage" href
                                       data-ng-click="fetchPage(link.href)">{{link.name}}</a>
                                    <span data-ng-hide="link.name != currentPage">{{link.name}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
