<div class="modal" tabindex="-1" role="dialog" data-ng-controller="SecretQuestionViewController">
    <form name="passwordForm" class="form" ng-submit="validatePassword(password)" novalidate>
    <div class="modal-content">
        <div class="modal-header" data-ng-show="title">
            
        </div>
        <h4 class="modal-title">Please enter your password for editing your secret questions</h4>
        <div class="modal-body">
            <div class="row" data-ng-show="passwordForm.$valid">
                <div class="col-md-12" id="message-container"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : passwordForm.password.$required && passwordFormSubmitted }">
                        <label class="control-label" for="password">Password:</label>

                        <div class="error-circle glyphicon glyphicon-exclamation-sign"
                             data-ng-show="passwordForm.password.$error.required && passwordFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required"></div>
                       <input class="form-control" id="password" data-ng-model="password" name="password"
                               type="text" maxlength="255" required data-auto-focus
                               data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_;:@#&,\(\)!]*$/">
                    </div>
                </div>
            </div>
          
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit"
                              data-ng-click="validatePassword(password)"
                      >
                      <span>Submit</span>
            </button>
        </div>
    </div>
    </div>
</form>
</div>
