
<form name="secretQuestionForm" class="form" novalidate>
    <div class="container" data-ng-cloak>
       <h2>Security Questions</h2>
       <h4>Security questions make your account more secure, and allow you to reset your password if you forget it.</h4>
       <div class="row" data-ng-show="secretQuestionForm.$invalid">
            <div class="col-md-12" id="message-container"></div>
       </div>
            
    <div class="row">
		<label class="col-md-12">Question 1:</label>
     <div class="col-md-6">
          <div class="form-group">
          <select id="secretQuestion1" name="secretQuestion1" class= "form-control" 
                  data-ng-options="secretQuestion.secretQuestion for secretQuestion in secretQuestions track by secretQuestion.id " 
                  data-ng-model="question1.entity.secretQuestion"
                  required disabled>
          <option value="" title="Choose a question">Choose a question...</option>
          </select>
          </div>
     </div>
     <div class="col-md-6">
       	  <div class="form-group">
          <input class="form-control" id="response1" data-ng-model="question1.entity.response"
                 name="response1" placeholder="Response"
                 type="text" minlength="1" maxlength="200" 
                 required readonly
                 data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
          </div>
     </div>
	</div>
               
	<div class="row">
	  <label class="col-md-12">Question 2:</label>
     <div class="col-md-6">
          <div class="form-group">
          <select id="secretQuestion2" name="secretQuestion2" class= "form-control" 
                  data-ng-options="secretQuestion.secretQuestion for secretQuestion in secretQuestions track by secretQuestion.id " 
                  data-ng-model="question2.entity.secretQuestion"
                  required disabled>
            	  <option value="" title="Choose a question">Choose a question...</option>
          </select>
          </div>
     </div>
     <div class="col-md-6">  
     	  <div class="form-group">
          <input class="form-control" id="response2" data-ng-model="question2.entity.response"
                 name="response2" placeholder="Response"
                 type="text" ng-minlength="1" maxlength="200" 
                 required readonly
                 data-ng-pattern="/^[\-\.a-zA-Z0-9 '=_+;:$^|{}<>?%@#&,\(\)!]*/">
          </div>
    </div>
   </div>
   
    <div class="row">
            <div class="col-md-12">
                 <div class="actions pull-right">
                      <div class="form-group">
                      <button class="btn btn-primary" type="submit"
                              data-ng-click="editSecretQuestion()">
                              <span>Edit</span>
                      </button>
                      </div>
                </div>
           </div>
      </div>
  </div>
</form>
