
<div class="col-md-12" data-ng-controller="SecretQuestionEditController">
<form name="secretQuestionForm" class="form"  novalidate>
    <div class="container" data-ng-cloak >
         <h2>Please choose your secret questions</h2>
         <h4>Adding security questions will make your account more secure,<br/>
             and allow you to reset your password if you forget it in the future.</h4>
         <div class="row" data-ng-show="secretQuestionForm.$invalid">
              <div class="col-md-12" id="message-container"></div>
         </div>
            
         <div data-ng-include="'client-facing/secretQuestions/secret-question-template.html'"></div>
                
         <div class="row">
              <div class="col-md-12">
                   <div class="actions pull-right">
                        <div class="form-group">
                        <button class="btn btn-link" type="submit"
                                data-ng-click="cancel()">
                                <span>cancel</span>
                        </button>
                        <button class="btn btn-primary" type="submit"
                                data-ng-click="saveOrUpdateSecretQuestion(secretQuestionForm.$valid)"
                        >
                                <span>Save</span>
                        </button>
                        </div>
                  </div>
         </div>
      </div>
  </div>
</form>
</div>
