<div class="sidebar-wrapper">
    <h2 class="sidebar-heading">Configurations</h2>
    <hr/>
    <ul class="sidebar-list list-unstyled">
        <li>
            <a data-ng-href="#/clients/{{client.id}}/password_policy"
                data-ng-class="{ 'active': activeSidebarMenu === 'password_policy'}">Password Policies</a>
        </li>
        <li>
            <a data-ng-href="#/clients/{{client.id}}/restriction"
                data-ng-class="{ 'active': activeSidebarMenu === 'restriction'}">Security Settings</a>
        </li>
    </ul>
    <hr/>
     <ul class="sidebar-list list-unstyled">
        <li>
            <a data-ng-href="#/clients/{{client.id}}/program_content"
                data-ng-class="{ 'active': activeSidebarMenu === 'program_content'}">Program Content</a>
        </li>
     </ul>
</div><!-- .sidebar-wrapper -->
