<form name="providerForm" class="form" novalidate>
	<div class="col-md-12">
        <div class="row" data-ng-show="providerForm.$invalid">
                <div class="col-md-12" id="message-container"></div>
        </div>
		<div class="row">
			<div class="col-md-6 pull-left">
				<h2>Provider Information</h2>
			</div>
			<div class="col-md-6" data-ng-show="showCancelSave()">
				<div class="pull-right">
					<h2></h2>
					<a class="btn btn-link" data-ng-click="cancel()">cancel</a> | 
					<a class="btn btn-link" type="button" data-provider-deactivate-warning><span>save edits</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group"
					data-ng-class="{ 'has-error' : providerForm.providerFirstName.$invalid && providerFormSubmitted }">
					<label class="control-label" for="providerFirstName">First
						Name:</label>

					<div class="error-circle glyphicon glyphicon-exclamation-sign"
						data-ng-show="providerForm.providerFirstName.$error.required && providerFormSubmitted"
						data-bs-tooltip data-placement="right" data-type="danger"
						data-container="body" data-title="Required"></div>
					<div class="error-circle glyphicon glyphicon-exclamation-sign"
						data-ng-show="providerForm.providerFirstName.$error.pattern && providerFormSubmitted"
						data-bs-tooltip data-placement="right" data-type="danger"
						data-container="body"
						data-title="Please enter a valid first name."></div>
					<input class="form-control" id="providerFirstName"
						data-ng-model="providerToEdit.firstName"
						name="providerFirstName" type="text" maxlength="255" required
					    data-ng-pattern="/^[a-zA-Z '-]*$/">
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group"
					data-ng-class="{ 'has-error' : providerForm.providerMiddleName.$invalid && providerFormSubmitted }">
					<label class="control-label" for="providerMiddleName">Middle
						Name:</label>

					<div class="error-circle glyphicon glyphicon-exclamation-sign"
						data-ng-show="providerForm.providerMiddleName.$error.required && providerFormSubmitted"
						data-bs-tooltip data-placement="right" data-type="danger"
						data-container="body" data-title="Required"></div>
					<div class="error-circle glyphicon glyphicon-exclamation-sign"
						data-ng-show="providerForm.providerMiddleName.$error.pattern && providerFormSubmitted"
						data-bs-tooltip data-placement="right" data-type="danger"
						data-container="body"
						data-title="Please enter a valid middle name."></div>
					<input class="form-control" id="providerMiddleName"
						data-ng-model="providerToEdit.middleName"
						name="providerMiddleName" type="text" maxlength="255"
						data-ng-pattern="/^[a-zA-Z '-]*$/">
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group"
					data-ng-class="{ 'has-error' : providerForm.providerLastName.$invalid && providerFormSubmitted }">
					<label class="control-label" for="providerLastName">Last
						Name:</label>

					<div class="error-circle glyphicon glyphicon-exclamation-sign"
						data-ng-show="providerForm.providerLastName.$error.required && providerFormSubmitted"
						data-bs-tooltip data-placement="right" data-type="danger"
						data-container="body" data-title="Required"></div>
					<div class="error-circle glyphicon glyphicon-exclamation-sign"
						data-ng-show="providerForm.providerLastName.$error.pattern && providerFormSubmitted"
						data-bs-tooltip data-placement="right" data-type="danger"
						data-container="body" data-title="Please enter a valid last name."></div>
					<input class="form-control" id="providerLastName"
						data-ng-model="providerToEdit.lastName"
						name="providerLastName" type="text" maxlength="255" required
						data-ng-pattern="/^[a-zA-Z '-]*$/">
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-4">
				<div class="form-group"
                      data-ng-class="{ 'has-error' : providerForm.specialty.$invalid && providerFormSubmitted }">
                     <label class="control-label" for="specialty">Primary Specialty:</label>

                     <div class="error-circle glyphicon glyphicon-exclamation-sign"
                          data-ng-show="providerForm.specialty.$error.required && providerFormSubmitted"
                          data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                          data-title="Required"></div>
                     <div class="error-circle glyphicon glyphicon-exclamation-sign"
                          data-ng-show="providerForm.specialty.$error.pattern && providerFormSubmitted"
                          data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                          data-title="Please enter a specialty."></div>
                     <select class="form-control" id="specialty" data-ng-model="providerToEdit.specialty"
                             data-ng-options="specialty.name for specialty in specialties track by specialty.id | orderBy:'name'"
                             name="specialty"
                             required data-ng-disabled="providerForm.specialty.$error.unique">
                         <option value="">Select...</option>
                     </select>
                 </div>
			</div>
			<div class="col-md-4">
				<div class="form-group"
					data-ng-class="{ 'has-error' : providerForm.email.$invalid && providerFormSubmitted }">
					<label class="control-label" for="email">Email:</label>

					<div class="error-circle glyphicon glyphicon-exclamation-sign"
						data-ng-show="providerForm.email.$error.required && providerFormSubmitted"
						data-bs-tooltip data-placement="right" data-type="danger"
						data-container="body" data-title="Required"></div>
					<div class="error-circle glyphicon glyphicon-exclamation-sign"
						data-ng-show="providerForm.email.$error.pattern && providerFormSubmitted"
						data-bs-tooltip data-placement="right" data-type="danger"
						data-container="body" data-title="Please enter a valid email."></div>
					<input class="form-control"
						data-ng-model="providerToEdit.email" name="email"
						type="text" maxlength="255" required
						data-ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group"
					data-ng-class="{ 'has-error' : providerForm.providerId.$invalid && providerFormSubmitted }">
					<label class="control-label" for="providerId">Provider ID:</label>
					{{providerToEdit.externalId}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<div class="checkbox">
						<label for="providerActive"> <input id="providerActive"
							type="checkbox"
							data-ng-model="providerToEdit.active" /> Active
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>