<div id="app-content" class="app-content container" data-ng-cloak>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="layout-card">
                <div class="alert alert-warning">
                  Your password has expired.
                </div>
                <h1>Please create a new password</h1>
                <form name="changePasswordForm" class="form" novalidate>
                    <div class="well well-sm password-notice" data-ng-show="policy">
                        <p>Passwords must be at least <strong>{{policy.passwordLength}} characters</strong> long and contain at least:</p>
                        <ul>
                            <li data-ng-show="policy.uppercaseLetters">
                                one <strong>uppercase</strong> letter
                            </li>
                            <li data-ng-show="policy.lowercaseLetters">
                                one <strong>lowercase</strong> letter
                            </li>
                            <li data-ng-show="policy.numbers">
                                one <strong>number</strong>
                            </li>
                            <li data-ng-show="policy.specialChars">
                                one <strong>special</strong> character (such as @, # or !)
                            </li>
                        </ul>
                    </div>
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : changePasswordForm.password.$invalid && changePasswordFormSubmitted }">
                        <label class="control-label" for="password">New Password:</label>
                        <div class="error-circle fa-exclamation-circle" role="alert"
                             data-ng-show="changePasswordForm.password.$error.required && changePasswordFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required" aria-label="Required"></div>
                        <div class="error-circle fa-exclamation-circle" role="alert"
                             data-ng-show="changePasswordForm.password.$error.policy && changePasswordFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Password must meet guidelines" aria-label="Password must meet guidelines"></div>
                        <div class="error-circle fa-exclamation-circle" role="alert"
                             data-ng-show="changePasswordForm.password.$error.history && changePasswordFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Must not match your previous {{policy.passwordRepetitions}} passwords" aria-label="Must not match your previous {{policy.passwordRepetitions}} passwords"></div>
                        <input class="form-control" id="password" data-ng-model="passwordChange.password"
                               name="password" autocomplete="off"
                               type="password" maxlength="50" data-auto-focus required data-ng-change="passwordChanged()">
                    </div>
                    <div class="form-group"
                         data-ng-class="{ 'has-error' : !changePasswordForm.password.$error.required &&
                        changePasswordForm.confirmPassword.$invalid && changePasswordFormSubmitted }">
                        <label class="control-label" for="confirmPassword">Confirm Password:</label>
                        <div class="error-circle fa-exclamation-circle" role="alert"
                             data-ng-show="!changePasswordForm.password.$error.required &&
                        changePasswordForm.confirmPassword.$error.required && changePasswordFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Required" aria-label="Required"></div>
                        <div class="error-circle fa-exclamation-circle" role="alert"
                             data-ng-show="!changePasswordForm.password.$error.required &&
                     !changePasswordForm.confirmPassword.$error.required &&
                     changePasswordForm.confirmPassword.$error.same && changePasswordFormSubmitted"
                             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
                             data-title="Passwords must match" aria-label="Passwords must match"></div>
                        <input class="form-control" id="confirmPassword"
                               data-ng-model="passwordChange.confirmPassword"
                               name="confirmPassword" autocomplete="off"
                               type="password" maxlength="50" required data-ng-change="passwordChanged()">
                    </div>
                    <div class="form-actions">
                        <div class="form-group">
                            <button class="btn btn-success" type="submit"
                                    data-ng-disabled="whenSaving"
                                    data-ng-click="save(changePasswordForm)">
                                <span>Save</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
