<div class="col-md-12">
  <h2>
    <span>Note</span>
  </h2>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group"
        data-ng-class="{ 'has-error' : clientNoteForm.$invalid && clientNoteFormSubmitted }">
        <div class="error-circle fa-exclamation-circle"
             data-ng-show="clientNoteForm.$error.maxlength && clientNoteFormSubmitted"
             data-bs-tooltip data-placement="right" data-type="danger" data-container="body"
             data-title="Note exceed max length"></div>
        <textarea class="form-control" rows="5" id="clientNote" data-ng-maxlength="800" data-ng-model="clientNoteEdit.entity.note" ></textarea>
      </div>
    </div>
  </div>
  <div class="row" data-ng-if="showCancelSave()">
    <div class="col-md-12">
      <div class="form-actions">
        <div class="form-group">
          <button data-ng-if = "!originalClientNote.link.self"
                  class="btn btn-success" type="submit"
                  data-placement="right"
                  data-ng-disabled="whenSaving"
                  data-ng-click="create(clientNoteForm)">
              save
          </button>
          <button data-ng-if = "originalClientNote.link.self"
                  class="btn btn-success" type="submit"
                  data-placement="right"
                  data-ng-disabled="whenSaving"
                  data-ng-click="update(clientNoteForm)">
              save
          </button>
          <a class="btn btn-cancel" data-ng-click="cancel()">cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>