    <div class="col-md-12" data-ng-controller="TeamTagsController" data-ng-show="teamClientResource.teamResource.link.teamLocations">
        <div class="row">
            <div class="col-md-6 pull-left">
                <h2>Tags</h2>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button type="button" class="btn btn-link btn-link-nopad btn-heading" data-ng-click="showClientTags()">
                        Manage Client Tags
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <select data-chosen data-placeholder="Choose tags" multiple
                        data-ng-model="teamClientResource.teamResource.tags"
                        data-remove-tag-popover
                        data-single-backstroke-delete="false"
                        data-ng-options="tag.text
                group by tag.group.title
                for tag in team.tags | orderBy:'text'
                track by tag.id" class="form-control">
                </select>
            </div>
        </div>
    </div>
