    <div class="col-md-12" data-ng-controller="TeamTagsController" data-ng-show="teamClientResource.teamResource.link.tags">
        <div class="row">
            <div class="col-md-6 pull-left">
                <h2>Tags</h2>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <button type="button" class="btn btn-link btn-link-nopad btn-heading"
                            data-ng-disabled="saving"
                            data-ng-click="showClientTags()">
                        Manage Client Groups
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="sr-only" for="team_tags">Team tags</label>
                <select id="team_tags" class="form-control"  data-ng-class="{'loading': saving}" multiple
                        data-chosen-activate="activateTeamTags"
                        data-no-results-placeholder="no client tags available"
                        data-placeholder="Choose tags"
                        data-ng-change="saveTagState()"
                        data-ng-model="teamClientResource.teamResource.tags"
                        data-ng-options="tag.text group by tag.group.title for tag in team.tags | orderBy:'text'
                        track by tag.id" data-chosen>
                    <option></option>
                </select>
            </div>
        </div>
    </div>
