<div class="sidebar-wrapper" data-ng-controller="TeamsFilterController">
    <h2 class="sidebar-heading">
        <span class="configure pull-right hidden">
            <a href="#">Configure</a>
        </span>
        {{client.name}}
    </h2>
    <div data-ng-show="!teamsExistForClient">
        <p>No teams exist for this client.</p>
    </div>
    <div data-ng-show="teamsExistForClient" data-ng-cloak>
        <form>
            <!--call updateState when groups is changed, disable this drop down if we are showing untagged teams-->
            <div class="form-group" data-ng-class="{'masked': showUntaggedTeams!=='false'&& showUntaggedTeams!==false}">
                <label>organize teams by:</label>
                <!-- show this drop down if we are only showing active teams -->
                <div data-ng-hide="showInactiveTeams || !inactiveTeams">
                    <select class="form-control"
                            data-ng-model="selectedGroup"
                            data-ng-options="group.entity.name for group in clientGroups track by group.entity.id | orderBy:'name'"
                            data-ng-change="updateState()" data-chosen data-disable-search="true">
                        <option value="">All Active Teams</option>
                    </select>
                </div>
                <!-- show this drop down if we are showing active and inactive teams -->
                <div data-ng-show="showInactiveTeams || !inactiveTeams">
                    <select class="form-control"
                            data-ng-model="selectedGroup"
                            data-ng-options="group.entity.name for group in clientGroups track by group.entity.id | orderBy:'name'"
                            data-ng-change="updateState()" data-chosen data-disable-search="true">
                        <option value="">All Teams</option>
                    </select>
                </div>
            </div>

            <!--disable this drop down if we are showing untagged teams-->
            <div class="form-group" data-ng-class="{'masked': showUntaggedTeams!=='false' && showUntaggedTeams!==false}">
                <label>show:</label>
                <!--chosen widget controls selecting tags, calls updateState when changed, its populated by clientTagGroupToDisplay when the page first loads-->
                <select data-chosen data-placeholder="Choose tags" multiple
                        data-ng-model="filterTags" data-ng-change="updateState()"
                        data-ng-options="tag.text
                group by tag.group.name
                for tag in clientTagGroupToDisplay | orderBy:'text'
                track by tag.id" class="form-control">
                </select>
            </div>

            <!--show only teams without tags assigned to them when this is checked-->
            <div class="form-group" data-ng-show="teamsWithNoTeamTags">
                <div class="checkbox">
                    <input type="checkbox" id="teamsFilterUntaggedCb" data-ng-model="showUnTaggedTeams" data-ng-checked="checkUnTaggedTeams"
                       data-ng-change="toggleUntaggedTeams()">
                    <label for="teamsFilterUntaggedCb">Show Untagged Teams</label>
                </div>
            </div>

            <!--toggle what the show inactive teams link says and call toggleInactiveTeams-->
            <div class="form-group" data-ng-show="inactiveTeams">
                <a class="text-uppercase filter-link" href="" data-ng-hide="showInactiveTeams" data-ng-click="toggleInactiveTeams()">show inactive teams</a>
                <a class="text-uppercase filter-link" href="" data-ng-show="showInactiveTeams" data-ng-click="toggleInactiveTeams()">hide inactive teams</a>
            </div>

            <!--there is a display template that shows ungrouped teams and a display template that shows groups of teams-->
            <!-- show teams un-grouped -->
            <div class="form-group" data-ng-hide="useGroupDisplay">
                <hr>
                <ul class="teams-filter-list list-unstyled">
                    <li data-ng-repeat="team in clientTeams">
                        <!--when a user clicks on a team they are taken to that team's page-->
                        <a data-ng-click="selectTeam(team.id)">{{team.name}}</a>
                    </li>
                </ul>
                <div data-ng-show="clientTeams===null">No teams exist for this search.</div>
            </div>

            <!--show teams in groups-->
            <div class="form-group" data-ng-show="useGroupDisplay">
                <hr>
                <div class="teams-filter-group" data-ng-repeat="(tag,teamList) in listOfTeamsByTag">
                    <!--show the tag with the number of teams -->
                    <h4 class="h4 teams-filter-heading">
                        {{tag}}
                        <span class="team-count">
                            <data-ng-pluralize count="teamList.length" when="{'1': '{{teamList.length}} team','other':'{{teamList.length}} teams'}"></data-ng-pluralize>
                        </span>
                    </h4>
                    <ul class="teams-filter-list list-unstyled">
                        <!--show the teams that have the above tag-->
                        <li data-ng-repeat="team in teamList">
                            <!--take user to the team's page when the link is clicked-->
                            <a data-ng-click="selectTeam(team.id)">{{team.name}}</a>
                        </li>
                    </ul>
                </div>
                <div data-ng-show="listOfTeamsByTag===null">No teams exist for this search.</div>
            </div>

            <div class="form-group" data-ng-show="useGroupDisplay && teamsNotInGroup">
                <hr>
                <h4 class="h4 teams-filter-heading">Teams without a '{{selectedGroup.entity.name}}' tag</h4>
                <ul class="teams-filter-list list-unstyled">
                    <li data-ng-repeat="team in teamsNotInGroup">
                        <!--show all the teams that do not have a tag in the organize by group that was selected-->
                        <a data-ng-click="selectTeam(team.id)">{{team.name}}</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div><!-- .sidebar-wrapper -->
