<div class="sidebar-wrapper" data-ng-controller="TeamsFilterController">
    <h2 class="sidebar-heading">
        <span class="configure pull-right hidden">
            <a href="#">Configure</a>
        </span>
        <a data-ng-if="team.id" data-ng-href="#/clients/{{client.id}}?{{currentRouteQueryString}}" class="sidebar-client-link">{{client.name}}</a>
        <span data-ng-if="!team.id">{{client.name}}</span>
    </h2>
    <div data-ng-show="!teamsExistForClient">
        <p>No teams exist for this client.</p>
    </div>
    <div data-ng-show="teamsExistForClient" data-ng-cloak>
        <div class="sidebar-filters">
            <div class="form-group">
                <!--call updateState when groups is changed, disable this drop down if we are showing untagged teams-->
                <label for="teamFilter">organize teams by:</label>
                <select class="form-control" data-ng-class="{'loading': loading}" id="teamFilter"
                        data-ng-model="selectedGroup"
                        data-placeholder="All {{!showInactiveTeams && inactiveTeams ? 'Active' : ''}} Teams"
                        data-ng-disabled="showUntaggedTeams || !clientGroups || clientGroups.length === 0"
                        data-ng-options="group.entity.name for group in clientGroups track by group.entity.id | orderBy:'name'"
                        data-allow-single-deselect="true"
                        data-ng-change="updateState()" data-chosen data-disable-search="true">
                    <option></option>
                </select>
            </div>

            <!--disable this drop down if we are showing untagged teams-->
            <div class="form-group">
                <label for="tagFilter">show:</label>
                <select data-ng-class="{'loading': loading}"
                        id="tagFilter"
                        data-chosen data-placeholder="All Tags"
                        data-ng-disabled="!clientTagGroupToDisplay || clientTagGroupToDisplay.length === 0"
                        data-chosen-activate="activateLeftNavFilter"
                        multiple
                        data-ng-model="filterTags" data-ng-change="updateState(true)"
                        data-ng-options="tag.text group by tag.group.name for tag in clientTagGroupToDisplay | orderBy:'text'
                            track by tag.id" class="form-control">
                    <option></option>
                </select>
            </div>

            <!--toggle what the show inactive teams link says and call toggleInactiveTeams-->
            <div class="form-group" data-ng-show="inactiveTeams">
                <a class="text-uppercase filter-link" data-ng-class="{'loading': loading}" href
                   data-ng-click="toggleInactiveTeams()">{{showInactiveTeams ? 'hide' : 'show'}} inactive teams</a>
            </div>

            <hr/>

        </div><!-- .sidebar-filters -->
        <div class="sidebar-scroll-content" data-scrollbar data-rebuild-on="scrollbar:update">

            <!--there is a display template that shows ungrouped teams and a display template that shows groups of teams-->
            <!-- show teams un-grouped -->
            <div class="form-group" data-ng-hide="useGroupDisplay">
                <ul class="teams-filter-list list-unstyled">
                    <li data-ng-repeat="team in clientTeams">
                        <!--when a user clicks on a team they are taken to that team's page-->
                        <a data-ng-click="selectTeam(team.id)">{{team.name}} <span data-ng-if="!team.active">(inactive)</span> </a>
                    </li>
                </ul>
                <div data-ng-show="clientTeams===null">No teams exist for this search.</div>
            </div>

            <!--show teams in groups-->
            <div class="form-group" data-ng-show="useGroupDisplay">
                <div class="teams-filter-group" data-ng-repeat="tag in listOfTeamsByTag | orderBy:'name'">
                    <!--show the tag with the number of teams -->
                    <h4 class="h4 teams-filter-heading">
                        {{tag.name}}
                        <span class="team-count">
                            <data-ng-pluralize count="tag.teams.length"
                                               when="{'1': '{{tag.teams.length}} team','other':'{{tag.teams.length}} teams'}"></data-ng-pluralize>
                        </span>
                    </h4>
                    <ul class="teams-filter-list list-unstyled">
                        <!--show the teams that have the above tag-->
                        <li data-ng-repeat="team in tag.teams | orderBy:'name'">
                            <!--take user to the team's page when the link is clicked-->
                            <a data-ng-click="selectTeam(team.id)">{{team.name}}</a>
                        </li>
                    </ul>
                </div>
                <h4 class="h4 teams-filter-heading" data-ng-show="!listOfTeamsByTag">
                    Teams with a '{{selectedGroupDisplay.entity.name}}' tag
                </h4>

                <div data-ng-show="!listOfTeamsByTag">No matches found.</div>
            </div>

            <div class="form-group" data-ng-show="useGroupDisplay && teamsNotInGroup">
                <h4 class="h4 teams-filter-heading">Teams without a '{{selectedGroupDisplay.entity.name}}' tag</h4>
                <ul class="teams-filter-list list-unstyled">
                    <li data-ng-repeat="team in teamsNotInGroup | orderBy:'name'">
                        <!--show all the teams that do not have a tag in the organize by group that was selected-->
                        <a data-ng-click="selectTeam(team.id)">{{team.name}}</a>
                    </li>
                </ul>
            </div>
        </div><!-- .sidebar-scroll-content -->
    </div><!-- teamsExistForClient -->
</div><!-- .sidebar-wrapper -->
