<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog container-fluid">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Salesforce Case</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1" id="modal-messages-container"></div>
                </div>
                <div data-salesforce-form data-page-case-type="CLIENT"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success"
                        data-ng-disabled="whenSaving"
                        data-ng-click="continue()">Continue
                </button>
                <button type="button" class="btn btn-cancel"
                        data-ng-disabled="whenSaving"
                        data-ng-click="cancel();$hide()">cancel
                </button>
            </div>
        </div>
    </div>
</div>

