<form name="secretQuestionForm" class="form" novalidate data-ng-controller="SecretQuestionCreateLoginController">
    <h1>Please choose your security questions</h1>
    <div class="form-group">
        <p>Adding security questions will make your account more secure, and allow you to reset your password if you forget it in the future.</p>
    </div>
    <div data-ng-show="secretQuestionForm.$invalid" id="message-container-no-questions"></div>
    <div data-ng-include="'client-facing/loginInterruption/secretQuestions/secret-question-template.html'"></div>
    <div class="form-actions pull-right">
        <div class="form-group">
            <button class="btn btn-cancel" type="button"
                    data-ng-disabled="whenSaving"
                    data-ng-click="notNow()">
                <span>not now</span>
            </button>
            <button class="btn btn-success" type="button"
                    data-ng-disabled="whenSaving"
                    data-ng-click="saveOrUpdateSecretQuestion(secretQuestionForm.$valid)">
                <span>Save</span>
            </button>
        </div>
    </div>
</form>
