<form name="secretQuestionForm" class="form" novalidate data-ng-controller="SecretQuestionCreateLoginController">
    <div class="container" data-ng-cloak>
        <h2>Please choose your security questions</h2>

        <div data-ng-show="secretQuestionForm.$invalid">
            <div class="col-md-12" id="message-container-no-questions"></div>
        </div>
        <h4>Adding security questions will make your account more secure, <br/>
            and allow you to reset your password if you forget it in the future.</h4>


        <div data-ng-include="'client-facing/loginInterruption/secretQuestions/secret-question-template.html'"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="actions pull-right">
                    <div class="form-group">
                        <button class="btn btn-cancel" type="button"
                                data-ng-disabled="whenSaving"
                                data-ng-click="notNow()">
                            <span>not now</span>
                        </button>
                        <button class="btn btn-primary" type="button"
                                data-ng-disabled="whenSaving"
                                data-ng-click="saveOrUpdateSecretQuestion(secretQuestionForm.$valid)">
                            <span>Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
